[2016-06-27 16:07] tute commented on #831
Closing due to lack of activity.

[2016-06-27 16:07] #831 closed

[2016-07-01 20:57] connorshea opened #856 "4.0.0 on RubyGems?"
Sorry if I missed an existing issue about this, I tried looking around but couldn't find anything. Since Rails 5 came out yesterday, is there any chance of a doorkeeper release compatible with it?

Thanks for all the work you do on the gem, it really is appreciated ❤️

[2016-07-01 21:02] tute commented on #856
Thanks for your message! v4 betas and master are ready for Rails 5. Want to prepare a release, sending a PR with the code changes outlined in https://github.com/doorkeeper-gem/doorkeeper/blob/master/RELEASING.md? Thank you! 😃

[2016-07-01 21:05] connorshea commented on #856
@tute sounds good to me! I'll mention you on it in a few minutes :)

[2016-07-01 21:18] tute commented on #856
Yay, thank you! Closing in favor of PR. ❤️

[2016-07-01 21:18] #856 closed

[2016-07-02 16:24] RobWilco opened #858 "RFC 6749 section 4.1.3 compliance inquiry"
Trying to confirm if Doorkeeper is compliant with [RFC 6749 section 4.1.3](https://tools.ietf.org/html/rfc6749#section-4.1.3), specifically the requirement for "application/x-www-form-urlencoded" in the request body. If so, where is the relevant code fragment? Clues welcomed.

[2016-07-03 18:14] Morpheu5 opened #859 "Improve API documentation"
I'm finding it extremely difficult to learn how to use Doorkeeper, especially since the most common use cases seem to be not mine. In particular, API documentation would be critical. There are some examples and tutorials, but they aren't exhaustive. In fact, I find myself going through Doorkeeper's code many times over to check whether certain methods exist, what their names are, what parameters t

[2016-07-04 14:01] igorkorepanov commented on #846
@pswenson
[code]
[code]

[2016-07-05 14:31] nbulaj commented on #647
Take a look at my [doorkeeper-sequel extension](https://github.com/nbulaj/doorkeeper-sequel). It is 100% compatible with Doorkeeper 4.0.0 and you can use it.

@tute you can add this to the Readme if you wish to let people know about the Doorkeeper Sequel ORM.

[2016-07-06 08:18] yongwoon opened #860 "Filter chain halted as :doorkeeper_authorize! Completed 403 Forbidden"
I'm trying to get OAuth 2 to work with Rails 5.0.0,
When I execute rspec, I get a 403 error when test credential with rspec as following.

Can anyone please guide me if I am missing something?

I use the gems as below:
doorkeeper 3.1.0
postgresql 0.18.4
devise 4.1.1

credentials_controller.rb:
[code]
credentials_controller_spec.rb:
[code]
log
[code]

[2016-07-06 22:59] tute commented on #860
The issue you describe seems very specific to your code. I suggest that you ask about it in https://stackoverflow.com/questions/tagged/paperclip, which will get attention from more people than in this issue tracker. Sorry I don't have the time now to help you with this question, and thanks for reporting!

[2016-07-06 23:00] tute commented on #859
@Morpheu5, thanks for your comment. I agree that documentation is very lacking for this project. I won't have the time to work on this, but will leave this issue open, and retitle it to better describe the problem, welcoming contributors who might help.
Thanks!

[2016-07-06 23:10] tute commented on #858
Hi @RobWilco. `Content-Type: application/x-www-form-urlencoded` should work fine. Some samples I have found:

* https://github.com/doorkeeper-gem/doorkeeper/wiki/Client-Credentials-flow
* https://github.com/doorkeeper-gem/doorkeeper/issues/325
* https://github.com/iamcam/doorkeeper-api-provider

What do you expect, and what do you get instead?

[2016-07-06 23:14] tute commented on #851
You need to perform both calls: one to get the token, with which you can query the API. Thanks!

[2016-07-06 23:14] #851 closed

[2016-07-06 23:16] tute commented on #850
OAuth is designed to work in a stateless network, whereas websockets are stateful by design. Once you authenticate once, you can open a channel, and you don't need any tokens afterwards.

I'm not sure exactly how you would authenticate for your specific application, it will depend on your tech and needs. I suggest that you ask about it in https://stackoverflow.com/questions/tagged/doorkeeper, whic

[2016-07-06 23:16] #850 closed

[2016-07-06 23:17] #846 closed

[2016-07-06 23:18] tute commented on #846
Thanks!

Consider asking about it in https://stackoverflow.com/questions/tagged/doorkeeper as well, where you will get attention from more people than in this issue tracker.

[2016-07-07 01:39] yongwoon commented on #860
I got it. Thanks. :)

[2016-07-07 01:39] #860 closed

[2016-07-07 07:57] cbetta commented on #851
@tute thanks for clarifying.

[2016-07-07 23:08] whoteaches opened #862 "Mongoid::Errors::DocumentNotFound in Doorkeeper::AuthorizationsController#new"
I upgraded doorkeeper today and I'm getting this mongoid error: Mongoid::Errors::DocumentNotFound in Doorkeeper::AuthorizationsController#new
I wasn't sure whether I should post this issue here or on https://github.com/doorkeeper-gem/doorkeeper-mongodb, but since this update was introduced in your main gem, I decided to post here.
Basically, it fails at creating an access_token, so there's no entr

[2016-07-08 22:38] prabhatjha opened #863 "How to log attributes of access_token?"
We are using Grape and Doorkeeper for our API. We have both password and client_credentials OAuth flow supported. I would like to log details of access_token for each API call for audit log. Since doorkeeper hits  database to get token details already, I thought it would be a good place to log it but I have not found any documentation/wiki/SO post talking about this.  Please point me to right dire

[2016-07-09 00:09] tute commented on #863
We avoid logging sensitive parameters with the following lines of code: https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/engine.rb#L4-L5

You can tweak that configuration to enable logging of those. Does this answer your question?

[2016-07-09 01:47] RobWilco commented on #858
I was running into trouble making a request using an `application/x-www-form-urlencoded` request body.

Today I was told the latest version of Doorkeeper is being used ... and it's now working when I use Postman, which is good.

I've moved on to trying to get Python requests-oauthlib to work with it now (which I realize is likely out of scope for this ticket), using something akin to:

[code]

Exc

[2016-07-09 11:50] Morpheu5 opened #864 "How do I write tests with no token, or an invalid token?"
With reference to [this](https://github.com/doorkeeper-gem/doorkeeper/wiki/Testing-protected-controllers), I'm wondering how I can test my controllers when requested without access token, or with a token for a user that is not authorised to make certain requests, or in certain ways.

**EDIT** A first workaround was to move the declarations inside each context, like

[code]

Now, questions:

1. Wha

[2016-07-09 16:56] prabhatjha commented on #863
It totally makes sense to avoid logging those. My question is about logging attributes of access_token, usually the ones you would get from oauth_access_tokens and oauth_applications table, so that I can go through logs and see who is using/abusing those API calls.

[2016-07-11 12:20] edwinv opened #865 "Store extra info in Access Token"
We are using Doorkeeper for our Oauth implementation and use Oauth for our mobile apps. These mobile apps create an access token. We would like to store extra information in the access tokens table in order to present more information for the end user when revoking tokens. We'd like to store a User-Agent string and ip address to inform the end user about the mobile phone he is about to unlink.

We

[2016-07-13 07:11] shipdcare opened #866 "Mongoid issue- undefined method `refresh_token_revoked_on_use?' for Doorkeeper::AccessToken:Clas"
<img width="1096" alt="screen shot 2016-07-13 at 12 39 45 pm" src="https://cloud.githubusercontent.com/assets/12561390/16794683/ee011d62-48f6-11e6-8c28-c06af59aa9a7.png">

[2016-07-13 14:10] tute commented on #866
Unfortunately https://github.com/doorkeeper-gem/doorkeeper-mongodb may be out of date, and has no maintainer.

[2016-07-13 14:11] tute commented on #866
Closing in favor of https://github.com/doorkeeper-gem/doorkeeper-mongodb/issues/16.

[2016-07-13 14:11] #866 closed

[2016-07-13 16:59] TheDeadCode opened #867 "Question: token deletion"
Does doorkeepeer delete the tokens from the DB after a set amount of time to prevent bulking it with stale records?

[2016-07-13 17:23] tute commented on #867
There has been discussion on this in https://github.com/doorkeeper-gem/doorkeeper/issues/500

[2016-07-13 17:45] TheDeadCode commented on #500
+1

[2016-07-13 18:08] tute commented on #500
+1 to what idea, specifically?

Does this [comment](https://github.com/doorkeeper-gem/doorkeeper/issues/500#issuecomment-60865828) address your need?

[2016-07-13 18:21] TheDeadCode commented on #500
Yes, as it can be seamlessly integrated into sidekiq for crons. Any feature that let's me clear revoked or expired tokens would be perfectly sufficient.

[2016-07-13 18:25] tute commented on #500
Great! For now I'd rather let doorkeeper keep the tokens by default. Can you incorporate that code into your application, and solve your issue? If so, would you be so kind to document this in the wiki? Thank you very much!

[2016-07-13 18:35] TheDeadCode commented on #500
I will do a PR into gitlab in the upcoming weeks containing this feature. I'll document it right after, if I ever find the time. Cheers!

[2016-07-13 21:11] prabhatjha commented on #863
I did find a way to get it done but it's not optimal since I have to put it on API for every resource. Here is code snippet just in case it helps others.
[code]

[2016-07-19 08:47] CaptainStiggz opened #869 "Using doorkeeper in Rails 5 API mode"
I'm getting an error trying to set up an application using the web interface with a Rails 5 API mode app. Is there a console command for generating a new application?

http://localhost/oauth/applications

[code]

[2016-07-19 14:57] tute commented on #869
Doorkeeper views don't work on an `api_mode = true` app. See https://github.com/doorkeeper-gem/doorkeeper/issues/821#issuecomment-212562425. Thanks!

[2016-07-19 14:57] #869 closed

[2016-07-20 00:50] CaptainStiggz commented on #869
@tute Thanks for getting back to me!

I created a simple rake task that lives in `lib/taks/doorkeeper.rake`. I'm pretty new to Rails, so I'm not sure if this is the best solution. I wasn't quite sure what the format for scopes should look like, so I omitted it. Are scopes stored in the database as such?

[code]
[code]

One other quick question/consideration. I was able to generate an access token

[2016-07-20 03:06] tute commented on #869
The OAuth spec doesn't require client id when retrieving access token in password grant flow. Password grant flows have inherent security risks (https://tools.ietf.org/html/rfc6819#section-4.4.3), and should be used only if you know how they affect you.

---

The rake task you present has a few issues, which are better worked through in person. In NYC I attend workshop and project meetups (meetup.

[2016-07-21 01:35] CaptainStiggz opened #870 "Assertion grant extension"
I found the assertion library born of #249 located at https://github.com/doorkeeper-gem/doorkeeper-grants_assertion to be out of date, and malfunctional. As such, here's a proposed extension for anyone wishing to use doorkeeper with the assertion grant_type.

After `gem doorkeeper` and `bundle install` I added/modified these files to my Rails project. I based the implementation off that of the pas

[2016-07-21 13:35] tute commented on #870
Thank you! Do you think it's good to add this to a wiki, so we can leave it as documentation that can be kept up to date?

[2016-07-21 21:42] CaptainStiggz commented on #870
No problem, thank you for maintaining doorkeeper, it's a fantastic library! You're welcome to add this to the wiki, or I'm happy to do it if you'd like me to. Alternatively, it could make sense to do a pull request on https://github.com/doorkeeper-gem/doorkeeper-grants_assertion, but I'm a little uncomfortable making the PR, since I haven't written any RSpec specs (or authored a ruby gem) yet. Let

[2016-07-22 08:38] edwinv commented on #865
Any update on my question?

[2016-07-22 14:39] tute commented on #865
Sorry I don't have the time to help you with your question yet. Have you tried asking in https://stackoverflow.com/questions/tagged/doorkeeper? You will get attention from more people than in this issue tracker.

Thank you!

[2016-07-22 14:42] tute commented on #870
I'm glad it's useful!

Please do! :) Create from https://github.com/doorkeeper-gem/doorkeeper/wiki/_new, and then link from https://github.com/doorkeeper-gem/doorkeeper/wiki/Home/_edit.

Everyone of us sent a PR to an Open Source project with it being the first time we write for a certain testing library! :) You should be fine.

This project though doesn't have any maintainer, so you won't get cod

[2016-08-07 17:40] tute commented on #870
Thanks!

[2016-08-07 17:40] #870 closed

[2016-08-07 17:42] tute commented on #867
Thanks!

[2016-08-07 17:42] #867 closed

[2016-08-10 15:16] avatarandrij opened #874 "Ability to require valid client_secret when using refresh_token"
I enabled refresh token, and it's working perfectly, except I  cant figure out how to require client_secret on refresh.

Request

[code]

works if refresh token is valid

but I need to force user use only requests like this:

[code]

It's not possible without monkey patching now:
 file: doorkeeper/lib/doorkeeper/request/refresh_token.rb

[code]

invalid credentials is ignored, without ability to d

[2016-08-12 20:19] jclem opened #875 "Token revocation uses wrong authorization method"
The [OAuth 2.0 Token Revocation spec](https://tools.ietf.org/html/rfc7009#section-2.1) states that when revoking a token, "the client also includes its authentication credentials as described in [Section 2.3. of \[RFC6749\]](https://tools.ietf.org/html/rfc6749#section-2.3)".

The spec's example request for revocation looks like this:

[code]

Note the HTTP Basic authentication, not Bearer. The spe

[2016-08-13 14:54] tute commented on #875
Thank you for reporting. This has been reported by @f3ndot too, and we are now working on it. Thanks!

[2016-08-13 15:58] jclem commented on #875
You're welcome, and thank you for maintaining Doorkeeper!

[2016-08-13 16:17] f3ndot commented on #875
This issue has been assigned CVE-2016-6582 as properly authenticated clients will not have their token revoked with no error from Doorkeeper to indicate otherwise.

@tute and myself have been coordinating a fix as this also affects public, non-confidential clients as well.

[2016-08-13 16:28] f3ndot commented on #875
The security implication is that clients who "log out" a user expect to have the corresponding access & refresh tokens revoked, preventing an attacker who may have already hijacked the session from continuing to impersonate the victim. Because of this bug, this is not the case. As far as MITRE and OWASP are concerned this counts as [broken authentication design](https://www.owasp.org/index.php/Top

[2016-08-17 12:48] zmoti opened #876 "Allowing custom expiration time for access tokens per application"
I am using implicit grant flow for my mobile application and I would like to configure the access tokens to never expire but only for the mobile application. Is it possible to configure this?

Alternatively, is there a method I can specifically call to set the refresh token expiration to nil for a particular resource owner? I could use this to create an API endpoint which could check user's applic

[2016-08-17 16:05] tute commented on #876
Implicit flows can't securely authenticate the client, so I wouldn't do so.

[2016-08-18 21:09] #875 closed

[2016-08-18 21:19] tute commented on #875
Thank you both!

[2016-08-19 02:13] dusterio commented on #371
@Dantemss what was your solution in the end? your link is not valid anymore - I suppose you removed the repo :)

[2016-08-19 02:27] f3ndot commented on #875
Added an advisory entry to https://github.com/rubysec/ruby-advisory-db/pull/268

[2016-08-19 04:39] daveallie opened #877 "Doorkeeper::AccessTokenMixin#find_or_create_for calls create!"
Using Doorkeeper 4.2 and Rails 4.2.7.1.

Was attempting to create a token using password grant type, and got a `MassAssignment` error. Tests pass fine.

Looks to be an issue with https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/models/access_token_mixin.rb#L79 ?

Stacktrace:
[code]

[2016-08-19 14:08] f3ndot commented on #875
Findings published: http://seclists.org/oss-sec/2016/q3/332

[2016-08-19 14:59] tute commented on #877
That's very weird. How exactly were you trying to create the token? Do you have any app specific code that might be related with this issue? Thanks!

[2016-08-19 17:03] Dantemss commented on #371
@dusterio basically Doorkeeper models can only be used after the application runs its Doorkeeper initializer and picks the ORM. So if you need to run some initialization code or similar that uses Doorkeeper, the best place to put it is probably in an after_initialize block:

[code]

For gems, you would use the gem `Engine` instead of `Rails.application`.

[2016-08-22 02:00] daveallie commented on #877
I put together a little test app which has the same issue, you can find it [here](https://github.com/daveallie/doorkeeper-877-test-app).

Tried to strip out most non-essential things, there are instructions in the readme on how to replicate the issue, it is pretty straight forward.

Not sure if this is just an oversight on doorkeeper, or there is something in my setup that is incorrect. Let me kno

[2016-08-22 02:07] ghiculescu commented on #877
Another option would be to pass [`without_protection: true`](http://apidock.com/rails/ActiveRecord/Base/create/class) [here](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/models/access_token_mixin.rb#L79)

This error should come up for anyone who's using `protected_attributes` on Rails 4, and is using the latest Doorkeeper. It doesn't happen on Doorkeeper 3.1, but we are

[2016-08-23 23:32] jormon commented on #55
fixed in v4.2.0 which includes work done in #871

[2016-08-25 19:32] cdussud opened #878 "Can't mass-assign protected attributes"
I've recently upgraded an app from Doorkeeper 1.4.2 to 4.2. I'm now getting this warning

WARNING: Can't mass-assign protected attributes for Doorkeeper::AccessGrant: application_id, resource_owner_id, expires_in, redirect_uri, scopes

and then get a ActiveRecord::RecordInvalid exception when the access grant attempts to save.

This is on Rails 4.2.

[2016-08-25 20:23] tute commented on #878
Can you post the full stack trace please?

[2016-08-25 23:13] treble37 commented on #859
@Morpheu5 - do you have a specific issue/question you would like documented or covered better? I just went thru the process of using Doorkeeper to setup an OAuth provider with an existing rails application.  If you post a specific issue/question, then perhaps I (or others) can take a crack at it and improve the docs for everyone's benefit.

[2016-08-26 20:10] cdussud commented on #878
The relevant callstack is this:

vendor/bundle/ruby/2.1.0/gems/doorkeeper-4.2.0/lib/doorkeeper/oauth/authorization/code.rb:13:in `issue_token'
vendor/bundle/ruby/2.1.0/gems/doorkeeper-4.2.0/lib/doorkeeper/oauth/code_request.rb:15:in `authorize'
vendor/bundle/ruby/2.1.0/gems/doorkeeper-4.2.0/app/controllers/doorkeeper/authorizations_controller.rb:8:in `new'

[2016-08-26 21:27] tute commented on #878
I need more information to be able to replicate it. Please see http://yourbugreportneedsmore.info/. Thanks!

[2016-08-27 22:22] cdussud commented on #878
Sorry about the lack of info. The answer is fairly straightforward actually. The app I'm running was upgraded from Rails 3 to 4 and still has the protected_attributes gem.

The workaround for me is to do this
[code]

I'm assuming that Doorkeeper has switched to using strong parameters in its application controller and expects other apps to do so. For me the right thing to do is to get rid of prote

[2016-08-28 04:01] tute commented on #878
Great, thanks for publishing! Could you please add this information into the wiki? Thanks for asking and responding.

[2016-08-29 04:40] daveallie commented on #877
Additionally, it seems a similar thing has to be done to `Doorkeeper::Application` as a similar error occurs when attempting to update Applications.

[2016-08-29 10:14] daveallie commented on #878
This is effectively the same issue as #877 just a different workaround (this workaround specifies a whitelist, whereas the workaround in #877 specifies a blacklist). Either will work, but this is something that Doorkeeper should be including if the `protected_attributes` gem is being used.

[2016-08-29 13:55] tute commented on #878
Indeed, closing as duplicate of #877.

I'd rather see it in the wiki or README as a workaround for users to take. The condition to check when we should be calling `attr_accessible` was always buggy, the workaround is simple enough, and that's a deprecated API.

[2016-08-29 13:55] #878 closed

[2016-08-29 14:25] cdussud commented on #878
I'll add something to the wiki about this.

[2016-08-29 14:37] cdussud commented on #878
I added a page [here](https://github.com/doorkeeper-gem/doorkeeper/wiki/Using-protected_attributes-in-Rails-4)

I didn't add a link to it on your home page because I wasn't sure where it'd belong.

[2016-08-29 14:42] tute commented on #878
Thank you! 👏  I'll link to it.

[2016-08-29 14:44] tute commented on #877
Wiki page added: https://github.com/doorkeeper-gem/doorkeeper/wiki/Using-protected_attributes-in-Rails-4. Thank you, @cdussud!

[2016-08-29 14:44] #877 closed

[2016-08-31 00:45] #876 closed

[2016-08-31 02:39] tute commented on #865
@edwinv I've never done this, not sure how I'd tackle it. What would be a simple API addition or change in doorkeeper that allows you to comfortably add the feature you need? We can work together through it. Thanks!

[2016-08-31 02:44] tute commented on #864
The definition of `accessible?` is `!expired? && !revoked?`, meaning: available current token.

You can configure this with `resource_owner_authenticator`. Do you have something like `User.find(doorkeeper_token.resource_owner_id)` in your code? In that case, you can create a token with the foreign key to whichever user you want to test with.

Does this answer your questions?

[2016-08-31 02:52] tute commented on #863
That looks good. `doorkeeper_token` is available and you can do whatever you need. Thanks!

[2016-08-31 02:52] #863 closed

[2016-08-31 02:53] tute commented on #862
This belongs in https://github.com/doorkeeper-gem/doorkeeper-mongodb, and that project has no active maintainer. Thank you, and sorry I'm not able to help you with this.

[2016-08-31 02:53] #862 closed

[2016-08-31 02:55] tute commented on #859
@Morpheu5 what would be actionable steps to move this issue forward? Is there another rubygem for which we can follow the example and improve our API documentation? Is there another software package (not necessarily a gem) you have in mind?
Thanks!

[2016-08-31 02:57] tute commented on #858
This issue doesn't seem like a bug in doorkeeper, and seems very specific to your code. Sorry I don't have the time now to help you with this question, and thanks!

[2016-08-31 02:57] #858 closed

[2016-08-31 03:07] tute commented on #820
Scopes are edited on app creation or updated, not during token request.

You can use `default_scope` for that. See: https://github.com/doorkeeper-gem/doorkeeper#access-token-scopes.

Thanks!

[2016-08-31 03:07] #820 closed

[2016-08-31 03:10] tute commented on #818
@theycallmeswift: does `doorkeeper_token.scopes` work for your case? Thanks!

[2016-08-31 03:12] tute commented on #791
Closing due to lack of activity. If this is still an issue for you, let me know and we continue working through it. Thanks!

[2016-08-31 03:12] #791 closed

[2016-08-31 03:14] tute commented on #874
This issue seems the contrary to https://github.com/doorkeeper-gem/doorkeeper/issues/739. What is the case? Do we require or not client authentication? Remember that this will depend on the type of grant being used. Thanks!

[2016-08-31 03:15] tute commented on #739
This issue seems the contrary to https://github.com/doorkeeper-gem/doorkeeper/issues/874. What is the case? Do we require or not client authentication? Remember that this will depend on the type of grant being used. Thanks!

[2016-08-31 03:21] tute commented on #710
@rngtng are you able to move this PR forward? Thanks!

[2016-08-31 03:22] tute commented on #659
This feature is outside the scope of doorkeeper. Thanks!

[2016-08-31 03:22] #659 closed

[2016-08-31 08:55] Morpheu5 commented on #864
So far I had been stubbing like

    allow(controller).to receive(:doorkeeper_token) { nil }

to simulate being denied authentication, or

    let(:token) { double :acceptable? => true, :resource_owner_id => @users[1].id

to simulate a particular user. Is this equivalent to what you suggest? Or how is it different?

[2016-08-31 09:02] Morpheu5 commented on #859
Hey - sorry for the delay.

@treble37 I couldn't find clear docs on setting up authentication using the password grant, for example, so I had to read the OAuth2 specification and proceed by trial and error with doorkeeper. I think I got it to work, but I'm not sure I got it to work correctly :) There are a lot of such holes in the docs. To answer @tute's question too, API level documentation is ne

[2016-08-31 09:04] tute commented on #864
That looks good to me, and it's how I would do it. Is there anything else you'd like to discuss for this one issue?

[2016-08-31 09:07] Morpheu5 commented on #864
No, happy to close it, thanks 👍

[2016-08-31 09:07] #864 closed

[2016-08-31 09:57] theycallmeswift commented on #818
@tute when does `doorkeeper_token` get set for the controller? After `doorkeeper_authorize!`?

[2016-08-31 23:30] aalvarado commented on #844
I think an option to do this could be:

[code]

this only takes care of one error, if you want to handle more errors I would probably use a class that can map one of the Doorkeeper error classes that don't inherit from `StandardError` and raise a real exception.

something like:

[code]

and then use it on `doorkeeper_render_error_with` and call super afterwards.

[code]

[2016-09-01 05:37] treble37 commented on #859
For the API level docs, is this [sample (from grape)](https://github.com/ruby-grape/grape/blob/master/lib/grape/dsl/parameters.rb) what you would consider good documentation for the API @Morpheu5?

[2016-09-01 13:38] Morpheu5 commented on #859
@treble37 Yes, that is an excellent example. In the past, I used apipie, and more recently swagger-ui. Apipie can generate html docs that you can host separately, if need be. Integrating with Read The Docs might be overkill, but an interesting long-term goal.

[2016-09-01 15:58] tute commented on #818
Yes, it does. [`doorkeeper_token`](https://github.com/doorkeeper-gem/doorkeeper/blob/c846335ad75f2f9c7108e577cb84eaf8ab66b86f/lib/doorkeeper/helpers/controller.rb#L28-L30) is initialized and cached when its called, if `Token.authenticate` validates scopes and others.

If you need access to which scopes are required by an application, `@pre_auth` and its `client.application` are the way to go.

---

[2016-09-01 15:59] tute commented on #818
I'll close this issue, as it's not a bug in doorkeeper as far as I understand, but I'm happy to continue further discussion of your app. If we find we can improve something on doorkeeper, we'll do through a PR. Thanks!

[2016-09-01 15:59] #818 closed

[2016-09-06 16:44] nbulaj commented on #865
@edwinv you can try to create a [Concern](http://api.rubyonrails.org/classes/ActiveSupport/Concern.html) with your custom logic and include it in `Doorkeeper::AccessToken` class in `Doorkeeper` initializer (_config/initializers/doorkeeper.rb_), something like this:

[code]

[code]

Or do `class_eval` with `Doorkeeper::AccessToken`, but the way above is preferable I think.

[2016-09-09 14:22] pabloq commented on #862
hey @whoteaches  did you find any solution on this? I don't wanna use raise_not_found_error: false in mongoid config file...

[2016-09-09 15:47] pabloq commented on #862
here is a fix: https://github.com/doorkeeper-gem/doorkeeper-mongodb/pull/19/files

[2016-09-12 11:44] RaoulDijksman opened #879 "OAuth2 functionality without management views for API only apps"
I would love to see a way to use doorkeeper without the management views. I'm expecting I won't be the only one now that Rails 5 is released with API only apps. Would this be a route you are willing to go down?

This might be able to go hand in hand with issue #710

[2016-09-12 14:31] tute commented on #879
I'd like to see this, yes. In such a configuration, how would you edit the applications? Thanks!

[2016-09-12 15:12] RaoulDijksman commented on #879
It would be nice if it was possible to tell rails what parts of the engine you would like to mount.
Maybe a api only mode like: `use_doorkeeper :api_only` that wouldn't mount the routes nor add assets to the pipeline that belong to views.

Another option would be to split up the project in to 2 gems. The oauth part and a management part.

[2016-09-15 16:07] bsylvain opened #880 "A more verbose 'Filter chain halted as :doorkeeper_authorize! rendered or redirected'"
I am upgrading Doorkeeper from 1.7 to 4.0.

The client hit /oauth/token with a 200 but get a 403 when hitting the API.

`Filter chain halted as :doorkeeper_authorize! rendered or redirected`

I keep getting this error that seems token related, but I am not sure if I need to update my client (that worked before migration) or if I missed some migration step. Is there a way to have a more verbose err

[2016-09-16 12:53] diddeb commented on #879
I tend to agree on this subject. Perhaps splitting the project is too radical, but some way of disabling the admin UI would be appreciated.

[2016-09-16 13:44] nbulaj commented on #865
So, @edwinv, did it solve your problem?

[2016-09-16 14:31] tute commented on #879
Wholeheartedly agree. The engine shouldn't always inject the routes, according to the `api_mode` Rails option.

[2016-09-16 15:39] bsylvain commented on #880
Ok so it seems that as soon as you declare scopes in doorkeeper.rb, you have to explicitely authorize scopes in doorkeeper_authorize.

[2016-09-16 23:38] treble37 commented on #859
@Morpheu5 - https://github.com/doorkeeper-gem/doorkeeper/pull/881/files - what do you think so far? I started on something small to illustrate a possible approach.

@tute  - any thoughts and/or preference on a documentation format (e.g., should we use RDoc or Yard)?  It looks like you might prefer RDoc, but maybe we should clarify before proceeding further?  Yard is a superset of RDoc from what I

[2016-09-17 19:53] theycallmeswift opened #882 "Why is Doorkeeper returning expired authorization codes?"
I've got an OAuth API using Doorkeeper 3.1.0.  For a small number of users (~5%) when they request an authorization code, the API is returning an expired or revoked code.

For example, here's a line from today's server logs (2016-09-17):

[code]

When I look at that token in the database, I see that it was created yesterday and revoked yesterday as well:

[code]

Why would doorkeeper send users an

[2016-09-19 13:43] toupeira opened #883 "[meta] Add doorkeeper-openid_connect to the organization"
I'm planning to make some updates to the `doorkeeper-openid_connect` gem and was [recommended to fork it](https://github.com/playon/doorkeeper-openid_connect/issues/17), so now I'm wondering if you would be willing to fork it straight to the `doorkeeper-gem` organization and give me push access to the repository?

Also a transfer (rather than a fork) would be cleaner, if you prefer that I'll ask t

[2016-09-19 20:11] tute commented on #883
Please do ask for the transfer, and I'll grant you access. Thanks!

[2016-09-19 20:11] #883 closed

[2016-09-19 20:26] tute commented on #859
This makes me very happy. Thank you!

I'd go with Yard. Thanks!

[2016-09-20 12:29] sagar18041 opened #884 "Multiple access token generation from one refresh token."
I am able to generate multiple access token from single refresh token unless the refresh token is revoked.
W.R.T [Revoke Refresh Token on access token use](https://github.com/doorkeeper-gem/doorkeeper/pull/769).
We can generate multiple access token from previous refresh token unless the newly generated access_token is used, once we use the newly generated access token the previous refresh token i

[2016-09-20 13:03] Morpheu5 commented on #859
That's a very good start! If I may, I'd rather have one-liners to explain what a method does (if one line is sufficient) and then a detailed list of parameters and values and so on… Anyway, that's a good start, thank you!

[2016-09-20 16:07] heavysixer commented on #882
We are seeing the same problem.

[2016-09-20 17:15] theycallmeswift commented on #882
Is there a reason that method isn't using the `find_or_create_for` method right above it? https://github.com/doorkeeper-gem/doorkeeper/blob/ddcf2edd6045f2d54935865aed0a668b7fd03bcf/lib/doorkeeper/models/access_token_mixin.rb#L71

[2016-09-20 17:18] heavysixer commented on #882
@theycallmeswift it actually starts there and then eventually winds up at the method i pointed  out I believe.

[2016-09-20 17:19] theycallmeswift commented on #882
@heavysixer are you seeing this with access tokens or auth codes?  We're seeing it for auth codes which uses a different mixin.

[2016-09-20 17:21] heavysixer commented on #882
@theycallmeswift Doorkeeper is returning expired `oauth_access_tokens` from that table. I think that means that they are access_tokens.

[2016-09-20 18:12] tute commented on #884
Is this a bug? If so, what would be the desired outcome? If addressed, would it be backwards compatible?

[2016-09-20 18:26] sagar18041 commented on #884
Its a silent bug, as till date we were not facing this issue as the condition never came in to picture. But suddenly one of our api client started to hit the /oauth/token request multiple times per seconds to generate new access_token from refresh token that when this issue came up.

W.R.T [Revoke Refresh Token on access token use](https://github.com/doorkeeper-gem/doorkeeper/pull/769)
Desired out

[2016-09-20 20:08] theycallmeswift commented on #882
@heavysixer yeah, sounds like we're encountering different issues then.  My issue is related to Authorization Codes being expired.  May be connected somehow though.

[2016-09-21 14:27] edwinv commented on #865
I'm currently not working on this feature in our app, therefore I can't test if your suggestion works. I'll close my issue for now, if we need anything more we will give a heads up. Thanks!

[2016-09-21 14:27] #865 closed

[2016-09-23 08:42] brianoqr commented on #884
I can confirm that in doorkeeper (4.2.0)  - refresh tokens are indefinitely valid. Every refresh_token ever made, is forever valid. This can not be anything other than a major security issue, or I am missing some sort of configuration.

If i manually set the revoked_at date then the refresh token also becomes invalid and that works.

But by default after refresh the revoked_at date is not set so I

[2016-09-23 09:55] sagar18041 commented on #884
@brianoqr Your points are totally valid, but my concern is with the new access_token generated with the refresh token.
So in the current scenario we are able to generate infinite set of access_token and refresh_token,
instead what we are trying to achieve is, we should get same set of access_token and refresh_token unless access_token is expired or refresh_token is revoked.
In order to prevent mul

[2016-09-23 10:37] brianoqr commented on #884
Yes i understand, your solution of returning the same access token/refresh token if the refresh token being used has not been revoke and already used, that is acceptable to me. The access token are not as big of a concern as the refresh token, since refresh tokens never expire.

Perhaps the caveat that created this situation is in the scenario you are suggesting (which i totally agree with) for ex

[2016-09-23 11:38] sagar18041 commented on #884
So, i would suggest
we should only **resend** the valid set of access_token and refresh_token, to prevent already expired access_token.
if the set is expired only then we should generate a new set, else we should continue to resent the same set.

[2016-09-23 17:37] jimjeffers opened #886 "Refresh Token Allows Replay Attacks"
Hey there,

Not sure if this is per the spec, a bug, or a mistake on my part. But essentially I'm able to constantly refresh my access token with the same refresh token. I was under the impression once you used a refresh token it could not be used again. Here's my current setup:

rails (5.0.0.1) (api only app)
doorkeeper (4.2.0)

[code]

So here's what happens:

[grant_type: password]
http://127.0

[2016-09-23 20:40] treble37 commented on #859
@Morpheu5 - so I updated with the latest Yard format and your suggestions....what do you think? Seems like we're pretty close and once we're all in fair agreement, I'll go ahead and make other PRs to update the docs following an agreed upon convention.

[2016-09-24 15:27] Morpheu5 commented on #859
@treble37 that makes me so happy! :) I left a comment in the diff https://github.com/doorkeeper-gem/doorkeeper/pull/881/files#r80362862 but apart from that, it looks like you are on the right track!

[2016-09-25 16:23] eebasadre opened #887 "401 Unauthorized -- Invalid grant when requesting refresh token."
I'm having a trouble in requesting a refresh token, it keep returning an Unauthorized 401 error. I don't know if I'm lacking a parameters that I passed when I did a request.

I added the doorkeeper configuration for refresh token.

`use_refresh_token`

Here's the request details:

`{{root_url}}/oauth/token`

    {"refresh_token"=>"034a74c085219fb8297fd8ef9b59f080918f"
     "format"=>:json,
     "c

[2016-09-26 04:00] eebasadre commented on #739
@niiamon I have the same problem to you know and I wonder how you manage to solve the issue which is before refresh token is working properly then now it stop working. Can I have your request parameters?

[2016-09-26 04:03] eebasadre commented on #739
@d4x337 sorry, I didn't get you why you change the grant type from refresh_token to password? Can I see a sample request parameters you used?

[2016-09-26 09:04] eebasadre commented on #739
Hi, I managed to fix it just now.
This is my params that I passed.

## Parameter:

[code]
Then in my headers I set the `grant_type: refresh_token`, `Accept: application/json`, `Authorization Bearer {{user_token}}` the expired user token and in the body the refresh_token: `refresh_token`. So, I don't need to pass the client id and secret. However, I'm still confused why @niiamon passed the client i

[2016-09-26 09:04] #887 closed

[2016-09-27 00:20] jufemaiz commented on #651
Hi @tute just wondering if there's been any movement on getting this on the roadmap or if @thibaudgg's solution ( https://gist.github.com/thibaudgg/3aa7e3276fbcdd712cbf ) is still the unofficial recommended approach to resolving this?

We've got the use case where our application needs to support OAuth, has two different user models (much like above), and it seems that many of us have adopted this

[2016-09-27 19:50] davefp opened #888 "Destroying an OAuth Application can lead to a large number of SQL queries"
Rails 4.2.7.1
Doorkeeper 4.2.0

When an OAuth Application is destroyed e.g. `Doorkeeper::Application.first.destroy` all associated Access Tokens are also destroyed.

However, this is done using `dependent: :destroy` as seen here in the application mixin: https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/models/application_mixin.rb#L11

The problem is that ActiveRecord loads a

[2016-09-28 21:07] tute commented on #888
I agree. Would you please submit a PR addressing this? Thanks!

[2016-09-30 15:40] pguelpa commented on #884
This seems to be related to #886. Also it seems like there is logic that is [trying to revoke the refresh token](https://github.com/doorkeeper-gem/doorkeeper/blob/2cbd70f31fec5f22f01a162b5e38745f44003d54/lib/doorkeeper/oauth/refresh_token_request.rb#L39) and even [a spec for it](https://github.com/doorkeeper-gem/doorkeeper/blob/2cbd70f31fec5f22f01a162b5e38745f44003d54/spec/lib/oauth/refresh_token_

[2016-09-30 17:49] pguelpa commented on #884
Update to this, looks like this was a feature added in #769. In order to expire the previous refresh token you need to use the new access token, otherwise the refresh token will continue to be valid. If you want to make it so that the refresh token is revoked immediately I believe you can do so by removing the `oauth_access_tokens.previous_refresh_token` column.

[2016-10-01 15:11] Blackening999 opened #890 "Interacting as an OAuth client with Doorkeeper ERROR"
While following this guide: https://github.com/doorkeeper-gem/doorkeeper/wiki/Interacting-as-an-OAuth-client-with-Doorkeeper#requesting-the-grant

I've stuck on "Requesting the Grant" step. With error report provided below:
http://prntscr.com/cokabc

I'm clicking "Authorize" from the recently created application.

What I'm doing wrong?
I'm pretty sure the "current_resource_owner" can be nullable..

[2016-10-01 15:44] Blackening999 commented on #890
I think the issue is because the AuthorizationController what is being invoked instead of TokenController. It isn't possible to have current_user at the stage of authorizing tokens

It's super urgent.

[2016-10-02 21:40] #888 closed

[2016-10-04 18:14] toupeira commented on #883
Ok @stephendyer should add you to the repository soon so you can initiate the transfer. Let me know if I can be of any assistance!

[2016-10-04 21:31] tute commented on #883
Added you both!

[2016-10-05 07:20] toupeira commented on #883
@tute thanks! Looks like the repository is still missing at https://github.com/orgs/doorkeeper-gem/teams/doorkeeper-openid_connect/repositories though :)

[2016-10-05 13:00] ostinelli opened #891 "Revoking token does not work for public clients"
Hello,
I'm using grant `implicit` to allow authorizing an application from mobile applications, by initiating the flow as follows:

`https://example.com/oauth2/authorize?response_type=token&client_id={CLIENT_ID}&redirect_uri={REDIRECT_URI}&scope={REQUESTED_SCOPES}&state={STATE}
`

After a successful oauth flow, the generated token is saved in the `oauth_access_tokens` table jointly with the applic

[2016-10-05 13:20] tute commented on #883
Added! Thank you.

[2016-10-05 13:54] toupeira commented on #883
@tute thanks, I'm able to push now. Can you also give me admin access to the repository? Some tools like Travis CI require it for setting up webhooks.

[2016-10-05 13:58] tute commented on #883
Done.

[2016-10-07 13:36] sachin-metacube commented on #827
@igorrfc can you explain what was the fix?

[2016-10-07 18:45] gabrielgarza commented on #153
For anyone still lost on this, this is how I got a logo column working on the OAuthApplication model:

1. Add a column to oauth_applications table, for example `rails g migration AddImageUrlToOauthApplications image_url:string` and run `rake db:migrate`

2. Generate the doorkeeper views so you can customize them, run in terminal `rails generate doorkeeper:views` this will copy the default Doorkeep

[2016-10-07 18:46] gabrielgarza commented on #304
For anyone still lost on this, this is how I got a logo column working on the OAuthApplication model:

1. Add a column to oauth_applications table, for example `rails g migration AddImageUrlToOauthApplications image_url:string` and run `rake db:migrate`

2. Generate the doorkeeper views so you can customize them, run in terminal `rails generate doorkeeper:views` this will copy the default Doorkeep

[2016-10-10 15:10] tute commented on #879
@RaoulDijksman @diddeb can you please give #893 a try? If it works well, I'll release it soon. Thank you!

[2016-10-12 13:24] t-anjan opened #894 "When generating Access Token immediately after generating the Authorization Code, the Authorization Code is not found in the "oauth_access_grants" table - MySQL Cluster (Percona XtraDB Cluster)"
My DB setup is using a cluster of 3 nodes running "Percona XtraDB Cluster" (PXC). This is "almost" synchronous replication. Reason for the "almost" explained below.

When I am using Doorkeeper for authorization (auth_code flow), the auth code gets generated (`/oauth/authorize`) and redirects back to the callback action. Then, omniauth-oauth2 gem makes another call to doorkeeper (`/oauth/token`) to

[2016-10-22 13:06] arashm opened #895 "Refresh token being revoked"
I'm a little confused. Based on [wiki](https://github.com/doorkeeper-gem/doorkeeper/wiki/Customizing-Token-Expiration) refresh tokens doesn't have a TTL and shouldn't be revoked, but actually on `Doorkeepr::OAuth::RefreshTokenRequest` line 79 [I can see](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/oauth/refresh_token_request.rb#L79) it's being checked:

[code]

which ca

[2016-10-22 13:15] arashm commented on #895
Ok, Never mind. Got the issue.

[2016-10-22 13:15] #895 closed

[2016-10-24 23:44] grosser opened #896 "show possible scopes in UI"
I want to show our users which scopes are allowed ...

[code]

This should then be shown in the UI via `doorkeeper.applications.help.scopes` and ideally be enforced via validations ... does that sound like something you'd merge ? ... I can try to make a PR ...

[2016-10-25 00:20] tute commented on #896
That makes sense to me, somewhere in the layout or index action. I'm interested in seeing your PR!

[2016-10-25 04:37] grosser commented on #896
looks like this already exists ... it's called `optional_scopes` ... not really sure what they are used for, but I'd simply add a validation on ApplicationMixing to validate that all scopes are in `scopes` (default + optional) ... does that sound about right ?

This would be opt-in behind a new `validate_application_scopes` flat ...

[2016-10-25 04:52] grosser commented on #896
once I add optional scopes I get a big fat `The requested scope is invalid, unknown, or malformed.` ... not very helpful ... should say what scope I tried to use ...

[2016-10-26 14:07] tute commented on #896
I thought you meant the admin interface, sorry about my misunderstanding.

The error message follows the spec as of https://tools.ietf.org/html/rfc6749#section-4.1.2.1.

I don't think we need to do any change in how doorkeeper handles scopes, so I'll close this issue, but I'm happy to continue further discussion around this and if you pinpoint improvements that we should make, we work through them

[2016-10-26 14:07] #896 closed

[2016-10-26 14:13] tute commented on #894
Hi @t-anjan, thanks for your report.

Is monkey patching `Doorkeeper::AccessGrant#by_token(token)` an option for you? If not, what extension mechanism would be useful for your case?

Thanks!

[2016-10-26 14:54] tute commented on #891
Looping in @f3ndot for context on this. Thank you both!

[2016-10-26 15:37] f3ndot commented on #891
You very well may be correct @ostinelli.

From the [RFC 6749, Sec 4.2](https://tools.ietf.org/html/rfc6749#section-4.2) (emphasis added):

   support the issuance of refresh tokens) and is **optimized for public
   clients** known to operate a particular redirection URI.

   relies on the presence of the resource owner and the registration of
   the redirection URI.  Because the access token is en

[2016-10-26 15:40] f3ndot commented on #891
It's also worth noting this is a security vulnerability akin to [CVE-2016-6582](http://rubysec.com/advisories/CVE-2016-6582/) but restricted only the the `implicit` grant type.

[2016-10-27 12:03] ostinelli commented on #891
@f3ndot, thank you for looking into this.

Maybe I'm missing a piece here, but to my understanding we still need to keep information on the application a token refers to (`application_id` seems like a good place for it). Otherwise I might have missed how you could link a token to the application that a user has authorized to access their account. Hence I can't see how option 1 could work?

[2016-10-27 12:29] t-anjan commented on #894
Monkey patching is definitely an option if this cannot be handled in the gem. Are there any other options?

I was thinking of changing the `by_token` method to something like this:

[code]

[2016-10-27 14:44] f3ndot commented on #891
@ostinelli It somewhat depends how you've written your business logic, but in general a token is tied to both a resource the user owns (`resource_owner_id`) and the application that granted the token `application_id`.

You get access from a token to a user's account via that `resource_owner_id` field, not necessarily the application.

But hey, maybe I'm wrong too! I'm not a super expert on the spe

[2016-10-27 14:47] f3ndot commented on #891
\*cough\* excuse me. I clearly need more ☕️

You are correct. Option 1 has less fidelity as you don't know which application that token belongs to, if using a public grant type. However, you cannot cryptographically guarantee that it belongs to that publicly auth'd application hence why it should be considered *informational* vs a truth.

This is why I don't entirely mind that it is set to `NULL`

[2016-10-28 22:23] GUI commented on #500
If it helps anyone else, here's a slight variation on @waynerobinson's approach, with the following differences:

- Uses PostgreSQL compatible SQL query for the `created_at` and `expires_in` math.
- Getting to @francesle's earlier point, it does not remove tokens unless they're explicitly revoked or expired (tokens that aren't expired or revoked will remain around indefinitely).
- Rake task instea

[2016-10-31 09:15] badlamer opened #900 "Replace where to find_by methods for ORM broke Mongoid"
Hello. After replace where methods to find_by  in models mixins, broke mongoid compatible.

Method find_by (without bang(!) ) raise Mongoid::Errors::DocumentNotFound.

Broken in #825

[2016-10-31 12:48] nbulaj commented on #900
Hi. What version of Mongoid is used?

How about:

[code]

That is the problem a talked before - all those ORM-specific methods must be replaced with some Doorkeeper internal API that can be implemented with different libs (Sequel, Mongoid, etc).

[2016-10-31 13:04] badlamer commented on #900
So it is necessary to replace methods in the AccessTokenMixin end ect. modules in https://github.com/doorkeeper-gem/doorkeeper-mongodb gem?

[2016-10-31 13:11] nbulaj commented on #900
Ideally Doorkeeper models must be ORM-independent and contains some API (interface) that must be implemented in some extensions for some ORMs (ActiveRecord, Mongoid, etc).

Currently yes, it is simpler to override `find_by` method in _doorkeeper-mongodb_ orm extension ([as it implemented](https://github.com/nbulaj/doorkeeper-sequel/blob/master/lib/doorkeeper/orm/sequel/models/concerns/sequel_compa

[2016-11-01 14:25] nbulaj commented on #880
So what the status of the issue, @bsylvain ? Did you solve the problem?

[2016-11-01 14:34] nbulaj commented on #882
Hi @theycallmeswift . Have you try to update Doorkeeper to a new version?

I take a look to the `AuthorizationsController`. If I understand you correctly, the problem is expired `AccessGrant`, so your OAuth stack uses `Doorkeeper::OAuth::CodeRequest`. And it is [always creates](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/oauth/authorization/code.rb#L13) a new Grant reco

[2016-11-02 15:41] tute commented on #880
So he says. Thank you both! :)

[2016-11-02 15:41] #880 closed

[2016-11-02 19:50] grosser opened #902 "personal access tokens ?"
We got OAuth running, but we'd also like to make a user able to generate "personal" tokens for their commandline usage or 1-off apps ... is that supported or should we add a custom UI ?

[2016-11-02 19:52] tute commented on #902
The issue you describe seems very specific to your code. I suggest that you ask about it in https://stackoverflow.com/questions/tagged/doorkeeper, which will get attention from more people than in this issue tracker.

Also, I recommend you follow the steps outlined in http://yourbugreportneedsmore.info/, so that people can better replicate or understand your issue in order to help you.

Sorry we d

[2016-11-02 19:52] #902 closed

[2016-11-03 11:43] nbulaj commented on #890
Hi @Blackening999. Don't even understand why you are trying to prompt the user to grant the access and have not authenticated user? Who will get that grant in that case? `AuthorizationsController` requires authenticated User.

[2016-11-04 15:05] nbulaj commented on #886
https://tools.ietf.org/html/rfc6749#section-6

[2016-11-04 15:31] nbulaj commented on #884
I take a look at the OAuth2 docs.. And don't sure if that a problem (see my comment in another issue https://github.com/doorkeeper-gem/doorkeeper/issues/886#issuecomment-258456222 )

[2016-11-04 17:04] ostinelli commented on #891
You're definitely have more grasp than me on the subject :)

My consideration mainly was: when a user authorizes an application, we clearly need to allow a developer know which application was authorized by that token, and for which user. My understanding is that this is done with the `application_id` (application) and the `resource_owner_id` (user) fields. Hence I'm not understanding how `applica

[2016-11-07 13:16] yottanami opened #905 "accessing authorization url using oauth2 gem."
I just checked this document:
https://github.com/doorkeeper-gem/doorkeeper/wiki/Testing-your-provider-with-OAuth2-gem

There is mentioned that for accessing authorization code I have to open the authorization url in browser.
The problem is I have to do this after each deployment or change on server manually.
Is there anyway to access it using code without opening the browser?

[2016-11-07 17:16] toupeira opened #906 "Problem with scope checking"
I ran into a problem with the scope checking, if I have a token which has only some of the available scopes granted, it doesn't get matched (in `AuthorizationsController#matching_token?`) when performing a request with the already granted scopes in the `scope` parameter.

Steps to reproduce:
- Create an application with scope `a`
- Perform an authorization for the scope `a` to issue a token
- Add

[2016-11-11 13:58] #900 closed

[2016-11-11 20:02] tute commented on #894
What about using a Strategy Pattern to be able to plug in the different strategies?
https://dockyard.com/blog/2013/07/25/design-patterns-strategy-pattern

[2016-11-14 09:47] nbulaj commented on #874
Take a look at RFC: https://tools.ietf.org/html/rfc6749#section-1.5

[2016-11-14 16:42] cickes commented on #266
@apellizzn Can you help with a few more details?  Did you connect to the Auth Database or the Auth Server?  My understanding is you connected to the Auth Database directly from the Resource Server.

If you connected directly to the Auth server, can you provide your `database.yml` or `mongoid.yml` example?  Trying to connect to the Auth Server and only allow the Auth Server to access the Auth datab

[2016-12-02 20:16] jvrsgsty opened #910 "CORS Requests not going through"
Hi! I have been working on an API project on Rails 5 for quite some time now. It was consumed internally by a client programmed by me. I set up `rack-cors` to allow access to the API via AJAX on the client. It had been working perfectly.

After implementing OAuth with Doorkeeper, though, client requests with a valid access token and scope, do not seem to get through. The server log does not help m

[2016-12-03 01:18] jvrsgsty commented on #910
Closing this as the problem was misconfiguration on how I was sending the access token client side.
CORS works perfectly when properly configured using the `rack-cors` gem.
![bitmoji](https://render.bitstrips.com/v2/cpanel/7834203-173241686_2-s1-v1.png?transparent=1&width=246)

[2016-12-03 01:18] #910 closed

[2016-12-09 23:03] #906 closed

[2016-12-12 18:48] #874 closed

[2016-12-15 08:52] chulkilee commented on #884
Shouldn't this be closed?

[2016-12-15 10:53] krtschmr opened #912 "i really don't understand the *invalid redirect url* problem"
`http://localhost:3000/oauth/authorize?client_id=54519be2a7ceb7d6d445a7d64c53f33b7b97ec66ea54e3ab4b595f8fd08ea442&redirect_uri=http://forum.cattle.com/upload/index.php?google-auth&state=4bddb12a0edb993e195b2031f63308a72c50a091&scope=public&response_type=code`

why is that constantly giving me an invalid redirect url?
i try to connect a WBB forum but constantly i get the redirection exception.

obv

[2016-12-15 11:12] tute commented on #912
(This is somewhat related with https://github.com/doorkeeper-gem/doorkeeper/issues/716).

Do you have `force_ssl_in_redirect_uri` enabled? In that case, you'll need to use HTTPS.

[2016-12-15 11:15] tute commented on #884
This is correct. Closing this issue. Thanks!

[2016-12-15 11:15] #884 closed

[2016-12-15 11:16] tute commented on #905
Not that I know of. The user has to manually authorize access. I don't see why you'd need to do it on each deploy though.

I suggest that you ask about it in https://stackoverflow.com/questions/tagged/paperclip, which will get attention from more people than in this issue tracker.

Thanks!

[2016-12-15 11:16] #905 closed

[2016-12-15 11:17] krtschmr commented on #912
`# force_ssl_in_redirect_uri !Rails.env.development?`

i run it in development mode.

[2016-12-15 11:19] tute commented on #894
Closing this issue for now, as it's very specific to your app. I'd discuss a Strategy Pattern in a PR. Thank you!

[2016-12-15 11:19] #894 closed

[2016-12-15 11:22] tute commented on #890
The issue you describe seems very specific to your code. I suggest that you ask about it in https://stackoverflow.com/questions/tagged/doorkeeper, which will get attention from more people than in this issue tracker.

Also, I recommend you follow the steps outlined in http://yourbugreportneedsmore.info/, so that people can better replicate or understand your issue in order to help you.

Sorry we d

[2016-12-15 11:22] #890 closed

[2016-12-15 11:25] tute commented on #886
This is related with https://github.com/doorkeeper-gem/doorkeeper/issues/884. I believe doorkepeer now does follow the spec, and the attack is allowed by it.

That's a low bar though, and if you can suggest a backwards-compatible, safer default I'm all for it. We can continue discussing here or in a PR.

Thank you very much for your input.

[2016-12-15 11:25] #886 closed

[2016-12-15 11:29] Blackening999 commented on #890
Hey @tute and @nbulaj
Thanks for feedback!

It was long age and I already solved the issue by re-writing a lot of code. Doorkeeper by default is unable to work without sessions. I have a token based authentication so I don't have any "current_user" saved on back-end, which Doorkeeper relies the most during OAuth authorization process. I haven't got a time to reveal a solution, in short: it simply

[2016-12-15 11:30] tute commented on #912
Current master (doorkeeper 4.2), and with that configuration set to false, accepts your URL. What version of doorkeeper are you using?

[2016-12-15 11:36] tute commented on #890
Thank you for your feedback @Blackening999.

To understand better this problem, even though your token-based authentication, why do you need it not keeping sessions? Shouldn't that be transparent to the client?

And if you are the client (with Zapier for example) why do you need doorkeeper, which sets up the provider?

Thank you for your time discussing this.

[2016-12-15 11:43] krtschmr commented on #912
bundle shows
`  * doorkeeper (4.2.0)`

unfortunately with `http://www.google.com` it's working.

[2016-12-15 11:46] krtschmr commented on #912
these 2 URLS

![image](https://cloud.githubusercontent.com/assets/13366714/21222863/b1e9beea-c2f6-11e6-92fe-42c2e5df0c20.png)

[code]

[2016-12-15 11:59] tute commented on #912
There must be something with the query parameter. Do you need it?

Can you paste the contents of the `Gemfile.lock` file please?

[2016-12-15 12:02] krtschmr commented on #912
doorkeeper.rb now added
`  native_redirect_uri "http://forum.cattle.com/index.php?google-auth"`

still not working.
good hint with the query parameter. indeed it is needed, this is how WBB (burningboard) is working. obviously i can try to hack it out, but i would rather patch the URL Validator instead of hacking in a PHP forum.

[2016-12-15 12:11] tute commented on #912
Define the URL with no query parameter, which will be ignored in the check, and that's ok. Yay! 🎉  :)

[2016-12-15 12:11] #912 closed

[2016-12-15 12:13] krtschmr commented on #912
well, it's nice to find out the *bug*, but we maybe should consider fixing it somehow for a better experience while developing. maybe we need those parameters even in a production environment.

[2016-12-15 12:16] tute commented on #912
Agreed. There is an open issue tracking how to improve the developer experience around this error: https://github.com/doorkeeper-gem/doorkeeper/issues/716.

In my computer the query parameter doesn't affect the check, so there is a Ruby version mismatch I believe. We could add a regression spec to test against different versions to see when does it behave differently.

[2016-12-15 12:17] Blackening999 commented on #890
@tute

First of all because session are dinosaurs, and the real reason is that we're using always a back-end as API :) I haven't used sessions from the past 2 years, it's only JWT.
And yes, token-based authentication is more transparent and more performant, tokens being updated each 15 minutes.

For what we need Doorkeeper while integrating with Zapier - we need to authenticate and define user who

[2016-12-15 12:25] tute commented on #890
I think using doorkeeper for token-based authentication is killing a mosquito with a cannon. OAuth is an absurdly configurable authorization framework, with many insecure options, that can mimic a simple token-based authentication solution.

Would Rails' `authenticate_or_request_with_http_token` with logic for refreshing the tokens (an extra class you'd write) suffice for your case?

[2016-12-15 12:33] Blackening999 commented on #890
the main problem is we don't want our customers run to a Zapier and enter new token once current one expires + we want to keep integrations diversified. Using OAuth applications from our end guarantees granularity per each user-integration pair and allows Zapier to refresh a token once current one expires.

Sure, I thought about authenticate_or_request_with_http_token , but it looks way less secur

[2016-12-15 13:07] krtschmr commented on #912
`ruby 2.3.0`

[2016-12-23 11:50] hidde-jan opened #913 "Loading ActiveRecord (models) in intializer leads to settings conflicts with Rails"
See this issue: https://github.com/rails/rails/issues/23589

Using doorkeeper will cause ActiveRecord to be loaded before Rails' own `new_framework_defaults.rb`. It seems that it's not 'safe' to load AR models in an initializer and that such things should be deferred until later using `ActiveSupport.on_load(:active_record)`.

[2017-01-06 04:32] yoda opened #916 "Token Info Routes Issue"
If one has configured the redirect_uri as being urn:ietf:wg:oauth:2.0:oob and then is also trying to add custom functionality to the token_info controller the route for the token_info controller fails.

[code]

https://github.com/doorkeeper-gem/doorkeeper/blob/c846335ad75f2f9c7108e577cb84eaf8ab66b86f/app/controllers/doorkeeper/authorizations_controller.rb#L9

If we follow from this point on becaus

[2017-01-12 21:17] willsu commented on #680
@jpb were you able to find a workaround for setting custom TTLs on tokens issued via an implicit grant? Short of patching the `Doorkeeper::OAuth::Authorization::Token.custom_expiration` method, I can't think of any other reasonable solution. Also, thanks for creating some issue and adding some technical clarity to the problem.

[2017-01-12 23:58] willsu commented on #680
FWIW: This is the temporary fix that I implemented to set customer TTLs on tokens acquired via implicit grants. It effectively rolls back the change made in #636 so that we have access to the `Doorkeeper::OAuth::PreAuthorization` instance in the `Doorkeeper::OAuth::Authorization::Token.custom_expiration`:

[code]

[code]

[code]

Maybe this will help someone else temporarily ¯\_(ツ)_/¯

@tute It wo

[2017-01-13 17:48] pointcom opened #918 "Allowing custom expiration time for access tokens according to grant type"
I'm using many different `grant_types` : `password`, `client_credentials` and `authorization_code`.
I wanted to know if there's an easy way to set a custom expiration time based on the OAuth workflow used by the client.
For example, I would like to put `2 days` for both `password` and `authorization_code` and `1 month` for `client_credentials`.

Let me know if that makes sense.
If that feature doe

[2017-01-13 23:17] cickes opened #919 "Add Cookie to Response?"
We can customize Token response easily via:
https://github.com/doorkeeper-gem/doorkeeper/wiki/Customizing-Token-Response

However, what is the recommended location to add a cookie to a response on a successfully authenticated user?  We want to add something like:
`response.set_cookie "name", "Joe"`

[2017-01-16 23:29] maclover7 opened #926 "Maintenance Tasks"
Below is a list of maintenance tasks for Doorkeeper. Feel free to claim one, or else I'll likely end up completing it.

- [x] Add tests for `BaseRequest` (formerly `RequestConcern`)
- [x] Turn `URIBuilder` into a class
- [x] Create hierarchy for `Response` objects
- [ ] Add `Doorkeeper.framework('rails')?` method, add lots of `defined?(Rails)` checks, etc.
- [x] Deprecate unused `Doorkeeper` class

[2017-01-20 04:37] zach-taylor commented on #926
To help find out where more tests are needed, would it be helpful to setup test coverage tracking? I can take a stab at it if you want.

[2017-01-20 15:06] agoodno opened #932 "Implicit grant endpoint?"
On this page, https://github.com/doorkeeper-gem/doorkeeper/wiki/Supported-Features, it mentions support for Implicit Grants. It looks like the authorizations#create is the endpoint I want and it does return an access_token but it doesn't return the other parameters that are required.

Request
https://localhost/oauth/authorize?client_id=<client_id>&response_type=token&redirect_uri=urn:ietf:wg:oauth

[2017-01-20 16:28] agoodno commented on #932
I'm closing this because it seems more like a question for StackOverflow. Posted here: http://stackoverflow.com/questions/41768188/how-does-the-implicit-grant-flow-work

[2017-01-20 16:28] #932 closed

[2017-01-23 15:38] agoodno opened #934 "Why are query params not considered during match for valid Redirect URI?"
I was getting the error message "The redirect uri included is not valid." while attempting to obtain an access token as part of the Implicit Grant flow. Looking through the source, I found that the problem was that the Redirect URI provided by Amazon's Alexa Skill to do the account linking was in the format:

`https://pitangui.amazon.com/spa/skill/account-linking-status.html?vendorId=<vendorId>`

[2017-02-04 18:26] maclover7 commented on #926
@zach-taylor sure, would be happy to review a PR to setup test coverage tracking.

[2017-02-14 19:41] foodforarabbit opened #941 "access_token matching_token_for incorrect behaviour"
lib/doorkeeper/models/access_token_mixin.rb ln 98

We get the last authorized token fine but then we return it only if the last token's scope matches the requested scope and ALL the application's scopes. This only makes sense and only works if we request client_credentials tokens with all the application's scopes.

I think we should pass in Scopes.new instead of application.try(:scopes).

[2017-02-14 21:05] maclover7 commented on #941
Hi @foodforarabbit! Before we move forward, since this is a security sensitive project, can you explain if/how not checking against all of the application's scopes could be used a potential vulnerability in an application using Doorkeeper?

[2017-02-14 22:02] foodforarabbit commented on #941
I was just searching the repo and I've noticed that someone has already submitted a pull request for this issue: https://github.com/doorkeeper-gem/doorkeeper/pull/848

Anyway to expand on the "problem" I'm not sure about the security implications but checking against all the possible scopes for a "matching token" seems to be unexpected behaviour.

Assume I have an application with scopes 'public u

[2017-02-23 15:15] maciekkolodziej commented on #755
@Anoop1989 I'm not sure if I understand your issue correctly, but I've checked how doorkeeper works with two separate apps in one browser and I think it works well if you have your apps sessions set up correctly.

When you're running two apps locally, for example [this one](https://github.com/doorkeeper-gem/doorkeeper-sinatra-client) with default setup, it won't work because those two apps session

[2017-02-23 16:42] bolom opened #942 "reuse_access_token and use_refresh_token doesn't work with client_credentials"
I have uncommented the option

- use_refresh_token
- reuse_access_token

however when request a token for grand_type client_credentials . I have got this

[code]

for grant_password

[code]

My config file

[code]

Gem lock

[code]

[2017-02-26 09:29] realvjy commented on #854
My routes here

root 'static_pages#home'
get 'help', to: 'static_pages#help'
get 'about', to: 'static_pages#about'

Error
![image](https://cloud.githubusercontent.com/assets/7387461/23338553/28f00fbe-fc34-11e6-92bc-70754540ae2b.png)

[2017-02-26 23:30] MarkMurphy opened #943 "Doorkeeper can be misleading when certain errors occur in custom token generators"
See my comment in the `NoMethodError` handler
[code]

[2017-03-02 10:59] akashdevaraju commented on #394
This gem https://github.com/doorkeeper-gem/doorkeeper-grants_assertion does not work with the latest version of doorkeeper.

[2017-03-02 19:17] huttneab commented on #473
@chrise86 how did you generate the clientID and secret in the first place?

[2017-03-07 19:28] wirasto commented on #942
ClientCredentials grant type not allow  refresh tokens. You have to use a different grant type to receive a refresh token.

[2017-03-07 19:36] bolom commented on #942
ah ok

[2017-03-07 19:36] #942 closed

[2017-03-12 05:25] thiagoneves opened #946 "Protect resource"
Hey guys, how is the best way to protect some resources only for cliente_credentials grant flow?

[2017-03-13 13:45] Linuus opened #947 "Make redirect_uri optional"
Hi!

I have a question about the `redirect_uri` being required. I've seen a few other issues about this but they are all closed and I didn't find the answers that I need :)

Let's say someone is building an iOS application. They would use the "client_credentials flow" to authenticate against doorkeeper. When they create the app in doorkeeper, what would they put in the redirect_uri field? Isn't it

[2017-03-13 14:31] Sarmadpikessoft commented on #887
@eebasadre why you close the issue. i didn't see any solution here.

[2017-03-13 14:33] wqsaali commented on #887
@eebasadre why did you close the issue. if there is not solution available?

[2017-03-28 02:17] tanduong commented on #651
For anyone who landed on this, there is a generator in doorkeeper. Check the doc here: https://github.com/doorkeeper-gem/doorkeeper/wiki/Associate-users-to-OAuth-applications-%28ownership%29.

[2017-04-07 17:22] dmitrytrager commented on #934
On the other hand, there is a [validation](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/oauth/authorization_code_request.rb#L47) that does not discard query.

But at this step when redirect_uri comes from params it contains code (for auth code strategy at least). And redirect_uri from grant doesn't. So looks like lack of query stripping in this case.

Probably, separate

[2017-04-07 18:34] agoodno commented on #934
It been a few months for me and I wasn't all that familiar with the Doorkeeper code to start with. My branch is working for me currently. I'll defer to you on this one.

[2017-04-10 08:16] dmitrytrager commented on #934
Ok, I've switched to using fork too. Will create separate issue. Thanks.

[2017-04-17 10:51] faizalzakaria commented on #916
@yoda , i encountered the same problem. Wondering if someone taking care of this?

[2017-04-18 10:39] dmitrytrager opened #949 "Drop query on redirect_uri validation"
Many times in code `redirect_uri` is compared without query within validations. However, when we [authorize code request](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/oauth/authorization_code_request.rb#L47) it's compared with grant redirect_uri with query params.

Meanwhile, client sends request here with code attached as a query parameter. That's why this comparison is

[2017-04-18 16:36] dmitrytrager commented on #934
Ok, I've switched to using fork too. Will create separate issue. Thanks.

[2017-04-18 20:30] pluff opened #951 "Make Scopes.<=> work with any "other" value"
Simple example
[code]
ActiveSupport compares result of `before_validation` block with `false` and comparision fails because Doorkeeper expects enumerables only.

[2017-04-20 15:05] zeitnot opened #952 "Problems with Mongoid 6"
I am using [this](https://github.com/michaeltrimm/doorkeeper-mongodb) fork to use doorkeeper with mongoid. But I have a problem. Since `ActiveRecord` is not used while using Mongoid the associations are required. For instance, I mean in [here](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/models/access_token_mixin.rb#L17) it is backward compatible thanks to ActiveRecord's

[2017-04-20 20:53] sull commented on #949
is this related to this error?

[2017-04-21 02:54] falood opened #953 "error when redirect_uri include parameter"
get `The redirect uri included is not valid.` error when use `https://my-domain/auth/my-provider?parameter=1` as redirect_uri, but it works if both `https://my-domain/auth/my-provider?parameter=1` and `https://my-domain/auth/my-provider` in the database.

[2017-04-21 12:27] dmitrytrager commented on #949
Yes, you can get this kind of message.

[2017-04-25 06:57] OndrejPontes opened #955 "Sign up automatically after registration"
I have read a lot of tutorials and discussions about a doorkeeper and many people try to solve how to sign up automatically after registration, but nobody mentioned how to do that.

Is something like that possible to configure in doorkeeper and if so, how to do it ?

[2017-04-28 10:26] swilgosz opened #957 "AccessToken.matching_token_for returns wrong values"
I noticed, that in some cases the `Doorkeeper::AccessToken.matching_token_for` returns a token even if it should return nil

*Steps to reproduce.*

1. Get user: `owner = ResourceOwnerClass.find(:resource_owner_id)`
2. Create `app` with scope: `app = Doorkeeper::Application.create(name: "test-app", redirect_uri: "urn:ietf:wg:oauth:2.0:oob", scopes: "sample:scope")`
3. Create a user access token the

[2017-05-02 08:00] spchetan11 opened #960 "Routing Error - uninitialized constant ActionController::RackDelegation"
I'm trying to implement doorkeeper in my rails 5 app along with Devise and Grape.

When I'm trying to setup a login access token using `http://localhost:3000/oauth/token` im getting the title error.

Route File.

`Rails.application.routes.draw do
 use_doorkeeper resources :orders
 devise_for :users,
 only: :registrations,
 controllers: {
 registrations: "users/registrations"
}
end
`

GemFile.
`
ge

[2017-05-02 09:42] spchetan11 commented on #960
NVM. Fixed it by specifying doorkeeper gem version in the gem file. `gem 'doorkeeper', '~> 4.2.5'`

[2017-05-02 09:51] ekampp opened #961 "Adding additional information to a token"
Hi there.

I have been looking to add additional information to a token. Specifically I want to log some additional URL params present when authorising the token.

In that pursuit, I have found that the `Doorkeeper::AuthorizationsController#new` is responsible for creating the token, and redirecting to the client app. It also have access to said URL params.

So, my question is: What's the best way

[2017-05-05 13:32] swilgosz commented on #957
I'm still working on the fix and adding some more tests coverage

[2017-05-07 08:48] frostmark opened #963 "generate migration for rails v 5.1.0"
[code]

[2017-05-15 02:21] redtear1115 opened #966 "any helpful documents for migrate from v1.4.1 to v4.2.5?"
hi pros,
I am trying to upgrade our system from v1.4.1 to v4.2.5
the only document I found is [here](https://github.com/doorkeeper-gem/doorkeeper/wiki/Migration-from-old-versions). It still have long way to go...

My major problems as below.
**application_id** on **oauth_access_grants** and **oauth_access_tokens**, are both changed to use reference of application and add foreign_key as application

[2017-05-16 08:30] rqbukhari commented on #953
I am also facing same problem. Did you find any solution for this?

[2017-05-18 14:35] tostasqb commented on #963
Same happening for Rails 5.1.1.
I'm specifying this on the Gemfile

[2017-05-18 14:40] tostasqb commented on #963
Workaround would be to specify the version on the migration:

`class CreateDoorkeeperTables < ActiveRecord::Migration[5.1]`

[2017-05-18 21:57] rasheedhamdawi opened #967 "how to return the user profile information with the callback?"
Hey guys,

how can I return the profile parameter in this case ?
because I get an empty object {}

http://passportjs.org/docs/profile

[code]

thank you for your effort.

[2017-05-19 10:17] nbulaj commented on #967
@rasheedhamdawi I can't found how it is connected with Doorkeeper gem?

[2017-05-19 11:29] rasheedhamdawi commented on #967
@nbulaj I am trying to build an account service like Google Accounts and I am using Doorkeeper with Devise.

I have separate service built with NodeJS and I want to implement the authentication with the Account service.

here is the initializer

[code]

[2017-05-22 17:33] falood commented on #953
@rqbukhari I just modify database to add the original without parameters, I haven't find other solution.

[2017-05-24 06:52] krtschmr opened #968 "migration in 5.1"
[code]

[2017-05-25 21:14] simkim opened #969 "XSS in default views"
Default authorization and application views use the "raw" function which inevitably lead to xss issue :

https://github.com/doorkeeper-gem/doorkeeper/blob/14c9ed154a4363593b18216f302d7fc2f8b62120/app/views/doorkeeper/authorizations/new.html.erb#L7
https://github.com/doorkeeper-gem/doorkeeper/blob/14c9ed154a4363593b18216f302d7fc2f8b62120/app/views/doorkeeper/applications/_form.html.erb#L24

[2017-05-25 23:58] #969 closed

[2017-05-27 00:34] 46bit commented on #968
I fixed this for me by editing `db/migrate/..._create_doorkeeper_tables.rb` to have its first line be:

[code]

The code generation probably wants to detect the Rails version and put it in?

[2017-05-30 17:18] frostmark commented on #963
@tostasqb thx

[2017-05-30 20:35] moger777 commented on #955
@OndrejPontes I'd assume it's the same as normal login, in that you re-direct to same oauth endpoint:

[code]
Obviously above example could use some refactoring but general gist is you try to pass the original url to place you authenticate user (wether through login or though registration) and then redirect back at end.

[2017-06-01 14:51] stevenharman commented on #475
I'm currently looking into Doorkeeper + Devise for the Password Grant flow, and came across this issue (by way of [the Wiki page](https://github.com/doorkeeper-gem/doorkeeper/wiki/Using-Resource-Owner-Password-Credentials-flow). The problem seems to be that the suggested implementation stores a user in Session. Since this is all for a token-based authentication strategy, it seems to me we'd NOT wa

[2017-06-02 14:46] anthonylebrun commented on #943
I believe I had just had this happen to me. I think the solution may be to use a throw a custom exception rather than use NoMethodError and explicitly check via respond_to?(:generate). Happy to do a PR if I get the green light.

[2017-06-02 18:11] S-Cardenas opened #971 "NameError (uninitialized constant Mongoid::Relations::Cascading::DeleteAll):"
Hello,

I've been receiving the error below when trying to delete one of my applications from http://localhost:3000/api/v1/oauth/applications.

[code]

Here are the gems I am using that are pertinent to mongoid and rails:
[code]

This only happens when trying to 'destroy' an existing application from the UI.

Any help would be greatly appreciated.

[2017-06-03 02:20] S-Cardenas commented on #971
The problem stemmed from `gem 'doorkeeper-mongodb'` requiring `gem 'doorkeeper'` at version >= 4.00. A version of `gem 'doorkeeper'` greater than v3.1.0 has a `dependent: :delete_all` association (see doorkeeper/lib/doorkeeper/models/application_mixin.rb within the doorkeeper gem file). A cascading relation of `:delete_all` is not supported in any of version of Mongoid to date and raises the `Name

[2017-06-05 19:54] olbrich opened #973 "rails generate doorkeeper:install failing due to missing configuration"
While trying to install doorkeeper 4.2.6 into an existing Rails 5.0.1 application, I ran into the following problem:

[code]

[2017-06-06 19:20] #963 closed

[2017-06-07 09:27] nbulaj commented on #968
@maclover7 I think we need to fix it for Rails >= 5.0

[2017-06-08 09:34] kevinetore commented on #947
Is there any progress on this issue? I'm building a client application that implements a [Two-legged OAuth2](http://oauthbible.com/#oauth-2-two-legged) strategy. Because of the validation on the `redirect URI` I cannot do this. I could bypass this by adding a dummy URI like @Linuus mentioned but that seems a bit odd.

[2017-06-13 19:24] agrohmann commented on #973
same here

{code}
root@9a910e83d3ca:/app# rails --version
Rails 5.1.1
root@9a910e83d3ca:/app# ruby --version
ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-linux]
{code}

{code}
$ bundle install
...
$ rails generate doorkeeper:install
/usr/local/bundle/gems/doorkeeper-4.2.6/lib/doorkeeper/config.rb:18:in `configuration': Configuration for doorkeeper missing. Do you have doorkeeper initializer?

[2017-06-14 20:52] chrisblatchley opened #975 "Proof Key for Code Exchange (PKCE)"
Opening a discussion about implementing [PKCE](https://tools.ietf.org/html/rfc7636)

I have to implement it anyway, so I figured I'd start upstream and see if there's any specific thoughts from doorkeeper maintainers.

[2017-06-16 07:21] agrohmann commented on #973
On a complete fresh rails 5.1.1 ruby 2.4.1 app it works. Looks like the installation of doorkeeper fails for some reason on existing rails projects, maybe if some initializers, helpers, config from other gems exists already!?

[2017-06-16 12:39] nbulaj commented on #973
@agrohmann I have a Rails 5.1.1 application on Ruby 2.3 and there are no problems with Doorkeeper gem when trying to install it.

[code]
Installation:

[code]

[2017-06-19 02:32] Ninigi commented on #973
Had the same problem, looks like rails loads up `Doorkeeper::ApplicationController` which calls `Doorkeeper.configuration` which in turn will fail with `Doorkeeper::MissingConfiguration` if the config is not set.
In other words, the generator needs the config to exist to generate the config...

I don't know why this happens to some people, when it seems to work fine for others, but I worked around

[2017-06-19 07:21] nbulaj commented on #973
Maybe something was changed in Rails 5 for generators, need to see Rails changelogs

[2017-06-19 13:14] olbrich commented on #973
When I was experimenting with it, it worked fine on a brand new rails app, but failed when trying to install it on an existing one.  Perhaps there is another gem that is interacting.

[2017-06-21 08:26] nbulaj commented on #973
@olbrich could you please provide a Gemfile that was used when the problem occurs? As I said before, I can't reproduce the problem on my existing project.

[2017-06-22 06:36] NaixSpirit commented on #153
my solution

[code]

[2017-06-23 19:33] agrohmann commented on #973
@nbulaj
[code]

For an existing rails app i added doorkeeper and it fails.
For a fresh rails app it works fine.

Both using Rails 5.1.1 ruby 2.4.1p111.

Hope this helps to figure out the problem.

[2017-06-28 19:17] DmitryBash commented on #968
@nbulaj I correctly understood. You want to gsub in 'db/migrate/create_doorkeeper_tables.rb' version of migration?

[2017-06-28 19:45] nbulaj commented on #968
@DmitryBash yep, it is a possible solution - [gsub a migration](http://guides.rubyonrails.org/generators.html#gsub-file) from the generator (install action) by adding the version for later Rails.

[2017-06-29 10:21] DmitryBash commented on #968
@nbulaj https://github.com/doorkeeper-gem/doorkeeper/pull/977

[2017-07-06 19:19] sb8244 opened #978 "Question about `revoke_previous_refresh_token!`"
This is a discovery issue where I hope to learn more about revoke previous access token and specifically around an edge case that I am looking at for it. I might be missing it, but I didn't see it documented other than the original PR which indicates adding the migration and it being enabled. This led me to test how it worked locally and I'm seeing some behavior which I'm unsure of.

## Default re

[2017-07-06 20:38] sb8244 commented on #978
One thing I'm thinking about doing locally is storing an `originating_refresh_token` property on all access tokens. When created from a refresh token, it would store that refresh tokens `originating_refresh_token` or the `refresh_token` if the first is `nil`. This would give the ability to query for relevant access tokens that need revoked in a singular non-recursive query

[2017-07-07 19:55] sb8244 commented on #978
Here is some code to show the revocation strategy I am thinking about. I would be happy to produce a PR with this technique if desired.

[code]

[2017-07-12 18:30] maclover7 commented on #966
Hi @redtear1115! Best bet is to follow the NEWS.md file through all of the changes. Since you are migrating across almost three major version of Doorkeeper, you may have to run some manual database queries / do some awkward things to migrate. I recommend trying to Google around for different upgrading blog posts between major versions of Doorkeeper as a baseline. Best of luck with the upgrade!

[2017-07-12 18:30] #966 closed

[2017-07-13 13:38] akinrt commented on #968
@DmitryBash hi, thank you for your update for supporting rails 5 :)
i found several way to get the version from the code in rails.

[code]

https://github.com/rails/rails/blob/1729d3b4b2ea96becbb473c982a78d2cf957ce6d/activerecord/lib/active_record/migration.rb#L536-L538

https://github.com/rails/rails/blob/v5.0.0.beta1/activerecord%2Flib%2Factive_record%2Fmigration.rb#L502-L504

[2017-07-13 15:27] nbulaj commented on #971
So it is not a problem of doorkeeper gem, it is a problem of doorkeeper-mongodb. And the last one requires some fixes for `delete all` operation. Concerning doorkeeper gem (and problem dependence from it's version) - need to look at the models of this versions and `dependent` option.

[2017-07-20 03:18] jraczak opened #980 "NoMethodError in Doorkeeper::AuthorizationsController#new"
I've configured according to the documentation. I'm using Rails 5.1, `devise_token_auth`, and `doorkeeper`. When I hit the `oauth/authorize` endpoint (via Postman or browser), I get:

`NoMethodError in Doorkeeper::AuthorizationsController#new`

error triggered here:

[code]

I'm not sure what code would be helpful because config is in so many different places, but please tell me what would be help

[2017-07-23 23:17] maclover7 commented on #971
@S-Cardenas Are you sure `delete_all` is not supported in mongoid? I personally don't use it, but it looks like the method is referenced many times in the codebase, and there are even some [tests](https://github.com/mongodb/mongoid/blob/master/spec/mongoid/association/depending_spec.rb#L359) for it.

[2017-07-23 23:20] maclover7 commented on #980
@jraczak Can you please post the full error backtrace? Thanks!

[2017-07-23 23:22] maclover7 commented on #961
@ekampp Can you please provide more information about what you are trying to do? "Adding more information to the token" is a little vague. I _think_ overriding the action and calling `super` may work for you.

[2017-07-26 06:24] hiroshi commented on #971
https://github.com/mongodb/mongoid/blob/master/spec/mongoid/association/depending_spec.rb does not seem to exist on the current latest release v6.2.0
https://github.com/mongodb/mongoid/find/v6.2.0

https://jira.mongodb.org/browse/MONGOID-4442
It seems they will add `delete_all` for v7.0

[2017-07-27 00:50] hiroshi commented on #971
For Rails 5.x and mongoid 6.x users,
doorkeeper 3.1.0 cannot be used because it uses removed `before_action` for controllers.

doorkeeper introduced `dependent: :delete_all` in this commit: https://github.com/doorkeeper-gem/doorkeeper/commit/cc269ef052c0445662eda18623749d3ba67fb33d
v4.2.5 or later are affected.
Form https://rubygems.org/gems/doorkeeper, possible latest version of the gem is v4.2.0

[2017-07-27 04:46] S-Cardenas commented on #971
@maclover7 cascading `delete_all` is not supported for the original version of mongoid I was originally using (5.2.1).

[2017-07-27 16:37] maxtedford commented on #926
@maclover7, I see there are still a few unfinished maintenance items on your list. Are you still interested in some help knocking these out?

[2017-08-01 06:27] rsharrott commented on #975
@chrisblatchley Do you have a fork where you are working on this? I'd be willing to do some work on it as well.

[2017-08-01 14:21] chrisblatchley commented on #975
@rsharrott https://github.com/chrisblatchley/doorkeeper/tree/pkce-updates. i can add you as a contributor

[2017-08-02 08:51] rsharrott commented on #975
Please do! I reviewed your commit: https://github.com/chrisblatchley/doorkeeper/commit/60e8502725b30807645905b6c941f114bc229f78. Looks like you are pretty far along.

I was thinking that since plain is not suggested, I could add a config to allow it if needed, but default to off.

[2017-08-02 13:46] chrisblatchley commented on #975
@rsharrott the main issues i'm curious about is making sure this feature can be upgraded to safely from existing doorkeeper installs, and then making sure the design is appropriate for doorkeeper maintainers' preferences.

[2017-08-03 01:07] jraczak commented on #980
@maclover7 Thanks for the quick reply and really sorry for the delay, I missed the notification email. Here's the trace.

[code]

[2017-08-09 20:31] mdebo opened #983 "Token are always persisted in database (JWT)"
Hi
Thank you for your usefull work!
I'm using Dookeeper and JWT. So i use your gem combine with doorkeeper-jwt.
As I use JWT, I don't want to persist token in database. In fact, JWT gives the advantage of not needing to check the token in a db every time since you can just use cryptography to verify that the token is legitimate. I dont want to lose this benefit...
So, there is an option to tell do

[2017-08-10 12:53] nbulaj commented on #983
Hi @mdebo. Currently, that is impossible as far as I know. Every token is saved to the database. It is required to change some core architecture of the doorkeeper gem to implement such a functionality. You are very welcome with the PR if you want.

[2017-08-18 15:00] f3ndot commented on #980
I'm also encountering this issue in Rails 5.1.3.

It appears AuthorizationsController spec is missing the `authorization_code` grant flow test case.

I'll investigate further and see if I can put up a PR

[2017-08-18 16:55] f3ndot commented on #980
@jraczak so it looks like its assumed in Doorkeeper that `GET /oauth/authorize` is called under the assumption that `current_resource_owner` is set. It makes sense that this route is meant to render an HTML view to prompt the user approval/denial of the OAuth app wanting to connect to it.

Per the README, make sure you define in your initializer the `resource_owner_authenticator` block so Doorkeep

[2017-08-22 08:00] jannelukkari opened #984 "Is there Digest support for Doorkeeper Client Credentials Authentication"
Is there any plans for digest support to https://github.com/doorkeeper-gem/doorkeeper/wiki/Client-Credentials-flow

[2017-08-23 09:28] jiggneshhgohel commented on #383
@kenn Thanks for bringing this up and getting this reuse_access_token feature implemented. I am in 100% agreement to all your points you have and which I have quoted below:

And using adding `reuse_access_token` option (which by default is disabled) to `Doorkeeper.configure` block resolved the issue I had.

In case anybody ending up here wants to know about the background of the scenario I have cr

[2017-08-23 09:35] jiggneshhgohel commented on #383
BTW I really think there should be section in wiki about all the options supported with their usage purpose with a brief background.

I couldn't find any detail regarding using `reuse_access_token` in the wiki and after going through this issue and the related PR #387 changes I found that there is already this option available in default generated `Doorkeeper.configure` block

[code]

but I couldn

[2017-08-23 20:13] nbulaj commented on #984
@jaluke take a look at [this answer](https://security.stackexchange.com/a/49544):

Do you really need http digest authentication ?

[2017-08-25 21:49] jonhue opened #986 "Incremental Authorization? & Sandbox?"
Google's [Incremental Authorization](https://developers.google.com/identity/protocols/OAuth2WebServer#incrementalAuth)

Is it possible to retrieve the scopes for a given combination of app & user to build every future interaction between those parties upon that?

---

In addition, I updated the migration file to further include some sandbox credentials:

[code]

Am I able to generate these togethe

[2017-08-26 11:39] jonhue opened #987 "Doorkeeper::Application objects don't have an id"
After creating a new application it's `id` is always set to `nil`. I even tried to override the application model and generate a custom unique id before creation. That did not help.

This circumstance makes it harder to associate other records.

[2017-08-26 11:54] #987 closed

[2017-08-28 19:57] jw3 opened #988 "Client credentials grant with use_refresh_token config"
Pretty much the same question and background as #942.

If I request a `client_credentials` grant with `use_refresh_token` enabled in the config, why wouldn't a refresh token be issued?

I see [in the code](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/oauth/client_credentials/issuer.rb#L33) why you don't get the refresh token, but I can't pick out in [the spec](https://to

[2017-08-29 19:15] paulofabiano opened #989 "Scopes as /authorize scope param not persisted."
Hi, guys!

I am passing my scopes by GET param on /authorize and I am getting: An error has occurred
The requested scope is invalid, unknown, or malformed.

I am using the format: ...&scope=read

Why is this happening?

Another question: When passed by GET param, is this stores in access tokens table or access grants table?

Thanks

[2017-08-30 14:13] #989 closed

[2017-09-12 13:21] jaluke commented on #984
I would prefer solution which do not transfer secrets. This why SSL + digest (ish) would be my goal. SSL usually terminates before application server so its a security enhancement to current client credential as well.

[2017-09-12 16:01] ideaoforder commented on #887
I'm actually having this same issue. How did you end up solving this @eebasadre?

[2017-09-12 18:50] sb8244 commented on #978
Is anyone aware of pitfalls of this approach?

[2017-09-15 22:36] ccastaneda13 opened #991 "Multiple clients for the same resource owner and reuse_access_token"
This is pretty much a follow up to #191. Is there a way to have multiple devices use the same access_token and then both devices get the new access and refresh token pair on a refresh? Or do I need to remove the reuse_access_token flag if I have owners with multiple devices? Thanks!

[2017-09-26 00:43] homanchou commented on #973
I also get this error on an existing Rails 4.2.8 app, Ruby 2.3.1

[2017-09-29 18:17] agoodno commented on #934
Thanks!

[2017-09-29 18:17] #934 closed

[2017-10-05 06:30] Charizard commented on #943
Same here 👍

[2017-10-05 07:59] MCodyB commented on #963
Granted the fix is easy enough but shouldn't this remain an open issue until it's fixed? If only so you can search it from the open issues.

[2017-10-10 16:11] cickes commented on #975
Nice work on this.

I see branch: https://github.com/chrisblatchley/doorkeeper/tree/pkce-updates
with open PR https://github.com/chrisblatchley/doorkeeper/pull/1 with a `moneytree` branch also with open PR https://github.com/moneytree/doorkeeper/pull/17

Is this still in progress of development?  How can I help?

[2017-10-12 10:07] cw6365 opened #993 "Personal Access Tokens?"
I have added the Authorisation code flow for third party apps, and also the Resource Owner Password Credentials flow for clients that we own, ie website & iphone app.

What i'm struggling to work out is what flow i use for Personal Access Tokens? Where the client is using the API direct as the resource owner but doesn't want to send their username and password. This doesn't seem to be the Client C

[2017-10-16 00:37] maclover7 commented on #960
Closing since issue was resolved.

[2017-10-16 00:37] #960 closed

[2017-10-16 13:07] johnnyshields commented on #651
This should be possible without introducing an intermediate model as @thibaudgg has done; AccessToken.resource_owner itself can be made polymorphic and this can be done in a backwards compatible way (will require a migration to ensure AccessToken.resource_owner_type is properly set in the DB). Our team will make a PR.

[2017-10-16 14:21] johnnyshields commented on #651
Investigated this further. At least in MongoDB where primary keys are GUIDs (guaranteed to be unique across tables), it is not necessary to introduce a polymorphic relation. I solved this as follows:

[code]

If you want to use the same controller you could introduce a param as suggested above.

[2017-10-17 22:47] jfly opened #994 "What's the right way to set up doorkeeper with i18n?"
We have this issue (https://github.com/thewca/worldcubeassociation.org/issues/1939) in our project where doorkeeper's responses are not respecting the user's locale.

To support I18n, we added we've added a `set_locale` method  in our ` ApplicationController` to set `I18n.locale` whenever a request comes in (as per the directions on http://guides.rubyonrails.org/i18n.html#managing-the-locale-acros

[2017-10-23 12:56] wonderphil opened #995 "Faraday::TimeoutError (Net::ReadTimeout)"
Hi guys,

I have been following the readme and doing the "Testing your provider with OAuth2 gem"

I am running rails 5.1.4, ruby 2.4.1 and doorkeeper gem 4.2.6.

I am having issues trying to do what is done in the testing wiki in code

My sessions controller:

[code]

So as a user i log in, I authorize the app and then it times out and I get the following log for the whole flow:

[code]

Cant for

[2017-10-23 20:35] wonderphil commented on #995
so seems to be an issue only when using puma.  Started using pow and it works

[2017-10-24 10:41] #995 closed

[2017-10-26 10:46] GeminPatel opened #996 "Expiration Time Base On Grant Type"
**Feature:** To provide different expiration to tokens based on different grant type.

**Why?:** We may want different expiration time for client_credentials, password, and implicit. Password tokens may have 1 hr of expiry while Client Credential token may have 1 day of expiry.

Do you guys think this is possible/feasible feature to implement?

_PS: We may also keep these expiry times per client i

[2017-10-26 19:00] nbulaj commented on #994
Hi @jfly . How do you know what locale to use in case of API? I saw [your example](https://github.com/thewca/worldcubeassociation.org/issues/1939#issue-258366981) and as far as I see it will use default locale.

Btw, currently you can use only some workaround, for example patch `Doorkeeper::ApplicationMetalController` somewhere in initializer. The proper way is to make this controller configurable

[2017-10-27 06:12] kapilmittal commented on #996
+1 for this feature.
I also need to provide short lived user tokens and relatively long lived client tokens in my oauth app.

Would you guys be interested in a PR for the same?

[2017-10-27 19:07] jfly commented on #994
Haha, that's an excellent question. When I filed this issue, I wasn't thinking about the fact that the user is not logged in yet. I guess the best we can do here is at least always return the error message in English. In order to accomplish that, I guess we should patch `Doorkeeper::ApplicationMetalController` as you suggest?

[2017-10-28 16:12] nbulaj commented on #994
@jfly anyway, you have an error info in the JSON response (I mean "_invalid_grant_" type), so can't you use it to show your localized error? I don't know tech specs of your project, but I think it is not a problem both for backend or frontend app.

Btw yes, you can try to patch `Doorkeeper::ApplicationMetalController` if you know how to handle locales at that level :)

[2017-11-08 08:41] rsharrott commented on #975
@cickes I updated our PR to have the full implementation for review. Please let me know what I need to do to get in ready for adding to the mainline.

[2017-11-09 15:46] lefty313 opened #999 "Secret token for public client using authorization code grant"
as stated in https://tools.ietf.org/html/draft-ietf-oauth-native-apps-12#section-8.5

[code]

is there a plan to allow `authorization code grant` without `client_secret` for `public clients` ?

Right now generating `access_token` without `secret_code` returns `401`

[code]

[2017-11-16 03:39] schoetlr opened #1000 "invalid issue"

[2017-11-16 10:25] kevinetore commented on #887
@ideaoforder Did you fix this? I'm having the exact same issue.

[2017-11-16 15:46] lefty313 commented on #999
I could work on it in my free time but first I need to know maintainer opinion ;)

[2017-11-22 11:03] Exelord commented on #941
Any news here? :)

[2017-11-22 18:50] f3ndot commented on #695
For those who are googling, the wiki page is **[Customizing routes](https://github.com/doorkeeper-gem/doorkeeper/wiki/Customizing-routes)**

[2017-11-26 11:47] nbulaj commented on #1000
I think you need to close the issue, @schoetlr

[2017-11-27 09:12] kapilmittal commented on #999
You should use Implicit grant flow for public clients. The implicit grant type is used for mobile apps and web applications, where the client secret confidentiality is not guaranteed.

Authorization code flow is meant for non public clients where client_secret confidentiality can be maintained.

[2017-11-27 09:40] kapilmittal opened #1002 "Bug: Able to get default scopes in the token even if they are not present in the application scopes using password grant type"
When grant type is 'password' and application scopes are present:
     1.  when scope parameter is not present in the /oauth/token api then this api is giving token with default scopes (for exp. 'public' scope) even if 'public' scope is not present in the application scopes.
     2. when scope parameter is present in the api and its value is 'public' then it gives following error:
         {

[2017-11-28 14:00] lefty313 commented on #999
nope not really

https://tools.ietf.org/html/draft-ietf-oauth-native-apps-12#page-11

[code]

[2017-12-04 19:30] tabish-saleem-nxb opened #1005 "doorkeeper 4.0.0 & grape-doorkeeper 0.0.2 support (for runtime dependency)"
Hi,
I am facing below issue while trying to upgrade doorkeeper version from 1.4.0 to 4.0.0 in gemspec file (i.e runtime dependency):
grape-doorkeeper (> 0.0.2) was resolved to 0.0.2, which depends on
doorkeeper (> 1.4.0)

Can anyone help me please how can I upgrade doorkeeper version with grape-doorkeeper?

[2017-12-06 01:32] #1000 closed

[2017-12-07 10:28] zosiakropka commented on #768
I can see the same issue. I have Rails v. 4.2.9, doorkeeper v. 1.4.2.
Stacktrace: https://gist.github.com/zosiakropka/a26987adb808bbe3ac862f32aaf83232

[2017-12-09 08:05] kueda opened #1006 "Customize unauthorized response to failed resource_owner_from_credentials"
When using the Resource Owner Password Credentials flow, it would be helpful if we could customized the JSON response to `POST /oauth/token`. For example, we might want to tell the client that the password was wrong, or the user has been suspended, or something else unique to the user requesting the token. I don't think the approach described at https://github.com/doorkeeper-gem/doorkeeper/wiki/Cu

[2017-12-19 09:44] fschwahn opened #1007 "Improve documentation around foreign keys"
In the readme there's the suggestion to add a foreign key on all tables with `resource_owner_id`-columns, however there's no note that this will make it impossible to destroy that record without adding an association with a dependent option (because a `ActiveRecord::InvalidForeignKey`-exception will be raised). This is easy to forget if it is mentioned nowhere. I think the README should be expande

[2017-12-22 19:19] aurelienshz opened #1008 "Superapp (Whitelisted application): is a PR welcome?"
TL;DR: would you like a PR for an actual implementation of the whitelisted (aka trusted) application feature?

Hi there!

I feel like the superapp / whitelisted application, allowing to skip the authorization step when a user authorizes the application, is a very useful feature when dogfooding your own API with your own client. It is one of the things that make people (especially OAuth newcomers)

[2017-12-28 15:40] chadwilken commented on #967
I think you want [this](https://github.com/doorkeeper-gem/doorkeeper/wiki/Customizing-Token-Response)

[2018-01-03 01:19] talklittle opened #1009 "Enforce scopes when creating/updating applications"
Followup to #896

Doorkeeper should enforce the scopes when creating/editing registered applications via `/oauth/applications/new` and `/oauth/applications/123/edit`.

Currently it is possible to enter nonexistent scopes (like "blahblah") when creating/editing an application, and those scopes will be used in the authorization step. When authorizing to the application, the `/oauth/authorize` page s

[2018-01-03 04:50] beeplove opened #1011 "token/info can be accessed without applicationId/clientId/uid"
[doorkeeper-4.2.6]

It's possible to access /token/info without applicationId/clientId/uid. Should authentication server expose data (such as: resource_owner_id, scopes, uid) related to token without additional reference such as clientId and/or secret pair?

[2018-01-03 19:29] KidA001 opened #1012 "Set scopes per controller - Documentation shows doorkeeper_for which is deprecated"
In my current application I have two scopes, `user` and `admin`. In the documentation for setting scopes in your API it shows
[code]

I don't want to call doorkeeper in every controller, so in our ApplicationController
[code]

but I don't want to give `:project` access to every controller. Is there a way for me to allow `user` in our application controller `before_action { doorkeeper_authorize! :u

[2018-01-04 09:46] ragulka opened #1013 "redirect_uri is not properly decoded when requesting token"
I'm trying to implement the Authorization Code Grant, and am getting stuck in the last step, where I want to exchange the authorization code for an access token. I've tracked the issue down to the fact that the redirect_uri is not being url-decoded before being compared to the `grant.redirect_uri` [here](https://github.com/doorkeeper-gem/doorkeeper/blob/414fad1cb92bcd904288c3223d92930b3f2ab82f/lib

[2018-01-05 13:42] dhyegofernando commented on #561
@itskingori I found a new way to do that

*Create a file in `config/initializers/doorkeeper/password_strategy_client_validator.rb`*
[code]

[2018-01-11 08:36] belgoros opened #1014 "Directly inheriting from ActiveRecord::Migration is not supported"
When using Rails `5.1.4` in a Rails API application, the following error happens when running the doorkeeper migration:
[code]
Here is the generated migration:
[code]
After modifying as below, it worked:
[code]

[2018-01-12 10:45] belgoros opened #1015 "[README] respond_to :json genartes undefined method `respond_to'"
When using the option `respond_to    :json` in the ApplicationController, I got the below error:
[code]
I'm using Rails `5.1.4` version.

Here is the content of the generated `ApplicationController`:
[code]

[2018-01-12 12:03] belgoros commented on #879
So if I'm not mistaken, I have to change in my routes as follows:
[code]
Right ? What kind of controller should I set as `base_controller` in `doorkeeper.rb`:
[code]
takin in account that in Rails API `ApplicationController` is inherited from `ActionController::API`?

[2018-01-17 13:32] arjun9 opened #1017 "Doorkeeper::Config.option -- what is the intended purpose ? for it to be private or public"
Removed  **extended**
   def extended(base)
      base.send(:private, :option)
   end
from **Doorkeeper::Config**, and none of the tests fail.
What was the intended purpose for *option* ?

[2018-01-22 12:00] belgoros opened #1020 "Doorkeeper::TokensController#create raises 401 Unauthorized"
I tried to authorize a User to access `TasksController` as described in Railscasts [353](http://railscasts.com/episodes/353-oauth-with-doorkeeper?view=asciicast) by adapting it to Rails 5 as follows:

- [doorkeeper-api](https://github.com/belgoros/doorkeeper-api)
- [oauth-client](https://github.com/belgoros/oauth-client)

In the console of doorkeeper-api, it seems like the grant code was issued an

[2018-01-22 13:39] belgoros commented on #1020
I figured out what was the error, my bad :)

[2018-01-22 13:39] #1020 closed

[2018-01-23 15:01] lefty313 commented on #999
bump @tute @maclover7 @piotrj

[2018-01-24 14:14] nbulaj commented on #1015
Add [responders](https://github.com/plataformatec/responders) gem to your `Gemfile`

[2018-01-24 14:16] nbulaj commented on #1014
It was fixed somewhere in latest PRs, but current maintainer @maclover7 seems to be not interested in project anymore :(

[2018-01-24 14:16] belgoros commented on #1015
@nbulaj , OK, didn't know that, thank you.

[2018-01-24 14:16] #1015 closed

[2018-01-24 14:20] belgoros commented on #1014
@nbulaj [this one](https://github.com/doorkeeper-gem/doorkeeper/pull/985), I suppose, but it has not been merged yet :(

[2018-01-24 14:20] nbulaj opened #1021 "Gem is not maintained anymore?"
Hi @maclover7. I tried to connect you multiple times, but got no answer. What is the current gem status? Does you plan to support it or you need some help to work on issues / PRs ?

[2018-01-24 14:23] nbulaj commented on #1014
Yep, this one. I created a new issue #1021, don't sure maintainer still works on this gem - I can't get any answer from him for my offer of help (I worked on some Doorkeeper features in the past). So don't sure how fast it will be merged and released.

[2018-01-24 14:24] belgoros commented on #1014
OK, no worries. Double of https://github.com/doorkeeper-gem/doorkeeper/pull/985

[2018-01-24 14:24] #1014 closed

[2018-01-24 14:29] nbulaj commented on #1011
It is possible, but what is the purpose?

[2018-01-24 14:33] jasl commented on #1021
If has enough time we could fork the gem and give a little refinement, `request` and `response` handler of OAuth flows seems a bit complicated.

[2018-01-24 14:38] jasl commented on #1021
I was a committer, but since @tute set members require enable 2FA, I was removed by Github

[2018-01-24 14:40] nbulaj commented on #1021
@jasl I was trying to connect with current maintainer, even by @tute, but unfortunately no results :(

[2018-01-24 14:47] jasl commented on #1021
hmm... If long time no response, I think someone can fork one like cancancan does, I'm still using doorkeeper and this is the only out-of-box solution.

[2018-01-24 14:48] jasl commented on #1021
but I'm focusing on other works, don't have enough time to refine doorkeeper.

[2018-01-24 18:38] godinezb commented on #729
Bumping into the same error when using use_doorkeeper on my routes file:

If I try to go for:
`mount Doorkeeper::Engine => "/oauth"`
I get the error:

gem 'rails', '~> 5.0.2'
gem 'doorkeeper', '4.2.5'

My application isn't api only.

[2018-01-24 18:40] tute commented on #1021
Better to find someone who can maintain it well here, and keep the community. @nbulaj sorry I wasn't very responsive. I'll try to be more present, albeit with delay, as I'm still on a trip and sometimes I have no internet connection for days.

@nbulaj what are the next issues/PRs you'd like to work on? Thank you.

[2018-01-25 02:16] aurelienshz commented on #1021
Hooking up to the train to ask for your opinion on #1008. Just tell me whether you want Doorkeeper to go this direction or if you feel like this falls out of scope of the project, and we'll have one less issue and maybe one more PR :)

[2018-01-25 13:52] lefty313 commented on #1021
I'm waiting for simple response since 19.11.2017 so imo sadly it's not maintained anymore.

https://github.com/doorkeeper-gem/doorkeeper/issues/999

[2018-01-25 14:02] nbulaj commented on #1021
@tute as I said before, gem dependencies must be updated. Fixes for Rails >5 migrations must be merged (as you can see from the previous messages of the thread). Some small fixes also can be merged. Additional features like PKCE need some exploration. Token data improvements are also can be merged. And so on.

[2018-01-25 14:55] tute commented on #1021
Thanks for your patience, @nbulaj. Are you willing to step up as maintainer, so we start doing small fixes and a first patch release (update gem dependencies, Rails >5 migrations, other small fixes)? Then we shall discuss other features. If you'd like, make sure you have 2FA enabled in GitHub, and I will add you. Thanks!

[2018-01-26 07:26] nbulaj commented on #1021
@tute yep, I can help with some PRs and issues in my free time. Many great projects depends from this gem, so we can't abandon it :) If my help would be useful, then I'm ready

[2018-01-26 13:36] tute commented on #1021
Invite to collaborate on GitHub sent. 👍

[2018-01-26 17:34] #951 closed

[2018-01-26 17:55] nbulaj commented on #1021
@tute thanx! Closing due to resolving this issue :)

[2018-01-26 17:55] #1021 closed

[2018-01-26 20:26] nbulaj commented on #710
Hi @rngtng . Any progress there?

[2018-01-26 20:27] nbulaj commented on #994
@jfly closing this issue. If it is still a problem - let me know.

[2018-01-26 20:27] #994 closed

[2018-01-26 20:31] nbulaj commented on #1005
Hi @tabish-saleem-nxb . I think you need to ask the maintainer of [grape-doorkeeper](https://github.com/sethherr/grape-doorkeeper) gem. Upgrading from `1.4.0` to `4.0.0` can be painful - to many major versions increased. As I can see, (this gem)[https://rubygems.org/gems/grape-doorkeeper] was updated in 2014, so it is not maintained anymore. All I can suggest you is to fork it and try to implement

[2018-01-26 20:33] nbulaj commented on #1007
Hi @fschwahn. Would you like to submit a PR ?

[2018-01-27 09:04] #1005 closed

[2018-01-27 11:34] nbulaj commented on #1017
Hi @arjun9 . What is the issue? `option` is used to define Doorkeeper options, you can see them [there](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/config.rb#L236-L249). `extended` hook is just a legacy, that still in master because of 6 years ago [refactoring](https://github.com/doorkeeper-gem/doorkeeper/commit/f9bab6fef4960e137f319435b4fe5ec42f6bd577).

[2018-01-27 11:39] #1017 closed

[2018-01-27 12:47] arjun9 commented on #1017
Hi @nbulaj ,
[code]
doesn't actually extend option method as a **private** class method in class Config.
I commented out this code and ran Doorkeeper tests and there were no test cases failing - stating that this snippet of code is not actually being used anywhere.

I extended - option method-  as a **private** method in class Config which led to tests failing.

I found this snippet a little misle

[2018-01-27 13:57] nbulaj commented on #1017
It's because somebody forgot about `self.extended`, not just `extended`. I think it was done during the [refactoring 6 years ago](https://github.com/doorkeeper-gem/doorkeeper/commit/f9bab6fef4960e137f319435b4fe5ec42f6bd577). I will take a look at it closer soon, thanks.

[2018-01-27 14:13] nbulaj commented on #1008
Hi @aurelienshz . What is the problem with some boolean field for `oauth_applications` and checking it in the `skip_authorization` hook ? Or you just want to have this feature (checkbox) in Doorkeeper "admin" panel?

First of all, it is not the prat of the OAuth2 framework. Btw, Doorkeeper is more than just OAuth2 framework :) But such functionality must be highly secured and can be activated only

[2018-01-27 14:25] nbulaj commented on #980
Hi @f3ndot . Thanks for research :)

@jraczak did you solve your problem? If not, could you provide your doorkeeper initializer ?

[2018-01-27 14:34] nbulaj commented on #967
Hi @rasheedhamdawi . If you want to provide more info with the token response, then you need to extend it like @chadwilken said.

[2018-01-27 18:18] jfly commented on #994
Nah, this is not a big deal, thanks!

[2018-01-27 19:25] aurelienshz commented on #1008
Hi @nbulaj !
There is no problem with a boolean field for `oauth_applications`, it's exactly how I implemented it. The trickiest part was about adding it to the admin panel, because you have to monkeypatch the [`application_params`](https://github.com/doorkeeper-gem/doorkeeper/blob/master/app/controllers/doorkeeper/applications_controller.rb#L50) method to allow the `:whitelisted` parameter (and a

[2018-01-27 19:25] #1008 closed

[2018-01-28 12:27] nbulaj commented on #952
Hi @zeitnot . doorkeeper model mixins must be uniq for all the ORM extensions, that is the current problem of this gems (they use AR mixin for their own models :\ )

[2018-01-28 12:33] nbulaj commented on #952
It's the common problem with #971, it requires `doorkeeper-mongodb` core refactoring. Can you please address this issue to  `doorkeeper-mongodb` tracker? Thanks!

[2018-01-28 12:33] #952 closed

[2018-01-28 12:38] nbulaj commented on #1021
Hi @tute. Can you please give me an access to [doorkeeper-mongodb](https://github.com/doorkeeper-gem/doorkeeper-mongodb) repo? I think it also needs maintainer because I found many issues / PRs connected with this gem, so it also requires some work to do.

What about `doorkeeper` - some work already done, we have fixes for deps and other issues, also small new changes, but I'm waiting for a few PR

[2018-01-28 14:27] tute commented on #1021
Granted to `doorkeeper-mongodb`. Ping me when publishing, I'll review the changes and publish the release when I see. :-)

[2018-01-29 11:00] lefty313 commented on #999
@nbulaj just because you are new maintainer ;)

[2018-01-29 13:15] prcongithub commented on #879
Is this resolved? I am facing a similar issue.

[2018-01-29 13:24] nbulaj commented on #879
@prcongithub nope, it is not implemented yet. We have two PRs with implementation for Rails API, but they need some exploration and work.

[2018-01-29 13:29] nbulaj commented on #1021
Hi @tute. I totally refactored `doorkeeper-mongodb` in order to work with latest Doorkeeper versions and last Mongoid 6, but faced a small issue: I wanna to bump  `doorkeeper-mongodb` dependency version to Doorkeeper 4, but it's depends from Rails >= 4.2. Mongomapper is not maintained actively, and it depends from `active_model` >= 3.0.0 (https://rubygems.org/gems/mongo_mapper). So I need to drop

[2018-01-29 15:36] tute commented on #1021
You should only use my opinion as one opinion, as you are the user and
maintainer and will know better. It sounds fine to me to drop support for
older version, especially if there are older combinations that continue to
work securely for applications that depend on those versions.

On Monday, January 29, 2018, Nikita Bulai <notifications@github.com> wrote:

[2018-01-31 05:07] sb8244 commented on #978
For anyone who comes along, this is most certainly not a good idea. Feel free to ping me over email with any questions.

[2018-01-31 05:07] #978 closed

[2018-01-31 09:30] rngtng commented on #710
@nbulaj no sorry. We actually moved away from ruby for oauth2. It’s a dead end. Looking into https://github.com/ory/hydra instead

[2018-01-31 09:30] #710 closed

[2018-01-31 11:24] nbulaj commented on #1021
Hi @tute. I updated `doorkeeper-mongodb` gem and now it supports Doorkeeper 4, have it's own mixins instead of buggy ActiveRecord, supports Mongoid 4-7 and MongoMapper (yep, I did it even for 5.1 Rails :) ), tested against Ruby 2.1 - 2.5 and Rails 4.2 - 5.2rc1 (see Travis), and so on. It closes many issues and PRs for this gem. Test are green for all the matrix with current Dorrkepeer specs.

I th

[2018-01-31 14:08] nbulaj commented on #1021
Also @tute, I think we are ready to publish a new release of Doorkeeper (4.3.0), as many of the fixes and proposals was ,merged, the same as dependencies updated and so on. You can check NEWS.md to see more info.

[2018-01-31 19:22] nbulaj commented on #999
Hi @lefty313 . I will take a look at this a little bit later, currently I have some work to do

[2018-01-31 19:23] lefty313 commented on #999
@nbulaj no problem take your time I wont bump it again ;)

[2018-01-31 22:43] tute commented on #1021
I don’t have access to https://rubygems.org/gems/doorkeeper-mongodb
<https://rubygems.org/gems/doorkeeper-mongodb/versions/3.0.0>, looks like
only @jasl has.

As of doorkeeper main, when I have access to my computer I’ll try! It may
take weeks though (it has sudden shutdowns during my long trip, can’t fix
it here and it works randomly). If it’s too long you may try other authors
listed in https://

[2018-01-31 22:44] tute commented on #1021
Congrats on all the great work you list!

On Wednesday, January 31, 2018, Nikita Bulai <notifications@github.com>
wrote:

[2018-02-01 02:19] jasl commented on #1021
@tute @nbulaj strange, the owner of [doorkeeper-mongodb](https://rubygems.org/gems/doorkeeper-mongodb) is @dazzi, I don't remember I had transferred the ownership.

[2018-02-01 13:46] nbulaj commented on #949
Merged in df6ddc9 . Report if you have any problems with this

[2018-02-01 13:46] #949 closed

[2018-02-01 13:47] nbulaj commented on #953
Fixed in df6ddc9. Reopen if the problem is saved.

[2018-02-02 11:08] Dev-Crea commented on #1021
Hi, i pushed doorkeeper-mongodb gem to rubygems because isn't present (just with git).

I adding @jasl to owners

[2018-02-02 11:25] nbulaj commented on #1021
Hi @jasl. I think we can publish a new release to Rubygems. You or @Dev-Crea can give me permissions to do it myself if you has no time for it.

[2018-02-02 13:49] Dev-Crea commented on #1021
Hi @nbulaj
send me to email accout to rubygem

[2018-02-02 14:00] nbulaj commented on #1021
@Dev-Crea sent to your dazzl.tv account, is it ok or I need to use another one?

[2018-02-02 14:17] Dev-Crea commented on #1021
@nbulaj  ok i update owners  list

[2018-02-02 16:24] nbulaj commented on #1012
Hi @KidA001. How about to define method in `ApplicationController `like

[code]

And use it in `before_action` block?

[code]

Then you can override this method in any controller to change scopes.

[2018-02-02 16:28] nbulaj commented on #1011
@beeplove take a look at the https://tools.ietf.org/html/rfc7662 ( OAuth 2.0 Token Introspection). Token info endpoint is something similar (but master now has a new endpoint for this). To get access token info you need to provide some authorization info as standard requires to.

[2018-02-02 16:45] nbulaj commented on #986
Hi @jonhue .

1) ...

2) You need to `class_eval` `Doorkeeper::AccessToken` somewhere in initializers and add a `before_create` hook like:

[code]

Don't sure how it can help you, but ... What about using `sandbox: true` - no, this feature is unavailable.

3) You need just to call .application [for the access token](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/models/acc

[2018-02-02 16:51] nbulaj commented on #955
Hi @OndrejPontes. Does @moger777 solution solves your problem?

[2018-02-02 16:55] nbulaj commented on #946
Hi @thiagoneves. What do you mean by _some resources_: controllers, models, etc?

You can enable only `client_credentials` grant flow and you application will be able to work only with this strategy.

[2018-02-02 18:26] beeplove commented on #1011
That's awesome @nbulaj, Thanks for taking this into consideration and adding endpoint for introspect. I'm sure this will be very useful!

[2018-02-02 19:32] #1011 closed

[2018-02-02 19:53] nbulaj commented on #1007
Impoved via #1025

[2018-02-02 19:53] #1007 closed

[2018-02-02 19:56] nbulaj commented on #955
Ok, so currently I'm closing this issue (because there is no bug), but remind myself to add a new Wiki page :)

[2018-02-02 19:56] #955 closed

[2018-02-02 20:38] OndrejPontes commented on #955
:D

Dňa 2.2.2018 20:56 používateľ "Nikita Bulai" <notifications@github.com>
napísal:

Ok, so currently I'm closing this issue (because there is no bug), but
remind myself to add a new Wiki page :)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/doorkeeper-gem/doorkeeper/issues/955#issuecomment-362690008>,
or mute the thread

[2018-02-02 22:51] #943 closed

[2018-02-03 14:08] nbulaj commented on #918
Hi @pointcom. Currently it is impossible. To implement this functionality, Doorkeeper config option for token TTL must be changed to support not on;y integers, but also blocks. And that blocks must receive grant type from somewhere during Access Token creation...

Would you like to submit a PR ?

[2018-02-03 21:57] #913 closed

[2018-02-03 22:13] nbulaj commented on #913
Thanks @hidde-jan , fixed!

[2018-02-04 17:08] nbulaj commented on #947
Hi @Linuus. Does it correspond to the OAuth2 RFC ?

[2018-02-04 17:14] nbulaj commented on #1013
Hi @ragulka . Can you please provide me a small app example with this issue ? Is the problem exist in process of validation or in some other case? Sorry, don't have enough time to research on this :(

[2018-02-04 20:20] nbulaj commented on #919
Hi @cickes . Curently it is impossible (i.e no special option or method), maybe only if you will patch Doorkeeper response object. You can try to implement it yourself with some `proc` option in doorkeeper config for token response and send a PR.

[2018-02-04 20:20] #919 closed

[2018-02-04 20:24] nbulaj commented on #973
@homanchou @olbrich @agrohmann @Ninigi there is a fix for Doorkeeper already in master for deffered loading of AR models. Who knows, maybe some initializer in existing project caused an error by triggering some AR features. Can anybody try current master to test if this issue still exists??

[2018-02-04 21:16] nbulaj commented on #1021
Hi @tute. I think it would be great if you will give me permissions for doorkeeper-i18n repo - there are also many PRs to review & merge.

[2018-02-05 02:50] tute commented on #1021
Done 👌🏼

On Sunday, February 4, 2018, Nikita Bulai <notifications@github.com> wrote:

[2018-02-05 14:53] nbulaj commented on #983
As it requires to change core Doorkeeper methods, feel free to send a PR @mdebo . Maybe it can be solved with some "NULL-orm" that will ignore DB and store / find only some structs based on decoded JWT.

[2018-02-05 14:53] #983 closed

[2018-02-05 16:55] ragulka commented on #1013
@nbulaj I'm simply getting this response to the `POST /oauth/token` request:

[code]

I don't have time to put together a sample app, but if you send a request to `/oauth/token` with `redirect_uri=http%3a%2f%2fmysite.com%3fauth%3dcallback`, you'll get the same response.

My knowledge of RoR is rather shallow, but it looks like the comparison is done [here](https://github.com/doorkeeper-gem/doorkee

[2018-02-07 13:54] travisofthenorth commented on #667
@tute has there been any thought/work to this end in the past few years? I have had a few use cases where I've wanted to do custom pre-auth, custom validations for token refresh, etc. The easiest solution has always been to monkey-patch various Doorkeeper classes which is unfortunate. It would be amazing to be able to hook into these in a safer way, and I'm happy to try to throw something together

[2018-02-07 15:14] nbulaj commented on #667
Hi @travisofthenorth . I think we can't produce so much callbacks or hooks to allow customize every aspect of authorization process. By the way, I think that monkey-patching is a wrong way, and I agree with you about necessity of some custom callbacks. More of that, I'm planning to introduce some because we already have many requests for it. Don't sure when it would be, and also I'm only collabora

[2018-02-07 17:05] nbulaj commented on #961
Hi @ekampp. Any news here?

[2018-02-07 17:08] nbulaj commented on #947
As I can see [redirect_uri can be blank](https://tools.ietf.org/html/rfc6749#section-4.1.1). So we need to see what we can do on Doorkeeper side

[2018-02-07 18:36] Linuus commented on #947
@nbulaj Sorry for the late reply. Yes it looks like it is optional :) Thank you for taking a look at this!

[2018-02-08 12:41] nbulaj commented on #882
Hi @theycallmeswift. Any news here? `last_authorized_token_for` related to `AccessToken` model, `AccessGrant`'s issued in `Doorkeeper::OAuth::Authorization::Code`, where it can't be expired or revoked.

[2018-02-08 12:55] nbulaj commented on #1013
Can you please provide exact redirect URI that you used? With something like "_https://mysite.com/?auth=callback_" I have a  "`The redirect uri included is not valid`." error

There is [something strange in Doorkeeper specs](https://github.com/doorkeeper-gem/doorkeeper/blob/master/spec/validators/redirect_uri_validator_spec.rb#L42):

[code]

O_o

[2018-02-08 20:23] #967 closed

[2018-02-08 20:38] nbulaj commented on #755
Thank you @maciekkolodziej. I will close this issue due to stale status and blank activity of the @Anoop1989. If somebody will face the same problem and the solution above wouldn't work for him - everyone can open a new issue.

[2018-02-08 20:38] #755 closed

[2018-02-08 21:04] nbulaj commented on #716
Hi @jmealo . Do you still interested in this issue?

I read the conversation, but can't guess why you always mentioned "_custom validation logic implemented by the API provide_r" ?

I agree with something like  "_Requested well-formed redirect URI ($value) doesnt match for the client redirect URI_", what do you think?

[2018-02-09 15:53] ekampp commented on #961
Hi @nbulaj I turned to another solution to fix my problem. So this can be closed from my perspective.

[2018-02-09 18:04] #961 closed

[2018-02-09 21:02] nbulaj commented on #1021
Hi @tute. I found [doorkeeper-provider-app](doorkeeper-provider-app), and it is very very outdated. There are already a PR to update and some other work to do, so I can help with it too.

And when you will have free time - we are ready to release Doorkeeper 4.3 with many bugfixes and usefull changes. Thanks!

[2018-02-10 02:10] tute commented on #1021
Indeed it is. Added, thanks!

Unfortunately I'm running on slow 3G, will try but can't promise for a while. Sorry, and thank you for your work!

[2018-02-10 17:39] f3ndot commented on #1021
Hi @tute, @nbulaj, I'm happy to contribute in maintaining Doorkeeper since I've used and customized it extensively in my own projects.

I have a wishlist to have it:

* Operate in Rails 5 API-only mode, for microservice apps like mine
* Support Authorization Code (PKCE)
* Add a "confidential" attribute on Application to properly model public vs non-public OAuth clients
* Relatedly, have Access Tok

[2018-02-10 17:43] nbulaj commented on #1021
Hi @f3ndot . For the first two points we already have PRs, but I want to publish intermediate release with bugfixes and etc before we merge them (btw some of the PR's requires extra work).

What about other points in the list - all of them requires some investigation.

[2018-02-10 17:49] f3ndot commented on #1013
Looks like the history of that funny spec is that Doorkeeper originally disallowed query params in the callback, but was enhanced to support preserving original ones while adding its own:

https://github.com/doorkeeper-gem/doorkeeper/commit/82e7f70519ceab688000953a5d7c908abf59f68c

Will update spec name to match intent.

[2018-02-10 17:50] nbulaj commented on #999
Hi @lefty313 . Yep, looks like you are right. There are already a man who want's something similiar, you can [look at this comment](https://github.com/doorkeeper-gem/doorkeeper/issues/1021#issuecomment-364674815) and cooperate to send a PR

[2018-02-10 18:17] f3ndot commented on #999
Hi @lefty313, I've already extended Doorkeeper in my own projects to not require `client_secret` when an app is configured to be non-confidential (albeit not in a way fitting for mainlining into Doorkeeper).

In my opinion, an Application should defined at time of creation whether or not its intended to be used publicly or privately. This, combined with the authentication strategy, will let Doorke

[2018-02-11 05:14] f3ndot commented on #991
Multiple devices using the same application credentials should accomplish want you want. I think.

1. Device A has App A
2. Device B has App A
3. User uses Device A for the first time, prompting for authorization, and user consents
4. Device A gets Access Token X & Refresh Token X' for App A
5. User the uses Device B for the first time, no consent required
6. Device B gets a Access Token Y & Refre

[2018-02-13 01:07] trev opened #1034 "Client credentials behaviour not matching RFC?"
According to the Doorkeeper docs and behaviour, when using the client credentials grant, a resource owner is not associated to the access token.

I'm curious as to why that is? Everything read says the client credentials grant provides the client access over its protected resources:

Ref: https://tools.ietf.org/html/rfc6749#section-1.3.4

[2018-02-13 17:40] nbulaj commented on #1012
Closing this issue due to lack of activity. Feel free to reopen it if you face some problems.

[2018-02-13 17:40] #1012 closed

[2018-02-13 17:46] nbulaj commented on #980
Closing due to lack of activity. Feel free to reopen this issue if issue still exists.

[2018-02-13 17:46] #980 closed

[2018-02-13 17:57] nbulaj commented on #859
Doorkeeper configuration & models now have YARD docs. Also there are great Wiki articles and many StackOverflow / Blog posts around to share the ideas of how to use it.

I don't think that lack of full docs coverage is the real "issue", so I will close it. Anyway everybody are welcome to send a PR with docs improvements ❤️

[2018-02-13 17:57] #859 closed

[2018-02-13 21:19] nbulaj commented on #988
Hi @jw3 . Looks like a bug, but I need to check RFC more closely.

[2018-02-14 07:56] nbulaj commented on #716
@jmealo moreover, https://tools.ietf.org/html/rfc6749#section-5.2 says nothing about correctness of redirect URI. `invalid_request` also doesn't fit this requirement (redirect URI is not mentioned at all in this section).

The most relevant is (and Doorkeeper works in that way):

it was already discussed in https://github.com/doorkeeper-gem/doorkeeper/issues/444

What we can do is just to add prov

[2018-02-14 14:05] #716 closed

[2018-02-14 14:06] nbulaj commented on #716
I've changed description message to be more informative (this error occurs when URI is malformed or does n't match client redirect URI).

If anybody found it not informative - PRs are very welcome!

[2018-02-14 14:12] f3ndot commented on #988
I think it's because it's unnecessary. You can get as many access tokens as you want with `client_credentials` without any user consent (obviously). Because in a `refresh_token` grant, you have to supply your OAuth client credentials anyway, it's somewhat pointless.

However for the sake of completeness, the spec might call out that refresh tokens are to be supported in `client_credentials`. I'll

[2018-02-14 14:14] f3ndot commented on #988
Actually the spec says it shouldn't!

Per [Section 4.4.3](https://tools.ietf.org/html/rfc6749#section-4.4.3):

[code]

[2018-02-14 14:51] jw3 commented on #988
Perhaps so.

My use case was that doorkeeper was deployed on a master node that kicked off jobs to various worker services.  Rather than deploying client credentials with each worker, the master included a refresh token with the job request that went to a worker.  The worker then was able to spin on the job for however long it took, and if the token was expired it could get a new one.

[2018-02-14 15:33] f3ndot commented on #988
Interesting. But for your use case, shouldn't the workers just be
configured via ENV vars or secrets.yml to have access to the client
credentials? That way you're not passing anything auth related to them as
arguments.

You cannot, per the spec, get an access token from a refresh token without
the client credentials present in the request in the first place. So even
with your use case, the workers

[2018-02-14 15:46] jmealo commented on #716
Thanks.

I was interacting with an API that was based on doorkeeper. These catch all errors can obscure API logic errors. It's not always an internal developer in your organization who has access to the API code. Making these errors more descriptive is very important for figuring out cross organizationally where the issue is. It should be obvious to an API consumer whether they are sending an inva

[2018-02-14 15:58] jw3 commented on #988
Perhaps.  In this case it was a tradeoff for looser coupling between the services.

Its been a while since I looked at that, so I could be misremembering exactly how this bit of machinery worked.  I was thinking that the refresh token alone was enough to get a new access token.

[2018-02-14 16:57] nbulaj commented on #946
Closing due the lack of activity.

[2018-02-14 16:57] nbulaj commented on #946
cv

[2018-02-14 16:58] #946 closed

[2018-02-17 19:18] f3ndot opened #1038 "SECURITY.md stale?"
I am unsure if Jon Moss is still an active maintainer mentioned in [SECURITY.md](https://github.com/doorkeeper-gem/doorkeeper/blob/master/SECURITY.md).

Should this be updated?

[2018-02-17 19:23] f3ndot commented on #1006
#1032 (and its less-good predecessor #1001 available in v4.3.0) allows you to hook into the response for all grant types. You could be able to `if` guard for the password grant type and customize your response as you see fit.

I've done a similar thing in my own projects.

[2018-02-17 19:56] f3ndot commented on #1002
Hi @kapilmittal, I was unable to reproduce your issue with specs (see #1039). Can you put up a failing test or double check your findings?

Thanks

[2018-02-17 21:41] nbulaj commented on #1002
I've double checked the specs and @f3ndot specs and could not find an error. Maybe you have a typo in your scopes or Doorkeeper initializer?

[2018-02-17 21:48] #1038 closed

[2018-02-17 22:09] nbulaj commented on #973
@agrohmann I've tried with your Gemfile, but everything seems to be PK:

I think some gem or initializer is doing something that calls Doorkeeper before it initialized.. Can you provider a list of your initializers please?

[2018-02-19 17:26] nbulaj commented on #739
Hi @niiamon . Did you solve the problem?

[2018-02-20 14:50] nbulaj commented on #986
Closing this issue due to lack of activity. Currently there is no Incremental Authorization feature for the Doorkeeper project. Feel free to send a PR if you want to implement it.

[2018-02-20 14:50] #986 closed

[2018-02-20 14:52] nbulaj commented on #1013
Hi @ragulka . How can I reproduce your issue ? I've tried to send encoded params, but have no bugs

[2018-02-20 15:00] nbulaj commented on #941
It can be connected with #957 and #907, so it requires some exploration

[2018-02-21 14:10] f3ndot opened #1041 "v4.3.0 release notes and NEWS.md have v4.2.6 commits"
The v4.3.0 Release Notes and NEWS.md reference commits that were released in the v4.2.6 tag:

https://github.com/doorkeeper-gem/doorkeeper/compare/v4.2.5...v4.2.6
https://github.com/doorkeeper-gem/doorkeeper/blob/v4.3.0/NEWS.md
https://github.com/doorkeeper-gem/doorkeeper/releases/tag/v4.3.0

They should be moved into the v4.2.6 release notes and NEWS heading appropriately.

[2018-02-21 15:06] #1041 closed

[2018-02-21 15:07] nbulaj commented on #1041
Looks like @maclover7 forgot to move them from `master` under `4.2.6` release in time of publishing. And we just ignore it. Fixed for GH releases and NEWS.md, thanks!

[2018-02-22 22:33] stevenharman commented on #1041
Was 4.3.0 actually pushed to RubyGems? I'm still only seeing 4.2.6 there.

[2018-02-22 22:51] f3ndot commented on #1041
I think we need Tute to release the gem. Or give Nikita publishing rights.

On Thu, Feb 22, 2018, 5:33 PM Steven Harman <notifications@github.com>
wrote:

--
Justin Bull
PGP Fingerprint: E09D 38DE 8FB7 5745 2044 A0F4 1A2B DEAA 68FD B34C

[2018-02-22 22:52] stevenharman commented on #1041
@f3ndot Ah, OK. I'll reference master from my `Gemfile` for now. Thanks!

[2018-02-23 15:31] f3ndot commented on #1041
@stevenharman v4.3.0 now published to RubyGems

[2018-02-23 15:33] stevenharman commented on #1041
🤘

[2018-02-24 22:31] rickyc opened #1042 "Generator no longer works on rails applications with an identical name"
### Description
If the generator was previously used on an application with the same name, it does not generate new files on the new application.

### Steps to reproduce
1. Create a rails app called foo

[code]

2. Add `doorkeeper` to the Gemfile
[code]

3. Bundle Install
[code]

4. Run generator to install doorkeeper config
[code]

5. Rename the directory to `foo2`
[code]

6. Run steps 1 through

[2018-02-24 22:47] rickyc commented on #1042
Closing for now. Seems I'm running into this issue with other generators as well. Probably a Rails thing with the latest version. I'll do some investigating since I haven't had this issue in the past.

[2018-02-24 22:47] #1042 closed

[2018-02-27 17:04] slim1979 opened #1043 "FactoryBot doesn't see Doorkeeper classes"
good day for everyone
when using doorkeeper-4.3.0, a have a problem with FactoryBot. He refused to see doorkeeper classes:
[code]
and other
rollback to 4.2.6 solve this problem

[2018-02-27 17:07] nbulaj commented on #1043
Doorkeeper 4.3 uses Factory**Bot**, and Doorkeeper 4.2.6 uses Factory**Girl**. What gem do you have?

Also, could you please provide your Gemfile.lock  and spec_helper.rb?

[2018-02-27 17:11] slim1979 commented on #1043
i'm now use 4.2.6 with FactoryBot.
[code]
[code]

[2018-02-27 17:15] nbulaj commented on #1043
And what about yhe factories?

Do you have

RSpec.configure do |config|
  config.include FactoryBot::Syntax::Methods

  config.before(:suite) do
    FactoryBot.find_definitions
  end
end

?

[2018-02-27 17:20] slim1979 commented on #1043
i got
[code]
in rails_helper.rb

I don't have that record:
[code]
did this solve problem?

[2018-02-27 17:23] nbulaj commented on #1043
It loads factories for the gem and [suggested by the official docs](http://www.rubydoc.info/gems/factory_bot/file/GETTING_STARTED.md#Configure_your_test_suite). I will try to reproduce the error a little bit later

[2018-02-27 17:27] slim1979 commented on #1043
must say, that doesnt work for me

[2018-02-27 18:18] nbulaj commented on #1043
It is a brandly new app or some legacy project?

Did you do `rails generate doorkeeper:install` ? Without Doorkeeper initializer it's models wouldn't be loaded.

I created a new project with next Gemfile:

[code]

+ Default Doorkeeper initilizer.

+ Factory:

[code]

And spec:

[code]

Everything is OK.

![default](https://user-images.githubusercontent.com/1443426/36746587-bf0c1e1c-1c03-11e8-9fa0-

[2018-02-27 18:24] slim1979 commented on #1043
study app

yes, i did. i have config/initializers/doorkeeper.rb

lucky you)
i can provide link to branch, which contain broken code. maybe, this can help?

[2018-02-27 18:28] nbulaj commented on #1043
Yep, it would be great if you have this one public!

[2018-02-27 18:30] slim1979 commented on #1043
[here it is](https://github.com/slim1979/gse/tree/lesson35.1)

[2018-02-28 14:26] nbulaj commented on #1043
@slim1979 yes, I see the problem, but can't find the source of it. As I can see from the trace debugging, [ActiveSupport lazy hooks](http://api.rubyonrails.org/classes/ActiveSupport/LazyLoadHooks.html) are not invoked, so models didn't loaded. Can't find the reason why it is happens, maybe some initializer / configuration / gem side effects..

[2018-02-28 16:41] stevenharman opened #1044 "Breaking change in 4.3.0"
A change with #1029 extracted [a new `Doorkeeper::BaseRecord` class](https://github.com/doorkeeper-gem/doorkeeper/pull/1029/commits/e4e92190a689c5cc203b5ff06299f4c95f450f5f) and was released as part of `4.3.0`. This is a breaking change for anyone that's had to re-open the `Doorkeeper::Application`, `Doorkeeper::AccessGrant`, or `Doorkeeper::AccessToken` classes.

One might do this to setup, for e

[2018-02-28 17:25] nbulaj commented on #1044
Hi @stevenharman . Why does this changes is breaking for? What code now is not working properly?

[2018-02-28 18:33] stevenharman commented on #1044
Hello @nbulaj,

As I mentioned, the breaking change is for anyone who's re-opened the `Doorkeeper::Application`, `Doorkeeper::AccessGrant`, or `Doorkeeper::AccessToken` classes. An example of code that worked in `4.2.6`, but breaks with a `TypeError` in 4.3.0`

[code]

Because the base class of `Doorkeeper::AccessToken` has changed in 4.3.0, this re-opened class has a different base class, and thu

[2018-02-28 18:45] nbulaj commented on #1044
Yep, now it make sense. Can't say thay I encourage this type of patching (`class_eval` will work without any problem), but you are right. I will refactor this and release a new patch version.

[2018-03-01 00:21] grosser commented on #1044
FYI (and a bit off-topic, but wanted to post it somewhere) I'm disabling all model loading since I want no AR things defined before the app starts and had to add an autoload for BaseReord to fix my different error which had the same error message
https://github.com/zendesk/samson/pull/2612#pullrequestreview-100275911

[2018-03-01 08:09] nbulaj commented on #1044
@grosser can you please explain what do you mean? In 4.3 Doorkeeper models use ActiveSupport lazy loading for ActiveRecord models, so any initializer can configure ActiveRecord before models loading.

[2018-03-01 09:01] nbulaj commented on #1043
Analyzed trace and it looks like in your case AS doesn't load dependencies or do it in other way https://gist.github.com/nbulaj/5ce408c58a6fde239b8e71653ce5d568 Can't guess why currently ..

[2018-03-01 12:53] slim1979 commented on #1043
my mentor thinking, that this is about lazy_load helper, which will load all only if AS initialized, but factories loads earlier and this cause a problem

[2018-03-01 13:16] nbulaj commented on #1043
He is right about the helpers. Doorkeeper models must be loaded at the time when ActiveRecord are loaded using ActiveSupport lazy hooks (in this case we can configure some AR options before Doorkeeper models would be loaded). `ActiveRecord::Base` [has autoloading](https://github.com/rails/rails/blob/master/activerecord/lib/active_record.rb#L38) and would be initialized only _on first call_.  When

[2018-03-01 15:27] grosser commented on #1044
I mean it should not load these models at all during initialization like a
real app would do.

On Thu, Mar 1, 2018 at 12:09 AM, Nikita Bulai <notifications@github.com>
wrote:

[2018-03-02 07:23] nbulaj commented on #1044
Hi @stevenharman. Could you please check a master branch if it helps to solve your problem? Also if you have some specs with Doorkeeper objects, could you run you specs and report if there any problems?

[2018-03-02 07:59] nbulaj commented on #1043
Hi @slim1979 . The problem is in `factory_bot_rails` gem. It has an `railtie` that tries to find factory definitions (and load them) after engine initialization, and this cause the error because models is not loaded yet, the same as `ActiveRecord`.

To solve this problem you can replace `factory_bot_rails` gem with just `factory_bot` and everything will work (I tried for your branch).

Related iss

[2018-03-02 14:27] slim1979 commented on #1043
try it later....

[2018-03-03 14:10] nbulaj commented on #1002
Hi @kapilmittal . Any news here?

[2018-03-03 14:11] nbulaj commented on #973
Cant reproduce the issue, so I closing this issue due to lack of activity. Is somebody want to reopen it - please, provide maximum information bout the env, doorkeeper initializer, Gemfile.lock and other useful data

[2018-03-03 14:11] #973 closed

[2018-03-03 14:25] kapilmittal commented on #1002
I am very sure that this issue was happening at that time. I will check this once again on Monday and let you know. Will check the specs also.

[2018-03-03 14:34] kapilmittal commented on #1002
Also I remember that I looked into the doorkeeper code also and the code looked in sync with the mentioned bug because in the code, if scope parameter was not provided in the API then it was skipping the scope validation.
Anyway, will confirm this on Monday.

[2018-03-04 09:27] nbulaj commented on #1044
Fix released as a part of 4.3.1

[2018-03-04 16:47] nbulaj commented on #941
Fixed in #907

[2018-03-04 16:47] #941 closed

[2018-03-04 17:01] nbulaj commented on #1006
@kueda configurable callbacks for the oauth2 requests (#1032) already accessible in Doorkeeper 4.3.1 and you can use them.

[2018-03-04 17:03] nbulaj commented on #957
Hi @swilgosz , take a look at the last comments in #907 - you can refactor this PR to fix blank scopes.

[2018-03-04 19:10] kueda commented on #1006
I ended up working around this by subclassing `Doorkeeper::TokensController` which gave be complete control over the response. I'm not sure #1032 would allow me to do the same thing because

1. It only allows me to hook in when authorization was successful. I'm more interested in customizing error responses to tell the client why authorization failed.
1. Even if I perform an additional check on th

[2018-03-04 20:25] #1006 closed

[2018-03-05 10:27] kapilmittal commented on #1002
Hi @f3ndot / @nbulaj

I have verified once again and this issue still exists.
I have checked the specs also. In the specs, 'scope' parameter is provided in the api but as mentioned in the bug, this issue exists when we don't provide the 'scope' parameter in the api (then api returns token with default scope even if that default scope is not present in the application scopes).

[2018-03-05 11:28] nbulaj commented on #1043
@slim1979 any news here?

[2018-03-05 11:40] slim1979 commented on #1043
@nbulaj, hi there. no, nothing new... i had an conversation with my mentor about this situation and he told me, what this will never been solved by any sides, because noone want to change its product, as saying. this is noone bug, just incompatibility. i willn't change my doorkeeper version right now, because it doesn't make sense for me. maybe, someone will see problem solvation in this issue...

[2018-03-05 11:52] nbulaj commented on #1043
So because of it is not a bug in Doorkeeper itself I will close this issue now. The only solution I see (for Doorkeeper) is to manually trigger AR::Base (before factory bot rails initializer), but you are right - I don't think I would do this for some testing gem.

As `factory_bot_rails` is just about 8 lines of code - I don't think it is a big problem to replace it with native `factory_bot`.  But

[2018-03-05 11:52] #1043 closed

[2018-03-05 13:34] toupeira opened #1046 "Request for access to doorkeeper-openid_connect repository"
I'd like to add @nashby to the [doorkeeper-openid_connect](https://github.com/orgs/doorkeeper-gem/teams/doorkeeper-openid_connect/members) team since he offered his help with maintaining the gem and [contributed a major new feature](https://github.com/doorkeeper-gem/doorkeeper-openid_connect/pull/45).

Also, I have an example application running on Heroku that we use for [OIDC conformance testing]

[2018-03-05 15:42] stevenharman commented on #1044
@nbulaj Thanks! Sorry I didn't get back to you earlier - I was out of town for an event. The change looks good. I'll verify it 🔜, but I expect it will be 👍.

[2018-03-05 16:01] #1044 closed

[2018-03-05 16:07] nbulaj commented on #1046
Does @nashby has a 2FA on GitHub ? I can invite him as a collaborator to work on this gem.

What about the sample app, I prefer a standalone repo.

[2018-03-05 16:16] nbulaj commented on #996
Hi @kapilmittal . Feel free to send a PR with this feature. I think it must be a configurable lambda that must be used optionally (if set) for all strategies

[2018-03-06 07:15] nbulaj commented on #879
@prcongithub @RaoulDijksman merged in ba374aaec7c031a2ae9695e6a5e097551a8d92c0 , can you check it with `master` branch?

[2018-03-06 07:22] nbulaj commented on #926
@maxtedford feel free to send a PR

[2018-03-06 09:09] toupeira commented on #1046
@nbulaj sounds good, can you setup the repo and give the team Admin access?

@nashby please check if you have two-factor auth enabled, the org is set up to require it for all members.

[2018-03-06 09:12] nashby commented on #1046
@toupeira @nbulaj hey, I have 2FA enabled!

[2018-03-06 09:17] nbulaj commented on #1046
@toupeira ready - https://github.com/doorkeeper-gem/doorkeeper-openid-connect-provider-app

I've added a openid team as an owner of the repo, so you have a full control over it. Ping me if you need anything else from me.

@nashby I sent you an invitation to collaborate on the project.

[2018-03-07 13:45] nbulaj commented on #975
Merged in 4b42e9d9fd06bf34308e3184e298f34aa9ac1d10

[2018-03-07 13:45] #975 closed

[2018-03-09 09:50] tannakartikey opened #1047 "Doorkeeper does not initialise with api_only"
I am running an API only Rails 5 app with Doorkeeper. After #992 is merged I would like to use Doorkeeper in `api_only` mode. I believe that Doorkeeper `4.3.1` has support for `api_only` mode.

### Steps to reproduce
 - Update Doorkeeper to `4.3.1`
 - Add `api_only` in `config/initializers/doorkeeper.rb` and start the server as explained in `README` of the project.

### Expected behavior
The `door

[2018-03-09 11:01] oriolgual commented on #1047
It seems `api_only` isn't available at `4.3.1`. You can use this in you routes and the result will be the same:

[code]

[2018-03-09 11:12] nbulaj commented on #1047
Hi @tannakartikey. @oriolgual is absolutely right - API mode is not available for 4.3.1, it is work in progress and will be released in 5.0 version. Currently it is available only in `master` branch

[2018-03-09 11:22] tannakartikey commented on #1047
@nbulaj thanks.
I will test it using `master`

[2018-03-09 11:22] #1047 closed

[2018-03-09 15:24] vovimayhem commented on #1043
I tried this, will work for you until this issue is solved on `factory_bot_rails`. Create the file `lib/factory_bot_rails/railtie.rb` on your project - we're actually copying the current railtie contents and modifying one line:

[code]

I'll post this as a PR on Factory Bot Rails repo

[2018-03-11 12:01] #957 closed

[2018-03-11 12:02] #879 closed

[2018-03-11 12:02] nbulaj commented on #1046
Any news here? @nashby  @toupeira

[2018-03-11 12:03] nbulaj commented on #1013
Hi @ragulka . Can you provide the steps to reproduce the issue?

[2018-03-11 12:04] #739 closed

[2018-03-11 12:06] nashby commented on #1046
@nbulaj hey, looks like you added me to the `doorkeeper-openid-connect-provider-app` repo but not to the `doorkeeper-openid_connect` itself. Could you please add me there as well? Anyway, I think you can close this issue now since repo for provider app is created.

[2018-03-11 12:09] nbulaj commented on #1046
Whoops, soory about that, I forgot to add you. Ready now :)

[2018-03-11 12:09] #1046 closed

[2018-03-11 19:19] nbulaj commented on #675
Hi @adstage-david . Do you still interested in this feature?

[2018-03-12 13:37] kapilmittal commented on #1002
Hi. @f3ndot / @nbulaj . Did you have a chance to look into this again?

[2018-03-12 21:41] nbulaj commented on #996
Merged in  55439ee

[2018-03-12 21:41] #996 closed

[2018-03-13 10:13] frechei opened #1050 "why allow create oauth application with redirect_uri that has query params but cannot request"
### Steps to reproduce
1. Create an application with redirect_uri that has query params like `https://github.com?allow=yes`. It works and no validate errors.
2. When test oauth request, which is http://localhost/oauth/authorize?client_id=xxxxxxx&redirect_uri=https%3A%2F%2Fgithub.com%3Fallow%3Dyes&response_type=code,  it render the invalid_redirect_uri page.

### Expected behavior
I hope the behavi

[2018-03-13 15:13] prcongithub commented on #879
Cool. Will give it a try soon.

[2018-03-14 18:36] nbulaj commented on #918
Merged in 62fd33b232ddfc868ca70d6bbce9ceb68e8b754e

[2018-03-14 18:36] #918 closed

[2018-03-14 18:38] nbulaj commented on #999
Hi @lefty313 . You can check current `master` to get requested functionality

[2018-03-15 12:00] nbulaj commented on #882
Hi @theycallmeswift . Can you please clarify what request was invoked and returned expired code? Maybe you can provide some additional info?

[2018-03-15 13:17] nbulaj commented on #947
So I made some exploration about this issue. To implement this one it is required to:

- allow nil values for `redirect_uri` on model level
- remove `NOT NULL` constraint from `oauth_applications` table

If the first one is possible without any braking changes, the second one requires additional actions, especially for legacy projects with old versions of Doorkeeper.

Other "side-effect" is that d

[2018-03-15 13:18] nbulaj commented on #947
@kevinetore what kind of grant type you use?

[2018-03-15 13:50] nbulaj commented on #1002
Hi @kapilmittal . Can you please prepare the failing spec that I can use for tests and work on this issue?

[2018-03-15 19:13] f3ndot commented on #1050
@nbulaj I can reproduce this issue. I'll see if I can't get a failing spec or PR up

[2018-03-15 19:27] f3ndot commented on #1050
Looks like it was intentionally introduced back in 2012: https://github.com/doorkeeper-gem/doorkeeper/commit/f6ada370419a09f818cbf72e08da30625af6448f

But now the app allows you to explicitly define with query params are allowed, so this logic is now stale and is a bug.

I'll prepare a fix

[2018-03-15 19:31] nbulaj commented on #1050
Hi @f3ndot. I think the bug is in the URIChecker where it removes query params only from requested, and not from the client one. Mentioned commit is too old, I dont remember such method with "matching" word in current code base for app redirect uri

[2018-03-15 21:08] theycallmeswift commented on #882
@nbulaj at this point, I don't have any additional info to provide.  This intermittent issue still persists but has proven impossible for me to recreate.  Please let me know if there are any specific queries or steps I can take that would be helpful

[2018-03-16 06:04] kapilmittal commented on #1002
Sure. will add failing spec.

[2018-03-16 07:43] #1009 closed

[2018-03-16 14:27] nbulaj commented on #984
~~I think this must be implemented in order to conform with _4.4.3.1.  Threat: Accidental Exposure of Passwords at Client Site_ of [RFC6819](https://tools.ietf.org/html/rfc6819)~~

**UPD**: It's about Resource Owner Password Credentials

Would you like to submit a PR @jaluke ?

[2018-03-17 10:04] #1050 closed

[2018-03-17 16:47] f3ndot opened #1055 "Restrict authorization grant flows for public apps?"
Now that PKCE has landed and public apps do not require a secret, we should talk about restricting which grant types should be allowed. Especially if `use_refresh_token` is enabled.

### Problem

Assume Doorkeeper has `use_refresh_token`. If an app is a JS Single Page Application, and is configured as a non-confidential, then it doesn't require a secret. The developer can abuse Doorkeeper and inco

[2018-03-19 13:33] bradymholt opened #1057 "force_ssl_in_redirect_uri does not work for multiple uris when urn:ietf:wg:oauth:2.0:oob is in list"
### Steps to reproduce

With `force_ssl_in_redirect_uri !Rails.env.development?` set in config/initializers/dookeeper.rb, non ssl URLs appear to be allowed if `urn:ietf:wg:oauth:2.0:oob` is in the list.

This spec fails:

[code]

### Expected behavior

I expect `app.errors[:redirect_uri]` in the spec above to contain  "must be an HTTPS/SSL URI.".

### Actual behavior

The above spec fails

### Sys

[2018-03-19 14:54] nbulaj commented on #1002
I've checked Client Credentials flow and I see similiar scope validation as for Password flow:

[code]

O_o interesting

[2018-03-19 18:11] GeminPatel commented on #1002
@nbulaj for preliminary observations [I might be looking at a little older doorkeeper version but I think thats ok in this case.], below is the following conclusion that I make.

@request.scopes:
[code]

Which means public if nothing is there. Which means that @request.scopes is not blank and therefore checked ahead.

@original_scopes on the other hand is actually blank. And so true is returned wi

[2018-03-20 05:50] GeminPatel opened #1058 "Unrevoked refresh token lets use create multiple access tokens for 1 user and 1 client."
### Steps to reproduce
1. Create a access token [lets say password grant type.]
2. Wait till it gets expired.
3. Create a new access token.
4. Use the refresh token from step 1 to create a new token.

I think that this is a problem because of the numerous refresh token created in this fashion, all remain active till the end of time.

### Expected behavior
I would expect one of the following behavi

[2018-03-20 09:10] nbulaj commented on #1002
Fixed with 54e3159 , @kapilmittal I would be very grateful if you can check the master branch for you app.

Currently default scope for Password Grant type can be set only if applications has no scopes and user/developer doesn't pass any scope string with the request.

[2018-03-20 12:16] kapilmittal commented on #1002
@nbulaj I have checked your commit 54e3159. api should return default scope even if user doesn't pass any scope string with the request and applications has scopes and application scopes includes default scope.
so validate_scopes method should be like below:

[code]

[2018-03-20 12:18] nbulaj commented on #1002
@kapilmittal you mean no matter if application requires `'abc'` scope, we need to set default server scopes for the token?

[2018-03-20 13:41] kapilmittal commented on #1002
yeah, there are below two options when user pass nothing:
1. try to return all default_scopes and return error if any one of them is not allowed by application.
2. return only those default scopes that are allowed by the application.

I think, 2nd option is better since it gives more flexibility in terms of defining default scopes.

[2018-03-20 13:49] nbulaj commented on #1057
Already solved in #976

Update Doorkeeper to 4.3.1

[2018-03-20 13:49] #1057 closed

[2018-03-20 14:09] bradymholt commented on #1057
Thank you!

[2018-03-20 14:10] hasanen opened #1059 "TokenResponse is missing `redirectable?` method"
I'm following this guide https://github.com/doorkeeper-gem/doorkeeper/wiki/Using-Resource-Owner-Password-Credentials-flow and I'm getting few errors.

1: Enabling password type
[code]
instead of
[code]
2: Block `resource_owner_from_credentials` (defined in doorkeeper config)is not called, instead the default `resource_owner_authenticator` is.

I guess these are just problems with the guide itself,

[2018-03-20 15:05] nbulaj commented on #1059
Hi @hasanen . Why are you doing `Doorkeeper.configuration.authorization_response_types << "password"` instead of `Doorkeeper.configuration.token_grant_types << "password"` ?

[`authorization_response_types` method is only a reader, not a configuration option](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/config.rb#L325), so you are just modifying instance variable.

[2018-03-20 18:46] hasanen commented on #1059
Hi @nbulaj

When I use that, I get `Doorkeeper::Errors::InvalidAuthorizationStrategy (Doorkeeper::Errors::InvalidAuthorizationStrategy):`

[2018-03-20 20:04] eliang opened #1061 "Semantic Logger and Doorkeeper::TokensController"
I'm running into an exception every time I POST /oauth/tokens.  I have Devise and SemanticLogger installed in a project and would like the tokens controller to play nice with the logger.  I noticed that the Doorkeeper::TokensController is extended from Doorkeeper::ApplicationMetalController, and would like to know the best way to enable logging.

[code]

Rails version: 4.2.7
Ruby version: 2.3.3
Do

[2018-03-21 08:42] hasanen commented on #1059
Ah, found the issue, should have make the call to `/oauth/token` instead of `/oauth/authorize` :)

[2018-03-21 08:42] #1059 closed

[2018-03-21 09:36] nbulaj commented on #1058
Hi @GeminPatel . Expiration != revocation

Access Token expires every time, Refresh Tokens - not.

[So you can use expired refresh token to obtain a new access token](https://community.atlassian.com/t5/Answers-Developer-Questions/Does-the-oauth-2-refresh-token-expire/qaq-p/574230).

Or I don't understand what do you mean? Please feel free to provide some failing spec (take a look at examples in th

[2018-03-21 09:58] nbulaj commented on #1055
Maybe we can find some answer on similar OAuth project for go-lang - [Hydra](https://github.com/ory/hydra) ?

We need to spent some time on this issue exploration. I will back to it when I will have more time.

[2018-03-21 13:28] nbulaj commented on #1061
Hi @eliang . Could you please provide your Doorkeeper initializer content?

Also do you configured right your SemanticLogger? I don't see any errors from doorkeeper in the backtrace, but I see no `info` method for `nil` class, that seems to be like no logger object provided (as `info` method is a logger method).

[2018-03-21 13:43] f3ndot commented on #1055
I'll do some more research too. I think it's a question of whether or not we want Doorkeeper to be opinionated and reduce risk of OAuth2 misuse/abuse.

At minimum I think we should not allow public apps to use authorization codes without PKCE.

[2018-03-21 14:37] eliang commented on #1061
Here's my doorkeeper initializer.

[code]

I was able to workaround the error by monkey patching Doorkeeper::ApplicationMetalController to the following:

[code]

I understand that the whole point of using the Metal controller was to improve performance, so I am wondering if there's better way to go about this?

Thanks!

[2018-03-21 15:57] eliang commented on #1061
There must be something else missing from `ActionController::Base` then.

I was hoping this was an already solved issue since I'm not that familiar with the internals of ActionController.

[2018-03-21 17:19] nbulaj commented on #1061
Try to add `AbstractController::Logger` to `Doorkeeper::ApplicationMetalController` in initializer:

[code]

This will add logger accessor to controller. Do'nt sure if SemanticLogger will add it's own logger there, but try to. Also do you use [rails_semantic_logger](https://github.com/rocketjob/rails_semantic_logger) ?

[2018-03-22 01:35] eliang commented on #1061
Thank you for the snippet.  I tried it but it didn't work.

I am using rails_semantic_logger and I've added a breakpoint to the [log_subscriber_processing.rb:8](https://github.com/rocketjob/rails_semantic_logger/blob/fc86ef4c7c037a59d3865f302322ce8e462dcb82/lib/rails_semantic_logger/extensions/action_controller/log_subscriber_processing.rb#L18) line in the stack trace.  I see that Semantic Logger

[2018-03-22 01:43] eliang commented on #1061
I found that this does the trick...however it's an ugly solution.

[code]

[2018-03-22 06:34] GeminPatel commented on #1058
Hi @nbulaj,

1. Suppose a time line looks like: t1 - t2 - t3 .. tn
2. There is a client c1 and doorkeeper server s1.
3. Server s1 uses refresh token and also reuses token.

t1: Create a password token { access_token: a1, refresh_token: r1 }
t2: -
t3: a1 expired.
t4: Create a password token { access_token: a2, refresh_token: r2 }
t5: Use r1 to acquire access token.

At time t5:
1. We know that a2 i

[2018-03-22 11:38] f3ndot commented on #1058
This assumes there is only one instance of the client.

In reality there could be many instances of the client all gaining multiple
access & refresh token pairs during a given timeframe.

Think of a mobile app using authorization codes:

1. A resource owner owns both an iPad and iPhone
2. Both devices have the same app installed. It has the OAuth client that
talks to your doorkeeper server.
3. Res

[2018-03-22 11:41] f3ndot commented on #1058
This assumes there is only one instance of the client.

In reality there could be many instances of the client all gaining multiple access & refresh token pairs during a given timeframe.

Think of a mobile app using authorization codes:

1. A resource owner owns both an iPad and iPhone
2. Both devices have the same app installed. It has the OAuth client that talks to your doorkeeper server.
3. Res

[2018-03-22 12:39] nattfodd opened #1062 "Hooks around AuthorizationController / Single Sign Out feature"
Hey there! I'm working on the Single Sign Out feature in my project, which actually means:

There's an example of how Google does that - http://romain.pechayre.me/blog/2015/06/26/single-sign-out-problem/ - and I've tried to implement it in the same way.

The idea I've ended up with is to store in the main auth cookies a list of service applications, that have requested the auth. And upon logout, o

[2018-03-22 12:45] nbulaj commented on #1062
How about to use before_successful_response and after_successful_response hooks?

`before_successful_strategy_response` and `after_successful_strategy_response` options of Doorkeeper configuration.

[2018-03-22 15:05] eliang commented on #1061
Thanks for all your help @nbulaj!  I'll close this and track the issue in the rails_semantic_logger project.

[2018-03-22 15:05] #1061 closed

[2018-03-22 15:06] eliang commented on #1061
Btw, as of today, the patch still doesn't work.

[2018-03-23 16:11] mojobiri opened #1063 "Using doorkeeper with rails-api"
Hi.
I'm trying to setup doorkeeper to work with rails-api only application and getting when trying to authenticate
[code]
[code]
I want to use doorkeeper in this application only for the purpose of request authentication and it is connected to the same database which is the other application (which is OAuth provider) is using.
So basically there are 2 rails applications: one is regular rails app (

[2018-03-23 16:55] nbulaj commented on #1062
Maybe you can make some research if we can add a context to existing hooks in order to provide required binding? If it is hard to implement, you can send a PR with before and after hooks for authorization 👍

[2018-03-23 16:58] nbulaj commented on #1063
We have some support for Rails 5 API mode in master (it is not released yet). Maybe you can check it (just enable `api_only` option in configuration)?  Also, can you please provide your Doorkeeper initializer and full error backtrace?

[2018-03-23 17:51] mojobiri commented on #1063
Thanks for jumping in, @nbulaj.
No luck with master branch as well.
Since I'm not using this app as OAuth provider, doorkeeper configuration is pretty slim:

[code]

Setting `base_controller 'ActionController::API'` also didn't helped.

<details/>
<summary>Error backtrace</summary>

[code]
</details>

[2018-03-23 17:56] nbulaj commented on #1063
Try to touch ActiveRecord::Base in Doorkeeper initilizer like this: `puts ActiveRecord::Base.inspect`

I'm wondering if it is connected with lazy models loading..

[2018-03-23 18:10] mojobiri commented on #1063
You da man! Worked like charm. Is it ok to just leave above like in doorkeeper initializer or it is better to touch `ActiveRecord::Base` somewhere else?

[2018-03-23 18:14] nbulaj commented on #1063
Hmm, it is really strange why AR wasn't loaded at the moment :/ Can you show you gemfile? (not .lock) Maybe you made some AR customizations?

[2018-03-23 18:27] mojobiri commented on #1063
No, touched nothing. It's fresh rails app.

<details>
<summary>Gemfile</summary>

[code]
</details>

[2018-03-23 18:30] nbulaj commented on #1063
It is silly, but can you try to set 'rails' as the first gem in the list? Before doorkeeper. And try without touching AR. Bundler loads gems as they defined, so maybe it is the problem..

[2018-03-23 18:39] mojobiri commented on #1063
Nope, that didn't help :/

[2018-03-26 05:11] GeminPatel commented on #1058
@f3ndot But looking at point 3: Resource owner authorizes the iPhone (a1, r1) , and then the iPad (a2, r2).

iPad would only receive (a2, r2) only if a1 is expired. [As I have mentioned reuse access_token is enabled.] And so we can not always be ever sure that each device gets a different token. If we want to be sure of this, then we will not use `reuse_access_token` config in the first place.

Bu

[2018-03-26 14:22] milgner commented on #1063
Any plans on when the next release (with `api_only` included) will be? :heart: for this gem! :tada:

[2018-03-26 14:26] nbulaj commented on #1063
@milgner I think in early April we will release an RC version so you can try it

@mojobiri could you please provide some instruction on how to setup the app to get error problem?

[2018-03-26 15:08] mojobiri commented on #1063
ok, I will.
Btw, it is only happening on the first request and only if `Content-type` is not set.
Means this fails the first time and works after.
[code]
And this works from the beginning:
[code]

[2018-03-26 15:34] mojobiri commented on #1063
<details>
<summary>Sample app to reproduce the issue</summary>

Rails 5.1.5

[code]
</details>

[2018-03-26 16:37] rishabhsairawat commented on #1058
Hi @nbulaj @GeminPatel @f3ndot
In [RFC6749](https://tools.ietf.org/html/rfc6749#section-6) It is mentioned that

If I am not wrong, Currently Doorkeeper implements this only in following case:

- When a new access token is generated using grant type as refresh token, old refresh token is revoked.

But When new access token is generated by using password grant, then it issues a new access token wit

[2018-03-26 21:06] jwoudenberg opened #1065 "`redirect_uri` no longer valid since v4.3.0"
### Steps to reproduce
I have an OAuth app. It redirects users to a `doorkeeper` endpoint to get authorized. It passes the following `redirect_uri` as a parameter:

[code]

The `referrer` is the path on the app the user should be referred to after the authorization flow is done. It can be any path on the site, but in this example its the root.

The OAuth app has the following callback url configur

[2018-03-27 06:18] nattfodd commented on #1062
@nbulaj can you please take a look at https://github.com/doorkeeper-gem/doorkeeper/pull/1064 ?

[2018-03-27 08:15] nbulaj commented on #1065
Hi @jwoudenberg. Try to use `master` branch because we have some fixes for redirect_uri. If the problem shill exists - we will look into it

[2018-03-27 08:28] nbulaj commented on #1063
I've made the sample app and done some extra steps (`rails db:create` , `rails g doorkeeper:migration` , `rails db:migrate`). And I've got:

And no problem:

:thinking:

[2018-03-27 10:14] mojobiri commented on #1063
yeah, it is ok. I just have not standard setup because I'm connecting to an existing DB and the other app is OAuth provider. So I already have doorkeeper tables in the database and don't want to run any migrations in the second app.

[2018-03-27 12:00] GeminPatel commented on #1058
@rishabhsairawat I agree with this. As I said I think any of the two solutions would work.

**Expected behavior**
I would expect one of the following behaviors:

1. Refresh token from step 1 is revoked during step 3.
2. Access token from step 4 is equal to access token in step 3 [if access token of step 3 is not expired.]

[2018-03-27 13:34] jwoudenberg commented on #1065
`master` works for me! Thanks @nbulaj, I'll just stay on `v4.2.6` until `v4.3.2` comes round!

[2018-03-28 10:43] nbulaj commented on #1065
You can try 4.3.2 release

[2018-03-28 11:43] nbulaj commented on #1063
Hm.. I don't know how to reproduce it... Maybe you can upload your project somewhere (without all the models / controllers / etc except Doorkeeper) ?

[2018-03-28 14:33] nbulaj commented on #1013
Currently I'm closing this issue because of no ability to reproduce. It somebody or @ragulka will face this problem - feel free to send some instructions on how to check it and some PR . Thanks!

[2018-03-28 14:33] #1013 closed

[2018-03-28 14:33] nbulaj commented on #999
Ping @lefty313

[2018-03-28 17:01] mojobiri commented on #1063
You should get an error with the setup I wrote above if you follow it **without any additional setup** you did (like rails g doorkeeper:migration and rails db:migrate)

[2018-03-28 17:01] mojobiri commented on #1063
**without any additional setup**

[2018-03-28 17:01] mojobiri commented on #1063
**without any additional setup**

[2018-03-28 17:08] nbulaj commented on #1063
But it have no sense because I would not have valid DB tables. Ok, I will try tomorrow once again

[2018-03-28 17:12] mojobiri commented on #1063
the error occurs before it reaches DB-related errors )

[2018-03-28 17:24] nbulaj commented on #1063
Yep, I understand it, but in my case there are was database error, not `NameError` exception.

[2018-03-29 00:06] baxang commented on #993
Since your authentication (issuing a personal access token) happens on the server-side (potentially within a same application) I can think of two ways to implement it on top of my head:

1. Use Client Credentials flow from your application to token endpoint: issue a client to your web app and make a token request from the controller when the user requests a token

2. Or use `Doorkeeper::AccessToke

[2018-03-29 05:25] baxang opened #1067 "Access Token Request media type should be application/x-www-form-urlencoded"
### Steps to reproduce

[code]

I added Doorkeeper to an existing Rails 4.2 app and it's been working pretty well. Then I found out one of clients (a native mobile app) is sending auth requests in JSON format which is just by accident as other API endpoints are using the JSON API spec.

[According to the spec](https://tools.ietf.org/html/rfc6749#section-4.1.3), Access Token Request has parameters

[2018-03-29 06:30] nbulaj commented on #1067
I don't think we can break compatibility for our current users and force them to rewrite their native / other apps to use this.

[2018-03-29 13:55] jwoudenberg commented on #1065
Thank you, works perfectly!

[2018-03-29 13:55] #1065 closed

[2018-03-29 13:56] nbulaj commented on #1065
Thanks, good to know!

[2018-03-30 12:18] baxang commented on #1067
I understand your concern about backward compatibility - can we consider introducing a flag (say, `config.strict_content_type = true`) in a new major version at least? I think this compatibility is accidental and any reasonably written OAuth client should be standard compliant.

[2018-03-30 14:37] prashantvithani commented on #973
I was facing the exact issue, and found the solution.

It could fail if you have `config.eager_load = true` in `config/environments/development.rb`

If you closely look at the stack-trace of error below, it's clear that `doorkeeper/application_controller` is being called by `eager_load!` in `engine.rb`. So, I went to `config/environments/developement.rb` and set `config.eager_load = false`, and th

[2018-03-31 19:56] nbulaj commented on #1062
Merged, thanks!

[2018-03-31 19:56] #1062 closed

[2018-04-02 08:43] nbulaj commented on #1063
@mojobiri as I mentioned above:

[2018-04-03 09:32] milgner opened #1069 "Polymorphic user model associations"
Just like in this [this SO question](https://stackoverflow.com/questions/25834404/doorkeeper-resource-owner-credential-flow-for-multiple-models), I'm using doorkeeper scopes to hand out access tokens for multiple models.

The problem with the accepted answer there is that doorkeeper doesn't persist the information of the model on the token, causing problems with scoping of the `resource_owner_id`

[2018-04-03 14:26] nbulaj commented on #1067
This one make sense. Also it would be great to add a deprecation message that will inform developers about necessity of using application/json type for the applications using the API. Be default this option now must be `false`, bunt in future update (5.2 for example) we will change it to `true`.

Do you want to send a PR ?

[2018-04-05 18:07] #926 closed

[2018-04-05 18:08] nbulaj commented on #999
Stale issue, no activity. Check master branch for requested functionality. Currently closing

[2018-04-05 18:08] #999 closed

[2018-04-06 12:07] f3ndot opened #1073 "Support Silent Authentication"
In order to support renewing expired tokens for Single Page Applications using the implicit flow, Doorkeeper will need to support the [Silent Authentication](https://auth0.com/docs/api-auth/tutorials/silent-authentication) strategy.

Essentially, it's supporting a `prompt` parameter where when you pass `none` it will always redirect with either success or failure:

* A successful authentication re

[2018-04-06 12:08] f3ndot commented on #1073
An error will return either `login_required` or `consent_required` to indicate why it failed. Either no session exists or consent/prompt is required

[2018-04-06 13:02] akshay-ascendlearning opened #1074 "reuse_access_token not working with client creadentials grant type"
https://github.com/doorkeeper-gem/doorkeeper/pull/736
with reference of this PR, though I have enabled **reuse_access_token** in doorkeeper.rb, client_credentials get_token method in client app generating new access token for each api call?

I want to use same access token till it expires for same app.

this is the code from my client app

`app_id = "5fbe....."`
`secret = "354fl......"`
 `client =

[2018-04-07 06:29] vasanth-ascendlearning commented on #1067
@nbulaj, @baxang - The spec also mentions that the character encording of the request should bt UTF-8.

   following parameters using the "application/x-www-form-urlencoded"
   format per Appendix B with a character encoding of UTF-8

which essentially means that the request should have the header:

    Content-Type: application/x-www-form-urlencoded; charset=utf-8

Is my understanding correct? I

[2018-04-07 06:34] hallucinations commented on #1067
@nbulaj, @baxang The specs also talks about the the character encoding of the request should be UTF-8.

   following parameters using the "application/x-www-form-urlencoded"
   format per Appendix B with a character encoding of UTF-8 in the HTTP
   request entity-body:

This essentially means that the request should have the following header

    Content-type: application/x-www-form-urlencoded; ch

[2018-04-08 07:37] baxang commented on #1067
Thanks for additional checkups @hallucinations! I think you're right. Requests should be UTF-8 encoded.

FYI, I'm working on a patch @nbulaj

[2018-04-08 14:40] baxang commented on #1067
I've noticed that none of example requests in the spec specifies `charset` although appendix B clearly says all payloads MUST be encoded using UTF-8. I think it is reasonable to not requiring `;charset=utf-8` bit in the request.

[2018-04-09 15:55] amrocco opened #1077 "Able to successfully request a scope without first defining it in the initializer"
I am able to create a doorkeeper application record with scope 'admin', then request an access token for the admin scope on that application using client credentials. I do not have 'admin' defined in 'optional_scopes' in the doorkeeper initializer. Am I incorrect in thinking that all scopes need to be defined under 'optional_scopes' in order to be requested?

Using doorkeeper v. 4.3.1

My request

[2018-04-09 17:52] nbulaj commented on #1077
Doorkeeper has `defauls_scopes` and `optional_scopes`. What did you define in the first one?

[2018-04-09 17:53] amrocco commented on #1077
This is what I have defined in the initializer:

  default_scopes  :pcp_console
  optional_scopes :specialist_console, :website

[2018-04-10 15:13] nbulaj commented on #1077
I've added a spec to spec/requests/flows/client_credentials_spec.rb as follows:

[code]

And I've got an error:

[2018-04-11 02:42] trev commented on #1034
Thanks @f3ndot

[2018-04-11 02:42] #1034 closed

[2018-04-11 02:51] trev opened #1078 "Incorrect wiki page?"
I was following the instructions at https://github.com/doorkeeper-gem/doorkeeper/wiki/Authorization-Code-Flow and noticed that fails at the step where you exchange an authorization code for an access token: 401 Unauthorized

[code]

This happens because the URI is checked for validity here: https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/oauth/authorization_code_request.rb#

[2018-04-11 07:43] nbulaj commented on #1078
Hi @trev . First of all:

1) What Doorkeeper version do you use?
2) How your Doorkeeper initializer looks?

Moreover, how do you send the request to the OAuth endpoint? Waht are the params? Is it `application/x-www-form-urlencoded`? What value of the `redirect_uri` do you use (both in application and in your request)?

[2018-04-11 08:28] trev commented on #1078
Hi @nbulaj, here you go:

1. 4.3.1
2. See below

[code]

This is on a working app with Doorkeeper. All is good. Only when I was doing some testing did I encounter this scenario.

I followed the [wiki instructions](https://github.com/doorkeeper-gem/doorkeeper/wiki/Authorization-Code-Flow) so my OAuth2 app has a singular callback URL (redirect URI) of `urn:ietf:wg:oauth:2.0:oob`. I get the authoriza

[2018-04-11 08:51] nbulaj commented on #1078
Can you check the current master of the gem if it fails too?

gem 'doorkeeper', git: 'https://github.com/doorkeeper-gem/doorkeeper.git'

We have some improvements there for the native redirect URI and authorization.

[2018-04-11 08:52] nbulaj commented on #1078
[`URIChecker.valid?`](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/oauth/helpers/uri_checker.rb#L6) returns `true` for native redirect URIs.

[2018-04-11 09:00] trev commented on #1078
That’s it @nbulaj! My version of doorkeeper doesn’t have the conditional in the URIchecker.valid?

[2018-04-11 09:07] trev commented on #1078
https://github.com/doorkeeper-gem/doorkeeper/commit/bb90fe1ad1186eb2f434c0da7aaced9b5a20f099 Fixed 22 days ago. Thanks for your help!

[2018-04-11 22:04] mantrala commented on #739
I just ran in to this issue and solved it. For anyone making their way here:

The docs say the required params are only: `grant_type`, `client_id`, `client_secret` and `refresh_token`.

It turned out that we had a custom `Oauth::TokensController` which was overriding `create` method and was not handling the `grant_type` of `refresh_token`.

Changed the controller to inherit from `Doorkeeper::Token

[2018-04-13 08:36] nbulaj commented on #916
Hi @faizalzakaria  @yoda . Can you check `fix_token_info_routes` branch from the Git ?

[2018-04-13 09:56] ViTVetal opened #1081 "Dookeeper and ActionCable"
Hello!
I know that I should use stackoverflow for this kind of questions. [I asked question](https://stackoverflow.com/questions/49778736/is-it-possible-use-doorkeeper-with-action-cable?noredirect=1#comment86580967_49778736)

Is it possible use Dookeeper and ActionCable?
Look like approach should be similar to [this](http://www.rubydoc.info/github/rails/actioncable/ActionCable/Connection/Base) or

[2018-04-13 11:25] nbulaj commented on #1081
Hi @ViTVetal . max on StackOverflow already answered you. You can store access token in cookies (don't sure it is secure way, but) and send it with ActionCable requests. And then you can find Resource Owner by Access Token that associated with requested token.

[2018-04-13 11:42] ViTVetal commented on #1081
@nbulaj ok. Thank you!
I can send token as param during connection:
`ws://localhost:3000/cable/?access-token=********`
But how can I "find Resource Owner by Access Token that associated with requested token."? I didn't find how can I do this.

[2018-04-13 11:48] nbulaj commented on #1081
Something like this:

[code]

[2018-04-13 12:44] nbulaj commented on #988
So @jw3 , what we have here?

[2018-04-13 13:10] jw3 commented on #988
At this time I do not have a requirement for it, if the need arises I will revisit.  Closing.

Thanks.

[2018-04-13 13:10] #988 closed

[2018-04-13 13:12] nbulaj commented on #891
Hi @f3ndot @ostinelli . Where we are on this issue?

[2018-04-13 13:49] ostinelli commented on #891
We reverted to 3.x back then and patched it to our needs. I might come back to this and look what the situation is nowadays.

[2018-04-13 14:16] nbulaj commented on #1081
Try it and tell me if it is OK for you :)

[2018-04-13 14:31] ViTVetal commented on #1081
@nbulaj Yes. It is ok for me.
Draft version https://stackoverflow.com/a/49819013/3194048 (I am new in Rails so you may refactor this code but I think idea should be same). Also it is possible reject user like.
[code]

Thank you again. Nice gem.

[2018-04-13 14:47] nbulaj commented on #1081
Thanks! We can share it in [Doorkeeper and ActionCable](https://github.com/doorkeeper-gem/doorkeeper/wiki/Doorkeeper-and-ActionCable). We can close the issue?

[2018-04-13 15:08] ViTVetal commented on #1081
@nbulaj Yes

[2018-04-13 21:50] #916 closed

[2018-04-13 21:50] nbulaj commented on #916
Now in master. Let me know if it doesn't work

[2018-04-14 02:15] mojobiri commented on #1063
I have a non-standard setup and no one have issues with it. The workaround works for me. Let's close it.

[2018-04-14 06:30] #1063 closed

[2018-04-15 12:19] yra-wtag opened #1083 "Errors while integrating Doorkeeper in a MultiEngine Rails Application"
This is our app structure

app
|
|__engines
    |
    |___ api
    |___ other engine

main app route.rb
` mount api::engine at: '/api'`

engine api route
` use_doorkeeper and other mount from grape`

---

Currently we have a multi engine application in rails. Where there is a Grape based API which we need to authorize using the Doorkeeper. As we are using isolated namespaces. There are some instru

[2018-04-18 08:03] nbulaj commented on #1077
Hi @amrocco . Any news here?

[2018-04-18 15:52] GeminPatel commented on #1002
@nbulaj Please consider the following case.

Doorkeeper Application has scopes in db: [read write public]

Doorkeeper default scope is: public

Api Call does not send scope parameter:
[code]

Expected output: Token with public scope.

Actual output on master because of [54e31599e1d12773741483e56d6212efacc43c21]: invalid_scope
Actual output on 4.3.2: Token with public scope.

[2018-04-18 16:00] jeremypele commented on #887
Any update on this @ideaoforder @eebasadre ?

[2018-04-18 16:33] nbulaj commented on #1002
Hi @kapilmittal . So you want to say that Doorkeeper 4.3.2 works as described in p. 2 of [kapilmittal comment below](https://github.com/doorkeeper-gem/doorkeeper/issues/1002#issuecomment-374601386)?

[2018-04-19 13:16] GeminPatel commented on #1002
@nbulaj No 4.3.2 does not work a p. 2 of [kapilmittal comment below](https://github.com/doorkeeper-gem/doorkeeper/issues/1002#issuecomment-374601386). But it works for [geminpatel comment](https://github.com/doorkeeper-gem/doorkeeper/issues/1002#issuecomment-382436069).

Difference between both the comments is:

p. 2 of [kapilmittal comment below](https://github.com/doorkeeper-gem/doorkeeper/issue

[2018-04-19 14:31] nbulaj commented on #1002
To be honest I do not understand you.

And @kapilmittal said:

That is exactly what was said above. Default scope is `public`, application has this scope, and it is returned if no parameters passed. :thinking:

Anyway, feel free to send a PR, we will take a look at this issue a little bit closer.

[2018-04-20 11:14] nbulaj commented on #1002
@kapilmittal @GeminPatel @rishabhsairawat you can check it now

[2018-04-23 08:38] #1074 closed

[2018-04-23 14:52] nbulaj commented on #1002
Thanks to @rishabhsairawat we have another improvements, you can check it in master. Now scopes intersection is done in `BaseRequest` class

[2018-04-25 16:26] nbulaj commented on #1077
Ping

[2018-04-25 17:39] amrocco commented on #1077
Hi! Apologies I didn't see this in my inbox earlier. I searched the rest of my project to make sure :admin wasn't set as a doorkeeper scope in any other initializers, and didn't find anything, so I am at a loss here. I can try setting up a fresh project this week to see if I can reproduce the issue.

Did that test you wrote use doorkeeper v. 4.3.1?

[2018-04-25 17:40] nbulaj commented on #1077
Yep

That would be great if you could, please.

[2018-04-25 17:42] amrocco commented on #1077
I will report back once I do so.

[2018-04-25 18:54] nbulaj commented on #1073
Could we close this issue or there are something we need to do?

[2018-04-26 07:35] prcongithub commented on #887
I am also facing the same issue.

[2018-04-26 09:06] nbulaj commented on #887
Do you enabled required grant type in Doorkeeper initializer?

[2018-04-26 12:01] f3ndot commented on #1073
The correct course of action is to use the other gem

[2018-04-26 12:01] #1073 closed

[2018-04-27 08:14] mazikwyry opened #1089 "Allow for token refresh without secret when token obtained with PKCE"
### Steps to reproduce

- Add `enable_pkce_without_secret` in configuration
- Create confidential application
- Obtain access token using `authorization_code` with PKCE code_challage (without `client_secret`)
- Try to refresh token (also without secret, as client don't have it)

### Expected behavior
Because there is a assumption that when using PKCE we don't need a `client_secret` then when acces

[2018-04-27 08:24] nbulaj commented on #1089
ping @bpieck , could you please look at this issue?

[2018-04-30 22:25] itsNikolay commented on #827
@sachin-metacube
I got the error during:
[code]
So I just updated my user with:
[code]
and it passed:
[code]

[2018-05-01 16:41] shyshy opened #1091 "`invalid_ssl_uri` + `force_ssl_in_redirect_uri` incorrectly validates applications"
We're using the `force_ssl_in_redirect_uri` option, which we discovered through a comment here: https://github.com/doorkeeper-gem/doorkeeper/pull/1016#issuecomment-364916916.

That works great for its usecase, but, we think there's a bug related to how it's used in this method: https://github.com/doorkeeper-gem/doorkeeper/blob/644d2ceb41411b9b320a6c8ee769762b37deba01/app/validators/redirect_uri_va

[2018-05-01 17:05] #1067 closed

[2018-05-01 22:01] vemv opened #1092 "response_type should be a required param"
Say I visit `/oauth/authorize` in my browser, just like that.

Then I'm redirected to my app's login form, and then am redirected back to `/oauth/authorize`.

In that case I will find the following scenario:

![image](https://user-images.githubusercontent.com/1162994/39495704-b16c8656-4d9b-11e8-8680-77e791f9dffd.png)

That's a pretty uninformative message.

The source of the error is that `respons

[2018-05-02 12:33] #1091 closed

[2018-05-02 21:09] nbulaj commented on #1089
Also maybe @rsharrott would be interested in

[2018-05-03 07:34] bpieck commented on #1089
So, I agree with the discussion. If you do so, too:

I can mark the token as generated by pkce flow - and remove need of secret in refresh grant, if token is a pkce token. Would that be ok, @nbulaj?

[2018-05-03 10:26] nbulaj commented on #1089
@bpieck I don't really like the approach with the additional data in the token.. But currently I don't see any other solutions..

[2018-05-04 07:08] rishabhsairawat opened #1094 "Text type for scopes field"
Currently, Doorkeeper uses string type for `scopes` but If the number of scopes is very large then character limit for string will exceed. So Isn't it better to use text type for `scopes`?
If yes, then would you like a PR for that?

[2018-05-04 08:13] bpieck commented on #1089
I understand your dislike. And I share it. I still investigate a little further, to figure another way.

[2018-05-04 18:37] mazikwyry commented on #1089
@nbulaj @bpieck Maybe another solution could be to decide if client uses PCKE, as it now can select confidential option. PKCE option will force code challange for authorization flow and won't require secret for refresh token. That way we can leave token authorization-flow agnostic.

[2018-05-04 21:45] nbulaj commented on #1094
Yep, but there are no problems with string type, because for example in PostgreSQL without `limit` option this column would be a `character varying`, that is recommended (the same as `text`) for long strings, see https://www.postgresql.org/docs/10/static/datatype-character.html MySQL, as far as I remember, also allows variable length for varchar strings ( need to see https://dev.mysql.com/doc/refm

[2018-05-05 21:59] nbulaj commented on #1089
@mazikwyry sounds reasonable, because confidential option will be available by default in Doorkeeper 5.0, but can we assume that if app is non confidential, then we can skip secret verification?

[2018-05-06 07:35] bpieck commented on #1089
The initial request was about confidential apps doing pkce. I get the feeling, that a condiential app should not do pkce at all...

[2018-05-09 09:13] mazikwyry commented on #1089
@nbulaj I was thinking about that. When app will be non-confidential it will allow for refreshing-token without secret, but will also enable client authentication without secret which I for example don't want to enable for app for security reasons. This is how Confidential and PKCE options can work together:

1. If app is Confidential then PKCE should be disabled (as when secret is provided there

[2018-05-10 10:54] nbulaj commented on #1094
Hi @rishabhsairawat . I've decided not to change column type for `scopes` as it doesn't make sense: PostgreSQL, SQLite, MySQL and MSSQL doesn't force a characters limit for `varchar` (if limit is not defined).

[2018-05-10 11:16] mazikwyry commented on #1089
@bpieck would you like to do a PR for that or can/should I work on it?

[2018-05-10 13:49] #1094 closed

[2018-05-11 08:29] nbulaj commented on #1002
Hi @kapilmittal , can you confirm please that the problem is solved?

[2018-05-14 08:02] bpieck commented on #1089
Sorry, last four days I looked deeper into the matter. But I just encountered one question: What do you think you gain by this feature? There is nothing more confidential in a pkce app at all. You cannot trust, that a pkce app is really the one, you permitted in the beginning.
So there is a very small gain: You force your own mobile app developers to do pkce (what they should of course). If other

[2018-05-14 08:11] bpieck commented on #1089
I could do the PR - but I am not convinced anymore, that there is really anything good in doing so. I am very sorry, I needed so much time, just to change my mind in the end. If there are good arguments in implementing this, I still would do so. I just don't get the gain anymore. There is no big difference between a public (non-confidential) app that is allowed to do pkce - and a pkce app, that is

[2018-05-17 14:19] milgner opened #1096 "Rails API-only mode and eager_load"
### Steps to reproduce
- enable `api_only` in the Doorkeeper initializer
- set `config.eager_load = true` in your environment
- start the application

### Expected behavior
The application starts.

### Actual behavior
Eager loading tries to load `ApplicationsController` which invokes the non-existant `layout` method.

[code]

### System configuration
Ruby 2.5.1, Doorkeeper from current `master`. `