[2018-05-17 14:33] nbulaj commented on #1002
Closing this stale issue, let me know if problem still exists (check master branch, not stable gem unless it is 5.0)

[2018-05-17 14:33] #1002 closed

[2018-05-18 08:50] bpieck commented on #1089
Hi Nikita,
I totally understand you loosing the thread.
So: The original request was to enable confidential PKCE-Apps to ensure, app is using a secret or pkce flow. I currently don't get this request. Since there is nothing confidential about such an app. Any app that uses PKCE cannot be confidential by definition - else it would not need to use PKCE.

So: The only gain by this feature request wou

[2018-05-18 17:47] RobinDaugherty opened #1097 "`admin_authenticator` is poorly documented, leading to insecure implementations"
In the [example initializer](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/generators/doorkeeper/templates/initializer.rb#L5), the naming, comments, and examples provided for `resource_owner_authenticator` and `admin_authenticator` make it seem like they function similarly.

[code]

`resource_owner_authenticator` returns the resource owner object, and if it returns `nil`, there will

[2018-05-22 11:56] nbulaj commented on #1089
@bpieck sounds reasonable to me.

@mazikwyry any thoughts?

[2018-05-26 13:11] bpieck commented on #1089
If I should create a pull request for removing this configuration option - please tell me about it.
If in the end you like pkce option as third option next to confidential/non-confidential on apps (maybe for some case I did not consider or really just to be sure, no app developer forgets to implement it) - I'd create a PR about that, too.

[2018-05-28 17:11] Erowlin opened #1099 "Unnecessary SQL query to get the refresh token, even if it's not enabled in the doorkeeper.rb"
### Steps to reproduce

Api::V1::HelloController:
[code]

Upon requests, rails logs give me this:
[code]

Note the second SQL `Doorkeeper::AccessToken Load (0.2ms)  SELECT  "oauth_access_tokens".* FROM "oauth_access_tokens" WHERE "oauth_access_tokens"."refresh_token" = $1 LIMIT $2  [["refresh_token", ""], ["LIMIT", 1]]` that I don't get since I specifically disabled refresh tokens.

### Expected b

[2018-05-28 22:02] nbulaj commented on #1099
Hi @Erowlin . Yep, sounds reasonable. Would you like to submit a PR?

[2018-05-28 22:06] Erowlin commented on #1099
I will try to fix it tomorrow yes!

[2018-05-29 09:41] Erowlin commented on #1099
Here we go :). I let you review the PR and let me know if any changes are needed.

[2018-05-29 11:49] NoMemoryError opened #1101 "Error codes customization"
When using Resource Owner Password Credentials Grant, is there a quick and clean way to customize response codes for the following cases. Right now they are all returning back `401`.

- Bad credentials (Invalid username or password)
- Invalid access token
- Invalid refresh token

[2018-05-30 09:34] nbulaj commented on #1096
Take a look please at https://github.com/doorkeeper-gem/doorkeeper/pull/1098#issuecomment-393096095

[2018-05-30 09:37] nbulaj commented on #1089
Hi @bpieck . Thanks for your interest in this! I think we can drop this option (enable_pkce_without_secret) now from the 5.0 release, but if somebody else would need it and create an issue for example - we can return to this topic and think what do we need to do on that.

[2018-05-30 21:55] #1099 closed

[2018-05-30 22:01] nbulaj commented on #1097
Hi @RobinDaugherty . I totally agree with the necessity of more robust documentation. Would you like to submit a PR ?

What about the default behaviour - I was thinking that it doesn't allow to manage applications if block returned nil (so nothing insecure there), but I will check it tomorrow.

[2018-05-31 02:06] thatsmydoing commented on #646
Hi, I'm interested in the feature originally proposed in this issue. Being able to customize whether or not to provide a refresh token given some conditions. I took a look at #769 and it wasn't entirely obvious to me how to use that for this case. Is it possible with the current doorkeeper?

[2018-05-31 08:56] Erowlin commented on #1099
Quick question, if I update my gem, it contains this fix?

[2018-06-01 07:49] nbulaj commented on #1096
Any news here? :)

[2018-06-01 12:14] milgner commented on #1096
Yes, the updated version works flawlessly! Many thanks! I'm going to close this then...

[2018-06-01 12:14] #1096 closed

[2018-06-04 04:02] leechunhoe commented on #980
I encountered similar issue though what I got is `undefined method 'unshift' for nil:NilClass`.

[2018-06-06 13:46] nbulaj commented on #1089
Hi @bpieck . Any updates here?

[2018-06-07 11:41] bpieck commented on #1089
Ah, and please don't be sorry, to have opened this issue. It's great. I got the opportunity to think this through. And I learnt much in thinking this through :)

[2018-06-08 07:32] bpieck commented on #675
I don't get the issue, why anyone would prefer jwt above bcrypt/scrypt/some-similar-hashing-algorithm here. With showing secret only on creation, hashing it with some algorithm before putting it in the database, and giving the application-owner the possibility to generate a new secret later, you even secure a security whole on the server itself on beeing the issue of someone impersonating some con

[2018-06-08 07:55] nbulaj commented on #1077
Any updates on this issue?

[2018-06-08 15:35] #1089 closed

[2018-06-08 15:35] nbulaj commented on #1089
Thanks @mazikwyry  @bpieck for your work!

[2018-06-11 11:40] nbulaj commented on #1077
Closing due to inactivity

[2018-06-11 11:40] #1077 closed

[2018-06-11 11:48] nbulaj commented on #1091
@jonatanklosko check out 5.0.0.rc1 version from rubygems

[2018-06-13 11:14] nbulaj commented on #1069
Hi @milgner . Any news on this issue?

[2018-06-13 12:05] nbulaj commented on #1097
Hi @RobinDaugherty . I've checked default behavior of `admin_authenticator` block and you are right, it is unsafe by default. So I've added a default block to this option with forbidden method in order to force developers to define their own authenticators.

You can check out 07afb4d67b36b0f60c9f8ce25d08b8a7769e900b . Do you still want to improve the docs?

[2018-06-15 11:48] lsethi-xoriant opened #1107 "Not able to authenticate user with google home"
I am using doorkeeper as our oauth server , we are able to redirect user in sign in page when user invoke our  google home application after sign in not able to get token form oauth server.
We are getting an error **Bad response from IdP in Auth Code Exchange**

But using https://developers.google.com/oauthplayground we are able to get token.

[2018-06-15 17:56] RobinDaugherty commented on #1097
Glad to see that change! Here's my `admin_authenticator` if you're looking for a real-world example:

[code]

[2018-06-18 11:56] nbulaj commented on #1107
Hi @lsethi-xoriant . I don't understand how Doorkeeper is connected to Google Home. Maybe you could describe it in more details?

[2018-06-18 11:59] nbulaj commented on #1097
Added in b55c0adda373faae2661e5772705869cbc895b12, thanks!

[2018-06-18 12:20] lsethi-xoriant commented on #1107
Hello @nbulaj. We have created a project in action on google (https://console.actions.google.com)
Over there is option call account linking which needs application id, secrets, Authorization URL,Token URL (Already created application on my oauth server and added required information for account linking in https://console.actions.google.com) .
Fallow steps as per link https://developers.google.com/

[2018-06-18 19:38] nbulaj commented on #1055
Hi @f3ndot . Could we do anything for 5.0 release to increase Doorkeeper security?

[2018-06-20 19:20] enrico opened #1110 "Doorkeeper application controllers and Rails 5.2 protect_from_forgery default behavior"
As of Rails 5.2 ```protect_from_forgery``` is set by default on ```ActionController::Base``` (rather than protecting from forgery in the generated ApplicationController) and a new method ```skip_forgery_protection``` is introduced to skip this default protection setting.

See this PR: https://github.com/rails/rails/pull/29742

currently Doorkeeper ```ApplicationController``` invokes ```protect_fro

[2018-06-21 08:27] nbulaj commented on #1110
Hi @enrico .Good point! Would you like to produce a PR to fix this?

[2018-06-21 14:47] enrico commented on #1110
@nbulaj , I'm leaving town for a week, so I won't have time to do this right away.

When I started thinking about how to do this, I realized we would also have to consider  ```Doorkeeper.configuration.base_controller``` 's value when performing the check (i.e. if a user has overridden the value it's likely they wanted their own control/granularity with respect to enforcing or not the forgery check

[2018-06-21 15:56] nbulaj commented on #1110
I think we need to be opionated enough, because it is a question of the security. If user would disable forgery protection - OAuth2 endpoints could be compromised. We can't allow this. So if developer disabled forgery protection for his controllers - we must validate requests ourselves..

[2018-06-21 16:57] f3ndot opened #1111 "Response from token creation and token info differ"
**Doorkeeper version:** v4.2.6

I think this is a pretty reasonable assumption that these two calls produce a similar, if not exact, response structure. I also have issue with `AccessToken#id` and `AccessToken#application_id` being exposed.

### Steps to reproduce

1. Create an access token from either `password`, `code`, or `client_credentials` flows
2. Note the response structure. Save the acces

[2018-06-21 16:58] f3ndot commented on #1055
Perfect. I'll make a PR for the warnings

[2018-06-21 17:03] f3ndot commented on #1111
My mistake. This was done by some customization in my project. Not the fault of Doorkeeper.

[2018-06-21 17:03] #1111 closed

[2018-06-22 08:14] #1097 closed

[2018-06-22 08:23] nbulaj commented on #1069
It's not so simple as many parts of the Doorkeeper are tied to Resource Owner. I've [created a branch](https://github.com/doorkeeper-gem/doorkeeper/tree/polymorphic_resource_owner) with some stubs for polymorphic Resource Owner, currently it has broken test suite and requires some changes. This implementation couldn't be merged to master because of incompatibility issues with old versions of Doork

[2018-06-25 10:19] omake43 opened #1112 "Rails returns 401 unauthorized even in the case of any type of error when use api_only option"
### Steps to reproduce
1. Set `api_only` option in Doorkeeper.configure
2. Raise runtime error to deliberate in any controllers
3. Get 401 unauthorized always even in the case of any type of error

### Expected behavior
I got 401 unauthorized error

### Actual behavior
I should got 500 error

### System configuration
local computer (macOS 10.12.6)

**Doorkeeper initializer**:

[code]

**Ruby versi

[2018-06-25 15:56] nbulaj commented on #1112
Hi @omake43 . I don't understand. Your controller actions protected by Doorkeeper or how? Do you send access token with the request?

Currently it looks like you protected your controllers with oauth2, but sending requests without valid access token and get a 401 - everything is ok, no raise.

[2018-06-26 02:59] #1112 closed

[2018-06-26 04:52] skorks opened #1115 "Can use a refresh token to fetch a new access token without authenticating the client"
### Steps to reproduce

You need an access token with a valid refresh token. After that you can instantiate an oauth2 client like this:

[code]

Then we can try to fetch a new access token via the refresh_token grant type:

[code]

For me this succeeds just fine, but I would expect it to fail as the client id and secret and empty strings.

What we need to do to see your problem or bug?

As per abo

[2018-06-27 08:27] nbulaj commented on #891
Hi @ostinelli . It would be great if you could take a look at this issue.

[2018-06-27 08:28] nbulaj commented on #1115
Hey @skorks . Strange behavior, because _Refresh Token_ strategy has validations for credentials (see `validate_client` and `validate_client_match` methods).

[2018-06-27 08:30] nbulaj commented on #1115
Also take a look at 1.5.  Refresh Token of the OAuth2 RFC

        the authorization server and presenting the refresh token.  The
        client authentication requirements are based on the client type
        and on the authorization server policies.

Does your client application is public?

[2018-07-03 20:08] XavierTalpe commented on #729
Ran into the same problem. Was caused by running `rails server` before adding/installing the gem. Restarting the server solved the issue.

[2018-07-04 13:03] nbulaj commented on #1115
Any updates here?

[2018-07-05 08:15] lsethi-xoriant commented on #1107
@nbulaj Issue got fixed as we have restrict our server access for few countries only. Google simulator request comes every time from different  geolocation .
BTW after getting an access_token and make request to the server I am facing 401 Error.
**Filter chain halted as :doorkeeper_authorize! rendered or redirected 2018 Completed 401 Unauthorized**
Please take look of request as below
`2018-07-04T

[2018-07-06 14:32] ostinelli commented on #891
Hi, as per my previous message we reverted back and still are using 3.x. Haven't had the time to check the new code yet...

[2018-07-08 10:22] Caesium20 opened #1117 "Uninitialized constant Doorkeeper::Rake"
### Steps to reproduce
What we need to do to see your problem or bug?
Simply run through

1.  Gem install doorkeeper
2.  rails generate doorkeeper:install
3. rails generate doorkeeper:migration
4. add_foreign_key :table_name, :users, column: :resource_owner_id
5. rake db:migrate
6. Add associations to user models
7. Add `Doorkeeper::Rake.load_tasks` to Rakefile

### Expected behavior
Rake tasks sh

[2018-07-09 06:38] KOLANICH opened #1118 "Allow OAuth authentication request scope modification by a user"
### Steps to reproduce
I modify scopes requested by a third-party app (edit the URI)

GitLab uses this lib.

### Expected behavior
on GitHub this works.

### Actual behavior
on GitLab when I tamper with the `scopes` param anyhow I get

[2018-07-09 08:48] nbulaj commented on #1117
Rake tasks were added only in 5.0 version *currently only RC1 release), but use are using `doorkeeper (4.3.2)`

[2018-07-09 18:20] #1117 closed

[2018-07-10 14:55] f3ndot commented on #891
@nbulaj This is still an active issue.

Conveniently, because we now have an `Application#confidential?` method we can solve this without either vastly refactoring what `AccessToken#application_id` means (informational vs a cryptographically guaranteed fact) or setting it as NULL to convey its not to be trusted (and thus losing fidelity).

There is a tripping hazard where developers would not know

[2018-07-10 16:38] brianp commented on #891
I've come across this issue just this week, and was looking to see if it was already reported.

It looks like it's under control now with a clear direction to fix. Once the fix has been merged and potentially back ported to 4.x.x (?) should a CVE be opened for the issue so automated auditors could recommend the upgrade?

[2018-07-10 17:30] nbulaj commented on #891
Take a look at https://github.com/doorkeeper-gem/doorkeeper/pull/1119#issuecomment-403903231

[2018-07-10 19:10] f3ndot commented on #891
Whether or not we can backport to 4.x (although I'd love that), this should trigger another CVE. I'll request one now

[2018-07-10 19:35] f3ndot commented on #891
CVE requested via the [Distributed Weakness Filing Project](https://docs.google.com/spreadsheets/d/1PlDOsZ4Q36JU4Dz9zyBB2F3814dScppCRCe1muCT7JI/edit#gid=1009122160)

[2018-07-10 21:16] #891 closed

[2018-07-11 13:48] f3ndot commented on #891
CVE-2018-1000211 assigned.

[2018-07-12 20:32] voltechs commented on #382
We're still experiencing an issue where when `client_id` and `client_secret` are passed with empty values, it returns an exception of `Client authentication failed due to unknown client, no client authentication included, or unsupported authentication method.`

For example, Postman will send them along even when they're empty. Is there anything in the OAuth Spec about ignoring empty strings?

[2018-07-13 16:54] f3ndot opened #1121 "Authorization error response is not valid JSON when api_only"
### Steps to reproduce

1. Use Doorkeeper's `master` (presently `v5.0.0.rc1`)
2. Set initializer to use `api_only`
3. Make a GET request to `/oauth/authorize?client_id=badclient`

### Expected behavior

Response should be something like

[code]

### Actual behavior

We get just raw text back, despite the response header `Content-Type: application/json`:

[code]

![screen shot 2018-07-13 at 12 41 1

[2018-07-14 18:40] #1121 closed

[2018-07-16 08:44] nbulaj commented on #1110
Hi @enrico. Any thoughts on this issue?

[2018-07-16 08:56] nbulaj commented on #1092
Take a look at 3.1.1.  Response Type of the OAuth RFC 6749:

From [4.1.2.1.  Error Response](https://tools.ietf.org/html/rfc6749#section-4.1.2.1) OAuth server need to return `error`, and optionally - `error_description` / `error_uri` / `state`.

Currently I don't think that it is an informative message. Actually, it shows that `response_type` parameter is wrong (blank, invalid value or something l

[2018-07-16 08:56] #1092 closed

[2018-07-16 16:17] enrico commented on #1110
Well, enabling ```protect_from_forgery``` based on the value of
```Rails.application.config.action_controller.default_protect_from_forgery``` would not cover 100% of the cases since a developer can create his/her own base class to inherit from.

That's where I'm doubtful on whether documentation is sufficient or we want to examine the action chain to check if verify_authenticity_token is present..

[2018-07-18 08:49] Erowlin commented on #1110
I do not agree. Not everyone needs the CSRF protection, for instance full API without any cookies. See below.

This. That's exactly our use case. Our application is a monolith, we have one part of the application running as non-API mode (regular MVC with HTML), and another part only for API (`controllers/api/`) folder.

All our API controllers inherits from an API controller, which himself inherit

[2018-07-18 09:17] nbulaj commented on #1110
@enrico @Erowlin agree. Maybe it would be better to make it as a configurable option (like same-name `protect_from_forgery`) that by default inherits the value from configured controller? Anyone can change it for their requirements.

[2018-07-18 15:21] enrico commented on #1110
@nbulaj  yes, that sounds better, but @Erowlin' s use case brings up another point: what if a developer has a monolith app like he does, and intends to use Doorkeeper::ApplicationController mainly as an API, but also wants to allow some of his users (maybe admins) to manage Applications in the MVC HTML UI?
In this case, since Doorkeeper::ApplicationsController (plural) inherits from Doorkeeper::Ap

[2018-07-18 15:44] Erowlin commented on #1110
IT should be a per-controller configuration to be really fine tune up.
What if in my monolyth, I have 2 different APIs,
- one that requires CSRF protection
- one that does not
?

[2018-07-23 19:47] nbulaj commented on #1110
@enrico @Erowlin would you like to submit a PR?

[2018-07-23 19:54] nbulaj commented on #1118
Hi @KOLANICH . Edited scopes exist on the server? Does application (client) you use has it's own scopes? What Doorkeeper configuration do you use?

[2018-07-23 20:31] KOLANICH commented on #1118
I guess they should since I don't add them, only remove.

I guess no.

I use a web browser and try to use OAuth for signing in a webapp. But the webapp (it doesn't use this lib) requests access to personal data I don't wannt to give it access. For GitHub a well-known (some services check if it is used and refuse to operate without graning them the scope) way to do it is to remove scopes from URI.

[2018-07-23 20:35] nbulaj commented on #1118
I don't know an actual info, but seems like client spp you are using requires this set of scopes or server configured this way (with required set of scopes). I don't sure could somehow help in this issue

[2018-07-24 08:05] Erowlin commented on #1110
I would, but I'm OOC for 2 weeks starting tonight, I won't have time unfortunately.

[2018-07-26 12:09] nbulaj commented on #1118
Is there are anything we can do more on this @KOLANICH ?

[2018-07-26 12:33] nbulaj commented on #1101
Hi @NoMemoryError . You could override `doorkeeper_status_for_error` helper method.

Also take a look at [other Rails controller helper methods](https://github.com/doorkeeper-gem/doorkeeper/blob/25028a8f2811dbc6b91bab731ed6e12ad07cbce2/lib/doorkeeper/rails/helpers.rb#L56)

[2018-07-26 12:34] #1101 closed

[2018-07-27 04:53] KOLANICH commented on #1118
I don't know. To figure out I need to investigate the issue more. For now I still haven't found the piece of GitLab code responsible for the throwing of the error. It seems I have to learn rails better for that. Close for now, but may be reopened.

[2018-07-27 04:53] #1118 closed

[2018-07-27 08:33] nbulaj commented on #1083
Hi @yra-wtag . There are no concrete answer or Wiki page for this case. If you have some experience on using Doorkeeper in multi-engine applications and you have a proper solution - you can send a PR to improve Doorkeeper gem, we can discuss it. Thanks!

[2018-07-27 20:40] paris-plated opened #1128 "(Potentially) confusing documentation in API endpoint descriptions wiki page"
Hi All,

I am a bit confused about the documentation for the `DELETE /oauth/authorize` endpoint in the [API endpoint descriptions and examples](https://github.com/doorkeeper-gem/doorkeeper/wiki/API-endpoint-descriptions-and-examples#delete-oauthauthorize) wiki page.

The docs say that this endpoint will "Revoke OAuth authorization, deletes the access token." After making requests to this delete en

[2018-07-31 16:00] coalwater opened #1129 "Provide the ability to use JWT's `jti` instead of the whole token for db storage ( or any alternative )"
I want to create a JWT with a unique UUID as a `jti` claim [(defined in section 3 point 7)](https://tools.ietf.org/html/rfc7523#section-3), and would like to use the UUID to identify the token in the database instead of the whole token.

What currently happens is that the whole encoded JWT is saved in the db, which could increase the db size too much too fast.

## Steps to reproduce
Create a basic

[2018-08-01 06:03] philkcw opened #1130 "native_redirect_uri is not considered a valid redirect_uri in doorkeeper 4.4.1"
### Steps to reproduce
After generating a grant token, attempt to get the corresponding access token like the following.  The important keys are the `grant_type` and `redirect_uri`.
[code]
We happen to be using capybara in this test, but it's just an HTTP POST.

### Expected behavior
With doorkeeper 4.2.6, we got the access code in the response body, as expected.

### Actual behavior
With doorkeep

[2018-08-01 07:56] bpieck commented on #947
@Linuus: This is just a side remark. But you should have a look into PKCE. iOS Apps totally should use the redirect flow. There even is a special mobile-App variation of authentication_code grant (with PKCE). That is created because you normally cannot really trust the client credentials of mobile apps.

My feeling: This here is no real issue.

[2018-08-01 12:54] waltera commented on #1130
It's happening to me too.

I had to update to 5.0.0.rc1 version to solve.

[2018-08-01 17:43] philkcw commented on #1130
Thanks @waltera .  Does anyone know when 5.0.0 will be released?

[2018-08-02 10:53] nbulaj commented on #1115
Looks like  stale issue

[2018-08-02 10:53] #1115 closed

[2018-08-02 10:56] nbulaj commented on #1130
Hi @philkcw . Couldn't say when 5.0.0 will be released, but I'll merge a native redirect URI fix in a 4.4.2 release. Feel free to use 5.0.0.rc2 if you want to have the latest gem features.

[2018-08-02 17:54] philkcw commented on #1130
@nbulaj thanks!  Looking forward to 4.4.2!

[2018-08-06 23:37] rept commented on #1107
@lsethi-xoriant did you solve your last issue?
I'm getting the exact same thing with Google assistant & doorkeeper: Filter chain halted as :doorkeeper_authorize! rendered or redirected Completed 401

[2018-08-07 04:12] lsethi-xoriant commented on #1107
@rept  Yes I fixed this issue using own authentication method. instead of doorkeeper_authorize!

[2018-08-07 18:25] philkcw commented on #1130
Hi @nbulaj do you have an ETA on the fix for 4.4.2?  There is some urgency to this because of a CVE in doorkeeper: https://nvd.nist.gov/vuln/detail/CVE-2018-1000211

[2018-08-07 19:46] nbulaj commented on #1130
Hi @philkcw . This CVE already fixed with 4.4.0 release. What about native redirect uri - ASAP, currently I'm too busy, sorry

[2018-08-07 22:28] philkcw commented on #1130
@nbulaj 4.4.0 has the regression as well.  I'll bug you next week or submit a PR.

[2018-08-09 19:07] jagthedrummer opened #1132 "invalid_grant due to uri encoding mismatch?"
### Steps to reproduce

I have `doorkeeper` installed and configured in one rails app (the "doorkeeper app") and running on port 3000. I've created a `Doorkeeper::Application` for a "client app" that will auth against the doorkeeper app that runs on port 3001.

When I visit a protected route in the client app:
http://localhost:3001/home/protected

Then I see this redirect:
[code]

The browser foll

[2018-08-13 12:28] bpieck commented on #1132
Normally there should not be a param in the redirect_uri at all. You can forward a param like state, by setting it on the oauth uri. So if you redirect to http://localhost:3000/oauth/authorize?redirect_uri=http://localhost:3001/home/private&client_id=<client-id>&state=yyy then you will be redirected to http://localhost:3001/home/private?code=<some-authorization-code>&state=yyy

Are you sure you ev

[2018-08-13 12:29] bpieck commented on #1132
Maybe this can help you?
http://www.thread-safe.com/2014/05/the-correct-use-of-state-parameter-in.html

[2018-08-13 13:53] ViTVetal opened #1133 "Freeze after twice POST "/oauth/token" requests with same credentials"
I have noticed this behavior several times.
1) start of Rails app
2) Two  POST "/oauth/token" requests with same credentials (at the same time, almost without interruption)
3)

4) freeze of app. I can restart it only with `kill -9 $(lsof -i tcp:3000 -t)`

Migration:

[code]
initializers/doorkeeper.rb

[code]

[2018-08-13 14:55] nbulaj commented on #1133
`Doorkeeper.configuration.token_grant_types << "password"` is a freezed option, you can't modify it this way. You could configure it using `grant_flows` option like

[code]

[2018-08-13 15:08] nbulaj commented on #1128
Hi @paris-plated . It is a good question BTW

Seems like previously this endpoint have worked like that, but currently it not (yep, it just returns Deny message).

Also [first revision of the Wiki](https://github.com/doorkeeper-gem/doorkeeper/wiki/API-endpoint-descriptions-and-examples/d3b7f25fe34839f3316625c39136b0d80b488f4d) contains some misunderstanding of the DELETE request. The change about

[2018-08-13 15:17] nbulaj commented on #1128
Ah, ok, I"ve get it. So it is a Deny button for Authorization request (just like Cancel), that will redirect back to the application with access denied message.

Just like this Cancel button:

![GitHub app auth](https://cdn-docs-images.paw.cloud/github-api-3a-ece10444664f957c7a04dc7fe37465bd.png)

So we need just to fix the Wiki page.

[2018-08-13 15:19] nbulaj commented on #1128
Ready. Thanks @paris-plated !

[2018-08-13 15:19] #1128 closed

[2018-08-13 23:49] ryansch commented on #1130
I'm having success with 4.4.1 with this patch: https://github.com/doorkeeper-gem/doorkeeper/compare/4.4.0...outstand:backport-1060

[2018-08-14 09:02] ViTVetal commented on #1133
@nbulaj no. For a single request or few requests with some delay - all works fine. The problem occurs only when two requests performs at the same time.
I changed doorkeeper.rb (also I tried grant_flows %w[password] and grant_flows %w(password)):

[code]

Result is same - freeze

[2018-08-14 09:26] nbulaj commented on #1133
But if I run it in parallel, than yes, I see freeze:

:thinking:

[2018-08-14 09:31] ViTVetal commented on #1133
@nbulaj I got this problem when by mistake in Android app perform parallel two requests. So look like it isn't configuration mistake from my side?

[2018-08-14 09:32] nbulaj commented on #1133
No, @ViTVetal , it looks like dead-lock problem and requires some research

[2018-08-14 10:32] nbulaj commented on #1133
Yep, seems like dead-lock in [authorization_code_request.rb](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/oauth/authorization_code_request.rb#L31)

[code]

[2018-08-14 13:03] ViTVetal commented on #1133
@nbulaj Will you fix it? What should I do? Avoid situation with parallel requests?

[2018-08-14 13:50] nbulaj commented on #1133
@ViTVetal currently I can't say how to quickly fix this, because in normal situation we should not have this situation. The best we can is to handle transactions and locks.

So from your side you now need to avoid situation with parallel requests, yep. From our side - fix the problem. Would you like to propose a PR with the fix?

[2018-08-14 13:57] ViTVetal commented on #1133
@nbulaj Thank you!
Sorry, I'm new to Rails so I will not risk propose a PR with the fix:-)

[2018-08-14 17:46] philkcw commented on #1130
@ryansch I think your patch is correct.  Thanks!  It could use this regression test like this one: https://github.com/doorkeeper-gem/doorkeeper/blob/master/spec/lib/oauth/helpers/uri_checker_spec.rb#L46

Are you going to submit a PR?

[2018-08-15 23:16] jagthedrummer commented on #1132
Thanks for the link, that's interesting. Yeah, I guess the origin param really isn't necessary. Storing it in the session of the client app works just as well.

[2018-08-16 08:25] dbbooke opened #1134 "Doorkeeper with JWT gem"
Not really an issue.... does anyone know if doorkeeper gem will be capatabile the JWT (JSON Web Token) gem. Would there possibly be any errors?

[2018-08-16 08:27] nbulaj commented on #1134
Hi @dbbooke . Maybe you need a https://github.com/chriswarren/doorkeeper-jwt ?

[2018-08-16 09:31] ViTVetal opened #1135 "Revoke all tokens related to user except new one after log in"
Hello!
I know that I should use stackoverflow for this kind of questions. [I asked question](https://stackoverflow.com/questions/51842118/revoke-all-tokens-except-one-after-log-in)

Is it possible revoke all tokens related to current user after log in? (except new one created after log in) User should be able use my app only from one device.

[2018-08-16 10:35] dbbooke commented on #1134
I have seen that gem but after look at the issues, the owner of the gem says he's not maintaining the gem anymore and its outdated. So I was wondering would there be any issues implementing doorkeeper with just the regular jwt gem? https://github.com/jwt/ruby-jwt

[2018-08-16 15:06] nbulaj commented on #1134
I could not answer your question, I don't use JWT with Doorkeeper. I think you'll know it only when you will try it yourself.

In any case, you could first take a try with the original Doorkeeper-JWT gem, or make a fork of it and fix any issues if it exists.

[2018-08-16 17:27] philkcw commented on #1130
@nbulaj @ryansch please review: https://github.com/doorkeeper-gem/doorkeeper/pull/1136

[2018-08-17 09:26] nbulaj commented on #1135
Hi @ViTVetal . How about something like this in `resource_owner_from_credentials` (or whatever authenticator you use):

[code]

The only thing you need to know is in case you are using different models as resource owners you could face a problem when AccessToken was granted for Admin #1 and other token for Passanger #1 (both tokens will be removed).

[2018-08-17 18:43] nbulaj commented on #1110
Hi @Erowlin . Any update here?

[2018-08-19 13:50] nbulaj commented on #1130
I'll release 4.4.2 tomorrow with the fix for this issue

[2018-08-20 11:05] ViTVetal commented on #1135
@nbulaj Thank you! Your proposal is good. I can remove tokens by user id and scope.

[2018-08-21 19:30] philkcw commented on #1130
Thanks everyone!

[2018-08-21 19:40] bpieck commented on #1133
I will try to reproduce and add a fix

[2018-08-21 19:45] nbulaj commented on #1133
@bpieck I was thinking about application level mutex for such operations to avoid transactions dead-locks, because splitting of mentioned above transaction is impossible

[2018-08-21 19:47] bpieck commented on #1133
Thans @nbulaj for additional directions :)

Sorry to reensure @nbulaj pointed into right direction ...

@ViTVetal did I understand correctly, that your mobile apps are doing a resource owner credentials grant - and no authorization code grant? I totally like to look into the authorization code grant, too. But I think it won't fix the issue @ViTVetal encountered?

[2018-08-21 19:54] nbulaj commented on #1133
Take a look at my curl example requests above, they are using auth code grant. I pointed the part of the code that is respobsible for the dead lock (same parallel requests that creates two transactions where one creates a lock and second raises with ActiveRecord::StatementError because of dead-lock)

[2018-08-21 19:57] bpieck commented on #1133
Yeah, I saw, what you did. But on @ViTVetal I just saw, that the request was sent to /oauth/token - and params where missing. And since he had shown his configuration:
[code]
I assumed, he could only have made a resource owner credentials grant. But I assume you will be right and I was misreading :)

[2018-08-22 01:30] philkcw commented on #1130
Unfortunately the fix which has been merged has introduced a different regression. 😢 Stay tuned for more details.

[2018-08-22 01:49] jhubert commented on #1130
@philkcw Oh noes! What's the regression?

[2018-08-23 08:46] #1135 closed

[2018-08-23 08:52] nbulaj commented on #1129
Hi @coalwater . I think you need to take a look at [Doorkeeper-JWT gem](https://github.com/chriswarren/doorkeeper-jwt/blob/master/lib/doorkeeper-jwt.rb#L8) as it generates a token and returns the whole token for saving to the database.

Also I could produce a PR if you have a clear vision on what we need to do to support such case. Thanks!

[2018-08-23 08:59] nbulaj commented on #1132
Hi @jagthedrummer . So what the status of this issue?

[2018-08-23 23:22] Gargron opened #1137 "Authorizations stopped working after 4.4.2 upgrade"
Very strangely after performing the upgrade from Doorkeeper 4.2.6 to 4.4.2 pretty much all app authorizations stopped working, i.e. no app can get a new access token.

Here is an example of an error message: https://gulp.cafe/@Taris/100602053143287842

I hear more from end-users of a mobile app but it's impossible to get at a descriptive error there, I'll update the issue if I get more information

[2018-08-24 06:51] nbulaj commented on #1137
Hi @Gargron . Could you please reproduce the problem with the 5.0.0rc2 ? I need to know if it is a problem of backporting features/fixes or it is a common bug. :bowing_man:

[2018-08-24 11:12] Gargron commented on #1137
Upgrading to 5.0.0.rc2 has indeed fixed the issue :thinking: I was hesitant to use an RC with possibly breaking changes but now that I'm looking at <https://github.com/doorkeeper-gem/doorkeeper/wiki/Migration-from-old-versions#from-4x-to-5x> it doesn't look like any of the breaking changes would affect how Mastodon uses Doorkeeper.

I did just yesterday push out a security patch release 2.4.4 with

[2018-08-24 13:58] nbulaj commented on #1137
Hi @Gargron . I released 5.0.0 version with all the new features and fixes, so you could use it. It is stable enough. Let me know if I can help you somehow.

[2018-08-24 19:52] Gargron commented on #1137
Thank you :tada:

[2018-08-24 20:48] philkcw commented on #1137
The problem in 4.4.2 might be related to the redirect_uri in auth requests which must match the redirect_uri of the client application.

[2018-08-25 12:15] coalwater commented on #1129
@nbulaj Thanks for your reply, I just needed someone to guide me, I will try to look into this and I'll get back to you if i have any questions.
Thanks again

[2018-08-25 12:15] coalwater commented on #1129
I think we can close this issue and I'll move this to the other gem.

[2018-08-29 10:09] Erowlin opened #1138 "The authorization should not be triggered when a previous expired token is provided and `reuse_access_token` is enabled."
### Steps to reproduce
Flag `reuse_access_token` is turned `on`. Whenever the access_token expires, instead of silently renewing the `access_token`, the user is redirected to the `authorization/new` page where she has to click on "Accept" or "Decline". (The user approved the application previously, and gave the expired access token in the request).

The incriminating commit: https://github.com/doo

[2018-08-29 18:40] Gargron commented on #1137
I guess not, since we upgraded to 5.0.0 and pushed out 2.4.5!

[2018-08-29 18:40] #1137 closed

[2018-08-30 07:29] Erowlin commented on #1138
Sure, do you confirm that it is RFC compliant? I'm not fully familiar with the OAuth.

[2018-08-30 07:34] harisp9631 opened #1139 "Different token scopes for login and refresh"
I am currently working on implementing doorkeeper into our companies project and migrating from an old auth flow, our custom one.

While doing it, I decided to use token scopes for reasons not important for this issue, but then saw something that might be considered as a bug. When using password flow to log in, the token created has `scopes` set to `nil`.

[code]

[code]

Setting the token to nil

[2018-09-06 14:29] nbulaj commented on #1138
As far as I remember RFC 6749 say nothing about token reuse, so this functionality looks like an extension to OAuth protocol. Fix me if I'm wrong. This changes were done during the investigation of expired tokens issues, and now looks more like a bug.

[2018-09-06 14:42] nbulaj commented on #1132
Any update here?

[2018-09-07 08:59] nbulaj commented on #844
Implemented in #1140 and would be released in 5.x.x or 5.0.x release :tada:

[2018-09-07 08:59] #844 closed

[2018-09-07 18:34] AndreiMotinga opened #1141 "Need more docs."
Guys, I've been banging my head against this thing for 10 straight days now.

Could please someone write up a wiki page on how to use pkce and/or auth for single page app
What exactly should I pass and when?

[2018-09-07 21:05] aalvarado commented on #844
Awesome, thanks @nbulaj

[2018-09-10 17:19] rhymes opened #1142 "Consider defaulting Application.confidential to false"
Recently we had an app break because of the following reasons:

* version 4.4.0 was released with the following changelog message: `Backport security fix from 5.x for token revocation when using public clients`
* we applied the security fix knowing revocation wasn't an issue for our use case
* the security fix went to production without deep testing
* Android users started complaining, iOS users w

[2018-09-10 18:13] revskill10 commented on #1142
What do you mean by `clearer` ? Any example for it so that we could make the changelog better ?

[2018-09-10 19:05] nbulaj commented on #1142
Hi @rhymes . By default [all the clients have secret key](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/orm/active_record/application.rb#L18), so it doen't fully clear to me. Did you patch Doorkeeper models?

[2018-09-10 19:10] rhymes commented on #1142
@revskill10 I mean by explicitly saying in the changelog: "this change means that by default all clients logging without the secret will break" or something like that

@nbulaj the clients in this case are Android and iOS application, they don't use Ruby. The Android client didn't send back the secret.

[2018-09-11 20:38] nbulaj commented on #1142
Hi @rhymes . I took a look at original PR and backport . You are right - by default now all the apps are considered confidential. I'll work on more clearer changelog and upgrade guides, thanks for mentioning!

[2018-09-12 07:14] rhymes commented on #1142
@nbulaj thank you! :-)

[2018-09-12 07:46] nbulaj commented on #1142
[Upgrade guides updated](https://github.com/doorkeeper-gem/doorkeeper/wiki/Migration-from-old-versions) (feel free to add or fix something here, it's public)

[changelog also updated](https://github.com/doorkeeper-gem/doorkeeper/blob/master/NEWS.md#500rc1)

[2018-09-12 07:52] nbulaj commented on #1141
I think @bpieck could describe it in more details.

[2018-09-12 08:08] bpieck commented on #1141
I think I cannot add some entry to wiki?
I could write some details here and maybe someone will move it to the wiki.
PKCE is normally for mobile apps. But I assume you can protect your single page app from overregistering your redirect uri, too.

PKCE is not much different from standard authentication code grant. I hope you understood that one. Then following description should be enough:

First t

[2018-09-12 09:17] arekt commented on #1142
shouldn't be?
"You need to manually change confidential column to `false` if you are using public clients"

The confidential column is true by default, isn't it?

[2018-09-12 09:31] rhymes commented on #1142
thank you! I think we can close the ticket :-)

[2018-09-12 09:35] #1142 closed

[2018-09-12 09:43] nbulaj commented on #1141
Hi @bpieck . You can add more info to [this page](https://github.com/doorkeeper-gem/doorkeeper/wiki/Using-PKCE-flow). Thanks you for your contribution :+1:

[2018-09-12 12:33] bpieck commented on #1141
Ok, thanks for pointing the direction, I can do so in the evening :)

[2018-09-13 00:16] pakwfoley opened #1143 "breaking api change in versions greater than v4.2.6"
### The Issue

There is a breaking api change in versions greater than `v4.2.6`. This is in the native redirect uri authorization code flow. Up until then the code response route, after resource owner authentication, was `/oauth/authorize/<code>` . Now the response is `oauth/authorize/native?code=<code>`. This breaks the native oauth flows for clients that previously parsed the response from `/oau

[2018-09-13 09:01] nbulaj commented on #1143
Hi @pakwfoley . Yes, you are absolutely right. This change was made to help applications that automatically authorizes ([take a look at original PR](https://github.com/doorkeeper-gem/doorkeeper/pull/1003)). I think we need to revert this for 4.x release, but save it for 5.x with notice in upgrade guides and changelog.

[2018-09-13 14:08] pakwfoley commented on #1143
@nbulaj Thank you for the quick response! The only concern I have for reverting would be for those applications who have already bumped past 4.2.6 and asked clients to move over to the new api. I know it’s not easy to ask clients to move to a new api, and it’s especially not easy to ask them to revert after changing. Would it be unreasonable to add an option to opt out of the api change in the 4.x

[2018-09-13 14:11] nbulaj commented on #1143
@pakwfoley I think you are right. It would be great if you can send a PR with such an option

[2018-09-13 22:33] bpieck commented on #1141
Sorry, yesterday I got some family matters in between. But now I added the wiki entry. Hope it is ok, as I wrote it.

[2018-09-14 12:57] prcongithub commented on #860
@yongwoon How did you resolve this? I sometimes face this problem for some users.

[2018-09-15 17:30] AndreiMotinga commented on #1141
Hey @bpieck

Apologies for a bit late response.

Thank you so much for the help. The wiki helped to clear out some misunderstandings.
My [obviously wrong]  impression was that app and auth server should share some sort of `secret`, stored in something like `secret` on applications table, which "for some reason" wasn't there.

I think this helps clear this out.

Thank you, guys, for awesome work.

[2018-09-16 08:17] dagumak commented on #473
@tute I've re-read this and still have a few questions to clarify. Are you suggesting that there is one Rails app for using with OmniAuth for Twitter, Facebook, Google authentication who talks to our provider? How does this work if we were to have a frontend app?

[2018-09-17 08:57] bpieck commented on #1141
Hey, the secret is only needed for confidential apps. An app that needs PKCE is normally not confidential. So you do not need to share a secret - just to mark the app as public.

What is it you want to protect there? I have the feeling, your "authentication" is that much public, that you could just switch the API to a public mode - instead of beeing protected at all. There are no user information

[2018-09-17 19:29] nbulaj commented on #1132
Looks like stale issue. Feel free to reopen or send a PR

[2018-09-17 19:29] #1132 closed

[2018-09-18 21:15] jcraigk opened #1146 "Remove improper bangs (!) from method names"
Many methods in this library include exclamation points at the end of the names but do not provide non-bang counterparts.  This is improper use of the bang convention in Ruby, which is clearly defined by Matz in http://www.ruby-forum.com/topic/176830#773946:

`The bang (!) does not mean "destructive" nor lack of it mean non destructive either.  The bang sign means "the bang version is more dangero

[2018-09-18 23:48] #1146 closed

[2018-09-19 07:55] nbulaj commented on #1142
Whooops, it's a typo in changelog. I'll fix it, thanks @xtagon

[2018-09-19 08:42] nbulaj commented on #1143
Released with 4.4.3

[2018-09-19 08:44] nbulaj commented on #1141
Hi @AndreiMotinga . Can we close this issue now or you have any additional questions? Btw, discussions of such kind are preferably to ask on StackOverflow. This tracker is for issues / enhancements.

[2018-09-19 08:47] nbulaj commented on #1138
Hi @Erowlin . Would you like to propose a fix? I have some troubles with a free time now, so don't sure when I will be able to fix it myself

[2018-09-19 10:21] krasnoukhov opened #1147 "`URIChecker#valid_for_authorization?` false negative"
### Steps to reproduce

Here's a comprehensive example when URIChecker returns false:

[code]

This seems to be a case only when query string is empty, so in case with `redirect_uri` like this: `https://example.com/callback?1` it works as expected.

### Expected behavior

Returns true when URI is a match, even with empty query string

### Actual behavior

Returns false in this specific case

### S

[2018-09-19 12:04] #1141 closed

[2018-09-19 12:28] nbulaj commented on #1147
Hi @krasnoukhov . Why do you use blank `?` in the callback URL ?

[2018-09-19 12:31] krasnoukhov commented on #1147
@nbulaj No particular reason. It just happened to be like that. Why do you ask?

[2018-09-19 12:43] nbulaj commented on #1147
Because I just don't see any valuable reason why do we need to fix this specific issue. Only if somebody by some reason will use such an url as callback_uri for his Application..

Btw, you can produce a PR if you want to fix this

[2018-09-19 12:50] krasnoukhov commented on #1147
Well, if you don't see any valuable reason to fix this specific issue, why do you want me to produce a PR?

I don't argue this is kind of an edge case, but AFAIK the URL in question is valid URL and it's weird to see that it's considered a no match.

[2018-09-19 12:55] nbulaj commented on #1147
I don't asking you to produce a PR, I just propose you. It's open source, don't forget about it.

Currently I have no time to work on it, and as it doesn't have a high priority I just leave this opportunity for someone else. Do not get me wrong

[2018-09-19 13:02] krasnoukhov commented on #1147
Ok, please don't get me wrong either, I was considering working on a change for this, but your attitude (specifically "I just don't see any valuable reason why do we need to fix this specific issue") kind of set me back. Why would I want to work on a PR if you as a maintainer don't see a reason for it?

Given all that, feel free to do whatever with this issue, I don't really mind. At least the pro

[2018-09-19 13:51] BookOfGreg commented on #729
I had this message also, in extension to previous commenters, I had to `spring stop` after bundling. 👍

[2018-09-19 16:06] xtagon commented on #1142
Thanks, that was fast!

[2018-09-20 08:48] nbulaj commented on #1143
Hi @pakwfoley . Can we close this issue ?

[2018-09-20 09:41] nbulaj commented on #1138
Hi @Erowlin . I have 10 minutes of free time :D
Could you please check this branch with the changes related to this issue? https://github.com/doorkeeper-gem/doorkeeper/compare/revert-expiration-check-for-matching-token

Thanks

[2018-09-20 09:43] Erowlin commented on #1138
Thanks for your time, sorry for my silence radio, busy times here as well.

I'm checking now.

[2018-09-20 09:43] nbulaj commented on #1147
Sorry I hurt your feelings. I'll work on this myself when I have free time. Thanks for mentioning of this bug!

[2018-09-20 09:55] Erowlin commented on #1138
Ok, it seems to be fixed, however, 1 behavior still not fixed:
- When I update manually my `expires_in` in 1 second, a new token is issued instead of renewing the actual token (And extending the `expires_in`). Is it the intended behavior?

(It's my localhost, don't worry).
![image](https://user-images.githubusercontent.com/1775878/45810711-89bc4480-bccb-11e8-83cf-21ce96450c65.png)

[2018-09-20 15:02] pakwfoley commented on #1143
Released with 4.4.3

[2018-09-20 15:02] #1143 closed

[2018-09-20 21:36] nbulaj commented on #1138
I think this is related to [this line](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/models/access_token_mixin.rb#L126)

[2018-09-20 21:38] Erowlin commented on #1138
All right. Don’t you think we should add a condition on the fact we enabled
“reuse_access_token” in the configuration file? Do you have any though
about this?

On Thu 20 Sep 2018 at 23:37, Nikita Bulai <notifications@github.com> wrote:

--
Thomas Romera
Ruby Developer @ https://talent.io

[2018-09-20 21:41] nbulaj commented on #1138
I think that reuse access token currently works fine - it protects from creating new tokens before old one becomes expired. Please, read the orinal PR and issue: #383 and #387 . It doesn't work ad "update old token expiration date instead of creating new token" . Also there are refresh token strategy also..

[2018-09-20 21:43] Erowlin commented on #1138
All right, let’s keep it as it is then, thanks for your investigation :)

On Thu 20 Sep 2018 at 23:42, Nikita Bulai <notifications@github.com> wrote:

--
Thomas Romera
Ruby Developer @ https://talent.io

[2018-09-21 07:39] harisp9631 commented on #1139
@nbulaj any info about this?

[2018-09-21 09:01] #1138 closed

[2018-09-21 09:42] nbulaj commented on #1147
Hi @krasnoukhov . Could you please take a look at #1149 ?

[2018-09-21 09:45] krasnoukhov commented on #1147
Looks good, thanks

[2018-09-21 11:35] #1147 closed

[2018-09-21 14:26] nbulaj commented on #1139
Hi @harisp9631. I have very little free time, sorry :(

Could you please prepare a spec or small sample app where I can see a problem? I understand the second part of your thoughts, but not the first one //

[2018-09-24 15:27] nbulaj commented on #1069
Closing this stale issue. If somebody will need it and find this issue, take a look at the branch mentioned above and feel free to send a PR, but keep in mind to do it backward compatible (it must be a configuration option, like `polymorphic_owner true`).

[2018-09-25 05:04] hszeto opened #1150 "Refresh Token gets new token without client id and client secret"
According to the docs, https://github.com/doorkeeper-gem/doorkeeper/wiki/API-endpoint-descriptions-and-examples#curl-command-refresh-token-grant

client id and secret are required. But, refresh token grant type works even though client id and client secret are not specified.

In /initializers/doorkeeper.rb , use_refresh_token has been specified.

### Steps to reproduce
curl -X POST \
  http://loca

[2018-09-25 05:08] hszeto commented on #1150
also, re-using the same refresh token (without specify client id and secret) will generate new access tokens. Do refresh token get revoked after one time use?

[2018-09-25 13:31] nbulaj commented on #1150
Hi @hszeto . I took a deep look into  OAuth 2.0 draft, Section 6.  Refreshing an Access Token and wrote a spec for mentioned behavior.

Yes, it seems like we have a bug here.

What about revoke refresh token after use, take a look into RFC:

As far as I remember we have such an option in the Doorkeeper configuration, but fix me if I wrong

[2018-09-25 14:03] nbulaj commented on #1150
But it doesn't fully clear to me do we need to check credentials even if refresh token was issued to a public client (check only client key or how ..)

[2018-09-25 19:34] hszeto commented on #1150
thanks for the quick work. Looks good to me.

[2018-09-26 07:56] #1150 closed

[2018-09-26 07:58] nbulaj commented on #1150
Dooh, closed automatically with GitHub.

Merged to master and will be released with next release. Also I need to backport it to 4.x version

Thanks @hszeto for clear explanation and upping this issue!

[2018-09-26 11:39] nbulaj commented on #1110
Hi @Erowlin . What is the problem with the solution [mentioned by you above](https://github.com/doorkeeper-gem/doorkeeper/issues/1110#issuecomment-405858629)?

It's not fully clear to how configuration option can increase performance instead of just disabling it manually on controller level..

[2018-10-10 08:10] j1mmie commented on #1083
Came up with a workaround that is fine for my use case. Basically, draw routes in the root application from within the Api engine. Example:

[code]

Didn't realize an Engine can add to it's parent applications routes if it wants to. Pretty useful! Haven't found any obvious issues yet.

[2018-10-10 20:08] emilebosch commented on #675
Hey all, is there any reason why we for the time being just not use something like https://github.com/jmazzi/crypt_keeper as a gem? I like it because it allows me to switch encryption encryptors. then at least we're safe for the time being while we can make our own custom encrypted for the rest i.e go for hashicorp's _vault.

[2018-10-13 15:25] lethunder opened #1155 "Unable to connect doorkeeper with another controller than application controller"
### Steps to reproduce
Hello everyone,
i have an application which act as an app an api at the same time. I have an api_controller which handle request in api mode.
so i inserted
before_action :doorkeeper_authorize! in that controller be cause only API users are concerned by the token authentification.
I have also set in doorkeeper initializer
base_controller 'ApiController'

### Expected behavior

[2018-10-15 09:40] nbulaj commented on #1155
Hi @lethunder. Seems like there are some problem in Doorkeeper initializer or smth else.

Try to add `include Doorkeeper::Rails::Helpers` to you base API controller.

[2018-10-17 09:51] lethunder commented on #1155
Hello,
it seems it's now working.
Thanks

Le lun. 15 oct. 2018 à 11:40, Nikita Bulai <notifications@github.com> a
écrit :

--
Cordialement,
Didier Banlock

[2018-10-17 16:04] #1155 closed

[2018-10-18 13:31] nbulaj commented on #1133
Hi @ViTVetal  @bpieck . I was trying to use application level mutex, but now I'm thinking about multiple app processes / servers and don't sure it is appropriate solution. Maybe we need to make token request faster / atomic / smth else to protect against dead-locks

[2018-10-19 07:04] bpieck commented on #1133
I am so sorry. Last I tried to reproduce the issue in a rspec test firstly to ensure I really find a fix for it - but failed. It's not to easy to simulate parallel request from within ruby ^^. So after that I lost track.

@ViTVetal What do you mean with: "I know that code is ugly and some parts not used". You just wrote wrong code examples and @nbulaj is right, that you did the auth code grant? Or

[2018-10-19 12:20] ViTVetal commented on #1133
@nbulaj Why this example is wrong? I wrote code with which the error occurred.

about params:
` curl -d "grant_type=refresh_token&refresh_token=ae373cf27eb9c4899aeecec463f6bebb10b00d22247b2a5c2e48b4d987e4ccbd" -X POST http://localhost:3000/oauth/token
`

If you will try perform this request parallel few times - you will get result described above

[2018-10-19 12:56] bpieck commented on #1133
So, you did a refresh_token request - not a authentication code grant. Thanks for pointing to it. @nbulaj mentioned something he reproduced on authentication code grant.

[2018-10-19 13:13] bpieck commented on #1133
I did not mean, that you wrote wrong code. I just wanted to understand what you meant with "I know that code is ugly and some parts not used".
If nbulaj's assumption about your issue was right (that your issue is rooted in https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/oauth/authorization_code_request.rb#L31 ), then you would have done an authorization code grant and the c

[2018-10-24 09:57] iamdriz opened #1156 "Doorkeeper on multiple apps but shared Authorization"
So we're building a set of Rails applications for a platform:

**http://www.domain.com/** - _Main website_
**http://account.domain.com/** - _Account management application_
**http://account.domain.com/oauth/** - _Doorkeeper is also installed here_
**http://api.domain.com/** -  _The API is a different application_

However we've encountered an issue... by having the API has a separate Rails applica

[2018-10-24 15:05] MicMicMon opened #1157 "Default migration fails in index 'index_oauth_access_tokens_on_resource_owner_id'"
### Steps to reproduce
Just installed Doorkeeper gem to work with Devise.

Did `rails g doorkeeper:install`, then customized the initializer (flow is `password` as in https://scotch.io/@jiggs/rails-api-doorkeeper-devise).

Then did `rails generate doorkeeper:migration`

Then `rails db:migrate`

### Expected behavior
Should execute the migration without errors.

### Actual behavior
[code]

### Syst

[2018-10-24 15:33] nbulaj commented on #1157
Hi @MicMicMon . Thanks for creating this issue! It is a problem of forgotten line in migration template that must be removed. I'll release a fix tomorrow, you can just drop the line with `add_index :oauth_access_tokens, :resource_owner_id` from migration template

[2018-10-24 15:48] MicMicMon commented on #1157
Awesome, thanks for the quick reply & fix!

[2018-10-25 08:35] #1157 closed

[2018-10-25 08:48] nbulaj commented on #1156
Hi @iamdriz . So why you don't just add Doorkeeper to both applications and use `before_action` in one of them and oauth routes in other?

[2018-10-25 15:35] MicMicMon opened #1160 "Compatibility with Devise"
### Steps to reproduce
Fresh install of devise & doorkeeper, for example following https://scotch.io/@jiggs/rails-api-doorkeeper-devise

I was getting devise to work with doorkeeper (classic: frontend auth to rails API with login/password first, gets a token, then speaks with API using token).

I struggled because whenever I used some of devise/RegistrationsController actions, it failed with an er

[2018-10-26 12:39] iamdriz commented on #1156
@nbulaj Ah okies that makes sense... I also noticed you have an `api_only` mode as well now.

[2018-10-26 12:39] #1156 closed

[2018-11-01 03:58] mufid commented on #1157
Tested on Rails 5.1. This fix is also work on Rails 5.1. Thank you for the prompt response!

[2018-11-01 23:24] robmaceachern opened #1161 "enforce_content_type causes GET requests to return 415 status code"
### Steps to reproduce
- Enable `enforce_content_type` in `doorkeeper.rb`
- Attempt GET on `oauth/token/info` eg:
[code]

### Expected behavior
The token information should be retrieved.

### Actual behavior
Responds with 415 status code.

Including `Content-Type: application/x-www-form-urlencoded` in the request allows the request to succeed.

Related to #1067. I don't think enforcing a content-t

[2018-11-02 08:11] #1161 closed

[2018-11-02 08:12] nbulaj commented on #1161
Thanks @robmaceachern . Fixed in #1162 and will be released with the next version

[2018-11-02 16:57] robmaceachern commented on #1161
Thanks @nbulaj 👍

[2018-11-02 18:42] groe commented on #672
This would be useful.

I don't think app-specific configurable flows would give a false feeling of security (if there's a comment in the config or a hint in the application form with a warning about it).

App-specific flow whitelists would further *restrict* access, so overall they would improve security. Not by a huge factor, but still. For instance, imagine a scenario where a doorkeeper applicat

[2018-11-06 11:40] falak opened #1163 "ActiveStorage Icon Upload to Applications"
### Steps to reproduce
I was using Paperclip for icon upload for oauth applications but now Paperclip is deprecated so i want to migrate to ActiveStorage as this is new and already integrated in Rails Framework and will be further enhanced. So i was able to upload the icon successfully and i extend my Doorkeeper::Application model by using the solution of issue no https://github.com/doorkeeper-gem

[2018-11-08 12:19] nbulaj commented on #1133
Made a small snippet (single-file Rails application with Doorkeeper) to improve the speed of tests for this issue :)

https://gist.github.com/nbulaj/f554f2c3382c3831b964e11afa5479d9

[2018-11-08 14:36] nbulaj commented on #1160
Hi @MicMicMon . I don't sure I can help you with Devise because I don't use it (or do it very rarely), especially with Doorkeeper. And looks like you already solved your problem, because how do you think Devise knows about current resource without your overridden method (also you can use any authorization / authentication library with Devise and you need to overload it's controllers to implement r

[2018-11-08 14:40] nbulaj commented on #1163
Hi @falak . Have you tried to monkey-patch the model, for example, in some initializer?

Like:

[code]

I never used ActiveStorage and don't know how it works.

[2018-11-08 15:19] falak commented on #1163
Thanks @nbulaj for the reply. yes i already monkey patched the Doorkeeper::Application model using a comment from this issue.[https://github.com/doorkeeper-gem/doorkeeper/issues/153#issuecomment-310289508](url)
Because if i do monkey patch in any Initializers then activestorage is not loaded at that moment so i delayed monkey patching until the application is loaded.

this envirnonment.rb file
[co

[2018-11-09 09:06] nbulaj commented on #1163
Hmm, could you provide a full stacktrace? You are calling `icon_url`, but it's says that application is not defined. Rails application or Doorkeeper application?

It's not a problem of Doorkeeper gem itself, it's a problem of how you extending it's entities.

[2018-11-09 10:20] falak commented on #1163
Rails console stacktrace.
[code]
Icon_url method in Doorkeeper::Application monkey-patched module
[code]

[2018-11-09 10:34] falak commented on #1163
Thanks alot. It worked. I thought when you monkey patched Doorkeeper::Application module then you can only call methods within its context. It helped alot and i learned alot while trying to solve this issue and i found a very complex workaround and that was not a very elegant one.

[2018-11-09 10:55] #1163 closed

[2018-11-09 12:03] lethunder opened #1165 "Revoking a token does not work"
### Expected behavior
on version 5.0.2 we should be able to revoke token without having application_id
### Actual behavior
when i generate a token on public default scope without application and i try to revoke the token it does not work

The reason is this is the code. The private method token in charge of returning the token in params

    def token
      @token ||= AccessToken.by_token(request.

[2018-11-14 03:20] gregijc opened #1167 "undefined local variable or method `new_user_session_path' for #<Users::OmniauthCallbacksController:0x0055f3bb2ad758> when redirecting to http://localhost:4000/users/auth/doorkeeper/callback?code=00fff3243c328bb57ce096542907bf6b89c179a591488def4540474e7c7e0678"
Dear good people..
I've been struggling to solve this issue the past few days..

### System configuration
PROVIDER (I made it by myself)
according to gem list:
1. devise (4.5.0)
2. doorkeeper (5.0.2)
3. rails (5.1.6)
4. warden (1.2.7)
5. I use Ruby 2.5.1 (ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-linux])

I only use gem 'doorkeeper' and 'devise' in my gemfile
![provider gemfile](https://us

[2018-11-21 03:33] nadnoslen opened #1169 "NoMethodError: undefined method `url_options' for #<Doorkeeper::TokensController:..>"
I fear that I am missing something or doing something really stupid.

My worry is that there's something I don't understand about Doorkeeper or the vast world of OAuth2.

Apologies if I waste some people's time with this issue.

### Steps to reproduce
What we need to do to see your problem or bug?

* ruby-2.5.1
* doorkeeper-5.0.2
  * configured to use `orm :active_record`  & `api_only`
  * `grant_

[2018-11-22 06:19] GeminPatel commented on #360
@tute I am not able to find this spec. Max I could find was in https://tools.ietf.org/html/rfc6749#section-6

This line: "Because refresh tokens are typically long-lasting credentials used to
   request additional access tokens,......"

[2018-11-23 08:45] jobol opened #1170 "conformity to RFC8252"
### Description

Paragraph 7.3 of RFC8252 tells:

    The authorization server MUST allow any port to be specified at the
    time of the request for loopback IP redirect URIs, to accommodate
    clients that obtain an available ephemeral port from the operating
    system at the time of the request.

but doorkeeper is not conforming to that.

### Steps to reproduce

- declare an application with

[2018-11-29 14:46] crescentrose commented on #1169
I was hit by this as well. Apparently Rails doesn't fully clear the state in between Minitest test cases and it causes something like this to happen? I don't really know but I'd appreciate it if someone smarter than me could look into this.

[2018-11-29 15:58] DanielStevenLewis commented on #639
Hi there,

I'm writing to request that this ticket be reopened. My understanding of Doorkeeper::JWT is that it makes it such that JWTs are returned instead of Doorkeeper's standard access tokens. As per the guidelines Alfred linked to, the functionality that we're interested in is something different. We'd like the functionality for Doorkeeper to return access tokens (either standard access tokens

[2018-11-29 17:49] nadnoslen commented on #1169
Hey @crescentrose, that's very interesting and thank you for posting!

Just for clarity, I'm experiencing this problem in a single test case that sends two requests into my Rails API.  It consistently fails.

In my scenario, the clean up between each test case seems to be functioning as expected.

Cheers.

[2018-12-03 01:18] djGrill commented on #973
This just happened to me; and the reason was because I already had the `use_doorkeeper` statement in the `routes.rb`.

Deleting that line fixed it :)

[2018-12-03 16:19] GeminPatel commented on #705
since the last comments, the code has changed. And I think lockable is broken again. Failed attempts reset has moved out to hook, https://github.com/plataformatec/devise/blob/715192a7709a4c02127afb067e66230061b82cf2/lib/devise/hooks/lockable.rb

The example does not suggest how to correctly do authenticate.

[2018-12-04 09:30] nbulaj commented on #1169
Hi all! This is a weird and strange error, I don't remember using of `url_options` method somewhere in Doorkeeper.. Also AFAIR `url_options` is a method from ActionView, but Doorkeeper controllers inherits from MetalController with a minimal set of modules included. So maybe MiniTest + Rails causes this issue? Maybe it's trying to render the view or refresh some ActionView cache, I don't know.

[2018-12-04 09:32] nbulaj commented on #1160
Hi @MicMicMon . Does this https://github.com/plataformatec/devise/pull/4950 solved your problem?

[2018-12-04 09:37] nbulaj commented on #1165
Hi @lethunder . Make sure you send a valid request to revoke the token, because Doorkeeper > 5.x allows to remove it without passing application_id for public clients ( https://github.com/doorkeeper-gem/doorkeeper/blob/master/spec/requests/flows/revoke_token_spec.rb#L103-L118 )

[2018-12-04 09:49] nbulaj commented on #1167
Hi @gregijc . This repo ( https://github.com/doorkeeper-gem/doorkeeper-devise-client ) is too old (last changes were made in 2011), so I don't sure it can work with last Doorkeeper versions.

[2018-12-04 09:52] nbulaj commented on #1170
Hi @jobol . Seems like a bug, thanks!

So it seems like Doorkeeper need to implement IP loopback to get the actual  port, right?
Would you like to propose a PR ?

[2018-12-04 10:30] rishabhsairawat commented on #705
@nbulaj [Using Resource Owner Password Credentials flow section in current_wiki](https://github.com/doorkeeper-gem/doorkeeper/wiki/Using-Resource-Owner-Password-Credentials-flow) is outdated and resulting into bugs.

As mentioned by @GeminPatel, code for marking `failed_attempts = 0` has been moved to hook `Warden::Manager.after_set_user` So currently `failed_attempts` are not being reset to `0` f

[2018-12-04 10:31] nbulaj commented on #705
@rishabhsairawat @GeminPatel could you please fix the Wiki page with the correct approach?

[2018-12-04 11:16] jobol commented on #1170
I'm not developping or using doorkeeper but I'm developing embedded clients and used gitlab for testing. gitlab use doorkeeper so I reported the issue here. I can make the PR but I prefer not because it is a lot of work for me when it can be more easy for someone with hands already in.

[2018-12-04 20:58] nadnoslen commented on #1169
Hey @nbulaj, to be honest, I can't see how Doorkeeper is responsible.  I too searched the Doorkeeper codebase for some sort of clue or usage of `url_options` and like you, I cannot find anything.

I did uncomment `require 'sprockets/railtie'` from my `config/application.rb` to use the `bootstrap-email` gem for sending emails from my Rails API app.  In my case, I believe this is the only thing that

[2018-12-05 07:05] thehashrocket commented on #1134
@dbbooke where'd you see it wasn't being maintained anymore? It looks like things are still happening in the repo? did you get ruby-jwt to work? if so, could you show me what you did? i'm looking at implementing jwt with doorkeeper and devise.

[2018-12-10 07:41] nguyensach opened #1172 "Delete validate in Doorkeeper::OAuth::BaseRequest#authorize"
Hi!
I think that in `Doorkeeper::OAuth::BaseRequest#authorize` `validate` is unnecessary.
https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/oauth/base_request.rb#L10-L21

The reason is that in `Doorkeeper::Validations#valid?`, `validate` is called once.
https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/validations.rb#L18-L21

[2018-12-10 08:54] #1172 closed

[2018-12-10 13:10] lethunder commented on #1165
thanks ☺

Le mar. 4 déc. 2018 à 10:37, Nikita Bulai <notifications@github.com> a
écrit :

--
Cordialement,
Didier Banlock

[2018-12-12 10:47] xero88 opened #1173 "/oauth/applications 404"
when I try to go to /oauth/applications

I got 404

[code]

I don't see the route when I do :

[2018-12-12 11:36] xero88 commented on #1173
I close this issue, I posted the question on stackoverflow : https://stackoverflow.com/questions/53742194/no-route-matches-get-oauth-applications

[2018-12-12 11:36] #1173 closed

[2018-12-12 17:52] jeremygachet opened #1174 "Heroku ArgumentError: Before process_action callback :doorkeeper_authorize! has not been defined"
### Steps to reproduce
I saw similar issues but corrected after the version 2
I'm trying to deploy doorkeeper on heroku.
Everything works well in my local implementation but when I deploy, heroku crash with a message :
Unable to load application: ArgumentError: Before process_action callback :doorkeeper_authorize! has not been defined

I'm on  doorkeeper (5.0.2)

more complete logs :
[code]

### S

[2018-12-13 09:47] top1st commented on #1069
can you give me example doorkeeper configuration for polymorphic_owner true?
I am getting error

undefined method `polymorphic_owner' for #<Doorkeeper::Config::Builder:0x000000000b3cc2c8> (NoMethodError)

when generate doorkeeper:migration

[2018-12-13 10:32] nbulaj commented on #1069
@top1st you are using my branch for polymorphic owner or what? Need more details

Current Doorkeeper version doesn't support polymorphic owner (in terms of Rails)

[2018-12-13 11:49] jeremygachet commented on #1174
The issue was due to the  skip_before_action :doorkeeper_authorize!
in my registration controller. Commenting this and it works.
I just can't understand why it works in dev and not in production

[2018-12-13 11:49] #1174 closed

[2018-12-13 11:51] nbulaj commented on #1174
Hi @jeremygachet . It could be related to Rails autoloading / caching / eager loading and so on :)

[2018-12-13 11:57] top1st commented on #1069
Yes. I am using yours
I forked your branch polymorphic code to clone and added gem path.
I have make doorkeeper:generate migration
but the tables did not generated like the spec/dummy/schma.rb etc
also i have tried add polymorhpic_owner ture in config/initalizers/tindoorkeerper.rb
but get above error

[2018-12-13 12:11] nbulaj commented on #1069
Honestly - I don't remember what we have in this branch. And I didn't ever tried it on real project, it's just a stub for those who wants to work on polymorphic associations :)

[2018-12-13 12:16] top1st commented on #1069
guess i need to customize my self ,
but not sure can works or not :)

[2018-12-19 06:42] jeremygachet commented on #1174
@nbulaj  Hello and thank you for your answer. eager loading probably

[2018-12-31 21:32] masterkain commented on #675
[code]
?

[2019-01-02 13:06] rishabhsairawat opened #1177 "Limiting scopes for certain grant_types"
**Feature:** To limit certain scopes to certain grant type.

**Why?:** We may not want all the scopes available for all the grant types. We may want certain scopes to be available only for certain grant types. For example, read-only scopes over the implicit grant.

@nbulaj What do you think about this?

[2019-01-04 09:06] nbulaj commented on #1177
Hi @rishabhsairawat . I think it can be useful, but requires some changes that must not break compatibility with previous versions of Doorkeeper. Also I think it must be good-configurable. Would you like to try to produce a PR?

[2019-01-04 09:07] nbulaj commented on #1165
Hi @lethunder . Did you solve your problem? Do we still have to research something on Doorkeeper?

[2019-01-04 09:08] nbulaj commented on #1160
So can we close this issue, @MicMicMon ? Also could you please fix this in the Wiki?

[2019-01-04 21:32] lethunder commented on #1165
Hey.
Yes! I updated version. Thanks

Le ven. 4 janv. 2019 à 10:07, Nikita Bulai <notifications@github.com> a
écrit :

[2019-01-04 21:32] #1165 closed

[2019-01-05 09:59] lethunder commented on #1165
@nbulaj sorry for the late response but i just figured out that i need even after upgrade to override token method

  private

  def token
    @token ||= Doorkeeper::AccessToken.by_token(request.parameters['token']) ||
               Doorkeeper::AccessToken.by_refresh_token(request.parameters['token'])
  end

Otherwise it won't revoke token

[2019-01-05 10:01] lethunder commented on #1165
this is the original one that doesn't work

    def token
      @token ||= AccessToken.by_token(request.POST['token']) ||
        AccessToken.by_refresh_token(request.POST['token'])
    end

[2019-01-09 04:54] hszeto opened #1179 "Post /oauth/token returning 500"
**Ruby version**: 2.5.1
**doorkeeper version**: 5.0.1

I'm getting 500 for POST to /oauth/token without the client_id. Is this an expected behavior?

How I obtain the auth code:
[code]
Post token:
[code]

[2019-01-09 04:57] hszeto commented on #1179
I also observe that, POST /oauth/token without the client secret will return the access token.

[code]

I  thought the client secret is Required when exchange the code for the access token.

[2019-01-09 14:02] ZilvinasKucinskas commented on #1179
@hszeto I can verify this is an issue and it should return something like `invalid_client` instead of 500 error. I want to volunteer and fix this issue and open a PR to Doorkeeper.

In regards to the second comment, `client_secret` is not required when using `Authorization Code Grant Flow` as described in [RFC6749](https://tools.ietf.org/html/rfc6749#section-4.1.1).

* If your application is confi

[2019-01-10 12:40] oliverguenther opened #1180 "AccessGrant returns hashed token to authorization code page in native redirect"
### Steps to reproduce

- Enable `hash_token_secrets` in the initializer
- Set up application with native `urn:ietf:wg:oauth:2.0:oob`
- Access `http://localhost:3000/oauth/authorize?response_type=code&client_id=(code)&redirect_uri=urn:ietf:wg:oauth:2.0:oob` and authorize
- Check the token

### Expected behavior
The printed code should be the plaintext token.

### Actual behavior
The returned token

[2019-01-11 08:16] #1180 closed

[2019-01-11 08:16] nbulaj commented on #1180
Thanks @oliverguenther ! Merged

[2019-01-11 09:45] #1170 closed

[2019-01-11 09:46] nbulaj commented on #1170
Hi @jobol . Thanks for posting this issue. The fix was introduced in 1e98b15 and will be released with a next version of the gem. Don't sure when GitLab will update it's Gemfile btw

[2019-01-11 11:09] lethunder opened #1183 "Revoking a token does not work"
**Expected behavior**
on version 5.0.2 we should be able to revoke token without having application_id

**Actual behavior**
when i generate a token on public default scope without application and i try to revoke the token it does not work

The reason is this is the code. The private method token in charge of returning the token in params

[code]

`request.POST['token']` returns `nil` everytime on

[2019-01-11 11:11] #1177 closed

[2019-01-11 11:39] nbulaj commented on #1183
Hi @lethunder . Does this token [was accesible on time of the first request](https://github.com/doorkeeper-gem/doorkeeper/blob/72425150a95c4c5874ac2926b0ede90e705bd736/app/controllers/doorkeeper/tokens_controller.rb#L74) and client [was authorized](https://github.com/doorkeeper-gem/doorkeeper/blob/72425150a95c4c5874ac2926b0ede90e705bd736/app/controllers/doorkeeper/tokens_controller.rb#L22)?

Also

[2019-01-11 11:42] lethunder commented on #1183
@nbulaj you are right does not have nothing to do with application_id. i just created token by signing then i tried to revoke it immediatly after signing

[2019-01-11 12:05] nbulaj commented on #1183
Doesn't it the same as #1179 ?

Also we have [specs for Token revocation](https://github.com/doorkeeper-gem/doorkeeper/blob/master/spec/controllers/tokens_controller_spec.rb#L59-L116), don't sure how `request.parameters['token']` can fix described issue..

[2019-01-11 12:08] lethunder commented on #1183
not disame. If i don't override token method i keep having 200 response eventhough the token is not updated.
in my case request.POST['token'] does not return the token. request.parameters['token'] does

[2019-01-11 12:10] nbulaj commented on #320
Now we have optional hashing for token & client credentials and secrets :fire:  #1168

It will be released with the next version of Doorkeeper

[2019-01-11 12:12] nbulaj commented on #675
Closing in favor of #320

[2019-01-11 12:12] #675 closed

[2019-01-11 12:18] nbulaj commented on #1183
By RFC OAuth2 server must return 200 status in any case (token revoked or not revoked).

`request.POST['token']` must work the same as `request.parameters['token']`. Sorry, but I can't reproduce the bug. Maybe you could create a sample spec or a small application that reproduces the env to see the bug?

[2019-01-11 13:05] lethunder commented on #1183
In the zip file you have a izzi.sql to create DB (postgresql)

[test.zip](https://github.com/doorkeeper-gem/doorkeeper/files/2749678/test.zip)

SIGNIN => POST http://localhost:3000/oauth/token?password=lethunder1014&grant_type=password&phone=0033652861874

SIGNOUT => http://localhost:3000/oauth/revoke?token=TOKEN

[2019-01-11 14:21] nbulaj commented on #1183
@lethunder I created db with `rails db:create db:schema:load` and tried to load izzi.sql, but got multiple errors, most of them related to pgcrypto. Also I think you need to remove the file bacuse it has `.git` directory that has sensitive data.

It would be great if you could place a RSec sample..

[2019-01-11 16:48] lethunder commented on #1183
[doorkeeper_test.zip](https://github.com/doorkeeper-gem/doorkeeper/files/2750448/doorkeeper_test.zip)

sample project with sqlite db and existing user

POST http://localhost:3000/oauth/token?password=user123&grant_type=password&phone=0033652861874

[2019-01-14 07:06] #1179 closed

[2019-01-14 09:11] jobol commented on #1170
nice news. thank you @nbulaj.

[2019-01-16 09:33] #1183 closed

[2019-01-16 09:34] nbulaj commented on #1183
Hi @lethunder . I've checked the latest ZIP and seems like we really have a weird bug. I introduced a fix, so it would be great if you can check the `master` branch and say me if everything is OK

[2019-01-16 16:27] lethunder commented on #1183
hi @nbulaj it works fine :)

[2019-01-17 10:23] rishabhsairawat opened #1189 "option to set `token_reuse_limit`"
### Feature:
A configurable option to set `token_reuse_limit`

### Why do we need this?
 Suppose the following situation: _(when requested `scopes` are same)_

Doorkeeper Configuration:
`reuse_access_token` enabled & `access_token_expires_in` set to 2.hours

Now, if a client requests an `access_token` for the first time, it will be provided an `access_token` with expiry 2 hours (i.e. 7200 sec or 1

[2019-01-17 21:45] ZilvinasKucinskas opened #1190 "bcrypt gem is required explicitly in 5.1.0.rc version"
### Steps to reproduce

Install new version of doorkeeper - `gem "doorkeeper", "5.1.0.rc1"`

### Expected behavior

Application works and bcrypt is either not required or added as a dependency.

### Actual behavior

[code]

[2019-01-17 21:48] nbulaj commented on #1190
Hi @ZilvinasKucinskas.

Yeap, bcrypt must be required if you activated option for secrets hashing. So we need to require it only in this case and not make as a strong dependency.

[2019-01-18 06:37] oliverguenther commented on #1190
That is a good point, I will have a look into it today.

Am 17. Januar 2019 22:48:16 schrieb Nikita Bulai <notifications@github.com>:

[2019-01-18 20:10] nbulaj commented on #1189
Hi @rishabhsairawat .

Yep, I've got an idea, thanks for clear clarification.
This sounds reasonable to me if it is not against the OAuth RFC. We can produce it like a standalone option or options for `reuse_access_token`

[2019-01-22 20:37] enewbury commented on #561
According to the Oauth2 Spec, client_id and client_secret should be set on password grant if the client is confidential, i.e. if a server is authenticating with password flow.  Also the omniauth gem includes these by default even in password auth, so this does not work with doorkeeper
https://tools.ietf.org/html/rfc6749#section-3.2.1
https://tools.ietf.org/html/rfc6749#section-4.3.2

[2019-01-23 02:38] trliner commented on #1043
I was able to get around this issue by putting quotes around the class name when defining the factory:

[code]

----

High five to @sman591 for this excellent commit message:

[code]

[2019-01-23 07:11] #1190 closed

[2019-01-25 08:55] MicMicMon commented on #1160
Done, updated the wiki with my above fix. --> https://github.com/doorkeeper-gem/doorkeeper/wiki/Running-Doorkeeper-with-Devise

[2019-01-25 08:55] #1160 closed

[2019-01-25 08:56] nbulaj commented on #1160
Thanks @MicMicMon ! :+1:

[2019-01-26 00:00] ryansch opened #1193 "Client Credentials reuse token query is unbounded, entire result set loaded into memory"
### Steps to reproduce
1. Enable `client_credentials` flow.
2. Use client credentials flow with external clients that don't cache tokens but rather create a new token for every request.
3. Realize this is happening and enable `reuse_access_token`.
4. Observe ~3s response times and random OOM errors from the frontend rails containers.
5. Realize that each token request returns 96k results and loads

[2019-01-26 17:00] #1189 closed

[2019-01-28 03:47] nhosoya opened #1194 "Customize Token Introspection response"
### Feature

A configurable option to customize Token Introspection Response

### Why?

There are members that are not implemented, but are defined as OPTIONAL by [rfc7662 section-2.2](https://tools.ietf.org/html/rfc7662#section-2.2). ( `sub`, `username`, and so on )
We want to return these values to our clients.

https://github.com/doorkeeper-gem/doorkeeper/blob/614ec7d4b9db3bda309e118536e6f05339

[2019-01-30 12:06] nbulaj commented on #1193
Hi @ryansch . Thanks for notice! What do you think about to refactor it to use `find_each` / `find_in_batches`? It's ORM-tied, but would be memory-efficient I think. Also we can select custom DB fields in order to avoid type-casting and memory consumption

[2019-01-30 12:11] nbulaj commented on #1169
Hi @nadnoslen . Any news on this issue?

[2019-01-30 12:15] nbulaj commented on #1169
Maybe you can run specs with dome option like `--trace` or smth like that to show full stack-trace? It's hard to understand where is the root of the issue

[2019-01-30 12:18] #320 closed

[2019-01-30 12:36] nbulaj commented on #1083
Thanks @j1mmie . I think we can create a standalone Wiki page for this case and post your answer for those who will search it. WDYT?

[2019-01-30 19:20] j1mmie commented on #1083
That's a great idea. I'm happy to add it myself, but could use a suggestion on where. Otherwise, feel free to create the wiki page yourself.

[2019-01-30 19:31] DanielStevenLewis commented on #639
Tagging @tute @kiomac to bump my above post. I'm planning to create another (duplicate) GitHub issue if nobody responds in a few weeks.

Cheers,
Daniel

[2019-01-30 19:39] nbulaj commented on #639
Hi @DanielStevenLewis . Thanks for the interest in this issue. You can propose a PR instead of new issue, I think it would be more helpful :)

[2019-01-30 19:49] alfredw33 commented on #639
It's been almost 4 years since I made my original post. Life got busy and I did not have the time to get the work done.

what Tute was suggesting was to make it more modular and externally load this capability in. Is the expectation still to do that if I / someone makes a PR?

[2019-01-31 08:54] nbulaj commented on #1083
Thanks @j1mmie . You can extend [this page](https://github.com/doorkeeper-gem/doorkeeper/wiki/Integration-with-multi-engine-Rails-application)

[2019-01-31 12:12] nbulaj commented on #1194
Hi @nhosoya . Introduced with https://github.com/doorkeeper-gem/doorkeeper/pull/1195 and will be released with next version of the gem

[2019-01-31 12:12] #1194 closed

[2019-01-31 18:42] DanielStevenLewis commented on #639
Hey guys,

@nbulaj Thanks for replying! I see where you're coming from, but I'd think that having an open issue/ticket would be the first step towards anyone putting up a PR, unless we need a whole new GitHub project for this feature. I for one prefer to reference tickets in my PRs. The community should also probably hash out the architecture before anyone starts coding anything; this discussion w

[2019-01-31 19:37] tute commented on #639
Some reasoning is in this blog post: https://robots.thoughtbot.com/splitting-an-open-source-project-in-two-with-git-submodules. The solution we got there might not work for this issue though.

doorkeeper as a framework is hard to move forward with such a tiny "team" of project owners (it used to be me while in thoughtbot, and it's @nbulaj now). doorkeeper as an extendable library, though, can work

[2019-01-31 19:38] tute commented on #639
It might be the case that doorkeeper should support it out-of-the-box due to better security by default. In that case, a PR will be needed indeed! 😊

[2019-01-31 19:56] nbulaj commented on #639
Hi @DanielStevenLewis . You are free to open a new issue to discuss the feature you want.

I agree that it can be a Doorkeeper core implementation. I'm thinking about some refactoring to introduce plugin system that anyone can use to extend core functionality, but it's for future releases

[2019-02-01 03:48] nhosoya commented on #1194
Thanks for your quick works! 😺 @nbulaj

[2019-02-01 09:35] nbulaj commented on #1193
So not to return full token is not a good idea because almost all the columns are required on next steps of using Token, so we can return to bathing enumeration of found tokens. Smth like this:

[code]

[2019-02-01 16:00] nadnoslen commented on #1169
Hey @nbulaj,

I have to go back to my affected project and check this out.  I've been working on some other things recently.  I'll head back there and take another look today.

[2019-02-05 01:37] kiomac commented on #639
Hi @DanielStevenLewis. I can't agree more. We should keep an open discussion on the JWT Authorization Grant Flow.

On the other hand, as for the [RFC 6749 - Section 1.3](https://tools.ietf.org/html/rfc6749#section-1.3) only four grant types are defined, which are well covered by the Doorkeeper gem. In my opinion a JWT Grant should be considered an extension, and therefore makes sense to build a ge

[2019-02-05 15:19] nbulaj commented on #947
I made some research and I think we can make Doorkeeper opionated enough. We can check configured grant types and if it's only `client_credentials` or `password` then we can allow blank redirect URI for applications. In other cases it must be required.

So the only case in such implementation is when developer after some time (1 year for example) of using just _password_ flow will add an `implicit

[2019-02-05 15:26] #1083 closed, assigned to nobody

[2019-02-06 20:46] alexpil opened #1196 "custom TTL documentation"
Hello
In our project we decided to use a custom TTL. Based on the official documentation you can do the following:

[code]
Unfortunately that is not reflected in the api. There is a discrepancy between different grant types.

- for grant types CLIENT_CREDENTIALS | PASSWORD
    * `oauth_client.client.application` is a `Doorkeeper::Application` instance
- for grant type AUTHORIZATION_CODE | REFRESH_

[2019-02-08 16:59] toupeira opened #1197 "Support reauthorization with a narrower set of scopes"
### Steps to reproduce

1. Perform an authorization to grant an access token for the scopes `one two`
2. Perform another authorization for the scopes `one`

(for some context, see https://github.com/doorkeeper-gem/doorkeeper-openid_connect/issues/63#issuecomment-461866656)

### Expected behavior

I would expect the existing access token grant to be reused, and a fresh access token to be granted fo

[2019-02-09 12:28] Linuus commented on #947
I haven’t thought about this issue in years and the project where I used doorkeeper is dead :) But, it sounds reasonable to me!

[2019-02-11 15:11] nbulaj commented on #1197
Hi @toupeira . I think I saw something similar on issues or PR here, need to check.. It must be closed now. Need to go deeper into OAuth2 spec

[2019-02-12 17:44] ronnierios opened #1198 "Change Schema Support"
Hello,

Is there any way to change the default schema **public** in doorkeeper config?

I tried to change the schema in the migrations, but AcessToken and AccessGrant models does not bind automatically with the new schema in migrations

Where is the right way to achieve this?

Thank you in advance

[2019-02-13 08:05] nbulaj commented on #1196
Hi @alexpil . Well, docs seems to be out of date.

Currently (from Dorrkeeper 5.0) `custom_access_token_expires_in` provides an instance of `Doorkeeper::OAuth::Authorization::Context` where you can handle required properties. You can see it in initializer:

[code]

Can you try it again?

[2019-02-13 13:58] eliotsykes opened #1199 "Consider increasing complexity of default generated tokens"
Here are the character ranges for a few of the `SecureRandom` generator methods:

method|characters|total available characters
--------|-----------|------------------------------
`SecureRandom.hex` (Doorkeeper default)|`0-9`, `a-f`|`16`
`SecureRandom.alphanumeric `|`A-Z`, `a-z`, `0-9`|`62`
`SecureRandom.urlsafe_base64 `|`A-Z`, `a-z`, `0-9`, `-`,`_`|`64`

The [default configuration for doorkeeper u

[2019-02-13 14:11] nbulaj commented on #1199
Hi @eliotsykes . Access token value must be as specified in OAuth2 spec Appendex A:

https://tools.ietf.org/html/rfc6749#appendix-A

So we can use the method that corresponds the spec. Would you like to produce a PR?

[2019-02-13 15:11] eliotsykes commented on #1199
`SecureRandom.urlsafe_base64` generates a subset of characters in the range `VSCHAR = %x20-7E`, so it may be good enough.

I doubt I'll be able to get round to this. Fingers crossed there's another developer willing to take it on.

[2019-02-13 15:45] nbulaj commented on #1199
Thanks @eliotsykes , I'll work on it when I have time.

[2019-02-13 18:04] nbulaj commented on #1198
Hi @ronnierios . What do you mean by `schema` ? Doorkeeper doesn't provide any database schema, only migrations, and fully depend on your ActiveRecord database configuration.

[2019-02-13 19:54] ronnierios commented on #1198
Hi @nbulaj

I would like to set another schema in migrations instead public by default. For example

[code]
So is there any way to set **self.table_name** in all oauth models?

[2019-02-14 08:12] nbulaj commented on #1199
Hi @eliotsykes . Check #1200 please

[2019-02-14 08:37] alexpil commented on #1196
Hey @nbulaj
The example code I pasted was from the old reported bug. But the actual problem is that the
`context.client` is not instance of `Doorkeeper::OAuth::Client` for all the grant types. Like i mentioned before for  `AUTHORIZATION_CODE | REFRESH_TOKEN`, `context.client`  is type of     `Doorkeeper::Application`

[2019-02-14 10:54] nbulaj commented on #1198
You can set `table_name_prefix` for Doorkeeper models in the following way (something like that):

[code]

Or even change full table name, but I don't recommend it:

[code]

[2019-02-14 11:02] nbulaj commented on #1196
OK, I found the issue @alexpil . But don't sure we can easily fix it because some projects can depend on it and already checks for the application, so we will break their code. But we can add a changelog / upgrading entries for it.

[2019-02-14 15:29] ronnierios commented on #1198
Awesome! Thank you so much @nbulaj

[2019-02-14 15:29] #1198 closed

[2019-02-15 08:58] #1196 closed

[2019-02-15 09:22] toupeira commented on #550
@nbulaj can we reopen this issue?

If I understand https://tools.ietf.org/html/rfc6749#section-5.2 correctly:
- a 400 status should be returned for most error conditions
- a 401 MAY be be returned for an `invalid_client` error, and MUST be returned if the `Authorization` request header is used.

https://tools.ietf.org/html/rfc6750#section-3.1 defines some additional errors:
- a 401 SHOULD be retur

[2019-02-15 09:28] nbulaj commented on #550
Hi @toupeira . Looks like you are right:

So 400 for cases except this one above. Also we can review `invalid_token` and `insufficient_scope` codes, Would you like to produce a PR ?

[2019-02-15 11:37] toupeira commented on #550
@nbulaj sure! I submitted https://github.com/doorkeeper-gem/doorkeeper/pull/1202 which should address this.

[2019-02-15 11:40] #1199 closed

[2019-02-21 18:04] suung opened #1203 "Machine to machine Flow"
I am wondering how to poperly build this Flow in Doorkeeper

https://auth0.com/blog/using-m2m-authorization/

In my case it is an application that also has to implement the on-behalf-of-the-user - flow

Any hints how we could use or extend doorkeeper (hence opening a PR) appreciated

[2019-02-22 08:21] kurodashota-mf opened #1204 "Token Introspection failed with a protected resource's credential"
[RFC7622 OAuth 2.0 Token Introspection](https://tools.ietf.org/html/rfc7662#section-2.1) says,
[code]
So Token Introspection Endpoint should require a protected resource's credential.
But doorkeeper's implementation requires a credential of the client the access token was issued to.
https://github.com/doorkeeper-gem/doorkeeper/blob/a729e80248031c1030c4dc0f89474932fe0d6603/lib/doorkeeper/oauth/toke

[2019-02-22 08:30] nbulaj commented on #1204
Hi @kurodashota-mf . Thanks for reporting this issue!

Let's look:

So Doorkeeper can implement either first or second type of authorization (not **both**), right?

Btw, I agree that we can implement the second solution from the spec. Would you like to submit a PR?

[2019-02-22 08:32] nbulaj commented on #1193
Any news @ryansch ?

[2019-02-22 08:33] nbulaj commented on #1133
Seems like it's hard to reproduce such case IRL, so I'm closing this stale issue. But feel free to propose a PR or communicate over this issue.

[2019-02-22 08:33] #1133 closed

[2019-02-22 08:33] nbulaj commented on #1167
Ping @gregijc

[2019-02-22 08:34] nbulaj commented on #1169
Well, any news @nadnoslen

[2019-02-22 08:35] nbulaj commented on #1110
Hi @Erowlin @enrico . Any update on this issue?

[2019-02-22 09:33] kurodashota-mf commented on #1204
Hi @nbulaj. Thank you for your quick response.

There may be a little misunderstanding.
I don't want to the second solution.

Doorkeeper returns failure response in case `The token was issued to a different client than is making this request`. But I think it's wrong.

From my understanding, in Token Introspection Endpoint, client_id and client_secret are not for authenticating a client an access_t

[2019-02-22 13:25] nov commented on #1204
As @kurodashota-mf says, Token Introspection (RFC 7662) is designed for Resource Servers (RS), not for Clients.

This spec enables RS calls Token Introspection API, so that it can detect which client is accessing to its resource with which scopes. It also imply RS has its own client credentials issued from AS.

This spec doesn't prohibit Clients use the API, so that client can use the API to mitig

[2019-02-22 14:03] nbulaj commented on #1204
Hi @nov. Don't sure I understood you

Well, if you take a look at 2.1.  Introspection Request of RFC 7662 then you will see:

So Doorkeeper check if  _any_ valid access tokens (it's a _separate OAuth 2.0 access token_ from the spec) or client credentials. I agree that checking if introspected token belongs to client with credentials from the request is a gem addition (and maybe it need to be remov

[2019-02-22 14:28] nov commented on #1204
Introspected token isn't `separate` access token.

So at least implementation should reject requests including active access token both in body (as introspected token) and bearer header.

If you allow same token in body & bearer header, it can't prevent token spanning attacks.

[2019-02-24 21:19] nadnoslen commented on #1169
Hey @nbulaj,

It's taken me forever to get back to this, I do apologize.

I back-traced my simple unit test and didn't derive anything substantial:

[code]

And once again, my `TokenControllerTest` (as seen above):

[code]
This is all with Ruby-2.5.1.  I resumed googling this error where people have said it was fixed in Ruby-2.3.x.  I'm going to try a few other Ruby versions and then we can consid

[2019-02-24 21:59] nadnoslen commented on #1169
I've tried Ruby-2.6.1 to no avail:

[code]

and also Ruby-2.4.5 just for $hits & giggles, and still receive the same error.

[code]

[2019-02-24 22:00] nadnoslen commented on #1169
Hey @nbulaj,

I think you can go ahead and close this issue if no one else is feeling this pain.  I've actually moved away from Doorkeeper for my Authentication needs because I'm using AWS Cognito.

If there's anything other information you'd like, please let me know.

[2019-02-25 08:32] crescentrose commented on #1169
Just a quick tip for anyone else with this issue: POSTing twice in the same request is not really "proper" testing anyway as you should be focusing just on the method you are testing. Just use a simple authorization helper to generate an access token to use with your requests:

[code]

That's how I resolved this intermittent issue anyway.

[2019-02-25 08:51] nbulaj commented on #1204
By _separate_ I meant access token that was used to authorize on the server:

For the following:

you mean that client can't request token introspection using both `?access_token` param and `Auth: Bearer %token%` header in the same request? Or I missed something?

[2019-02-25 16:04] nadnoslen commented on #1169
Hey @crescentrose, thanks so much for that anecdote and your example code!  I completely understand and somewhat agree with your don't `POST` multiple times per-test.

With that said, I've seen many projects over my career that use a `POST` request to authenticate.  This is usually authored in the `test_helper.rb` and then re-used within integration tests throughout the app.  This is the first tim

[2019-02-25 16:11] nbulaj commented on #1169
Ok, so ping me if somebody will face something similar

[2019-02-25 16:11] #1169 closed

[2019-02-25 20:16] felipeelias commented on #1167
Hi, I'm working on reviving the example app, so I'm transferring the issue to that repo.

I fixed a few low hanging fruits and I believe it's working

[2019-02-26 02:14] nov commented on #1204
I mean if clients want to introspect `token-a`, they need to specify another token (e.g., `token-b`) in the Authorizaiton header.

So, this is NG.

[code]

This is OK

[code]

[2019-03-01 09:49] alexpil opened #1207 "Feature request: Customize grant types per application"
Hello,
We want to define different grant types for each oauth application we have.
Some solutions for that could be having `config.custom_grant_flows` like in the case of  `config.custom_access_token_expires_in`
 or maybe allowing to accept proc in existing `config.grant_flows`.

Thank you.

[2019-03-03 17:00] #550 closed

[2019-03-06 15:22] nbulaj commented on #1204
But doorkeeper's implementation requires a credential of the client the access token was issued to.

OK @kurodashota-mf , I remember from where it:

https://www.oauth.com/oauth2-servers/token-introspection-endpoint/

see _Error Response_ section

[2019-03-06 15:37] nbulaj commented on #1204
@nov could you please point me on such section from RFC?

Need to know that oauth 2 server must respond with for such cases.

[2019-03-07 01:33] nov commented on #1204
That is what ***separate*** mean in the RFC 7662 Section 2.1.
If you want to use bearer tokens for token introspection API access control, you need an access token ***separated*** from the introspected token.

[code]
ref.) https://tools.ietf.org/html/rfc7662#section-2.1

[2019-03-10 19:45] jasl opened #1211 "[Discuss] Extending Doorkeeper & working with Zeitwerk"
There's a technique about extending engine's models

<https://edgeguides.rubyonrails.org/engines.html#overriding-models-and-controllers>

It works well in Rails 5, but break in Rails 6, I guess it relates to our lazy constructing models
to support different ORMs (this was introduced by me).

Extending Doorkeeper's models is useful, for example, I want to add some description fields such as icon, w

[2019-03-10 20:18] jasl opened #1212 "[Discuss] Set required_ruby_version >= 2.4"
Since many of gems update their minimal Ruby requirements >= 2.4 and drop support for Rails 4.2, shall we follow too?

Upgrade minimal means we can clean up some codes and try `# frozen_string_literal: true`

[2019-03-11 16:26] jasl commented on #1212
Ruby 2.3 will EOL at the end of March, I think we should move on

[2019-03-11 20:42] felipeelias commented on #1212
I agree with dropping support for Ruby 2.3 or lower. Regarding Rails, what
would be the reason?

On Mon, Mar 11, 2019, 17:26 Jun Jiang <notifications@github.com> wrote:

[2019-03-11 20:49] nbulaj commented on #1212
Agree for Ruby, but not for Rails. We can drop it for new major release I think

[2019-03-11 20:58] jasl commented on #1212
OK, dropping old rubies at least we can reduce build matrix.

And I propose to integrate Rubocop that can helps Doorkeeper migrate to new Ruby code style

[2019-03-11 21:16] nbulaj commented on #1212
We already has a hound (which uses rubocop under the hood) that uses Thoughtbot styleguides. I think it was added by @tute

[2019-03-11 21:19] jasl commented on #1212
No, Rubocop not just a linting tool, it can auto correct style issues including converting code style to modern with no harm.

And it's not conflict Hound, Rubocop run offline and Hound is good for PR reviewing

[2019-03-11 21:26] nbulaj commented on #1212
OK, once again: Hound alredy uses rubocop. And not all it's default rules we need and whant to adopt.

Do I understand you correctly - you want to force developers using rubocop while working on Doorkeeper?

[2019-03-11 21:37] jasl commented on #1212
I misunderstand your comment, just found Doorkeeper already have a Rubocop config, but too simple.

I wondering Doorkeeper should have a well-configured Rubocop config like <https://github.com/rails/rails/blob/master/.rubocop.yml>, then after Doorkeeper drop support for old Rubies, someone can run `rubocop -a` to migrate to new code style.

For example, just few files have `# frozen_string_literal

[2019-03-12 07:09] nbulaj commented on #1211
Hi @jasl . Well, what is the problem with something like:

[code]

?

It plays nice with lazy loading and so on. Or you wanna to have an ability to configure it somehow using Doorkeeper configuration?

[2019-03-12 07:21] jasl commented on #1211
@nbulaj

Unfortunately, `included` block won't work with `prepend`, you can simply try

[code]

without `included`, we can't call DSL to model

To let `included` block working with `prepend`, you need a hack, see <https://gitlab.com/gitlab-org/gitlab-ce/blob/master/lib/gitlab/patch/prependable.rb>

[2019-03-12 07:23] nbulaj commented on #1211
Well, it was just an idea. You can use any other methods to extend the model, like `class_eval`, pure modules and so on.

[2019-03-12 07:32] jasl commented on #1211
Our ORM-specifics models don't follow path convention of Zeitwerk, and after I read doc & did research, I give up to hacking Zeitwerk, too complicated.

Instead, there is a simpler way, wrapping `Doorkeeper::Application.class_eval` into `ActiveSupport.on_load(:active_record)`.

I tested roughly and it works, but didn't know if it has any side effect. I will keep watching on this.

But I'm thinking

[2019-03-12 07:39] nbulaj commented on #1211
I think we can achieve this by creating `doorkeeper-null-orm` extension :) I don't think adding this to gem core would be a good idea.

[2019-03-12 07:43] jasl commented on #1211
No, I mean before Rails 6.0.0.beta2 we don't need to wrap the override in `ActiveSupport.on_load(:active_record)`

[2019-03-12 07:46] jasl commented on #1211
Sound good to me, I will do this later, could you accept this to Doorkeeper-gem organization and publish it? I think I don't have enough time to maintain gems, but if something breaks, I will attach PR.

[2019-03-12 07:59] jasl commented on #1211
Whatever I use `require` or Zeitwerk's `preload` to load Doorkeeper models in my Rails app, Ruby always tells you `Uninitialized constant` until Doorkeeper initialized.

[2019-03-12 08:11] felipeelias commented on #1212
There are many considerations for both using Rubocop and dropping support for Rails 4, but that is not related to this issue. @jasl would you mind creating separate issues for them?

[2019-03-12 08:15] jasl commented on #1212
Sure, I'll do this later, if I have time, I think I can attach PR for PoC.

[2019-03-12 08:16] jasl commented on #1212
So I close this for now

[2019-03-12 08:16] #1212 closed

[2019-03-13 09:22] #1211 closed

[2019-03-13 22:20] nbulaj commented on #1203
Hi @suung . Sorry, didn't use this flow and couldn't help you :(

Try to ask on StackOverflow, maybe somebody would give you more feedback

[2019-03-18 10:34] poudelprakash opened #1219 "Getting 401 Unauthorized even after setting up skip_authorization"
### Steps to reproduce
As per the documentation: https://github.com/doorkeeper-gem/doorkeeper/wiki/Skipping-application-authorization, in your doorkeeper initializer add

[code]

and then make api call to any controller that has `before_action :doorkeeper_authorize!`, make sure not to pass access_token on your api call.

### Expected behavior
Skip authorization and get data/response

### Actual be

[2019-03-18 10:44] poudelprakash commented on #1219
[code]
Since this function acts as both point of entry and exit and does not make any call to skip_authorization from config,
I am in doubt if I understood the feature from documentation wrong in first place.

I modified above function to
[code]
as workaround.

would love to hear from gem developers..

[2019-03-21 04:39] poudelprakash commented on #1219
@nbulaj @felipeelias

[2019-03-21 11:02] poudelprakash commented on #1219
Related question in stackoverflow from 2014: https://stackoverflow.com/questions/26067209/doorkeeper-skip-authorization-step

[2019-03-21 18:48] felipeelias commented on #1219
@poudelprakash thanks for the report! I'm looking into it right now

[2019-03-21 19:10] felipeelias commented on #1219
The `skip_authorization` configuration lets users **skip this screen**:

<img width="616" alt="OAuth authorization required 2019-03-21 20-05-00" src="https://user-images.githubusercontent.com/24556/54778402-dc43d280-4c14-11e9-8d8c-2cb66e909bbb.png">

This was introduced by #166 so trusted applications.

What you need to accomplish this is skip the `before_action` on your controller, like stated on

[2019-03-21 19:10] #1219 closed

[2019-03-25 09:04] montdidier opened #1221 "Puzzled by native use cases"
When attempting to use the authentication_code flow with a native iOS application there seems to be a use case mismatch with the way doorkeeper is designed.

As far as I can tell with doorkeeper one should

- set the redirect_uri in the native app
- setup doorkeeper to recognise this url (application redirect_url)
- set the native_redirect_uri to match in the doorkeeper initialiser

In an iOS appl

[2019-03-25 12:06] matteoredz opened #1222 "custom_access_token_expires_in not accepting nil value"
### Steps to reproduce
Inside doorkeeper.rb initializer set

[code]

where `owner` is the user and `access_token_expires_in` is a custom attribute to set per-user access token expiration

### Expected behavior
When `owner.access_token_expires_in` is set to `nil` I expect `nil` to be the access_token expiration, so that access_tokens generated by specific user are non-expiry

### Actual behavior
Lo

[2019-03-26 09:24] nbulaj commented on #1222
Hi @matteoredz . Thanks for reporting this issue. Currently Doorkeeper fallbacks to `access_token_expires_in` in case `custom_access_token_expires_in` returned `nil`. It would be a breaking change if we "fix" this issue..

[2019-03-26 14:51] matteoredz commented on #1222
Hi @nbulaj thank you for your response.

How about allowing `custom_access_token_expires_in` to receive something like `-1` so that:

- If `custom_access_token_expires_in` returns `nil` fallback to `access_token_expires_in`
- If `custom_access_token_expires_in` returns valid time in seconds than use it
- If `custom_access_token_expires_in` returns `-1` set access_token expiration to `nil` (aka not

[2019-03-26 14:55] nbulaj commented on #1222
I thought about to introduce `Float::INFINITY`, like:

[code]

that internally could be interpolated as `nil` for non-expiring tokens.. But it doesn't seems to be a human-friendly solution.

[2019-03-26 15:30] JGrishey opened #1224 "NoMethodError raised when fallback access token lookup fails"
### Steps to reproduce
Create an application that uses access token hashing with an active hashing algorithm and a fallback hashing algorithm.

### Expected behavior
In theory, the application should return a `401 Unauthorized` when making a request to a protected resource with an invalid access token.

### Actual behavior
Instead, the application returns a `500 Internal Server Error` when the fal

[2019-03-26 15:39] nbulaj commented on #1224
Hi @JGrishey . Thanks for reporting this issue! I'll look at it a little bit later because I'm busy right now.

/cc @oliverguenther

[2019-03-26 15:51] JGrishey commented on #1224
I should include my implementation of `::Doorkeeper::SecretStoring::Sha512Hash`, which mirrors the `Sha256` implementation:

[code]

[2019-03-26 15:58] JGrishey commented on #1224
I think the issue lies here:

https://github.com/doorkeeper-gem/doorkeeper/blob/1599577d36e55494afb6046f3d4d7515077e1b3a/lib/doorkeeper/models/concerns/secret_storable.rb#L68-L70

`#find_by` will return `nil`, which sends `nil` into `resource` which gets sent into `#upgrade_fallback_value`, causing the `NoMethodError` on `#public_send` with `:token=`. There should probably be a guard clause here f

[2019-03-26 18:01] oliverguenther commented on #1224
Thank you for finding Jacob, I have missed this. I'm on vacation without my
laptop at the moment so cannot provide a PR until second week of April, but
your observation is absolutely correct.

Am 26. März 2019 08:59:03 schrieb Jacob Grishey <notifications@github.com>:

[2019-03-26 20:33] dependabot[bot] opened #1227 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-03-27 06:20] nbulaj commented on #1224
Hi @JGrishey . Feel free to send a PR :)

[2019-03-27 10:11] nbulaj commented on #1227
@dependabot badge me

[2019-03-27 15:01] f3ndot opened #1230 "Allow resource_owner_id's value to be configurable"
### Problem

Complex systems may need the `AccessToken#resource_owner_id` to not be the primary, integer key typically located at `User#id` but some other column or identifier.

In our case, we want the `User#canonical_id` to be the stored value.

We serialize and display the `resource_owner_id` value in distributed microservices that utilize Doorkeeper. As a result we don't want to use the intern

[2019-03-27 15:10] nbulaj commented on #1227
@dependabot this error look weird to me. I don't face any problems installing or updating current Gemfile

[2019-03-27 15:14] greysteil commented on #1227
Agreed - this looks like a bug to me. Let me take a look into it.

[2019-03-27 15:35] JGrishey commented on #1224
Sure! I'll work on that today (hopefully!).

[2019-03-28 05:34] dependabot[bot] opened #1232 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-03-28 05:34] #1227 closed

[2019-03-28 07:35] nbulaj commented on #1232
What the ... @dependabot

[2019-03-28 09:53] greysteil commented on #1232
🤦‍♂️ On it

[2019-03-28 10:52] greysteil commented on #1232
FYI, have pinpointed the bug. Will have this fixed in the next 30 mins or so. Sorry about that!

[2019-03-28 11:38] greysteil commented on #1232
FYI, fix is [here](https://github.com/dependabot/dependabot-core/commit/430fde3c1a35d8db1a77ad6fbc8b13d380452d49). I'm deploying that now - will be live in the next 10 mins.

Thanks for tagging us in this one!

[2019-03-28 12:45] #1232 closed

[2019-03-28 21:07] #1222 closed

[2019-03-29 07:25] nbulaj commented on #1224
Fixed by  #1236, thanks @JGrishey !

[2019-03-29 07:25] #1224 closed

[2019-03-29 08:14] nbulaj commented on #1230
Hi @f3ndot . I have similar case on my current project where we have real ID and tokens that we expose to end users. So at first sight it makes sense. From the other side we can't fit everybody use-cases that can be personally extracted to a concern (module) and then prepended / included individually. So I'm on parting of the ways

[2019-04-01 08:21] #947 closed

[2019-04-01 08:49] nbulaj commented on #947
Finally this feature released: https://github.com/doorkeeper-gem/doorkeeper/pull/1237/

Doorkeeper automatically will allow to use blank redirect URIs in case server configured to use URI-less grant flows (client credentials, resource owner password). One thing you need to do is to remove `NOT NULL` constraint from `redirect_uri` columns for `oauth_applications` table.

**[NOTE]**: don't forget th

[2019-04-03 07:12] ajays1991 opened #1240 "Error setting up doorkeeper for rails application"
I am trying to add doorkeeper to my rails application. As getting started documentation mentions i will have to run

`bundle add doorkeeper`

then

`bundle exec rails generate doorkeeper:install`

[code]

But i get the following error in console while running `bundle exec rails generate doorkeeper:install`

[Configuration for doorkeeper missing. Do you have doorkeeper initializer? (Doorkeeper::Mis

[2019-04-03 07:52] nbulaj commented on #1240
Hi @ajays1991 . Take a look at old issue here, maybe you could find an answer https://github.com/doorkeeper-gem/doorkeeper/issues/973

[2019-04-06 20:17] felipeelias commented on #1230
If I understand correctly, the idea is to associate access tokens to owners still via `resource_owner_id` field, but doorkeeper instead of calling `.id` everywhere, it would call a custom method?

Wouldn't be enough (although, super hacky) to wrap your resource owner in another object which would define such `id` field?

[code]

I'm not entirely sure this works though... I'm quite curious how you

[2019-04-07 20:22] f3ndot commented on #1230
@felipeelias interestingly that's almost exactly how we solved for it. Great minds!

I think that perhaps my request should be closed as a delegator pattern is acceptable here without mucking with the database internals of Doorkeeper.

[2019-04-07 20:25] #1230 closed

[2019-04-10 07:02] linhdangduy opened #1242 "No method for nil value exception in token introspection"
### Steps to reproduce
After update code with #1209 pull request (on master branch or tags v5.1.0rc2), send a request to token introspection endpoint with following format:
[code]

### Expected behavior
Because body's token was wrong, expected response is
[code]

### Actual behavior
Exception occurred: No method `.token` for nil value. At the following line https://github.com/doorkeeper-gem/doorke

[2019-04-10 08:35] nbulaj commented on #1242
Fixed by #1243

[2019-04-10 08:35] #1242 closed

[2019-04-14 23:56] wallerjake opened #1244 "Undefined method logout_uri"
### Steps to reproduce

When I uncommented the after_successful_authorization successful block in the doorkeeper initializer I got an undefined method logout_uri.

### Expected behavior

I would expect this method to not throw an undefined method.

### Actual behavior

It throws an undefined method.

### System configuration

This is just using the standard doorkeeper initializer.

**Doorkeeper in

[2019-04-15 06:45] felipeelias commented on #1244
Hi, thanks for reporting this.

@nbulaj please confirm, but I believe this comment is just an example (introduced by ed95d94, #1062 and #1064)

[2019-04-15 06:51] felipeelias commented on #1240
@ajays1991 I hope that the link provided above solved your issue and I'm going to take the liberty to close this issue. Feel free to reopen the issue in case you still encounter problems.

[2019-04-15 06:51] #1240 closed

[2019-04-15 07:10] nbulaj commented on #1244
Hi @wallerjake. @felipeelias is totally right about the `logout_uri` - it's just an example for the configuration option in the initializer. Doorkeeper itself [doesn't have any `logout_uri`](https://github.com/doorkeeper-gem/doorkeeper/search?q=logout_uri&unscoped_q=logout_uri), so you just need to redefine your configuration hooks and everything must be OK.

[2019-04-16 20:35] #1244 closed

[2019-04-17 22:09] phlegx commented on #1069
Another issue with the same feature request is here #651.
Here a [gist](https://gist.github.com/thibaudgg/3aa7e3276fbcdd712cbf) with a workaround.

[2019-04-19 11:36] phlegx commented on #1083
I have a similar problem.

I use the following routes:

[code]

And I end up with: _NameError - uninitialized constant Api::V1::Doorkeeper:_

Why? Should some parts in the code be changed from `Doorkeeper` to `::Doorkeeper`?

[2019-04-19 16:16] phlegx opened #1245 "Customize grant flows per application: config doorkeeper grant_flows passing a block."
Hi!

Can I pass a block to:

[code]

like in `custom_access_token_expires_in`:

[code]

Passing a block to `grant_flows` can help setting up different grant flows per application. Example:

[code]

[2019-04-19 16:20] nbulaj commented on #1245
Hi @phlegx . It's impossible at the moment. Also this configuration option is designed for the entire server and knows nothing about aoolications (clients). It defines grant flows supported by your server

[2019-04-19 18:49] phlegx commented on #1245
Hi @nbulaj. But can be added as feature?

Yes, the server is one, but in Doorkeeper I can add many applications. Why should every application have all the default grant flows? Single application, single configuration, multiple applications, multiple configurations. I mean, why there are context blocks for `custom_access_token_expires_in` and `use_refresh_token`? Because they are useful to have bet

[2019-04-19 19:44] phlegx commented on #1245
Found issue #1207 with the same feature request!

[2019-04-21 21:43] iv-mexx opened #1246 "Does not display application secret when using `hash_application_secrets` in Browser"
Refs #1168

### Steps to reproduce

I have provided a minimal sample application that displays the behavior at https://github.com/iv-mexx/doorkeeper-hash-client-secrets-repro

* Activate `hash_application_secrets`
* Visit `/oauth/applications` in Browser
* Create new Application

### Expected behavior

The Secret should be displayed at least once after creating an application.

### Actual behavior

[2019-04-22 09:20] nbulaj commented on #1246
Thanks @iv-mexx for reporting, need to check it, but fast look says you are in the right direction.
I'll check it later (or you can produce a PR).

/cc @oliverguenther

[2019-04-22 09:26] nbulaj commented on #1207
I'm closing this in favor of #1245, @alexpil

[2019-04-22 09:26] #1207 closed

[2019-04-23 09:52] iv-mexx commented on #1246
I could take a look. How would you go about this?
Just showing the token in the Flash?
Or passing the Secret in the Redirect via URL Parameter?

[2019-04-23 09:59] nbulaj commented on #1246
I'm for flash, but thinking how it would work in API mode..

[2019-04-23 10:04] iv-mexx commented on #1246
I have not yet tested this, but from the code I'm confident it already works correctly in API Mode because the JSON response renders the `@application` instance (with the transient `@raw_secret`) directly.

I'll take a look! 👍

[2019-04-23 10:17] oliverguenther commented on #1246
Good point which I missed because we override the default layouts. We can redirect with the flash present, that would probably be easiest. Let me know if you need any help or want me to look into it.

[2019-04-25 17:08] phlegx opened #1247 "Doorkeeper Vue frontend with API backend"
Hi,

I plan the following architecture for a small application:

- **myapp.com**
  - Oauth provider with doorkeeper, doorkeeper-jwt and devise authentication
  - Web SPA app with Vue frontend and API backend (register, login, logout, etc.)
  - Later a mobile app that uses the API backend and authenticates with the oauth provider.

**Oauth provider** and **API backend** are the **same Rails applica

[2019-04-26 09:09] nbulaj commented on #1247
Hi @matthewford . Actually you can use [Stack Overflow](https://stackoverflow.com/questions/tagged/doorkeeper) to ask such questions. GitHub issues tracker we use to add issues and, possibly, feature requests.

[2019-04-26 09:10] nbulaj commented on #1246
Hi @iv-mexx . Any success with the issue? Maybe need some help?

[2019-04-26 09:37] iv-mexx commented on #1246
Hey, thanks for asking. I did not have the time yet as I was busy integrating doorkeeper into my application first 😄

I wanted to do it this upcoming weekend

[2019-05-02 05:37] 3pns commented on #676
Same problem with latest rails 6.0.0.rc1, it seems like it is required to stop spring to run the install command, it is neither specified in the main github page/rails install guide/doorkeeper-provider-app example project.

[code]

[2019-05-02 07:04] #1246 closed

[2019-05-03 13:16] phlegx commented on #1247
Hi @nbulaj! Thank you for the reply. I have found all answers to my questions by myself. But now I'm confused with the config `api_only`.

How can I do a redirect of `/oauth/authorize` actions if doorkeeper is configured as `api_only`? I want to code views by my own SPA app with login form and authorize app question form. `api_only` renders always a JSON as response.

How solves other developer th

[2019-05-06 20:50] veluvijayv2 opened #1250 "Upgrading Doorkeeper to 4.4.3 results NoMethodError: super: no superclass method `redirect_uri=' for Doorkeeper::Application"
### Steps to reproduce
Upgrade the doorkeeper gem from 4.2.6 to greater versions, I was upgrading to 4.4.3

The more detailed the issue, the more likely that we will fix it ASAP.
I had upgraded the Doorkeeper gem to 4.4.3 to fix the below vulnerability that audit raised

After upgrading, my application test cases are failing in the Doorkeeper::Application.new(app_params) part with the below error,

[2019-05-13 04:43] ianbayne opened #1251 "Rename news.md to changelog.md"
From what I can tell, `changelog.md` is the standard and the one most readily identified as containing a log of changes between versions.

[2019-05-13 15:06] nbulaj commented on #1251
Agree about standards, but it can be harmful due to external services dependencies to this file (like services that posts change log entries for auto-updates, gemnasium and so on).

Maybe we can leave this document, but replace it with a link to a new changelog?
WDYT @felipeelias  ?

[2019-05-14 00:57] ianbayne commented on #1251
That sounds like a good idea.

[2019-05-16 09:55] rishabhsairawat opened #1254 "Incorrect behaviour of context.client in custom_access_token_expires_in and use_refresh_token blocks"
### Steps to reproduce
Use `/oauth/token` API for `password` `grant_type` without `client_id` or `client_secret`

### Expected behavior
In `custom_access_token_expires_in` and `use_refresh_token` blocks, `context.client` should be `nil`

### Actual behavior
In `custom_access_token_expires_in` and `use_refresh_token` blocks, `context.client` is giving `false`

### System configuration
 `doorkeeper

[2019-05-16 17:27] nbulaj commented on #1251
Done 🎉

[2019-05-16 17:27] #1251 closed

[2019-05-17 14:23] nbulaj commented on #1250
Hi @veluvijayv2 . Which Rails version did you use? Maybe you have some patches to Doorkeeper models?

Seems like Doorkeeper application model can't resolve it's attribute methods. Try to update Rails first please

[2019-05-17 14:33] nbulaj commented on #1254
Hi @rishabhsairawat . I think I know the source of this issue and why it worked this all the time, but think that to have `nil` for non-authorized client would be a better option. Would you like to propose a PR?

[2019-05-17 14:34] #1139 closed

[2019-05-17 16:04] veluvijayv2 commented on #1250
Thanks @nbulaj for the reply.
We are using
    Rails version —> 5.1.6.1
    Ruby version —> 2.6.1
    Doorkeeper Version —> 4.4.3, tried with latest 5.1.0 too but getting the same error

In dev environment,
   Doorkeeper::Application(id: integer, name: string, uid: string, secret: string, redirect_uri: text, scopes: string, owner_id: integer, owner_type: string, created_at: datetime, updated_at: d

[2019-05-21 11:58] veluvijayv2 commented on #1250
Closing this as there is no issue after loading the model attributes in test suite

[2019-05-21 11:58] #1250 closed

[2019-05-21 14:56] nbulaj commented on #1221
Hi @montdidier . I think we can close this issue, right?

[2019-05-22 03:12] montdidier commented on #1221
@nbulaj Yes, we should close it.

[2019-05-22 03:12] montdidier commented on #1221
Addressed in referenced issues and PRs

[2019-05-22 03:12] #1221 closed

[2019-05-22 11:03] nbulaj commented on #1204
Hi @kurodashota-mf . Could you please take a look at this changes https://github.com/doorkeeper-gem/doorkeeper/commit/fe2accf3c00eecf12d04a27b6242ba7f55158ed9#diff-5305ee84a3e2c5367264952b4f1b8610R317 (and previous #1257). Does they solve your problem?

[2019-05-22 11:10] kurodashota-mf commented on #1204
Yes, it solves my problem. Thanks!

[2019-05-22 12:05] kreintjes commented on #1097
The part in the documentation also isn't really clear about this: https://doorkeeper.gitbook.io/guides/ruby-on-rails/configuration

I think it would be wise to explicitly state the authenticator block shouldn't return a boolean, but redirect/raise if the user isn't authenticated. We almost did this wrong when following this documentation.

[2019-05-22 12:11] nbulaj commented on #1097
Hi @kreintjes . I'm for any docs improvements! Would you luke to propose a PR?

[2019-05-23 08:13] nbulaj commented on #1204
Can we close the issue now, @kurodashota-mf ?
If there are still some improvements you may suggest, you're very welcome with the PR :)

[2019-05-23 08:17] kurodashota-mf commented on #1204
OK, please.
I appreciate your support 👍

[2019-05-23 10:30] nbulaj commented on #1204
Now we have configuration option to customize Token Introspection endpoint auth logic so you can define your custom rules (check auth token for specific scope, validate client, check superapp and so on):

https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/generators/doorkeeper/templates/initializer.rb#L317-L356

Closing this PR

[2019-05-23 10:30] #1204 closed

[2019-05-28 12:00] rishabhsairawat commented on #1254
@nbulaj This has been fixed (#1185) and released in [v5.1.0.rc1](https://github.com/doorkeeper-gem/doorkeeper/releases/tag/v5.1.0.rc1).

[2019-05-28 12:00] #1254 closed

[2019-05-31 23:33] shittyhomework opened #1265 "Doorkeeper inside mountable engines?"
###
May I know how to setup doorkeeper in rails engine?

I figured how to use doorkeeper views. but I have issues with the doorkeeper helper?

[code]

[2019-06-05 18:17] dylancopeland opened #1267 "Uncaught Null Exception When Creating Access Token"
When creating an access token using the Resource Owner Password Grant strategy, there is the possibility of a null exception being thrown due to a null `application_id` if a client isn't supplied. I understand that this can be suppressed by allowing nulls on the `application_id` column in the `oauth_access_tokens` table, but that will then allow tokens to be created without supplying a client ID (

[2019-06-05 20:33] dylancopeland commented on #1058
Apologies for bumping an old issue, but was there ever a determination here? If refresh tokens could be revoked (perhaps by using a one time refresh token setup as mentioned by @GeminPatel), this would allow for the [Rake task](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/rake/db.rake#L22) to purge expired tokens with refresh tokens.

The Rake task would be able to purge

[2019-06-06 20:12] dylancopeland commented on #1267
It looks like a recent pull request changed default behavior of Doorkeeper is to return an `invalid_client` if the `client_id` parameter is missing. This change was introduced in d873ef5cd09631b502a8e46ef4d6c8c105f0dfdd. However, the logic for checking for a `client_id` in  `validate_client` seems to be reversed. Is this intentional?

[2019-06-07 02:43] dylancopeland opened #1268 "Enforce Scope On Access Token Request"
Per [the spec](https://tools.ietf.org/html/rfc6749#section-3.3), the authorization server should have the option to reject authorization token requests that don't supply a scope:

   authorization, the authorization server MUST either process the
   request using a pre-defined default value or fail the request
   indicating an invalid scope.

It looks like Doorkeeper currently doesn't support reje

[2019-06-10 14:15] nbulaj commented on #1265
Hi @shittyhomework . We have a page for multi-engine applications, https://github.com/doorkeeper-gem/doorkeeper/wiki/Integration-with-multi-engine-Rails-application , and also you could take a look at this issue: https://github.com/doorkeeper-gem/doorkeeper/issues/1083

[2019-06-10 14:19] nbulaj commented on #1268
Hi @dylancopeland . So what is the current of Doorkeeper for the case when `scope` parameter is blank? I don't actually remember, but I think it's 400 Bad request response which is correct behavior. So you are suggesting to introduce an option to allow server to process the request with a default set of scope, right? Would you like to propose a PR ?

[2019-06-10 14:52] nbulaj commented on #1193
Here we have a patch to fix the problem, https://github.com/doorkeeper-gem/doorkeeper/pull/1270, but need your attention and tests

[2019-06-10 15:05] dylancopeland commented on #1268
Hi @nbulaj,

Currently, Doorkeeper will create the access token with a blank scope and return a 200. The current test config I'm using has `optional_scopes` defined but no `default_scope`. There doesn't seem to be a way to enforce the requirement of a scope. Ideally, I'd like Doorkeeper to only issue a token if the scopes defined in the request match what is defined in the `optional_scopes`.

I'm

[2019-06-10 15:09] nbulaj commented on #1268
It creates blank scopes and returns 200 because you have `default_scope []` or smth like this ? I think it must be fixed (use default scopes if they defined or return an error). Or be configurable (developer mush choose - use default scopes or throw an error)

[2019-06-12 11:19] haytham-breaka opened #1273 "can Doorkeeper::ApplicationMetalController inherit from Doorkeeper::ApplicationController?"
According to [Doorkeeper Guides](https://doorkeeper.gitbook.io/guides/configuration/other-configurations#custom-base-controller) is that Doorkeeper::ApplicationController is the main controller for all doorkeepers' controller. And the parent of this controller can be customized to keep Doorkeeper controllers in the same context than the rest of the app.
But I found that Doorkeeper::ApplicationMeta

[2019-06-14 14:37] #1193 closed

[2019-06-18 19:13] jasonjho opened #1275 "Doorkeeper initialization autoload - warning"
After upgrading to Rails 6.0.0.rc1, the doorkeeper initializer triggers a warning on server start with the following:

```DEPRECATION WARNING: Initialization autoloaded the constant RedirectUriValidator.```

I believe this has to do w/ the new zeitwerks loader and moving away from autoloading behavior from within initializers.

Has anyone run into this? Not sure how to fix this since this seems to

[2019-06-19 09:13] linhdangduy opened #1276 "There is typo error in v5.2.0.rc1 release description"
### Expected behavior
At [release](https://github.com/doorkeeper-gem/doorkeeper/releases), two PRs of `Improve Token introspection...` is 1260 and 1262, not 1261
![image](https://user-images.githubusercontent.com/9018303/59752733-bda9b200-92bd-11e9-8f43-a0e67797cc37.png)

### Actual behavior
1260, #1262

[2019-06-19 09:23] #1276 closed

[2019-06-19 09:23] nbulaj commented on #1276
Thanks @linhdangduy ! Fixed :tada:

[2019-06-21 13:42] stelasido opened #1278 "401 always"
Hi, I have setup an app from 1. example app, from the tutorials - `https://scotch.io/@jiggs/rails-api-doorkeeper-devise` and right after that installing an app from example apps -`https://github.com/doorkeeper-gem/doorkeeper-provider-app`, but always for user that exists, I am getting 401 and I guess, I am missing something. What I send with Postman is this:

` {
  "user": "test@test.com",
  "pass

[2019-06-22 17:40] stelasido commented on #1278
???????????????????????????????????????????????????????????????????????????????????

[2019-06-25 20:32] ArthurLuisLimaBender opened #1280 "Wrong token scope for method results on empty 403"
I am using doorkeeper gem with devise on a Rails-API project. It was working really nice until I started creating scopes. I defined two scopes:

[code]

I also have a controller with two methods: post_main and get_main. get_main should be accessible by both :user and :admin, but post_main should be only accessible by admin. This is the code i have on my controller:
[code]
get_main is working fine,

[2019-06-26 13:23] nbulaj commented on #1275
Hi @jasonjho . Thanks for reporting this!

@jasl I remember you did some refactoring in order to add support for Rails 6, could you please take a look at this?

[2019-06-26 13:28] jasl commented on #1275
@nbulaj I'll check this later

[2019-06-26 14:54] jasl commented on #1275
@nbulaj @jasonjho

I pulled the master and `bundle update`, there's no warning on `rails s` and `rails spec`.

@jasonjho which version of doorkeeper you in use? could you try latest master branch? could you diff your doorkeeper initializer with the latest?

Thank you!

[2019-06-27 20:48] thegcat opened #1281 "Doorkeeper models not available in rake "environment""
### Steps to reproduce

We use a rake task to create Doorkeeper Application objects, however it seems the availability of Doorkeeper models in rake tasks is broken for us.

The rake task https://stackoverflow.com/questions/tagged/doorkeeper
Relevant section in the README of our app: https://github.com/kif-ev/oskiosk-server#create-a-new-oauth-token

This used to work, I however haven't been able to

[2019-07-01 16:12] nbulaj commented on #1281
Hi @thegcat . Looks like your rake task doesn't load ActiveRecord by some reason and Doorkeeper models isn't loaded too as they use `ActiveSupport#on_load` lazy loading hooks. Try to call `ActiveRecord::Base` somewhere in rake task before calling Doorkeeper models and if it started top work - that's the case. I don't sure why is such happening, there we need some debugging to check why Rails doesn

[2019-07-01 16:19] nbulaj commented on #1278
Hi @stelasido . I think you've missed `client_id` and `client_secret` in your request payload. OAuth server needs to know which application (client) you are trying to authorize. Also not `user`, but `username`.

Check password flow spec for more examples : https://github.com/doorkeeper-gem/doorkeeper/blob/master/spec/requests/flows/password_spec.rb

[2019-07-01 16:26] thegcat commented on #1281
Thank you for the suggestion, this works indeed!

As to why this doesn't happen automatically: I can't remember exactly but I might have created this project way back when as a RAILS API project, do you know if this might have an incidence in this case?

[2019-07-02 16:54] #1278 closed

[2019-07-02 16:55] nbulaj commented on #1281
Also need to check it out, don't sure about it.

[2019-07-02 16:59] nbulaj commented on #1265
Also check this https://edgeguides.rubyonrails.org/engines.html#routes and let us know if it helped please

[2019-07-02 16:59] #1265 closed

[2019-07-02 17:06] nbulaj commented on #1203
Hi @suung ! I read a little bit more about m2m and seems like you can just use Client Credentials flow. https://auth0.com/blog/using-m2m-authorization/

Or do you need this `audience`  functionality?

[2019-07-02 17:13] nbulaj commented on #1273
Hi @haytham-breaka . Thanks for your report. Seems like we need to add a second configurable option to set doorkeeper API base controller, because those controllers do different things. I'll take a look on it in a few days.

[2019-07-04 10:08] nbulaj commented on #1273
Hi @haytham-breaka . Could you please check https://github.com/doorkeeper-gem/doorkeeper/pull/1283 ?

[2019-07-04 12:42] nbulaj commented on #1275
Hi @jasonjho ! Any updates here?

[2019-07-04 13:54] jasonjho commented on #1275
Hi @nbulaj @jasl  I tested this using doorkeeper 5.2.0.rc2 and rails6.0.0.rc1 and I'm still seeing the following warning:

[code]

Running `rails s` doesn't actually show an error on startup. I only see this deprecation warning show up in the development logs.  @nbulaj do you see any of this in your dev or production logs on initialization? I'm pretty sure it's from the doorkeeper init file -- sin

[2019-07-04 14:05] nbulaj commented on #1275
Actually I think it related not to initializer itself, but to Rails autoloading. Seems like it autoloads all the files under `app/` directory and now it is deprecated. And we have such file - it's `RedirectUriValidator`. Need to check how to load such files now with Zeitwerk

[2019-07-04 14:07] nbulaj commented on #1275
We are not alone with such issue :)

https://github.com/TrestleAdmin/trestle/issues/211

[2019-07-04 14:20] jasonjho commented on #1275
@nbulaj Yep! We've actually seen this quite a bit with other dependencies. Definitely a side effect with the new zeitwerk loading mechanism.

In the meantime, the short term (or maybe even long?) fix is to simply `require 'redirect_uri_validator'` at the top of the initializer.

[2019-07-05 07:42] #1273 closed

[2019-07-05 07:43] nbulaj commented on #1273
Hi @haytham-breaka . GitHub automatically closed this issue because the fix was merged to master, feel free to test the changes using edge github version of the gem and report any issues you face

[2019-07-05 09:41] nbulaj commented on #1281
You can add `require 'active_record/base'` on top of your Rake task to call AR hooks that will invoke Doorkeeper model initialization. I just don't sure why it wasn't called if you use `task: :environment` :thinking: , maybe autoloading in development env or something like that.

[2019-07-05 11:02] thegcat commented on #1281
Thanks, that does the trick. As this is probably not directly related to doorkeeper and this fixes our problem I'll just close this here.

[2019-07-05 11:02] #1281 closed

[2019-07-05 16:02] verenion opened #1284 "Cookies with token - OWASP fingerprinting"
I am trying to implement the token sidejacking protection recommended by OWasp (https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/JSON_Web_Token_Cheat_Sheet_for_Java.md#token-sidejacking). This requres storing a cookie in token_payload. Is there a simple way of doing this?

[2019-07-08 15:54] mwmeyer opened #1285 "Documentation on PKCE refresh token usage needed"
I've implemented doorkeeper PKCE per the wiki:
https://github.com/doorkeeper-gem/doorkeeper/wiki/Using-PKCE-flow

But now I am needing information surrounding whether refresh token handling should be updated at all with the flow.

According to this article, it may be safer to not use refresh tokens at all, for public clients with PKCE:
https://auth0.com/blog/oauth2-implicit-grant-and-spa/#Using-th

[2019-07-09 06:57] jasl commented on #1275
OK, so I need to create a new project to take a look.

It is strange that I have a Rails 6.0.0.rc1 project with Doorkeeper and I'm not find this issue, or maybe I'm not notice that.

[2019-07-09 18:04] nbulaj commented on #1284
Hi @verenion . Do you use doorkeeper-jwt gem? You could customize the payload of the token then. In other case you can't write additional data or check it somewhere ibside Doorkeeper.

[2019-07-09 18:14] nbulaj commented on #1203
As I said, you can use Client Credentials flow for m2m flow. For some specific cases you could propose a PR.

[2019-07-09 18:14] #1203 closed

[2019-07-09 18:24] nbulaj commented on #1280
Hi @ArthurLuisLimaBender . Actually I didn't get it: you face some issue or you just want to customize the error?

For second one try configure the gem: https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/generators/doorkeeper/templates/initializer.rb#L246

[2019-07-10 14:53] nbulaj commented on #1285
I think we can try to ask @bpieck as he is an expert in PKCE :)

[2019-07-12 15:34] georgepalmer opened #1287 "Problem with params on master"
### Steps to reproduce

I think I've found a problem with the latest, unreleased, version of the gem which results in a strong params error.  We are using the latest version of the gem because we need the base_metal_controller option.

To eliminate our client code we recreated the problem using these steps:
https://github.com/doorkeeper-gem/doorkeeper/wiki/Authorization-Code-Flow  It works when on

[2019-07-12 22:58] haytham-breaka commented on #1273
Thank you so much @nbulaj 👍

[2019-07-13 04:22] nbulaj commented on #1287
Hi @georgepalmer . Thanks for reporting the issue!
I don't have a quick answer, I'm also need to check what's going on in the controller and with params. I let you know if I find something

[2019-07-15 14:33] mwmeyer commented on #1285
A couple other threads relevant to this discussion:
https://security.stackexchange.com/questions/199000/oauth2-pkce-can-the-refresh-token-be-trusted
https://github.com/auth0/docs/issues/4682

[2019-07-15 14:41] nbulaj commented on #1287
Hi @georgepalmer . Could you please check it with rc1 and rc2 version of 5.2 Doorkeeper ? I don't sure it's actually a strong params issue, maybe some other change introduced the problem.

[2019-07-16 12:11] georgepalmer commented on #1287
@nbulaj I've just tested and rc1 is fine but rc2 has the issue

[2019-07-16 12:13] georgepalmer commented on #1287
@nbulaj can you reproduce from the steps above?  Or do you nee more info?  It's just entering the authorization url as outlined in step 2 of the wiki page into a browser and it'll hit the issue

[2019-07-16 12:56] nbulaj commented on #1287
It would be great to have a feature test (cucumber) if it's possible. I don't have a time to setup a project and test it right now :(

[2019-07-16 20:55] verenion commented on #1284
I am yes. Sadly, `token_payload` is a callback method called deep within doorkeeper. Therefore, I cannot access the request or cookie object to actually store the cookie to be sent back as a header (Set-Cookie). I also cannot send the fingerprint back in the response, as that would then be accessible to javascript, making the entire purpose of the fingerprint pointless. I do however need to store

[2019-07-17 18:08] nbulaj commented on #1284
Ok, so seems like the answer to your first question is no, there is no simple way to to do it. You can try to patch doorkeeper internal controllers, here you have an access to cookies, headers and so on. However I don't sure we wanna to have such specific feature in the core gem, maybe only as some plugin.

[2019-07-18 08:30] nbulaj commented on #1287
I take a look a little bit deeper. PreAuth doesn't need `client_id` in params as if has client instance passed on initialization from the Doorkeeper server: https://github.com/doorkeeper-gem/doorkeeper/blob/master/app/controllers/doorkeeper/authorizations_controller.rb#L70

Now it looks like `client_id` missed for your request or maybe something else? It's hard to say

[2019-07-18 18:05] georgepalmer commented on #1287
Yeah so it grabs client_id from there but that doesn't fix the strong params issue.  If you look at https://github.com/doorkeeper-gem/doorkeeper/commit/03b1437c6bda10ec74c256b4f8c5c3d98b4e5227 you'll see the permit call doesn't allow client_id.  So if you submit a url with a client_id then it blows up as that strong param call will have a client_id in the params

[2019-07-22 11:58] bpieck commented on #1285
Sorry, I was in vacation for some time :)

You are quite right about the refresh token. Yes: It is a very powerful instrument, that should not get into wrong hands. I once had to monkey patch doorkeeper for some other project, to ensure to require a secret on refresh token flow for confidential apps (but I assume, that is not anymore the case - in current projects, I do not have any confidential a

[2019-07-22 12:06] bpieck commented on #1285
Ah I just followed your last link. And there is quite a good response to the claim:
[code]
The answer is: No it is not. Since there is no redirection involved in the second request - and the refresh token is not hard coded into the code (to be decompiled) - it's not comparable with the original attack vector PKCE protects from at all. The real issues about storing the refresh token - are about how

[2019-07-22 13:33] mwmeyer commented on #1285
@bpieck thanks so much for clarifying

I believe my confusion ( and that of the SO post, maybe others? ) is coming from the fact that both oauth and refresh tokens are sensitive in the authorization flow.

However, as you've said, they have different attack vectors. ( redirect vs storage )

For reference, here are some links relevant to refresh token security:
https://stackoverflow.com/questions/1

[2019-07-22 13:33] #1285 closed

[2019-07-23 09:19] bpieck commented on #1285
thanks for the links - interesting discussions :)

[2019-07-23 09:27] nbulaj commented on #1285
Added link to this discussion [in Wiki page](https://github.com/doorkeeper-gem/doorkeeper/wiki/Using-PKCE-flow), thanks @bpieck for the clarification and such a detailed answer and thanks @mwmeyer for the question :)

[2019-07-24 14:45] nbulaj commented on #1287
@georgepalmer can we have a sample app or Capybara feature spec to research the issue?

[2019-07-24 17:05] georgepalmer commented on #1287
I setup a new sample app to eliminate anything we were doing and also to create as minimal test case as possible.  This highlighted I'm seeing the error because we run with the rails setting which I guess is why you've missed it:

    config.action_controller.action_on_unpermitted_parameters = :raise

This throws an exception when extra params are present rather than silently swallowing it.

**Ste

[2019-07-26 12:40] bpieck opened #1290 "device code draft"
This is not about an issue in doorkeeper. We were requested to implement the Device Authorization Grant draft for oauth: https://tools.ietf.org/html/draft-ietf-oauth-device-flow-15

We currently are in a mode of refactoring. Now I would be interested if you are interested in this flow and would like to see a PR for doorkeeper. If so, we would consider this in our refactoring work. If not - work on

[2019-07-26 13:02] nbulaj commented on #1290
Looks interesting, @bpieck ! It would be great to have this in Doorkeeper :heart:

[2019-07-26 19:51] ArthurLuisLimaBender commented on #1280
I just want to customize the error. Return something, change the return status to 401: unauthorized...

[2019-07-28 18:35] BenLubar opened #1291 "Add IndieAuth support"
spec: https://www.w3.org/TR/indieauth/

Basically, all this would require for minimal support is:

- support `id` as a `response_type`
- don't look in the database for client info for `id` requests
- support the `me` JSON response from the authorization endpoint

/cc @aaronpk

[2019-07-28 21:58] zenzei opened #1292 "Password grant flow for mobile app + refresh tokens issues?"
Hello!
I have Rails 5.2.2 web app and i'm adding an API for mobile clients that will be authenticated through doorkeeper (v5.1.0). Users/signup is already managed by devise (v4.5.0).

People will login once on the mobile app with their credentials, so i was planning to use the password flow grant and then using refresh tokens so they don't have to enter their credentials again, unless they logged

[2019-07-29 07:47] bpieck commented on #1290
Ok, thanks, my colleague Dan Shi will propose a PR in near future :)

[2019-08-01 07:47] nbulaj commented on #1292
Hi @zenzei .

1. First of all about refresh tokens

As far as I remember it doesn't proposed by the RFC, but need to check. But definitely you can call token revocation endpoint that is actually created for such purposes (see https://tools.ietf.org/html/rfc7009#section-2 ). Also check [1.5.  Refresh Token](https://tools.ietf.org/html/rfc6749#section-1.5) section of RFC6749 that says nothing about

[2019-08-01 11:22] nbulaj commented on #1292
I check our `refresh token` strategy implementation and seems like we actually revoke the refresh token :thinking:

Check this:

https://github.com/doorkeeper-gem/doorkeeper/blob/94dfa31df04cfddde4fb18eb2f4a6f04ed33d9a2/lib/doorkeeper/oauth/refresh_token_request.rb#L37

And this:

https://github.com/doorkeeper-gem/doorkeeper/blob/4dc432c74a424c85e141b131939faafa98a916fc/lib/doorkeeper/oauth/token.

[2019-08-01 11:25] nbulaj commented on #1280
Did you @ArthurLuisLimaBender checked the Wiki ? Like

[Customizing the response body when unauthorized](https://github.com/doorkeeper-gem/doorkeeper/wiki/Customizing-the-response-body-when-unauthorized) or [Customizing token error response](https://github.com/doorkeeper-gem/doorkeeper/wiki/Customizing-token-error-response), or try to check https://doorkeeper.gitbook.io

[2019-08-01 11:26] nbulaj commented on #1284
There is nothing we can do with the issue (and it's actually not an issue), so I'm closing it. If you plan to propose a PR to add such functionality - you are very welcome :)

[2019-08-01 11:26] #1284 closed

[2019-08-01 11:27] nbulaj commented on #1275
Any chances to fix it for 5.2 release :pray: ? I can't reproduce myself :(

[2019-08-01 11:29] jasl commented on #1275
@nbulaj
I'll try this tonight, will reply if I can or I can not reproduce it

[2019-08-01 11:46] nbulaj commented on #1267
Hi @dylancopeland . Could you please provide some spec with the case you need ? It seems like you need something out of the RFC scope, so the only way I see it is to patch Doorkeepre controllers to find client by params. But let's see

[2019-08-01 12:21] nbulaj commented on #1245
Landed in `master` with #1286

[2019-08-01 12:21] #1245 closed

[2019-08-01 18:17] jasl commented on #1275
@nbulaj

[code]

I still can't reproduce the warning.

[2019-08-01 18:36] nbulaj commented on #1275
@jasl maybe try to enable admin panel and try to create an application. Seems like deprecation connected to redirect uri validator, so we need to call it. Maybe enable eager loading I don't know...

[2019-08-01 18:51] jasl commented on #1275
@nbulaj

Still can't reproduce, I don't think putting `RedirectUriValidator` in `app/validators` breaks the rule of Zeitwerk, and in `rails console` type `RedirectUriValidator` can get the class correctly, so I don't know how to trigger this.

But, I think there's a simple & stupid way to prevent the issue, we can just move the validator from `app/validators` to `lib/doorkeeper/validators`, and `r

[2019-08-01 18:58] nbulaj commented on #1275
It will be good, but only for _active_record_ orm (not sequel, mongoid or any other)

[2019-08-01 19:30] jasl commented on #1275
@nbulaj PR attached

[2019-08-02 07:06] nbulaj commented on #1275
Thanks @jasl for your work! I think we can close this issue, but @jasonjho feel free to ping me if it didn't solve

[2019-08-02 07:06] #1275 closed

[2019-08-02 08:19] Blume73 commented on #1290
I would love to integrate this feature in my application as well @bpieck :)

[2019-08-02 19:43] zenzei commented on #1292
Hello @nbulaj. My apologies, it seems it was my error, i discover what was happening after checking the code you point out.

(1) refresh tokens revoked.

The refresh tokens where not revoked because i was not using the new access tokens. I thought  they were instantanely revoked, but discover they don't when i saw the "refresh_token_revoked_on_use" check (https://github.com/doorkeeper-gem/doorkeep

[2019-08-02 19:43] #1292 closed

[2019-08-02 19:48] zenzei commented on #1292
Sorry @nbulaj, i forgot the related question, is there a recommended way to force an invalidation of all access/refresh tokens related to a user in special ocassions (like users changing their passwords)?

[2019-08-07 08:24] bpieck commented on #1290
@Blume73: We have already some implementation here: https://github.com/x-ion-de/doorkeeper
Maybe you like to have a look into how to use it and give some feedback?

[2019-08-07 12:23] ddanshi commented on #1290
@Blume73

here is a brief walkthrough for the flow.  Looking forward to your feedback :)

### Migrations

Use generator to create all necessary tables:

[code]

To enable device flow, run:

[code]
This generator will modify some existing columns and add some new ones that comply with the device flow.

### Configurations

In Doorkeeper configuration initializer, enable the device flow:
[code]

In a

[2019-08-09 11:52] Blume73 commented on #1290
Thank you very much for the hard work you have put in so far.
I will try to integrate this feature to my project and give you my feedback as soon as possible.

[2019-08-09 12:07] bpieck commented on #1290
thanks, take your time, no pressure. It's just great to get some feedback before we open a PR.

[2019-08-09 12:34] nbulaj commented on #1290
Hi guys! I don't have much time right now, so I can't fully check it :(
I take a quick look at the implementation and it seems good, but need a deeper analyze.

So feel free to discuss and propose a PR, I'll return to it when I will be not so busy :+1:  :bowing_man:

[2019-08-12 08:42] nbulaj commented on #1287
Hi @georgepalmer ! Could you please check (and possible trace) your application with the latest master version of Doorkeeper? We put some fix in #1296

[2019-08-12 15:01] georgepalmer commented on #1287
It didn't but as the complex part was done I was able to code a fix - see https://github.com/doorkeeper-gem/doorkeeper/pull/1298  With this everything works as expected

[2019-08-13 07:42] bpieck commented on #1290
I opened the PR for discussion.

[2019-08-14 07:08] linhdangduy opened #1301 "Bug: client can request all server's scopes when it is registered without scopes"
### Steps to reproduce
1. Register a client without specifying any scope: `scope=""`
2. Create an _authorization request_ to server by this client_id and with `scope` param that includes a subset of server's pre-defined scopes.
3. __Client is granted to all scopes__ requested in authorization request.

Spec test:
[code]
Although client is registered without any scopes, it could be granted to all s

[2019-08-19 07:48] Blume73 commented on #1290
@bpieck
I'm sending a post to /oauth/authorize_device. After that, I'm receiving a response like you showed as an example.
With the device_code and the client_id I start polling the token. But I'm not receiving any access token back. The response of that post I looking similar to the response of point 2.

I'm doing something wrong or how can I receive the access token?

[2019-08-19 07:58] ddanshi commented on #1290
Hi @Blume73
In case you had 'authoization_pending' back by polling the token, you should go step 4 to authorize the device first before you can get a valid token.

[2019-08-19 08:14] Blume73 commented on #1290
@ddanshi

First I Send a post to /oauth/authorize_device.
After receiving the user code, i go to the URL and paste the user code there.
Everything is looking fine. But after I send a second post to /oauth/authorize_device i'm receiving an invalid_client error (if i use only the parameter grant_type).
If i send the second post, with the parameter grant_type, client_id and device_code, I receive the

[2019-08-19 10:44] ddanshi commented on #1290
@Blume73
This is so far expected. Every POST request with a valid client id will create a new access grant, which means a new device_code and a new user_code. We could of course check the old access grant's validity before creating a new one. In that case we may then have to calculate the real value of expired_in. Not sure whether we would obtain great benefits from that.

[2019-08-19 13:36] Blume73 commented on #1290
Thank you @ddanshi.

Where i can find the access token, which endpoint i have to poll?

[2019-08-19 17:02] ddanshi commented on #1290
ah sorry! I put the wrong endpoint above. For polling it must be /oauth/token instead of /oauth/authorize_device.
[code]

[2019-08-19 17:03] 0xtobit commented on #1247
There does seem to be a lack of documentation on how to properly implement doorkeeper in api_only mode with a detached frontend.

[2019-08-20 13:15] Blume73 commented on #1290
@ddanshi now everything is working, perfect! :+1:

[2019-08-20 18:36] 0xtobit opened #1302 "When setting api_only mode to true, ActionController::Base will cause CSRF issues"
I've spent several days trying to figure out why my api_only Rails 5 app and api_only Doorkeeper configuration would be throwing CSRF issues.

With some assistance I finally figured out that it was because Doorkeeper, by default, inherits from `ActionController::Base` which will re-add the check for CSRF protections (which are attempted to be disabled in `app/controller/doorkeeper/application_cont

[2019-08-20 19:06] 0xtobit commented on #1302
I'm more than happy to make the proposed updates to the documentation, but would love to hear the maintainers thoughts and preferences <3

[2019-08-23 15:38] vovimayhem opened #1303 "before/after successful_strategy_response not called on Token requests"
### Steps to reproduce

* Configure the `before_successful_strategy_response` and/or `after_successful_strategy_response` callbacks at the Doorkeeper initializer.

* Run an "implicit" grant flow.

### Expected behavior
The configured callbacks should run.

### Actual behavior
The configured callbacks are ignored.

### System configuration

Running inside a Docker container, from an image based on

[2019-08-23 15:50] vovimayhem commented on #1303
Is the `Doorkeeper::OAuth::TokenRequest#authorize` not calling any `before_successful_response` or `after_successful_response` implementation on purpose?

I noticed `Doorkeeper::OAuth::TokenRequest` is not inheriting from `Doorkeeper::OAuth::BaseRequest`. I see how this was done on purpose, but not the skipping of those calls.

(Regardless of the "implicit" grant flow being frown upon...)

[2019-08-26 15:33] nbulaj commented on #1302
Hi @0xtobit . Thanks for reporting this issue, sorry for the delay - I was on vacation :beach_umbrella:

I like this idea:

But also I like next two points about documentation :) It would be great to have an opinionated config with mode-detecting logic for base application controller, and some notes about CSRF check that must be defined by developer itself in initializer and docs. Will be great if

[2019-08-28 07:28] #1268 closed

[2019-08-28 07:31] nbulaj commented on #1268
Hi @dylancopeland . We merged fixes recently and it will be great if you could test new RC version of the gem and check if your issue is fixed

[2019-08-29 10:52] nbulaj commented on #1287
Does this issue still reproduce @georgepalmer ?

[2019-08-29 10:55] georgepalmer commented on #1287
Sorry should have closed this off with the PR.  All good now!

[2019-08-29 10:55] #1287 closed

[2019-08-30 10:36] linhdangduy commented on #1303
This is a bit hacking.
Because the result of implicit grant flow is return at method `authorizations_controller.rb#authorize_response`. How about using `before/after_successful_authorization`?
[code]
1. These hooks are called at `authorizations controller`, so if you only want to call it on the implicit flow request, use `context.pre_auth.response_type == "token"`.

2. We can see that `after_succe

[2019-08-31 08:00] #1302 closed

[2019-09-02 20:44] ArthurLuisLimaBender commented on #1280
Sorry for late answer. I checked this links and solved the problem. Thank you

[2019-09-02 20:44] #1280 closed

[2019-09-05 18:52] nbulaj commented on #1303
@linhdangduy is right. Also try Doorkeeper from master branch, it has some impovements (like #1264).

[2019-09-08 12:01] woto commented on #284
https://github.com/doorkeeper-gem/doorkeeper/issues/846

[2019-09-16 19:54] jasonivers opened #1307 "Log in fails, and reports missing translation"
### Steps to reproduce
Update to 5.2 from 5.1

The more detailed the issue, the more likely that we will fix it ASAP.

Don't use GitHub issues for questions like "How can I do that?" —
use [StackOverflow](https://stackoverflow.com/questions/tagged/doorkeeper)
instead with the corresponding tag.

### Expected behavior
I should log in successfully

### Actual behavior
Updating to the most recent ver

[2019-09-16 21:38] nbulaj commented on #1307
Hi @jasonivers . Thanks for reporting the issue. It's related to #1306

Could you please try to use master branch of this repo and check if it works?

[2019-09-17 15:20] nbulaj commented on #1307
Released as 5.2.1, let me know if it fixed the issue!

[2019-09-18 14:47] mjankowski commented on #1307
I had this same issue, and updating to 5.2.1 does fix that specific error.

Sort of related -- will there be an upgrading instructions section update for 5.2.x in the wiki? Is it now required to explicitly set `default_scopes` in the config (or otherwise interact with scopes in a way that wasn't previously required?). Despite that locales issue being fixed I'm still getting some other errors, and

[2019-09-18 15:04] nbulaj commented on #1307
Yep, @mjankowski , I need to check all the PRs and collect changes to write migration guide. I'll try to do it ASAP, but don't sure how fast it would be :(

[2019-09-19 20:36] beaorn commented on #1307
So just to confirm, is it actually required now in >= 5.2 to set default_scopes in the initializer?

Enforcing a public scope after not having one forces to to have all of your oauth2 clients to re-authorize to have permission for the scope after setting one.

[2019-09-23 17:23] jasonivers commented on #1307
Apparently it is fixed when both updating and adding default_scopes.

[2019-09-26 09:19] ahsandar opened #1310 "Doorkeeper upgrade to 5.2.0 causes oauth_access_token lookup regression"
Recently upgraded doorkeeper to 5.2.0 from 4.2.5 and it causes SQL issues with queries for oauth_access_token stuck in creating sort index for user that query to many tokens or request a token along every request and overwhelm the system by token generation. Along Doorkeeper we have moved to rails 5.2.3 hence the upgrade to doorkeeper. We are using Devise with doorkeeper and Devise got upgraded fr

[2019-09-26 09:53] nbulaj commented on #1310
Hi @ahsandar . Actually I couldn't get the issue from your description. What's the problem with the query? Is something doesn't work or how?

What is "sort issue" ? Long query? Wrong results? Memory / CPU bloat? :thinking:

[2019-09-26 10:07] ahsandar commented on #1310
If I would check process list

[code]

 it would show that DB is performing `creating sort index`. while running the query

[code]
already cleaned up the DB of old tokens to reduce the table size but this query seems to take too long if there are many records for a particular `application_id`. Should there be a `created_at` on the `oauth_access_token` ?

[2019-09-26 12:07] nbulaj commented on #1310
It's for applications page, right? Or for something else?

For applications page you can yep, either add an index, or implement your own admin panel with any queuering you need.

[2019-09-26 12:32] ahsandar commented on #1310
Its for an api consumed by 3rd parties and JWT are issued to them for usage and they tend to generate new tokens without respecting to use issued token till expiry which causes multiple records valid in the table. Will try to add an index and update if that helps

[2019-09-27 02:06] ahsandar commented on #1310
<img width="679" alt="Screenshot 2019-09-27 at 9 55 53 AM" src="https://user-images.githubusercontent.com/2472371/65736270-04a11200-e10d-11e9-9f6e-fc33a91c6c4f.png">
the `creating sort index` queries are now short lived after creating index on `created_at` but the amount of data per query is too much and DB is stuck in `writing to net` state causing high CPU which according to [MySQL docs](https:/

[2019-09-27 02:30] ahsandar commented on #1310
the difference between 4.2.5 and 5.2.0 for token lookup from the code is with legacy support reutrns `1` with use of `first` where as the current returns a limit `1000. there could be reasoning behind uit but it does create a cascading problem

https://github.com/doorkeeper-gem/doorkeeper/blob/00f4128536f1977f298ed9aa0560ffbd603a1709/lib/doorkeeper/models/access_token_mixin.rb#L84

[code]

[2019-09-27 02:44] ahsandar commented on #1310
could this be causing the issue ? https://github.com/doorkeeper-gem/doorkeeper/blob/v5.2.1/lib/doorkeeper/models/access_token_mixin.rb#L89

its not in 5.1.0 will try that out and see if it works

[2019-09-27 03:19] ahsandar commented on #1310
just downgraded to 5.1.0 and seems the issue vanishes down see it happening for now. will monitor and update if it happens but seems the regression is a 5.2.0 issue

[2019-09-30 16:44] duende84 commented on #561
Hey people, I'm trying to implement the password grant flow, but it only works when I send the client_id and client_secret as params for /oauth/token endpoint. is there any way to implement password grant flow without sending those params (for security reasons) from the client app?.

[2019-10-01 09:08] nbulaj commented on #252
@sagar-ranglani check the @hammady comment above, It's actually not Doorkeeper issue, but some misconfiguration between the gems/

[2019-10-01 09:11] sagar-ranglani commented on #252
As stated by @hammady, that will fix the doorkeeper auth but the `current_user` for devise auth will be lost!
I need to have both in our application.

[2019-10-01 09:15] sagar-ranglani commented on #252
The thing that worked for me was adding the following to the `application_controller.rb`

[code]

[2019-10-01 09:19] sagar-ranglani commented on #252
And that's not working either when I try to restart the server! :-(

[2019-10-01 09:22] nbulaj commented on #1310
I don't see here any `created_at`

[code]

So why do we talk about adding index to it?

Also here (https://github.com/doorkeeper-gem/doorkeeper/blob/v5.2.1/lib/doorkeeper/models/access_token_mixin.rb#L89) we have sort by `created_at`, but it's done using Ruby, not database.

And the goal of this changes was to minimize memory pollution, because before it just loads ALL the tokens from the database

[2019-10-01 09:23] nbulaj commented on #252
Sorry, I don't work with CanCan / CanCanCan, so I can help with integration here. Maybe somebody from the community, you can try to ask on StackOverflow

[2019-10-01 09:38] sagar-ranglani commented on #252
What finally worked for me was adding the following to the `application_controller.rb`

[code]

[2019-10-01 09:41] ahsandar commented on #1310
alright i thought some additional query uses it at that was a change in 4.3.0 and we were on 4.2.5, for now 5.1.0 is working fine compared to 5.2.0. if 5.2.1 has fixed the memory bloat will give a try, thanks for the update

[2019-10-01 11:22] danillos commented on #1310
We had the same issue. We updated the Gem to 5.2.1 and the end-point `/token` is taking to long to finish, more than 40 seconds, so we downgraded it to 5.1.0 and fixed the issue.

The issue seems to only happen with a lot of `oauth_access_tokens` rows, our table has `1793120` records.

Checking the changelog the issue seems related to it: https://github.com/doorkeeper-gem/doorkeeper/compare/v5.1.0

[2019-10-01 12:51] syakovyn opened #1311 "Unable to delete authorized RP application"
**Steps to reproduce**

1. Create an application
2. User authorizes application
3. Go to doorkeeper admin page and delete application

**Expected behavior**
Able to delete application

**Actual behavior**
Unable to delete application:

Mysql2::Error - Cannot delete or update a parent row: a foreign key constraint fails (sample_app.oauth_openid_requests, CONSTRAINT fk_rails_77114b3b09 FOREIGN KEY (

[2019-10-02 02:06] truongnmt commented on #1311
@syakovyn Can you update the description so that this issue will be more doorkeeper related? Thanks for reporting.

[2019-10-02 09:02] syakovyn commented on #1311
@truongnmt, updated. I just extracted the key points from your description in https://github.com/doorkeeper-gem/doorkeeper-openid_connect/issues/82

[2019-10-02 09:19] nbulaj commented on #1311
Hi @syakovyn , @truongnmt .

I remember we changed/added the `dependent` option to `delete_all` because of performance. In case application has too much tokens/grants, `destroy_all` will load all the records to the memory and call `#destroy` for each. It costs.

[2019-10-02 09:22] #1307 closed

[2019-10-02 09:24] nbulaj commented on #1303
Any update here>

[2019-10-03 10:56] nbulaj commented on #1055
Hi! I think it's now possible with changes introduced in #1286 (but maybe with additional refactoring to persist this security check without developer intervention using configuration option). So anyone feel free to work on the issue :)

[2019-10-03 11:03] nbulaj commented on #1291
Hi @BenLubar . I think it can be done as an extension. I'm not familiar with IndieAuth, so I'm welcome any PRs or links to repos with this extension (we can even transfer it to Doorkeeper organization with collaborators/maintainers). As an example of such extension you can check doorkeeper-open_id-connect or doorkeeper-jwt projects

[2019-10-03 11:04] nbulaj commented on #1267
Any update here?

[2019-10-03 11:43] syakovyn commented on #1311
In our app we fixed that by overriding `DoorkeeperExtension#destroy` that way:
[code]

[2019-10-09 16:14] vincentvanbush opened #1312 "Error serializing preauth hash when ActiveModelSerializers present"
### Steps to reproduce
Access `/oauth/authorize` in a setup with Rails 5.1, most recent Doorkeeper version and most recent active_model_serializers version.

### Expected behavior
Correct JSON rendered.

### Actual behavior
500 Internal Server Error response caused by a `Stack level too deep` error. Deep inside the backtrace, when serializing the JSON via `render json: pre_auth_hash`, it seems to

[2019-10-10 10:00] nbulaj commented on #1312
Hi @vincentvanbush . Thanks for reporting this! Would you like to propose a PR to fix the issue?

[2019-10-10 10:02] nbulaj commented on #1311
I think the same could be done inside `Doorkeeper::OpenidConnect`, WDYT ? It's already patches some Doorkeeper internals so ... why not? :see_no_evil: @syakovyn

[2019-10-10 10:04] vincentvanbush commented on #1312
Thanks for responding @nbulaj. I can't commit to producing a PR soon, but I'm going to have a shot at it when I find some spare time.

[2019-10-10 14:17] NobodysNightmare commented on #1310
I just added a comment to https://github.com/doorkeeper-gem/doorkeeper/pull/1271, but I think I can explain what happens:

Previously when fetching a token through client credentials flow, we would just use `find_or_create_by`, which is pretty quick. See [code here](https://github.com/doorkeeper-gem/doorkeeper/blob/v5.0.2/lib/doorkeeper/oauth/client_credentials/creator.rb).

In 5.2, we always chec

[2019-10-10 14:28] NobodysNightmare opened #1314 "Automatic revocation of access tokens causes trouble for multi process applications"
### Meta

I am making an issue from a [pull request discussion](https://github.com/doorkeeper-gem/doorkeeper/pull/1271#discussion_r318169687) on PR #1271.

### Description

PR #1271 introduced automatic revocation of access tokens, when the same client already fetched an access token.

The problem is that multiple processes of the same client may request and cache tokens in their local memory. Sub

[2019-10-10 14:49] NobodysNightmare commented on #1314
I just thought about my last proposal further. A simplification might be to just adapt [`authorized_tokens_for`](https://github.com/doorkeeper-gem/doorkeeper/blob/b69df59708b2d5aaa36fdbb331552d9dd53b8cab/lib/doorkeeper/models/access_token_mixin.rb#L193-L198) to _filter_ by the `created_at`, taking the TTL into account.

This should reduce the number of returned tokens tremendously and works withou

[2019-10-10 14:52] nbulaj commented on #1314
@NobodysNightmare I like the idea with time math using database if it's possible and fit's all the possible configuration cases (I remember we have some custom expiration time configurations that must be considered).

[2019-10-10 17:21] drock commented on #1314
I left the PR comment that originally spurred this issue.  When I discovered this issue with my team, we discussed paths forward and the time based query approach was exactly the idea we had as well.

[2019-10-11 02:57] ahsandar commented on #1310
@NobodysNightmare **`matching_token_for`** might be the culprit but doing a db cleanup won't ba solution for every case as I mentioned above for when we can't block/ratelimit the token issuing due to reasons beyond our control and one could overwhelm the system by generating too many tokens with validity period increasing with every token and the query time could increase exponentially with growth

[2019-10-11 08:57] pjmartorell commented on #1160
Thanks @MicMicMon! I'm trying to run Doorkeeper + Devise + a custom devise strategy to authenticate with LDAP and I'm struggling a lot to make all the strategies work out of the box in a non-hacky way

[2019-10-14 08:18] KimBurgess opened #1316 "AccessToken.find_or_create_for passed incorrect argument types"
[Docs for `AccessToken.find_or_create_for`](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/models/access_token_mixin.rb#L154-L155) point to this method expecting a `Doorkeep::Application` instance. Internal invocations appears to instead pass a `Doorkeeper::OAuth::Client`.

See:
- https://github.com/doorkeeper-gem/doorkeeper/blob/41ab5b20a1aeab237d349ea0aa64023dee3d0ded/li

[2019-10-14 12:09] nbulaj commented on #1316
Hi @KimBurgess . Actually I think it's a bug, so I'll be happy to see a PR <3

[2019-10-14 12:22] nbulaj commented on #1312
I'm not using AMS, so I can't check the issue. If you don't plan to introduce a PR it would be great at least to have some spec or gist with the example if issue reproducing. Thanks!

[2019-10-15 09:11] nbulaj commented on #1311
So do we have any reason to not to close this issue? :)

[2019-10-16 15:42] nbulaj commented on #1314
So do you @NobodysNightmare have any plans to propose a enhancement PR or c PoC with the time math described above?

[2019-10-17 07:29] NobodysNightmare commented on #1314
Sorry for not following up here. I created a draft-like PR now: https://github.com/doorkeeper-gem/doorkeeper/pull/1318

Let me know, whether it shoots in the right direction.

[2019-10-17 11:57] j-arnaiz opened #1319 "NameError: uninitialized constant Doorkeeper::AccessToken on rake doorkeeper:db:cleanup"
### Steps to reproduce
What we need to do to see your problem or bug?
On RakeFile:
[code]
Doorkeeper installed and configured with Rails 5.2.3

[code]

### System configuration
Ruby 2.6.3 with mysql and ActiveRecord

**Doorkeeper initializer**:
Doorkeeper is working fine in endpoints and even on rails console. But rake cleanup task is not working.

**Ruby version**: ``
2.6.3

**Gemfile.lock**:

<d

[2019-10-21 05:36] dependabot-preview[bot] opened #1321 "Dependabot couldn't fetch the branch/reference for rspec-rails"
Your dependency file specified a branch or reference for `rspec-rails`, but Dependabot couldn't find it at the project's source. Has it been removed?

For Ruby dependencies, this can be caused by a branch specified in your Gemfile being deleted at the source, or having been rebased, so the commit reference in your Gemfile.lock is no longer included in the branch. In that case, it can be fixed by r

[2019-10-21 15:53] pk1m opened #1322 "active_record_options - establish_connection creates connection per model"
### Steps to reproduce
I'm currently connecting to doorkeeper models on a second database so I can directly verify tokens.  I'm using `active_record_options` to call `establish_connection` to the other database but it creates a new connection per model.  Is it possible to share a connection?

### Expected behavior
Create one connection.

### Actual behavior
Creates 3 connections, one per doorkeepe

[2019-10-23 10:27] yourtallness opened #1323 "Namespace only particular doorkeeper routes"
Hello,

I would like all oauth application CRUD routes to go under the `/admin` namespace, but not the rest of the routes.

How would I go about handling that?

TIA

[2019-10-23 10:36] nbulaj commented on #1323
Hi @yourtallness . Did you check the Wiki ? https://github.com/doorkeeper-gem/doorkeeper/wiki/Customizing-routes

[2019-10-23 14:52] yourtallness commented on #1323
Hello @nbulaj,

Yes I did.

Unfortunately it doesn't mention how to namespace some, not all, routes.

Perhaps I could use 2 use_doorkeeper statements, one skipping the `applications` controller, without namespace - and another one for the `applications` controller only (skipping all the others), under the `/admin` namespace.

What do you think? Is there a more elegant way to do it?

Thanks

[2019-10-23 15:04] yourtallness commented on #1323
Tried this, seems to do the trick:

[code]

Resulting routes are:

[code]

[2019-11-01 10:43] kinsomicrote opened #1324 "NoMethodError (undefined method `id' for nil:NilClass): at /oauth/authorize with doorkeeper"
I am working on making my API an Oauth provider using Doorkeeper, when I make a request to `/oauth/authorize`, I get the error

`NoMethodError (undefined method `id' for nil:NilClass):`
After researching on what could be the cause, I discovered that the error comes from this place in the gem https://github.com/doorkeeper-gem/doorkeeper/blob/326a75a0633fdfd92c3259607636349173bb5fbb/app/controllers/

[2019-11-04 14:42] toupeira commented on #1311
@nbulaj thanks for your response, looks like this is a known problem in Rails: https://github.com/rails/rails/issues/22510

I'm happy to accept a monkey-patch for this in `Doorkeeper::OpenidConnect`, so yes I think this issue can be closed.

[2019-11-04 14:56] #1311 closed

[2019-11-04 20:28] ansonhoyt commented on #1307
I'm still getting the missing translation error when `default_scopes` isn't configured.

[code]

 I wouldn't expect `default_scopes` to be required since it defaults to `:public` per the [Scopes](https://doorkeeper.gitbook.io/guides/configuration/scopes#access-token-scopes) guide and [Using Scopes](https://github.com/doorkeeper-gem/doorkeeper/wiki/Using-Scopes).

I just upgraded now that https://g

[2019-11-04 21:47] ansonhoyt commented on #1307
My mistake, I found that the [install_generator.rb](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/generators/doorkeeper/install_generator.rb#L16) copies `en.yml` to my project. So I re-ran `rails g doorkeeper:install` and got the missing translation. 🎉

I'll keep an eye out for @nbulaj to land the migration guide in case I miss anything else.

[2019-11-06 00:52] synth opened #1325 "Add ability to reference current token in after_successful_authorization"
It would be useful (to us) if we had a supported mechanism to reference the final token in the `after_succesful_authorization` callback.

Currently, the callback (added here: #1264) passes the current controller to the block. Looking at the internals, I can see the controller has a @token instance variable. We can access this with some Ruby trickery, but it would obviously be better if there were

[2019-11-06 01:44] synth commented on #1325
### Workaround which saves state param to authenticated resource owner
NOTE: The state param we pass through is a Microsoft Teams team id.
[code]

[2019-11-12 01:36] linhdangduy commented on #1324
`current_resource_owner` in this line `current_resource_owner.id` is get from:
https://github.com/doorkeeper-gem/doorkeeper/blob/1332d8bd17e8f366125b024eb2d33a3739270561/lib/doorkeeper/helpers/controller.rb#L18-L22
which is configured by:
https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/config.rb#L214-L215

The `current_resource_owner` is nil because you haven't configured t

[2019-11-14 12:47] nbulaj commented on #1323
Thanks @yourtallness for reporting your solution. I like the idea with `only` / `except`, would you like to propose a PR ? I can do it in my time, just don't sure when it would be.

[2019-11-14 12:48] nbulaj commented on #1323
I'll close this PR as it related to Rails routes restructurizations more than Doorkeeper issue with the routing

[2019-11-14 12:48] #1323 closed

[2019-11-19 20:05] rafaelsales opened #1327 "[Discussion] Revisit approach to let users extend models"
In many scenarios an app needs to extend a Doorkeeper::Application  and Doorkeeper::AccessToken model.

I have an app running in production where we needed to extend those for different features, and I know I'm not the first.

It currently feels very hacky that the gem's users have to research proper ways to extending - some will just try monkey-patching and find issues. Others will try module pre

[2019-11-21 15:18] ahaverty opened #1328 "DEPRECATION WARNING: Initialization autoloaded the constants CustomTokenResponse and CustomTokenErrorResponse."
### Steps to reproduce

Following the guide on custom token responses, Rails now gives me deprecation warnings about the two constants that I setup. https://github.com/doorkeeper-gem/doorkeeper/wiki/Customizing-Token-Response
The guide works, and my custom responses are working.
But on running rspec, I'm seeing this:
[code]

### Expected behavior
No deprecation warnings

### Actual behavior
See re

[2019-11-22 12:23] nbulaj commented on #1327
Hi @rafaelsales . It's a great thread! Totally agree.

But here we can face some issue, at least incompatibility with previous versions. So it could be done only in some major version. Anyway feel free to propose a PR! I like the idea with mixins, I'm already implemented it this way in my https://github.com/grape-oauth2/grape_oauth2 gem a few years ago

[2019-11-24 02:31] grosser opened #1330 "ActiveRecord: Require redirect_uri_validator in the model so it does not blow up"
I had to add `require 'doorkeeper/orm/active_record/redirect_uri_validator'` to my controller so using AccessToken does not crash with `Unknown validator: 'Doorkeeper::RedirectUriValidator'` ... please require that.
(I'm not eager-loading all of doorkeeper)

[2019-11-24 12:22] jdonadob opened #1332 "“uninitialized constant Doorkeeper::Rails::Application” error installing the Doorkeeper gem"
### Steps to reproduce
**Step 1:** `bundle add doorkeeper`
**Step 2:** `bundle exec rails generate doorkeeper:install`

### Actual behavior
This error is shown:
![image](https://user-images.githubusercontent.com/9633174/69494486-4d194980-0e8a-11ea-9f3d-348f5795c870.png)

**Ruby version**: `ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux]`

**Gemfile.lock**:

<details>

[code]
</details>

[2019-11-27 13:39] nbulaj commented on #1332
Could you please try to disable the `spring` gem and try it again?

[2019-11-27 21:49] thadeubrito opened #1333 "Add a new permitted parameter on applications controller"
Hello guys, I would like to a new attribute to doorkeeper application but I faced to strong parameters in `applications_controller.rb`, where the attributes permitted are fixed. There is a easy way to add a new parameter?

`applications_controller.rb`:

[code]

[2019-11-28 00:12] jdonadob commented on #1332
I did it and these errors are shown:

bundle exec rails generate doorkeeper:install

Traceback (most recent call last):
        24: from bin/rails:9:in `<main>'
        23: from /home/johan/.rvm/gems/ruby-2.6.3/gems/bootsnap-1.4.5/lib/bootsnap/load_path_cache/core_ext/kernel_require.rb:30:in `require'
        22: from /home/johan/.rvm/gems/ruby-2.6.3/gems/bootsnap-1.4.5/lib/bootsnap/load_path_cach

[2019-11-28 19:14] thadeubrito commented on #1333
RESOLVED
I don't know if it is the best way but it is good for now.
I added this in `config/initializers/doorkeeper.rb`:
[code]
the `[]` is because of parameters type is an array

[2019-11-28 19:14] #1333 closed

[2019-11-28 19:43] nbulaj commented on #1333
Hi @thadeubrito . You can create custom `ApplicarionsController` which will inherit from `Doorkeeper::ApplicationsController`. And there you can just override the method for params

[2019-11-28 20:45] veeral-patel commented on #1247
@phlegx I have the same questions as you except I have a React frontend! Can you please the answers to your questions when you get the chance?

[2019-11-29 03:19] shootingfly opened #1335 "How to remove `code` from filter_parameters?"
How to remove `code` from  filter_parameters?

lib/doorkeeper/engine.rb
[code]

[2019-11-29 12:41] nbulaj commented on #1328
It's because with Rails 6 it uses Zeitwerk and initielizers calls your custom classes which wasn't loaded yet. You need to configure Zeitwerk somehow, I can't give you an answer right now on how to do it

[2019-11-30 09:32] #1330 closed

[2019-12-02 07:18] znz opened #1336 "User cannot grant the client again after revoking AccessGrant"
### Steps to reproduce

- Call `Doorkeeper::AccessGrant#revoke`
- User tries to grant again
- get `OAuth2::Error (invalid_grant)` error when using oauth2 gem

### Expected behavior

- User can grant again after user revokes grant
- And create new AccessGrant

### Actual behavior

AccessGrant does not care revoked or not.
https://github.com/doorkeeper-gem/doorkeeper/blob/c075df53caf0c40f5accb276af2

[2019-12-04 21:48] modosc commented on #1069
i did a poc of this [here](https://github.com/modosc/doorkeeper-polymorphic). the change to look at is [here](https://github.com/modosc/doorkeeper-polymorphic/commit/e28ed2e532b28fd8167ffa1508415a086354c588) - essentially everything that took a `resource_owner_id` now takes a `resource_owner`. the entire test suite passes and i've tested it out in our app and it works.

i think that a global confi

[2019-12-06 09:13] ahaverty commented on #1275
@nbulaj I think my issue is related to this based on your comment. @jasl I have repro steps [here](https://github.com/doorkeeper-gem/doorkeeper/issues/1328) with the v5.2.2 release.

[2019-12-06 12:48] jasl commented on #1328
could you try remove `config.autoload_paths << "#{Rails.root}/lib"`?

[2019-12-06 12:56] jasl commented on #1275
BTW, In Rails 6, we no longer need any kinds of `require_dependency`, and a reference change are <https://github.com/rails/rails/commit/1d2a2d9143556460cd44e17ab3553091a182cd0b>

[2019-12-06 16:13] arich commented on #1330
Hi, can we get a new version released for this patch? Thank you!

[2019-12-10 08:13] nbulaj commented on #1335
Hi @shootingfly . Try to change the list of filtered parameters for your application:

[code]

[2019-12-10 08:19] nbulaj commented on #1332
Maybe you already added Doorkeeper routes or something else? :thinking: I don't sure why it happens, here we need a sample application where we can reproduce an error to see what happening

[2019-12-10 08:24] nbulaj commented on #1319
Hi @j-arnaiz . Thanks for reporting it!

It seems to be related to Rails auto/lazy-loading of AR models, which is (possibly) is not loaded yet on time when Rake task run. Try to add something like `ActiveRecord::Base.logger` on top of `Doorkeeper::Rake.load_tasks` in your Rakefile and see if it works (it must directly call AR and invoke it's hooks)

[2019-12-12 01:31] linhdangduy commented on #1336
@znz
[code]
👆With this test case, we can see that you revoked first access grant

Then you use exactly that access grant for exchange access token

Just change to: `Doorkeeper::AccessGrant.last.token`, then it will run as you expected.

[2019-12-12 14:36] nbulaj commented on #1327
I created a PoC branch here - https://github.com/doorkeeper-gem/doorkeeper/tree/configurable-models

Anyone could take and try it on his/her project with Doorkeeper and propose a PR if everything works or with some additional improvements.

[2019-12-14 22:00] #1335 closed

[2019-12-26 09:23] nbulaj commented on #1324
I'm closing this issue due to inactivity and the answer above.

[2019-12-26 09:23] #1324 closed

[2019-12-26 09:25] nbulaj commented on #1319
Hi @j-arnaiz . Any progress here? Did you try my suggestion above?

[2019-12-26 09:26] nbulaj commented on #1332
Any update here?

[2019-12-26 10:32] jdonadob commented on #1332
I can't send a sample application because I can't even install doorkeeper gem to start my application.

[2019-12-26 15:07] #1303 closed

[2019-12-26 15:07] nbulaj commented on #1303
Manually closing staled issues without any activity and responses

[2019-12-26 15:11] nbulaj commented on #1322
I think this issue could be easily resolved by introducing changes from #1327

[2019-12-26 17:42] KevinColemanInc commented on #764
https://tools.ietf.org/html/rfc7522

The draft is finalized.

[2019-12-31 01:02] esnrRahman opened #1338 "Getting internal error 500 instead of 401 for invalid credentials"
### Steps to reproduce
- Return `false` from `resource_owner_from_credentials` code block in initializer/doorkeeper.rb

NOTE: The call works successfully and I get the access_token if the credentials are correct and user.authenticate returns the user. The call fails **only** on invalid credentials or when false is returned. Using the POST endpoint `/api/v1/oauth/token`

Also used Doorkeeper 4.4.3

[2019-12-31 12:47] nbulaj commented on #1338
Hi @esnrRahman . Actually `resource_owner_from_credentials` is not configured to process `FalseClass` values. This block must return Resource Owner entity or `nil` in case it doesn't found. In your case it's boolean value.

But from the other side we can face a lot of such issues with this configuration block so it would be great to protect from them. I'll fix it, thanks for the report!

[2019-12-31 13:02] #1338 closed

[2019-12-31 13:04] esnrRahman commented on #1338
Hi @nbulaj ! Thank you so much for the quick reply! So my expectation of `resource_owner_from_credentials` handling FalseClass stems from using it in V4.4.3. I returned `user.authenticate` there and it is handled as expected (i.e. returns 401)

I actually tried returning `nil` and I got 400 (invalid_grant) but my expectation was to get 401. Please let me know whether its expected to return `nil` a

[2019-12-31 13:08] nbulaj commented on #1338
I've make a change in  #1339 to validate resource owner against false and nil values, you could check the behavior with the Doorkeeper gem from the github (it's not released).

If it once again works not as expected (in comparison with 4.x version) - let me know, I'll check what was done between this two major releases to find why it's broken. But only after holidays :)

[2019-12-31 13:12] esnrRahman commented on #1338
Thank you so much! I will definitely take a look. Really appreciate you checking this out during the holidays.

Wishing you happy holidays!

[2019-12-31 13:14] nbulaj commented on #1336
Hi @znz. Could you please check reply above? Does it solves your problem or it's an issue int the spec ?

[2019-12-31 13:15] nbulaj commented on #1332
I can't do anything with it because I just can't reproduce the issue :(

[2019-12-31 13:21] nbulaj commented on #1332
What do you have in this file on reported lines? :thinking:

![image](https://user-images.githubusercontent.com/1443426/71622839-92e3d300-2be9-11ea-8fb7-35781c91ce58.png)

[2019-12-31 13:40] esnrRahman commented on #1338
Hello! I am just reporting my observation. Please take a look when you want to :)

V.4.4.3 ->
Status Code - 401
Response ->
[code]
V.5.2.3 [With fix]
Status code -> 400
[code]

The fix definitely works as we are no longer getting Internal Error (i.e. 500). But I will leave the decision upto you whether you want to keep the status code the same :). I believe 401 makes sense if user is unauthenticat

[2019-12-31 13:43] nbulaj commented on #1338
Oh, now I remember we done somr statuses refactoring according to OAuth RFC! So maybe it's a required change. Try to check upgrade guides, AFAIR there must be some notes on this.

[2019-12-31 13:46] esnrRahman commented on #1338
Oh crap! Yes you are correct! For people stumbling on this thread ->
[code]
Its in the wiki!

[2020-01-01 18:11] jdonadob commented on #1332
![image](https://user-images.githubusercontent.com/9633174/71644547-1fe56580-2c98-11ea-8a71-376bc8f121ea.png)

[code]

[2020-01-02 09:57] #1110 closed

[2020-01-02 09:57] #1197 closed

[2020-01-02 09:57] #1058 closed

[2020-01-02 09:57] #1301 closed

[2020-01-02 09:57] #1055 closed

[2020-01-02 09:57] #1267 closed

[2020-01-02 09:57] #1310 closed

[2020-01-02 09:57] #1316 closed

[2020-01-09 12:01] suung opened #1340 "[QUESTION] /oauth/authorized_applications.json endpoint shows application secrets"

[2020-01-09 12:02] #1340 closed

[2020-01-09 12:05] nbulaj commented on #1332
Still can't reproduce with RVM, Ruby 2.5 and Rails 5.2 :disappointed:

[2020-01-12 01:54] natashad commented on #1325
+1 for this -- it would be great to be able to easily access things like resource_owner_id as well from the after_successful_authorization

[2020-01-14 13:07] errawn commented on #382
same here.

[2020-01-14 17:41] venky-dreamorbit opened #1342 "Sass::SyntaxError on asset:precompile"
I am getting the following error on cap deploy, can you please help?
Ruby Version 2.2.10

[code]

[2020-01-16 11:49] venky-dreamorbit commented on #1342
Never mind, fixed it with older version of doorkeeper

[2020-01-16 11:49] #1342 closed

[2020-01-16 18:31] JoshNorthrup opened #1344 "Doorkeeper::Application#to_json doesn't respect ActiveRecord::Base.include_root_in_json"
Introduced by https://github.com/doorkeeper-gem/doorkeeper/commit/e59b25f6a26f01efd6339c8884dc06e7ab284b22
### Steps to reproduce

[code]

### Expected behavior
I would expect the root json key to be included in the json if `include_root_in_json == true`

[2020-01-17 09:04] nbulaj commented on #1344
Hi @JoshNorthrup ! First of all thanks for reporting the issue <3

Would you like to propose a PR to fix it?

[2020-01-17 13:05] #1327 closed

[2020-01-17 13:38] JoshNorthrup commented on #1344
Thanks for the response @nbulaj, I can try to put something together over the weekend

[2020-01-17 14:10] dramalho commented on #1342
well, fact is it's broken , just got that one now. We don't need the bundled css files, I'll look for ways to skip them

[2020-01-17 14:12] nbulaj commented on #1342
Hi @dramalho . It's strange, but I think they can appear in the bundle only if you required them to be there :thinking:

Anyway, if you have some common solution - please let me know or propose a PR. Thanks!

[2020-01-17 14:27] nbulaj commented on #1327
OK, so I've merged a solution proposed above. So now everybody have an ability to customize Doorkeeper models without hacks with `include`/`prepend` . Enjoy and let me know if there are some issues

[2020-01-17 14:29] venky-dreamorbit commented on #1342
I too had same doubt and checked the assets pipeline, it is not present.

[2020-01-17 14:33] dramalho commented on #1342
yeah, no luck so far, I'm on an old stack, Rails 4.2 && Sprockets < 4 , so I know Doorkeeper isn't adding them to the precompile list - I'm assuming sprockets just grabs everything it can and throws it into the manifest though .

Really weird, trying to find a way to have sprockets not precompile those files

[2020-01-17 14:36] nbulaj commented on #1342
@dramalho latest versions of Doorkeeper don't support Rails < 5.0, so the only solution is to use the old version :(

[2020-01-17 14:40] dramalho commented on #1342
5.0.2 still did :) - well, the dependencies all worked out, is what I mean .

ok, 5.x is forbidden territory then, no worries

[2020-01-17 14:43] moiristo commented on #1327
Added this to my new doorkeeper powered rails app today. So far it works like a charm!

[2020-01-17 14:43] dramalho commented on #1342
thank you for back-porting the security fixes though , that was great and it means this isn't too much of an issue right now, we'll upgrade our stack soon .

thanks guys

[2020-01-17 20:27] nbulaj commented on #1344
Actually I've fixed it, so the fix would be released with 5.3.0 version

[2020-01-17 20:37] JoshNorthrup commented on #1344
Great, thanks! Do you have an ETA on 5.3.0?

[2020-01-17 21:10] #1344 closed

[2020-01-18 17:47] nbulaj commented on #1344
@JoshNorthrup  actually I didn't have some, but I think we can prepare a release next week

[2020-01-19 12:08] errawn commented on #561
same. when leaving the client_id and client_secret as params empty, error says:
{
    "error": "invalid_grant",
    "error_description": "The provided authorization grant is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client."
}

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/18679035/726806