[2015-04-20 19:44] tute commented on #631
Can you put an application in GitHub where I can replicate the issue?

[2015-04-20 19:44] tute commented on #631
Please see http://yourbugreportneedsmore.info/

[2015-04-20 22:00] tilo commented on #472
before and after hooks for /oauth/token /oauth/revoke and refresh_token

[2015-04-21 12:00] katpadi opened #640 "Docs for using application-specific scopes"
Anything about this? I know there's a migration instruction but no further details. :(
I'm not sure as well, maybe it's just the wine_bouncer that's not working well with the app-specific scopes. thanks

[2015-04-21 13:36] tute commented on #472
Would it be a template method pattern? I'm not opposed to a PR on this.

[2015-04-21 13:37] tute commented on #640
@katpadi we'll need more info to know exactly what issue you are having: http://yourbugreportneedsmore.info/.

cc @antek-drzewiecki

[2015-04-21 14:00] katpadi commented on #640
Sorry! My bad... :-1:

I don't want the API consumers to pass the scope. I want to determine it in my codes based on client id and set the scope OR just use the application-specific scopes feature that I read in the docs. But it just says about the migration file.

So, I have added the migration for oauth_applications table that adds the extra field 'scopes'. I want to know how I can enable it. Is

[2015-04-21 15:25] sethherr commented on #580
Hey @antek-drzewiecki, sorry I didn't see this till now. I updated the authentication hash to the new style, sethherr/grape-doorkeeper@6e8baa285c14e3c7376875f0f97a970571f4d32c

[2015-04-21 21:14] tilo commented on #472
I'm not familiar enough with the internals

[2015-04-21 21:44] tute commented on #640
https://github.com/doorkeeper-gem/doorkeeper/pull/469 implements application specific scopes. Those act as another filter of what scopes are allowed from clients (but doesn't pre-set scopes according to which application is being served).

Also, this open PR might be related with your issue: https://github.com/doorkeeper-gem/doorkeeper/pull/577.

[2015-04-21 21:48] tute commented on #612
I can't find why JRuby doesn't work well in CI in #638, and I don't have time to investigate it. If you want to build upon that PR you are welcome. If you want to unroll in another PR the usage of `%i` that's fine with me (but then I couldn't guarantee other pieces of the library are JRuby compatible).

Thanks!

[2015-04-21 22:57] tute commented on #639
Thanks for your input and work.

I'd rather not include that behavior in doorkeeper. How can we make it modular in a way that we can extend doorkeeper with this JWT behavior you add in your fork? Like we did for generating tokens (or JWT tokens, or whatever-tokens), how can we make doorkeeper aware of this kind of authentication?

I'd love to work towards that.

[2015-04-22 08:04] antek-drzewiecki commented on #640
@katpadi I doubt wine_bouncer has proper support for dynamic scopes. Since all endpoints are defined with what scopes they require.. If it is not something related to endpoints it should work fine.

I could not find an example how to use application specific scopes. If there is some example I am gladly to assist you to find out if this is an wine_bouncer related issue as well.

[2015-04-22 14:02] alfredw33 commented on #639
That sounds like a plan and I understand why this is a good way to go as it will allow for other people to  implement whatever flow they want.

I'll probably work on something soon but before that let me think about a way to get this done and run that by you before I start. I just need some time to think about it today. Some of my initial thoughts are to introduce some factory patterns/strategy pa

[2015-04-23 00:19] dan-corneanu opened #643 "Refresh token not having a TTL, is this a vulnerability?"
Hi,
I know that the specification says that *refresh tokens do not have a TTL*. I am just curios, isn't this presenting some security risks? What is actually the difference between a *refresh token* and an *access token*. If an access token can get compromised then so can the refresh token too. How is using a refresh token making things more secure?

Would a request to refresh a token require the

[2015-04-23 11:45] joerixaop commented on #466
Do you remember what the problem was?

[2015-04-23 12:07] aymericbouzy commented on #466
Not at all ! I don't even work on this anymore sorry ...

[2015-04-23 12:54] joerixaop commented on #466
Ah well, I figured out my problem (it wasn't quite the same): for some reason `url_for [:oauth, application]` used to work with doorkeeper 1.4, but not with doorkeeper 2.x, replacing it with an explicit url works of course, but I didn't notice the views were the error occurred didn't come from this gem but from my application, so I was wondering why noone else had this problem

[2015-04-24 16:35] tute commented on #634
ping @katpadi

[2015-04-24 16:49] katpadi commented on #634
I was thinking of something like... Say a doorkeeper route is
"/oauth/token" (API endpoint)

How would I be able to say that I want it to strictly accept only v1? How
can I apply the default versioning of Doorkeeper?
On Apr 25, 2015 12:35 AM, "Tute Costa" <notifications@github.com> wrote:

[2015-04-24 16:54] tute commented on #634
I don't know how to do that in Grape. I'll close this issue as it doesn't seem a bug/feature request in doorkeeper. If it is, feel free to reopen with more information.

StackOverflow might be a more fruitful place to ask!

[2015-04-24 16:54] #634 closed

[2015-04-24 16:55] tute commented on #626
I'll close this issue as it doesn't seem a bug/feature request in doorkeeper. If it is, feel free to reopen with more information.

StackOverflow might be a more fruitful place to ask. Thanks!

[2015-04-24 16:55] #626 closed

[2015-04-24 16:57] #640 closed

[2015-04-24 16:58] tute commented on #631
Closing as this doesn't seem like an issue in doorkeeper; if it is, please feel free to reopen with reproducing steps so I can work on it.

[2015-04-24 16:58] #631 closed

[2015-04-24 20:40] dan-corneanu commented on #631
The # part of the URI is called fragment identifier.
The OAuth 2.0 specification, clearly states that for the *Implicit Grant* flow, the access token should be encoded in the fragment identifier of the redirect URI. Please see section *4.2.2.  Access Token Response* at http://www.rfc-base.org/txt/rfc-6749.txt

As far as I can tell, this is expected behavior and conforms to the specification.

The

[2015-04-25 03:32] marcossousa opened #644 "Doorkeeper::AuthorizationsController#create Can't verify CSRF token authenticity"
Hi,

I followed the page https://github.com/doorkeeper-gem/doorkeeper/wiki/Using-Resource-Owner-Password-Credentials-flow by testing the API

[code]
And I got the response:
[code]

But when I call /oauth/authorize with:
[code]
But I got:
[code]
What, am I doing wrong?

[2015-04-25 04:18] tute commented on #644
Closing in favor of http://stackoverflow.com/questions/29860725/doorkeeperauthorizationscontrollercreate-cant-verify-csrf-token-authenticity.

[2015-04-25 04:18] #644 closed

[2015-04-25 21:59] dhbahr commented on #631
Thanks for your insight, I really missed that from the rfc6749.

Best regards

On 4/24/2015 4:40:30 PM, "Dan Corneanu" <notifications@github.com>
wrote:

[2015-04-26 18:23] jfcalvo commented on #536
I think that Doorkeeper should add a rake task for this.

[2015-04-26 20:04] tute commented on #643
Will appreciate @diegode, @pose and @homakov's input here.

[2015-04-26 20:12] homakov commented on #643
`How is using a refresh token making things more secure?`

It doesn't, it's a popular myth. refresh token is just key "id" and is ugly design of oauth. When access tokens expire you need to prove you have app secret with refreshing token request.

It would be much better if oauth had app_secret_proof technique like in facebook by default.

[2015-04-26 21:03] pose commented on #643
I agree with @homakov. Also, @jaredhanson might have something to add about this as well.

[2015-04-26 22:54] dan-corneanu commented on #643
@homakov indeed, the specification states that

   request additional access tokens, the refresh token is bound to the
   client to which it was issued.  If the client type is confidential or
   the client was issued client credentials (or assigned other
   authentication requirements), the client MUST authenticate with the
   authorization server as described in Section 3.2.1.

which makes sense

[2015-04-26 23:18] bpieck commented on #643
No, you never will be able to store client secret securely in javascript. That's the reason, why oauth specifications always says: Only use implicit grant flow in this kind of applications!
https://tools.ietf.org/html/rfc6749#section-1.3.2

[2015-04-26 23:23] bpieck opened #645 "resource owner credentials grant possible without client credentials"
Oauth specifications sais, that resource owner credentials grant flow always has to ensure, client credentials are correct. Although doorkeeper checks credentials, if authorization header is set - when I don't set an authorization header, I can get an access token.

[2015-04-26 23:28] tute commented on #645
Duplicate of: https://github.com/doorkeeper-gem/doorkeeper/issues/543. If after reading that discussion you think it's still an issue, we can reopen that issue. Thanks for your input!

[2015-04-26 23:40] bpieck commented on #645
I tried to understand, how these are similar - but failed. Still: I can get an access_token only with username and password - but without client credentials (not from basic auth and not from params). So I think, it still is an issue that does not fit to oauth specifications. But if you already thought it through, I won't bother you with this.
Thanks for your fast reply anyway.

[2015-04-27 00:28] dan-corneanu commented on #643
@bpieck I have decide to use the *Resource Owner Password Credentials* grant for the following reasons:
1. the Java Script application is developed, delivered, operated and owned by the same company that provides the API. It is considered a *highly privileged application* that will replace an existing old style, request/response web application UI
2. The *Implicit* grant flow does not issue a refr

[2015-04-27 05:48] bpieck commented on #645
Hm, I just checked: I can do a refresh token request as well without any client verification! I just deleted the Authentication header there, too. I did not add any parameters.
curl -i -X POST -H "content-type=[application/x-www-form-urlencoded]" -H "Accept=[*/*]" -d 'grant_type=refresh_token&refresh_token=902837df8e907686fc156ceebf461360df9d334e0dcb848b650dc605037853bb' https://oauth.myoauthdomai

[2015-04-27 08:00] bpieck commented on #643
If you are using a secret in a javascript frontend, anyone else can just get tokens, whenever they want, too. So your client's concern should be the same for your approach, as for the implicit grant. They both enable the user to do stuff with their tokens from own apps. Worse: The long living token identifies them as theyself, since they needed to identify themself to get it. The open secrets enab

[2015-04-27 11:01] bpieck commented on #645
I just monkey patched Doorkeeper::Oauth::PasswordAccessTokenRequest and Doorkeeper::Oauth::RefreshTokenRequest
from:

      def validate_client
        !client_credentials || !!client
      end

to:

      def validate_client
        !!client
      end

Since oauth specifications disallow at least for RefreshToken requests not to use the client_credentials (https://tools.ietf.org/html/rfc6749#sect

[2015-04-28 05:39] spidie commented on #81
The skip functionality was just what I was looking for - can we get this added to the documentation? (I am happy to add this if that's ok).

[2015-04-28 12:58] tute commented on #81
This is more of a Rails feature rather than doorkeeper's, bu I'd merge a PR
that shows this in a sentence or two in the README. Thanks!

On Tuesday, April 28, 2015, Steve Dalton <notifications@github.com> wrote:

[2015-04-28 13:03] tute commented on #645
Let me revisit this issue, will get back to you next week! Thanks for your input.

[2015-04-28 18:16] kiomac commented on #639
I've been working on a simple extension for Doorkeeper: [doorkeeper-jwt_assertion](https://github.com/kioru/doorkeeper-jwt_assertion)

I reused the `resource_owner_authenticator` configuration for authenticating the user once we have valid JWT claims available. Should I something like `resource_owner_from_jwt_claims` instead?

[2015-04-28 18:47] kiomac opened #646 "use_refresh_token customized"
It should be possible to use or not use the refresh token accordingly.

Use case: In a service-to-service basis the client could use a JWT Assertion to request the access token. This token can have 1 hour TTL, with no refresh token. Meaning that he would need to use JWT assertion each time the token expires. At the same time, other clients using credentials may have a refresh token available.

Wil

[2015-04-29 03:03] tute commented on #639
I think `resource_owner_authenticator` is the right name for this. Why do you think having a more specific one could be better? The generic one could authenticate from jwt, devise or clearance, etc.

[2015-04-29 03:03] tute commented on #639
BTW thanks for sharing your extension!

[2015-04-29 03:26] tute commented on #646
I'm open to that. Different than the existing case, I wouldn't add the `custom_` prefix; I would check in code if the object responds to `#call` and if so call it, otherwise use it directly.

[2015-04-29 18:19] jpaas commented on #472
+1

use case: If you're building an admin app with a requirement for an audit log, you need to be able to insert a record into the audit log when a user signs in/out.

[2015-04-30 01:34] kiomac commented on #639
First I was relying on the PasswordAccessTokenRequest, but now I built a specialized AssertionAccessTokenRequest in order to make the correct validations:
 - validate_assertion (describing error responses in case of an JWT.decode error)
 - validate_client (based on the jwt issuer if it's configured to do so)
 - create_token (with no refresh_token)

This validations are the reason I want to build a

[2015-05-01 05:40] xtagon opened #647 "Feature Request: Sequel ORM"
Hi,

It seems Doorkeeper does not have an adapter for [Sequel](http://sequel.jeremyevans.net/) yet, but I would very much like to use Doorkeeper in a Rails app that uses Sequel, in which ActiveRecord is unavailable. Sequel supports most of the same functionality that ActiveRecord does, so I'm sure this is possible, but I'm not sure where to begin.

Would anyone be interested in providing a Sequel

[2015-05-01 13:13] tute commented on #647
I'm very much interested. There's a PR in https://github.com/doorkeeper-gem/doorkeeper/pull/281.

And there's a https://github.com/doorkeeper-gem/doorkeeper-orms project too, which I'd love to finish up integrating with doorkeeper.

@xtagon in an ideal world ORMs would work as plugins from their own repository, but I would merge a PR that incorporates sequel support into doorkeeper, provided it's

[2015-05-01 15:51] xtagon commented on #647
@tute Ah, that one didn't come up in my issue search. Thank you! I'll take a look at what has been done and find ways to contribute to the effort.

[2015-05-01 15:51] #647 closed

[2015-05-01 18:38] tute commented on #645
From the spec, section 1.5:

Are you sure "oauth specifications disallow at least for RefreshToken requests not to use the client_credentials"?

From section 4.3.2:

So it depends on the client. How would doorkeeper enforce it?

[2015-05-01 18:40] tute commented on #643
Closing this issue as it's not a bug in doorkeeper. Please reopen if you think doorkeeper can do a better job in regards with this issue.
Thanks!

[2015-05-01 18:40] #643 closed

[2015-05-04 02:32] tute commented on #647
You might want to work on this after we make https://github.com/doorkeeper-gem/doorkeeper-orms/pull/2 work. :heart:

[2015-05-04 02:42] xtagon commented on #647
That sounds like a good idea. Subscribed.

[2015-05-04 17:15] bpieck commented on #645
Sorry for wasting your time. It seems I haven't correctly read this (or read to many articles not directly from oauth, like this one: https://developers.google.com/identity/protocols/OAuth2WebServer#refresh) - my fault. So you are right, that both are only mandatory for confidential clients. Since you already ensure client credentials will be checked, if given, it's all on the developers side, to

[2015-05-04 20:01] tute commented on #645
Closing the issue then, thanks for sharing!

[2015-05-04 20:01] #645 closed

[2015-05-05 01:40] francesle commented on #536
Similarly for `oauth_access_grants`, can we safely delete revoked or expired access grants?

[2015-05-05 03:01] tute commented on #612
Released 2.2.1 with this fix. Thanks!

[2015-05-05 08:58] jfcalvo commented on #536
I think that this issue should be reopened. Doorkeeper should implement some way to maintain the database clean (rake tasks or some other options) it's not very nice to know that you database will increase ad infinitum.

[2015-05-05 13:11] tute commented on #536
I won't work on this (I've never seen it being a problem, and I believe YAGNI), but I'm not opposed to a simple rake task that clears the unneeded objects from the DB. I would merge it in.

[2015-05-05 15:21] nvloff opened #649 "Doorkeeper overrides I18n.fallbacks"
Doorkeeper 2.2.0 ( #627  ) broke the custom I18n.fallbacks we set in our app. We worked around that by having the fallbacks set in rails's `after_initialize`.

I don't think gems should change application's I18n fallbacks, it's just breaking things :)

[2015-05-05 15:29] jasl commented on #649
The current way is working well on our app, but could you describe more details? and the codes. actually I don't know how to test this.

[2015-05-05 15:54] tute commented on #649
We should append to the config, rather than set it.

[2015-05-05 15:58] jasl commented on #649
you're right, but I thought the `app.config.i18n.fallbacks = [:en]` is only affect doorkeeper originally, let's me check the doc.

[2015-05-06 04:12] tute commented on #649
Closing in favor of PR. Thank you both!

[2015-05-06 04:12] #649 closed

[2015-05-06 20:35] francesle commented on #500
Is it safe to remove tokens that have not been revoked? The second part of the query in `expiry_params` could match on an `oauth_access_token` that hasn't been revoked yet, removing a refresh token even though they're not supposed have a TTL expiration. What happens when the client requests with the associated refresh token? Won't the user have to re-authorize the app?

Seems like we should just b

[2015-05-07 06:57] thibaudgg opened #651 "Polymorphic ResourceOwner support"
Hey,

My App needs to support authentication of both `User` and `Operator` model (we use two different Devise scopes).

It would be great if we could add a `resource_owner_type` field to `Doorkeeper::AccessToken` for supporting a polymorphic association.
Owner type could be passed as an optional argument on the `POST /oauth/token?owner_type=operator` request if multiple owner type are supported.

[2015-05-07 07:03] jasl commented on #651
You mean `User` and `Operator` are independent models, Not STI?

[2015-05-07 07:28] thibaudgg commented on #651
Yes, exactly. They have both there own ids.

[2015-05-07 08:25] jasl commented on #651
Let Doorkeeper supports multiple-models is necessary, but adding an optional arguments may have potential issue, because Doorkeeper support many flows, if we want to add one optional argument, we need letting all flows support.

I think there have another way to reach the goal. I have an idea, we could support multi-models by customizing `resource_owner_id` , for example `User_123` or `Operator_12

[2015-05-07 10:46] thibaudgg commented on #651
I think that using `User_123` or `Operator_123` is kind of hackish when Rails polymorphic association exists. I would really prefer following the convention and rely on `resource_owner_type`.
We could add a new configuration setting for this feature (like `enable_polymorphic_resource_owner`) so the `resource_owner_type` field is not mandatory for everybody (easy upgrade for existing users).

Conce

[2015-05-07 13:09] tute commented on #651
Do the user types belong in the client apps or in the provider? If in the provider, we can discuss further, otherwise, I don't feel very positive about including this in doorkeeper.

[2015-05-07 13:14] thibaudgg commented on #651
@tute The owner types belong in the provider (our Rails app), the client should be able to authenticate the owner as `User` or `Operator`.

[2015-05-07 13:19] tute commented on #651
In that case nothing has to change in the request, as the application already knows what the `resource_owner` is, and it can query it's `.class` (see the `resource_owner_authenticator` configuration block in your doorkeeper initializer). Actually, we might not need to query for class, we could consider the relationship between tokens and owners polymorphic always, let Rails fill in the type for us

[2015-05-07 13:42] thibaudgg commented on #651
I should have precised that we use the Resource Owner Password Credentials, so we need a way to know the owner type on the `resource_owner_from_credentials` block.

Here the request that we would like do to for getting the access token:
[code]

Does it make any sense?

[2015-05-07 14:00] tute commented on #651
It does make sense, and We won't support it in doorkeeper in the
foreseeable future. Thanks for your input.

On Thursday, May 7, 2015, Thibaud Guillaume-Gentil <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

[2015-05-07 14:05] #651 closed

[2015-05-07 14:06] thibaudgg commented on #651
Ok thanks for your feedback.
In that case, I guess one solution for us would be to add an extra layer between `Doorkeeper::AccessToken` and our `User`/`Operator` models like a `OauthResourceOwner` model that will handle the polymorphic association.

[2015-05-11 22:52] repinel opened #653 "check_requirements! aborting the scope migration"
I have tested this with Rails 3.2. I upgraded Doorkeeper from `0.6.7` to `2.2.1` and I am not being able to run the migration that is suppose to create add the `scopes` column to `oauth_applications`.

Since #628, `Doorkeeper::Orm::ActiveRecord.check_requirements!` was introduced and an error is raised when the ActiveRecord connection is available, the table exist and attribute `scopes` is found.

[2015-05-11 23:29] tute commented on #653
I'm not opposed to a pending migrations task. Or a better error message that spits in standard output the needed migration: https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/generators/doorkeeper/templates/add_scopes_to_oauth_applications.rb.

[2015-05-12 01:13] repinel commented on #653
Checking the pending migrations could be a challenge to support multiples Rails versions. With Rails >= 4 this can be easily accomplished using the `ActiveRecord::Migrator.needs_migration?`, but previous versions require a little bit more code.

One simpler way might be to check the Rake tasks like `defined?(Rake) && Rake.application.top_level_tasks.include?(‘db:migrate’)`

I am inclined to favor

[2015-05-12 01:28] tute commented on #653
Even simpler: do a `File.read` of `https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/generators/doorkeeper/templates/add_scopes_to_oauth_applications.rb`, and print it to standard output in https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/orm/active_record.rb#L27-L33. That's reliable across Rails, Ruby and OS versions! :)

[2015-05-12 02:09] repinel commented on #653
Added the PR. Let me know if it's according to what you suggested so I can update the CHANGELOG.

[2015-05-12 02:12] tute commented on #653
Great, thank you! Continuing conversation there.

[2015-05-12 02:12] #653 closed

[2015-05-12 02:51] linjunzhu commented on #494
Maybe U should be updated the wiki about  `owner`

`https://github.com/doorkeeper-gem/doorkeeper/wiki/Associate-users-to-OAuth-applications-%28ownership%29`

[code]

[2015-05-12 03:48] tute commented on #647
PR merged! https://github.com/doorkeeper-gem/doorkeeper-mongodb is good basis for the next ORM extension to doorkeeper. :+1:

[2015-05-12 03:50] xtagon commented on #647
Congrats, that's awesome. I'll play around with it when I get a chance.

[2015-05-12 04:51] xtagon commented on #647
Didn't do anything interesting to it yet but you can keep a watch here: https://github.com/xtagon/doorkeeper-sequel

[2015-05-12 08:57] bpieck opened #655 "strange revoke"
I hope not to waste your time. Just recognized something a little strange.
When I understand revokation correctly (https://tools.ietf.org/html/rfc7009):
We should access a request with client credentials as Authorization header (so Basic) and send token in body as parameter. The oauth server itself will verify, that the client identified correctly and client_id fits token's application.uuid.
But i

[2015-05-12 10:31] bpieck commented on #655
Just to show you, how I fixed that on my side:

[code]

[2015-05-12 12:50] godsent opened #656 "Multiple urls validation errors exception"
Hi. When I tried to create \ edit an oauth application and submit more then one invalid url there is an exception "undefined method `join' for "<span class=\"help-block\">Must be an absolute uri.</span>":ActiveSupport::SafeBuffer".
It happens because of this line - https://github.com/doorkeeper-gem/doorkeeper/blob/master/app/helpers/doorkeeper/dashboard_helper.rb#L8. I guess there should be just j

[2015-05-12 13:03] tute commented on #656
Possibly, let's discuss over a PR and see the spec difference? Thanks for reporting!

[2015-05-12 13:38] godsent commented on #656
PR is created - https://github.com/doorkeeper-gem/doorkeeper/pull/657

[2015-05-12 14:27] tute commented on #656
Thanks! Closing in favor of PR.

[2015-05-12 14:27] #656 closed

[2015-05-12 16:11] mbajur opened #658 "Multiple resource owner types"
Hello
I'm creating an app in which there are two possible user types that can sign in - users and admins (models: `User` and model `Admin`).

While using a scopes is an option here, i don't think it's a proper way to resolve such scenario. According to some solution found on the stack overflow, i'm signing a user with additional param called `user_type` (with password flow). Here is my `resource_o

[2015-05-12 17:24] tute commented on #658
See discussion in https://github.com/doorkeeper-gem/doorkeeper/issues/651. Do the user types belong only in the provider, or also in the client?

[2015-05-12 17:37] mbajur commented on #658
Ok, that's exactly the same issue. So i need to use @thibaudgg solution from his most recent comment. Thanks.

[2015-05-12 17:37] #658 closed

[2015-05-12 18:31] trungpham opened #659 "implement rotateable secret"
Right now if we change the application's secret, then all the existing api call will briefly be broken until all the active servers have been updated to use the new secret.

We should pull the secret column out of the applications table, and use has_many association, so we can have multiple active secret. This way, the application owner can explicitly delete the old secret after all the servers ha

[2015-05-13 16:54] bhritchie opened #660 "Possible to create client without specifying redirect_uri?"
I'm trying to integrate a Rails app with Zapier using Doorkeeper. Zapier wants me to provide the client id, secret etc, but doesn't want to provide me with a redirect_uri - instead it seems that they want to pass this as part of the authorization call: https://zapier.com/developer/documentation/oauth-v2/

However the redirect_uri seems to be required for doorkeep to generate a set of client creden

[2015-05-13 21:43] tute commented on #660
Quoting from the doc you link:

So their `redirect_uri` is `https://zapier.com/dashboard/auth/oauth/return/:AppIDAPI/`. Did you try that?

[2015-05-13 23:50] gilbertquri opened #661 "Reuse access tokens for the client_credentials grant type"
Doorkeeper does not seem to reuse access tokens for the client_credentials grant type in any case. Is this intentional?

[2015-05-14 14:30] tute commented on #661
This sounds like a bug, not intentional for sure.

[2015-05-14 21:07] bhritchie commented on #660
That didn't work, but I used it as a dummy and they gave me a redirect_uri afterwards. Since iit seems that I'm able to just change the redirect_uri parameter for an application without affecting the credentials, I guess I'm fine. Thanks, and sorry to trouble you!

[2015-05-14 21:07] #660 closed

[2015-05-19 17:37] dhyegofernando commented on #561
Is there any way to make required again client_id + client_secret? That's because I don't really wanna let any request use this flow (just mine). I'm trying to figure it out yet.
Thanks.

[2015-05-19 17:40] itsmrwave commented on #561
@dhyegofernando You can modify the check in the sample code I've just shared. Specifically this part that performs the actual checking from the DB.

[code]

[2015-05-19 17:46] dhyegofernando commented on #561
@itsmrwave my bad I didn't see. Thank u so much.

[2015-05-21 03:51] edmondchui opened #664 "Feature Request: Display Built-In Unauthorized"
Per the wiki page [Customizing the response body when unauthorized](https://github.com/doorkeeper-gem/doorkeeper/wiki/Customizing-the-response-body-when-unauthorized), we can customize the respond body overwriting the method ```doorkeeper_unauthorized_render_options```.

However, it is currently impossible to display the three different reasons of unauthorized: ```revoked```, ```expired```, ```unk

[2015-05-21 04:00] tute commented on #664
I'm not against this. How exactly would you use it? Would it still comply with the spec https://tools.ietf.org/html/rfc6749#section-5.2?

[2015-05-21 18:46] edmondchui commented on #664
Yes, for the ```error_description``` field in that [section 5.2](https://tools.ietf.org/html/rfc6749#section-5.2) of the RFC.

[2015-05-21 21:16] tute commented on #664
I feel positive about it but I'm not entirely sure. Would like to see sample code, and see if it's backwards compatible. If it looks all good we can merge a nice PR!

[2015-05-21 21:28] edmondchui commented on #664
I actually copy and paste those modifications from my overwrite of the doorkeeper code. Sorry I don't have time to put up a crisp sample code for that.

If you have existing test suites we can simply run against them.

[2015-05-22 01:01] tute commented on #664
It's really good timing. Because we didn't place any arguments on the template methods this would be a backwards incompatible change, but we are about to release version 3, so let's go ahead with a PR!

[2015-05-24 15:39] tute commented on #664
Closing in favor of PR.

[2015-05-24 15:39] #664 closed

[2015-05-27 14:53] stefanvermaas commented on #552
:+1: for native redirect URI's.

[2015-05-27 20:43] redterror opened #667 "Question about authorizing users to particular scopes"
I have a need/desire to control which users are authorized tokens in particular scopes.  Think an `admin` scope that I want to restrict to ... admins.  I hacked up something that works for my needs but is likely not general enough for inclusion directly:

[code]

A few questions:

1. Are you interested in supporting this sort of feature at all, or should I just maintain my own fork?
1. If yes, how

[2015-05-27 22:24] tute commented on #667
I'm not against a little extension hook like the one you show. It seems to me that you don't need the `preauth_class(klass)`, am I right?

Users would need to maintain their own `PreAuthorization` objects, but they could without forking or monkey patching doorkeeper.

Actually better than that, we can probably add an empty template method in the current `PreAuthorization`, something like `def vali

[2015-05-27 22:24] tute commented on #667
cc @jasl, what do you think of this idea?

[2015-05-28 02:28] redterror commented on #667
Probably right - I was doing this fast to prove to myself that I could make available the hook I needed, so there was a little bit of cargo cult'ing going on.  I figured I'd make a proper PR if the feature was of interest.

My custom PreAuthorization class inherits from Doorkeeper::OAuth::PreAuthorization, overrides `validate_scope` and just calling `super` if things get that far.  I think the two

[2015-05-28 02:34] tute commented on #667
The decision being do we allow for extensions with public-API hooks, or do we let it happen through monkey patching. As black boxes they might behave the same, but it is not the same!

Discussion on refactorings to add more context to PreAuth might be more comfortable on PRs. I'm not yet sure how it would look like.

[2015-05-28 02:40] redterror commented on #667
Fair enough, but as a motivating question - is there more data beyond `current_resource_owner`?  My glance back through it now indicates *not*, but I just cracked open the insides of this gem today.  :)  If its just the one data element to add then the `merge` call might be fine.

[2015-05-28 02:53] tute commented on #667
I don't know how to answer yet, because I learn what is needed in issues like this one, and how code looks like after I see the change set. We now both lean towards "we need `resource_owner` in the PreAuth", but why? For how many users is that true? Regardless of "popularity", is the change simple and harmless or does it introduce complexity of any kind?

I would lean towards having the least stat

[2015-05-28 18:11] jasl commented on #667
According to your case, you mean you want to grant specified scopes to some access tokens?
for example, normal users could grant `public` and admin users could grant `public` and `write`.

[2015-05-28 18:25] redterror commented on #667
Precisely.  My intent is to allow API endpoints to use scopes instead of, say, the `cancan` gem and the user model.  This way my authentication service can also provide some form of authorization.

I've gotten as far as being able to say "yes, user A should be granted `public` and `write`".  I'm not trying to *escalate* the scopes, e.g. a user requests `public`, and they get back a token for `publ

[2015-05-28 18:43] emeryamiller opened #668 "Issue with use of DateTime in Recoverable concern"
I'm getting a NoMethodError - undefined method `getlocal' when calling the /oauth/token path.

I'm using Ruby 2.1.5 and Rails 4.2 with Doorkeeper 2.2.1.

It looks like the issue stems from ActiveRecord calling `getlocal` on the object it's passed when updating the database.  The issue is that the Recoverable concern passes a DateTime object, which doesn't have a `getlocal` method.  Only `Time` has

[2015-05-28 19:20] jasl commented on #667
Yes, escalate scopes isn't reasonable.

In my opinion, Doorkeeper is an out-of-box OAuth2 provider solution that design for generic scenario (what is the generic scenario is a good question hah?) like Devise does. when we need to customize some flows, I think we could learn from Devise, e.g: [How To: Allow users to edit their account without providing a password](https://github.com/plataformatec/d

[2015-05-29 02:02] tute commented on #667
I agree with that, @jasl. Until we see more cases that show us what's the correct extension point, let's leave it for overrides for now. Thank you, both!

[2015-05-29 02:02] #667 closed

[2015-05-29 02:07] tute commented on #668
Thanks for your report, @emeryamiller!

@sgrif Is this an AR bug? In that case we can move it to Rails.

The following patch keeps CI green indeed, I'm not against such a PR into doorkeeper:

[code]

[2015-05-29 02:07] tute commented on #668
It's surprising to me nobody saw this before, though.

[2015-05-29 02:07] redterror commented on #667
Just so I understand, you're saying you'd rather I monkey patch the controller than provide a hook to use a different controller path?  E.g. you're not interested in a PR.  Correct?

[2015-05-29 02:10] tute commented on #667
Correct @redterror. I want before we work on a PR to think more about your issue, and alternative solutions to it.

[2015-05-29 16:15] gilbertquri opened #669 "Issue with client secret for password grant type"
Why is the client secret required for PasswordAccessTokenRequest to generate access tokens associated with the application for the given client id? Most of the use cases for password grants will be mobile or desktop apps, where the secret cannot be protected, isn't it?

[2015-05-29 18:36] emeryamiller commented on #668
Ya, I was surprised too.  Had to double check it before reporting it to make sure I wasn't doing something silly.

[2015-05-29 19:29] tute commented on #669
client that was issued client credentials (or with other
      authentication requirements),

[2015-05-29 19:29] tute commented on #669
As of https://tools.ietf.org/html/rfc6749#section-4.3.2 it should be conditional to the secret being present:

Which means indeed it should not be required. Is it always required right now?

[2015-05-30 11:34] brandonhilkert opened #670 "Accessing session in Auth block"
I need to do something similar to [this wiki](https://github.com/doorkeeper-gem/doorkeeper/wiki/Authenticating-using-Clearance-or-DIY) - setting the `return_to` key of the session:

[code]

It seems that session isn't available here. What's the best way to set this?

[2015-05-30 13:40] brandonhilkert commented on #670
Nevermind, looks like you need `request` to get at session:

[code]

[2015-05-30 13:40] #670 closed

[2015-05-31 01:33] sgrif commented on #668
No, this doesn't look like a Rails bug. Generally we don't advise using `DateTime` with Active Record, as it never works as well as `Time` does.

[2015-05-31 01:37] sgrif commented on #668
https://twitter.com/sgrif/status/604823869061406723

[2015-05-31 21:10] tute commented on #668
Here is a gist explaining why it should be `Time`: https://gist.github.com/pixeltrix/e2298822dd89d854444b. Can you send a PR, @emeryamiller?
Thanks for your help, Sean!

[2015-06-01 14:05] kennyevil commented on #475
I had a similar problem. Implementing the resource_owner_from_credentials method as suggested in the wiki seemed to be causing the users authenticated this way to remain logged in on the server. This had the extra issue of causing Doorkeeper to issue tokens to those logged in users when it was supplied with crappy email/password combinations (eg with misspelled password). I found that putting this

[2015-06-02 00:20] tute commented on #668
Closing in favor of good PR. Thanks!

[2015-06-02 00:20] #668 closed

[2015-06-02 17:28] lewislambert opened #672 "Allow specifying/limiting flows per application"
Hi,

Has anyone considered the ability to specify grant flows per application? The main driver behind this would be to allow anyone who creates an application to just use the `authorization_code` or `client_credentials` grant types but perhaps for a providers own native application or other trusted providers, allow the ability to use `password` grant flow.

I've not seen this mentioned in any othe

[2015-06-02 20:05] tute commented on #672
How do you verify it is your trusted app?

[2015-06-03 07:00] lewislambert commented on #672
@tute I guess that would be out of scope for Doorkeeper and that would be for the OAuth service implementer to decide (in my case, me).

An example would be Twitter, so their native mobile app, users login with Username and Password, not redirected to their site in a browser to authorize. This is using the password grant, but naturally Twitter would not want anyone who creates a developer app to u

[2015-06-03 07:08] jasl commented on #672
agree.

[2015-06-03 22:07] tute commented on #672
I'm still interested in your case too. How exactly would it work? It's hard for me to imagine now how is it possible to authenticate client applications in certain flows, and if it is not possible (or at least to many developers), then I fear such a feature would give a false feeling of security.

[2015-06-03 22:16] tute commented on #475
Thanks @kennyevil. I just added a note in the wiki in case the suggested implementation is buggy.

[2015-06-03 22:21] lewislambert commented on #672
So let's say for example I have a central app which is the OAuth provider, all user accounts exist on this server and then I also have several other web-apps on different domains providing functionality but utilise the API from the OAuth server. As I own the additional apps, I know that I can be trusted to allow users to provide their username and password and use the password flow to exchange for

[2015-06-03 22:36] tute commented on #672
I understand the feature request, but I believe the implementation is technically hard (if not entirely impossible). The problem is that this feature implies that there is a secure way to authenticate applications (this is _my_ application, and not a malicious one). See this answer for more context: https://stackoverflow.com/questions/6190381/how-to-keep-the-client-credentials-confidential-while-u

[2015-06-03 23:04] lewislambert commented on #672
Okay I see your concern now. I think how the credentials themselves are kept secure is out of scope for Doorkeeper itself.

What I was think was something like Doorkeeper sets a configurable default set of grant types when someone registers and application, for example, client credentials and authorisation code  (the default in Doorkeeper now). This should not be customisable by users registering

[2015-06-04 05:39] jasl commented on #672
If you want a customize flow, implement as a simple API is the better and fastest way that you can focus on your business.

e.g. we have a flow that exchange the site's access_token by third parties' access token, so we implements like:
[code]

[2015-06-04 08:37] lewislambert commented on #672
@jasl I'm not wanting a custom flow, it is just a case of more granual control of what grant types can be used by third-party developers.

[2015-06-04 09:28] lewislambert commented on #672
I've not had chance to have a detailed look at the code but I suspect the changes would need to be made to `doorkeeper/lib/doorkeeper/request.rb`.

    def get_strategy(strategy, available)
      fail Errors::MissingRequestStrategy unless strategy.present?
      fail NameError unless available.include?(strategy.to_s)
      "Doorkeeper::Request::#{strategy.to_s.camelize}".constantize
    end

Simpl

[2015-06-04 10:30] antek-drzewiecki commented on #552
@tute, @stefanvermaas  We let users specify their own applications and we would like to allow users to edit their redirect uri's themself. This validation is ran on the users input when updating the application callback URI.

Just to be one step ahead of a security issue, are you aware of other non secure protocols other then http that a user could specify?

Or should I implement an valid URI's va

[2015-06-04 14:14] tute commented on #552
I don't know of other common unsecure by default protocols, and if there are we should add them here.

If programmers use their custom protocols, I expect them to be aware of their custom security implications.

[2015-06-04 17:25] Fryie opened #673 "Client Authorization only skipped when no client_id provided"
In my API I disabled client authorization since it makes no sense for us (we're using a JS client, so the client credentials would be public knowledge anyway).

This works well when no client_id is submitted, so we have no problems with our JS client, but the framework that our iOS app developer uses seems to require client_id and client_secret even for the password ("resource owner etc.", I alway

[2015-06-04 21:56] tute commented on #672
This doesn't keep it secure, because there's no known way to identify clients. I don't want to add insecure options to the project. If someone really needs it, they should route around it, hopefully finding these discussions to make sure they are aware of the potential risks. Or if they know of secure ways to accomplish this, we should indeed integrate.

But the question continues to be unanswered

[2015-06-04 22:01] tute commented on #673
To your comment:

I quote from [section 4.3.2](http://tools.ietf.org/html/rfc6749#section-4.3.2) of the spec:

---

How exactly did you disable them?

[2015-06-04 22:58] lewislambert commented on #672
I think I need to explain this better and possibly with an example. The verification of the applications is not a programmatic verification but more a human verification. The point is, it should be possible to allow different grant types on a per application basis, how it is determined who can use what grant types should not be something that is determined by Doorkeeper, but the administrator of t

[2015-06-05 08:26] Fryie commented on #673
Oh I see. Tbh, I did not read the full OAuth spec. If it really is part of the spec, then I understand that you want Doorkeeper to be compliant. Seems I'd have to take this issue to the provider of the iOS library.

The way it is described here: https://github.com/doorkeeper-gem/doorkeeper/wiki/Skipping-application-authorization

Maybe it would be helpful to include a note that this will not skip

[2015-06-05 20:24] tute commented on #673
User authorization step is different from client authentication. Sadly I don't know of more digestible resources to learn the concepts in Omniauth than the spec. Closing, as this is not an issue with doorkeeper.

[2015-06-05 20:24] #673 closed

[2015-06-05 21:07] tute commented on #672
This is incorrect? A human configuring anything in doorkeeper doesn't change the fact than an app has to be authenticated or not by doorkeeper. When any app asks to use an OAuth endpoint there's software deciding if it is allowed or not, and that software will be doorkeeper (or developer's extensions and monkey patches).

[2015-06-05 21:13] lewislambert commented on #672
I think I must not be explaining very well. Yes there is an element whereby Doorkeeper would still authenticate a request. I meant the human factor would be the vetting to assign grant flow types to applications. Sorry if that was confusing.

Doorkeeper determining if an application can use a specific grant flow type, I'm not sure how you feel this poses any risk? It is not really much more compli

[2015-06-05 21:28] tute commented on #672
If there's two applications: one with flow A and other with flow B. Any application in the planet can use flows A and also B. There is no secure way to perform this comparison.

Please refer to Security Considerations section of the spec: https://tools.ietf.org/html/rfc6749#section-10.

Closing for now, but I will continue answering any questions and comments.

[2015-06-05 21:28] #672 closed

[2015-06-05 21:34] lewislambert commented on #672
Happy for you to close down as it's obviously non-critical issue.

Well this what my concern was with the way Doorkeeper works at the moment, if I enable one flow, it is enabled for all.

What are the risks associated with having the allowable flows stored in the database with each application, then upon a request by a client for a specific flow, can this not be checked against what is stored in t

[2015-06-05 21:36] tute commented on #672
This is true regardless of how we implement it.

It's not, thankfully. It would be if we implemented this.

Did you read https://stackoverflow.com/questions/6190381/how-to-keep-the-client-credentials-confidential-while-using-oauth2s-resource-o/6217429#6217429, quoted in the third comment?

[2015-06-05 21:45] tute commented on #672
A more helpful answer is that the information you receive at the provider that identifies the client can't be trusted.

[2015-06-05 21:45] lewislambert commented on #672
I'll take a look and do a little more research although this isn't about keeping client credentials secret, it's about validating them on the server. The client keeping their credentials is an entirely different story with its own risks.

[2015-06-05 22:37] lewislambert commented on #672
Just as another note. A node equivalent of Doorkeeper which abstracts most of the logic to a model supports the ability to have variable grant types per application.

https://github.com/thomseddon/node-oauth2-server

This might give you some idea of my intentions.

[2015-06-06 15:06] gaurish opened #674 "Have Multiple redirect_uri for same client app"
We have a business use-case where same client ID & secret has should a whitelist of redirect_uri(multiple, more than one)

I have searched the docs & it doesn't seem currently its not possible to create multiple redirect_uri. each client can have just one url.

So wondering, how easy it is to add support for multiple redirect_uri? is this something that's already been done?

[2015-06-06 15:29] tute commented on #674
You can do this. In the admin interface for applications, near the textarea for URLs it says "Use one line per URI".
Best!

[2015-06-06 15:29] #674 closed

[2015-06-11 15:04] mtparet opened #675 "Let's encrypt credentials as ask by the RFC"
As specified by the rfc http://tools.ietf.org/html/rfc6819#section-5.1.4.1.3 we should not store the client_secret in clear text.
(the client_secret is like a password)

[2015-06-11 15:21] tute commented on #675
Absolutely, thanks for bringing this up. It's good we didn't release 3 yet.

* Do you think that during the transition we should accept both forms, or migrate the existing data?
* Would BCrypt be the best algorithm for doing so?

Let's do it soon so we release `3.0.0.rc2`, and a more secure v3. Can you start a PR, @mtparet?

[2015-06-11 15:44] mtparet commented on #675
As the v3 is a new major version, it's a good time to introduce this break change and migrate the existing data. We should release a new v2 version with warnings about `client_secret` not available anymore.
The migration should be done using a safe way. (First, adding a new database field and deprecating the old one and in a next release removing the old field)

It seems everybody is recommending

[2015-06-11 21:08] noomerikal opened #676 "Could not find generator"
Can't find generator, am I missing something? Tried both 2.2.1 and 3.0.0.rc1.

[code]
Rails 4.2.1
ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-darwin14]

[2015-06-11 21:32] noomerikal commented on #676
Got it resolved - I updated RubyGems from 2.4.5 -> 2.4.8, bundle update, and then stopped spring. I think it was stopping spring that worked since the bundle update was mostly minor releases.
[code]

[2015-06-11 21:32] #676 closed

[2015-06-12 22:04] vovimayhem commented on #669
I've came across this problem right now.

[2015-06-12 23:03] vovimayhem commented on #669
@tute The client_secret is not required by doorkeeper... in fact it creates the token happily with the application_id column in `NULL`

[2015-06-12 23:03] vovimayhem commented on #669
I can provide a docker-compose project with a rails app exhibiting this undesired behavior...

[2015-06-12 23:34] vovimayhem commented on #669
This seems to be the problem: at [lib/doorkeeper/oauth/password_access_token_request.rb, line 22](https://github.com/doorkeeper-gem/doorkeeper/blob/79870626e6581bb48e3f3da7900fa369ab9f51f7/lib/doorkeeper/oauth/password_access_token_request.rb#L22)

[code]

If [the RFC specification](https://tools.ietf.org/html/rfc6749#section-4.3.2) is to be followed, then finding the client application by uid *AN

[2015-06-13 00:08] vovimayhem commented on #669
The same seems to apply to AuthorizationCodeRequest, as per the [RTF spec](https://tools.ietf.org/html/rfc6749#section-4.1.3).

However, when requesting an access token without the client_secret, this time the server responds with an `HTTP 401 Unauthorized` message:
[code]

[2015-06-13 15:47] vovimayhem commented on #661
I read somewhere in this Issue Tracker and in the RFC specs that client credential tokens should not be allowed to refresh... let's validate if that's true first.

[2015-06-13 20:32] vovimayhem commented on #669
Diggin' deeper in the code, there seems to be an omission in the doorkeeper's interpretation of the "Client Credentials" concept (See: [Client Types](https://tools.ietf.org/html/rfc6749#section-2.1)), which states that there are two kinds of Clients: "confidential" and "public" , and allows different characteristics for their respective client credentials (If I'm getting the "The authorization ser

[2015-06-13 21:37] vovimayhem commented on #669
Further investigation: [RFC6819: Client Types](http://tools.ietf.org/html/rfc6819#section-3.7)

[2015-06-14 01:54] vovimayhem commented on #669
Stepping ahead to this needing fixing, I've [forked & started](https://github.com/vovimayhem/doorkeeper/tree/fix/access-token-requests-without-client-secret-should-create-a-token-associated-with-the-app).

[2015-06-15 09:35] MarvinNazari commented on #453
this is still a issue, it should be fixed somehow

[2015-06-17 21:14] alto commented on #669
@vovimayhem Great, looking forward to your change / PR!

[2015-06-18 04:03] clod81 commented on #669
:+1:

[2015-06-18 04:59] tute commented on #669
Thank you all for your work. I'll be busy for the upcoming week at least, will provide my input later! Thanks again.

[2015-06-18 05:07] tute commented on #453
Theoretically, yes. :) That said, version 3 is coming soon, I would accept a PR changing this then, with a note in the `NEWS.md` file (but I don't think there's enough interest enough to change it myself).

[2015-06-18 05:09] tute commented on #661
Please let us know where did you read this @vovimayhem, or the reasons behind that assertion that you remember. Thank you!

[2015-06-18 19:16] vovimayhem commented on #661
@tute searched, but can't find it. :( I'll give it an eye in the RFC specs

[2015-06-18 19:18] vovimayhem commented on #669
I'll revert my changes in the `ClientCredentials` class, as I felt something was off with my interpretation. Focusing on the `PasswordAccessTokenRequest` class...

[2015-06-19 10:16] gaurish commented on #674
:heart:  Thank you so much!

[2015-06-19 10:49] djordje opened #679 "Grape helper should pass Doorkeeper headers to error"
Grape should expose `WWW-Authenticate` header from Doorkeeper.

https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/grape/helpers.rb#L29

Right now:

[code]

Should be:

[code]

[2015-06-19 18:30] tute commented on #679
Thanks for your report.

* Is this backwards compatible?
* Can you link to the relevant Grape documentation to understand why is this the way to go?
* Can you send a PR for this?

Thank you again!

[2015-06-22 08:10] djordje commented on #679
I've looked to `Grape::DSL::InsideRoute.error!` and method accept 3 params from beginning.

From theirs README:

https://github.com/intridea/grape#headers:

Of course

[2015-06-24 21:27] jpb opened #680 "Confusion over `custom_access_token_expires_in` documentation"
The [generated initializer](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/generators/doorkeeper/templates/initializer.rb#L27-L30) states that `custom_access_token_expires_in` can be used to `Assign a custom TTL for implicit grants`. This does not seem to be the case, as this option is used for all grant types. Also, this lambda is [only evaluated once](https://github.com/doorkeeper-

[2015-06-25 06:26] donpinkster commented on #320
Are there any updates on this? I see access tokens as passwords, and in that case it is just wrong to store them in cleartext.

[2015-06-25 13:23] tute commented on #320
Agreed. This conversation is related: https://github.com/doorkeeper-gem/doorkeeper/issues/675

Encrypt them is an alternative, what I'm really interested in doing is not storing them altogether.

I won't have time for a few weeks to work on this though.

[2015-06-25 21:06] jpb commented on #680
After digging in more, I realized I was wrong about the `custom_access_token_expires_in` only being called once - this is called for each request.

I noticed the changes on #636 made the parameters to `custom_access_token_expires_in` consistent, but a `PreAuthorization` is never passed to it now. `PreAuthorization#request_type` would provide insight into wether or not the request is a implicit gra

[2015-06-27 21:27] tute commented on #679
Closing in favor of the PR. Please send over relevant information over to that commit message. :+1:

[2015-06-27 21:27] #679 closed

[2015-06-27 22:59] tute commented on #680
The change wouldn't be backwards compatible. Also, it's not always there, what does it mean when it's not there?

Passing in always the `request_type` seems like a cleaner solution, and I would consider such a PR. It would be an additional hash argument, with the `request_type` for now.

[2015-06-27 23:35] tute commented on #655
The spec (and our `TokensController`) don't expect both tokens to always be the same. A client application might be revoking a token while authorizing with another one.

Also, the credentials check in the model checks for resource owners, while your version does not.

That said, your code looks better than what is in current master. If you'd like to submit a PR with a refactor without changing beh

[2015-06-27 23:35] #655 closed

[2015-06-27 23:50] tute commented on #669
It seems you are correct. Right now doorkeeper treats every client the same, but there's a difference between a client that can keep secrets (say, a server side app), versus one that can't (like a mobile app for example). I'm in favor of a PR addressing this.

Thanks for your time and input, @vovimayhem.

[2015-07-01 22:40] devin909 commented on #561
I don't think client credentials are required for password flow because the specs clearly says this flow should only be used when there is a high degree of trust between the oAuth provider and the client in 4.3. 4.3.2 says that client authentication is required if the client type is confidential or the client was issued client credentials (or assigned other authentication requirements). What is ne

[2015-07-01 23:02] devin909 opened #684 "Refresh Token workflow (stemming from Password Credentials Grant) requires client_id and client_secret?"
The example for refresh token workflow in the API-endpoint-descriptions-and-examples wiki page has the following curl command:

curl -F grant_type=refresh_token \
-F client_id=9b36d8c0db59eff5038aea7a417d73e69aea75b41aac771816d2ef1b3109cc2f \
-F client_secret=d6ea27703957b69939b8104ed4524595e210cd2e79af587744a7eb6e58f5b3d2 \
-F refresh_token=c65b265611713028344a2c285dfdc4e28f9ce2dbc36b9f7e12f626a3

[2015-07-01 23:10] #684 closed

[2015-07-01 23:10] devin909 commented on #684
False alarm!

[2015-07-08 14:40] Neson opened #687 "Only kill refresh tokens until the new exchanged access token has been used"
For now, refresh token seems to become invalid immediately after they're used to grant an new access token. But clients, especially mobile apps, may lost their connection right after they send the token request, without receiving the response that contains the new access token! If such case happen, the client will lost all authentication credentials (both the access token and refresh token has bec

[2015-07-08 18:44] tute commented on #687
This has been discussed before. I can't remember the issue or PR though. It is a nice to have. I'd like to have that context during this conversation, do you think you can find it?

[2015-07-09 05:15] Neson commented on #687
Found #575 and #578 , catching on...

[2015-07-09 13:28] tute commented on #687
@Neson if you'd like to take ownership of https://github.com/doorkeeper-gem/doorkeeper/pull/578, please go ahead.

[2015-07-10 20:33] vovimayhem commented on #669
I had my PM assign me some time to work on this issue, as we're also using doorkeeper in our app :)

[2015-07-10 22:32] tute commented on #669
We need more PMs like yours. :+1: :)

[2015-07-12 16:50] chrismanderson opened #690 "Recommended way to integrate with Devise?"
Hello! Found this stellar gem and am working on integrating it into a Rails app with existing Devise authentication. (It's a very standard Devise setup). I was curious as to the current recommended best practices on integration. My app has both standard web views with devise authentication as well as a JSON API. I'm also just using the `password` grant type.

I've seen a couple issues in this repo

[2015-07-13 07:55] pmdeazeta commented on #687
Created this PR https://github.com/doorkeeper-gem/doorkeeper/pull/691 based on  https://github.com/doorkeeper-gem/doorkeeper/pull/578

[2015-07-13 10:36] tute commented on #687
Thnk you! Closing in favor of PR.

[2015-07-13 10:36] #687 closed

[2015-07-13 10:39] tute commented on #690
I'm right now out of the office, but recently @maclover7 was working on very similar code. Probably he can help you!

Also, in general, anything you consider useful documentation should be added to the wiki, and if it's general documentation a PR to the README is best.

Thanks!

[2015-07-13 23:08] jormon commented on #55
https://github.com/doorkeeper-gem/doorkeeper/commit/09cb679186a3197fcc29c7e315e3bcd13ae02de1 breaks this (in 2.1.4+)

[2015-07-14 00:39] kiomac commented on #669
This is a temporary solution; not as efficient as I wish because as you can see it makes an extra non-cachable query to the database.

[code]

[2015-07-14 17:45] maclover7 commented on #690
Hi @chrismanderson,

1. For the before authenticate_user!, you should just add skip_ in your base API controller and it should work fine.

2. That looks good what you have for your current_user finding method.

Post here if you encounter any other problems or have any other questions.

[2015-07-15 07:33] tute commented on #690
Thank you, @maclover7! @chrismanderson does that help you? Do you think we can improve documentation or the wiki, that would easy your onboarding?

[2015-07-15 18:14] vovimayhem commented on #669
@tute (or anyone)

At [RFC 6749 Section 2.3](https://tools.ietf.org/html/rfc6749#section-2.3):

How does this two statements relate to the token being issued with or without the associated application id?

[2015-07-16 09:35] letrath opened #694 "in gitlab deploy doorkeeper error"
hello i am trying to install gitlab on a virtual ubuntu  which is working on power (ppc64el) according to the link:
https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/install/installation.md

But there is a step i cant pass,
[code]
Can any1 please help?
[code]

[2015-07-16 10:40] tute commented on #694
If you do `sudo ruby -v` it will be a different version. It seems like it's trying to use Ruby 1.9.

[2015-07-16 11:10] letrath commented on #694
how can i fix it?i am new to ruby because

[2015-07-16 11:19] tute commented on #694
How did you install Ruby 2.2? Through rbenv or rvm? You can install it as a superuser, doing:

[code]

Then performing the same steps to set up the newer Ruby.

[2015-07-16 11:31] letrath commented on #694
rbenv. oh ok. thnx

[2015-07-16 12:02] #694 closed

[2015-07-16 21:58] vovimayhem commented on #669
OK guys. It seems that [RFC 6749 Section 2.3](https://tools.ietf.org/html/rfc6749#section-2.3) and [this discussion reply](http://stackoverflow.com/questions/6190381/how-to-keep-the-client-credentials-confidential-while-using-oauth2s-resource-o/6217429#6217429):

They both make the case for me to not change the current behavior by default.

[2015-07-16 22:32] vovimayhem commented on #669
...or anyhow mark the issued token with a `validated_client = false` flag or something...

[2015-07-16 23:10] gilbertquri commented on #669
I think that's a reasonable option. There are times when we want to know who the API clients are but not for security reasons (e.g. just to gather statistics). A flag would give us that flexibility.

[2015-07-19 04:03] Neson commented on #687
:smile:

[2015-07-19 12:06] confact opened #695 "Custom Controllers"
Is it anyway to customize the controllers? I want I way to migrate my old api-token to doorkeeper so I need to add a custom api-token to applications for a migration to oauth2 flow.

How can I do this without making some weird stuff?

[2015-07-19 13:26] confact commented on #695
Found a way to override by looking randomly in wiki.

[2015-07-19 13:26] #695 closed

[2015-07-23 15:45] anthonator opened #696 "Caching applications/access tokens"
Is it possible to cache applications/access tokens with something like Redis?

[2015-07-23 16:04] tute commented on #696
It's possible, and I don't plan to work on that. If you put together a PR
that works you may be able to create an extension to doorkeeper off of it,
like the mongo ORMs.

[2015-07-23 16:07] anthonator commented on #696
Is the doorkeeper-mongo project a good example for this or is there some documentation for creating extensions I can look at?

[2015-07-23 16:58] edmondchui opened #697 "Null Refresh Token in Client Credential Flow"
I turn on refresh token by setting ```use_refresh_token``` in ```config/doorkeeper.rb```.

In the Resource Owner Password Credentials Grant flow I do get an access token with refresh token.

In the Client Credential Flow, however, I only get an access token with nil refresh token.

I look at the code and see the flowing line is causing this behavior:

https://github.com/doorkeeper-gem/doorkeeper/b

[2015-07-23 17:06] tute commented on #696
No docs yet. :/ doorkeeper-mongodb is the best extension I know as of now.

[2015-07-23 20:20] tute commented on #697
From section 4.4.3 for Client Credentials Grant (https://tools.ietf.org/html/rfc6749#section-4.4.3):

I wish this was clearer in code. Thanks for your question.

[2015-07-23 20:20] #697 closed

[2015-07-23 21:23] edmondchui commented on #697
Thanks for the explanation, @tute

[2015-07-26 08:56] StarWar commented on #579
How to issue token for a particular app in assertion flow?

Currently I'm using facebook token to issue access_token and it works without passing client_id and client_secret.
I want to issue token only if correct client_id and client_secret is provided.

[2015-07-26 10:50] StarWar opened #698 "Set Application Id to token in assertion grant flow"
Currently I'm using following code to generate access_token from assertion using assertion grant flow

[code]

And this creates access_token without providing client_id and client_secret. I want to allow only valid applications to do so. With current solution anybody can access a new token with any fb access token.

It gives an access_token where application_id is nil, I want to set the applicatio

[2015-07-26 10:55] StarWar opened #699 "Check for valid client_id and secret before creating access token in assertion grant flow"
Currently I'm using following code to generate access_token from assertion using assertion grant flow

[code]

And this creates access_token without providing client_id and client_secret. I want to allow only valid applications to do so. With current solution anybody can access a new token with any fb access token.

When I check in rails console it gives following output
[code]

As you can see `ap

[2015-07-27 03:48] StarWar commented on #699
Since application Id is nil, refresh token also works without passing client_id and client_secret in this case.

I'm using following my android and it works.

[code]

[2015-07-27 04:52] tute commented on #699
Should this issue belong to https://github.com/doorkeeper-gem/doorkeeper-grants_assertion? Also, note that that repository is in need of maintainer.

[2015-07-27 04:53] tute commented on #698
Closing as duplicate of https://github.com/doorkeeper-gem/doorkeeper/issues/699.

[2015-07-27 04:53] #698 closed

[2015-07-27 04:54] tute commented on #699
We have an issue there, closing as duplicate of that one: https://github.com/doorkeeper-gem/doorkeeper-grants_assertion/issues/11

[2015-07-27 04:54] #699 closed

[2015-07-27 10:49] tute commented on #696
Closing as this is not an issue with doorkeeper, happy to continue further discussion in this thread. Thanks!

[2015-07-27 10:49] #696 closed

[2015-07-27 10:51] tute commented on #690
@chrismanderson please let me know if we can improve docs in your opinion. Closing this issue for now, as it's not a bug in doorkeeeper. Thanks for your input!

[2015-07-27 10:51] #690 closed

[2015-07-29 23:00] willsu opened #700 "OAuth 2.0 Token Introspection"
Greetings!

Thanks for the wonderful library. It has been a great help in setting up an OAuth2 Authorization Server.

I was wondering if you had any plans of supporting the 'OAuth 2.0 Token Introspection' Specification:
https://tools.ietf.org/html/draft-ietf-oauth-introspection-04

Is this support this functionality something on your radar?

Thanks a lot.

-- Will

[2015-07-30 08:24] tute commented on #700
Hi @willsu. I am interested in making doorkeeper easy to extend. I welcome a plugin that extends doorkeeper, as https://github.com/doorkeeper-gem/doorkeeper-mongodb does. If whoever builds it needs any help or change in doorkeeper "main", I will be happy to accommodate that.
Thanks for your question!

[2015-07-30 23:15] drn opened #701 "`attr_accessible` deprecation exception"
We updated to doorkeeper `2.2.2` from `2.2.1` and we're running into the following issue in our CI builds now:

[code]

I traced it back to this commit - https://github.com/doorkeeper-gem/doorkeeper/commit/c3d1a8318027b1ec5d8665511cf448b2ee45b73a

Any reason why this was added? Can it be reverted?

If it's helpful, I can dig into why `respond_to?(:attr_accessible)` is returning true in our project

[2015-07-31 00:46] rossinkiwi commented on #536
I got around the problem of an endlessly growing *oauth_access_grants* table by over-riding a method in *lib/doorkeeper/oauth/authorization_code_request.rb*.  Here's what I did:
1. Create a file *config/initializers/doorkeeper_delete_grants.rb*
2. Insert the following:
[code]

[2015-07-31 07:25] tute commented on #701
Argh, somewhere in merit gem there is a PR where it explains where is this condition returning true when not expected. I think Rails does define the method to be able to send an error message.
Are you in Rails 4.0?

[2015-07-31 20:12] drn commented on #701
Thanks for checking this out. @tute - yup, the app that raised that exception is on Rails 4.0.12

[2015-07-31 23:42] tute commented on #701
Rails 4.0 is EOL'd. As much as you don't upgrade Rails, I suggest not to upgrade doorkeeper for now.
Sorry for the change.

[2015-07-31 23:43] drn commented on #701
Fun. It's on the docket to upgrade Rails anyways - we'll lock doorkeeper for now. Thanks for the info!

[2015-07-31 23:48] #701 closed

[2015-08-05 07:04] qnm opened #703 "Index on "index_oauth_access_tokens_on_token" fails on Postgres"
Hi,

I have a recent installation of Doorkeeper, `2.2.1`, which we're running with Postgres 9.4.

I have 89 entries in the `oauth_access_tokens` table.

[code]

When a user creates an oauth token, the following error is being generated by Postgres:

[code]

My table is defined as:

[code]
The error seems to occur due to the btree index used on `token`, as [btree indexes can't handle data with more

[2015-08-06 08:08] gottfrois commented on #669
I look forward to see this fix apply as well.

[2015-08-06 13:51] tute commented on #703
A PR modifying the indexes to be MD5 hash functions is welcome. Thanks for your report!

[2015-08-06 18:29] iRonin commented on #696
We're also interested in this however I find the codebase too tightly coupled with ActiveRecord pattern…

[2015-08-07 01:17] qnm commented on #703
@tute I think this could be implemented as a Rake test, as the implementation is Postgres specific, and I wouldn't want to pollute the migration with pg-specific conditions.

Do you agree, or have you a better way to manage pg-specific migrations?

[2015-08-07 08:21] tute commented on #703
You are right. I would add it to the relevant wiki pages or projects as docs. I assume you are using JWT tokens, and that is why they are bigger than allowed?

[2015-08-07 11:57] qnm commented on #703
@tute Spot on - these are JWT tokens.I'll put something together early next week.

[2015-08-17 18:08] jscheid opened #705 "Misleading example code"
Hi,

On [this page](https://github.com/doorkeeper-gem/doorkeeper/wiki/using-resource-owner-password-credentials-flow) you offer the following example code:

[code]

However this code will skip the Lockable strategy (if configured). I believe this code is better:

[code]

Otherwise the following code is never executed: https://github.com/plataformatec/devise/blob/1a0192201b317d3f1bac88f5c5b4926d527

[2015-08-17 21:57] tute commented on #705
Thanks! Updated: https://github.com/doorkeeper-gem/doorkeeper/wiki/Using-Resource-Owner-Password-Credentials-flow.

[2015-08-17 21:57] #705 closed

[2015-08-18 12:07] qnm commented on #703
@tute I've dropped the doc here: https://github.com/doorkeeper-gem/doorkeeper/wiki/Postgres-Error:-index-row-size-%5BNUMBER%5D-exceeds-maximum-%5BNUMBER%5D-for-index-%22index_oauth_access_tokens_on_token%22

Is there a more suitable place for the info?

[2015-08-18 16:11] tute commented on #703
That is great, I just updated the title. Thank you for documenting this! :heart:

[2015-08-18 16:11] #703 closed

[2015-08-20 16:25] rngtng opened #710 "100% rails independent?"
I figured doorkeeper can be used with grape for authorization, but when it comes to administrate applications and to grant authorizations/tokens, it is unfortunately very much tight and dependent on rails.
I'd love to see this dependency to be removed, or a least having a clear separation, so I easily can choose my framework of choice. Are there any thoughts around that?

[2015-08-20 16:28] tute commented on #710
I'll be happiest to go down that route. Would you like to submit a PR and we work together?

[2015-08-20 16:36] rngtng commented on #710
nice! Sure I'm happy to do so. Let me find a setup to start with.. hopefully this wont be too ambitious :)

[2015-08-20 17:24] rngtng commented on #710
here's the branch I'm working on. First goal was to get the specs running without having rails loaded. First approach is suuper hacky. now let's get the test green and make it nice.. :)

https://github.com/rngtng/doorkeeper/tree/be-rails-independent

[2015-08-20 18:06] tute commented on #710
I like this work. Thanks for proposing and moving forward with it! Requiring the whole `rails` gem for doorkeeper seems like bloated.

[2015-08-23 04:09] tute commented on #612
Jruby testing is in master. :heart:

[2015-08-23 11:25] xendoc commented on #669
@gottfrois

How about [this](https://github.com/xendoc/rack-re_signer/)?

It should limit scopes for each client. or #672

[2015-08-23 19:19] tilo opened #713 "MAC Tokens"
When will Doorkeeper support MAC Tokens?
It is listed as a "to do", but what is the ETA?
https://github.com/doorkeeper-gem/doorkeeper/wiki/Supported-Features

[2015-08-24 01:44] tute commented on #713
Isn't that an old wiki page? :) Thanks for linking to it, I will remove that dusted roadmap!

About MAC tokens, would the custom token generator option help you? https://github.com/doorkeeper-gem/doorkeeper#custom-access-token-generator See how they use it for JWT: https://github.com/chriswarren/doorkeeper-jwt.

[2015-08-24 09:13] rngtng opened #714 "Why not base on existing authentication frameworks like warden?"
Hey. Just out of interest, what is/was the reason to not base on existing authentication frameworks like [warden](https://github.com/hassox/warden), especially as there's even an [oauth2 extension available](https://github.com/aceunreal/warden-oauth2)?

[2015-08-24 14:34] tute commented on #714
There is no real reason. How do you think doorkeeper could leverage warden in its implementation?

[2015-08-24 14:37] tute commented on #713
I wouldn't add Mac tokens to doorkeeper's codebase, but I'd help building an extension. Thanks for your input!

[2015-08-24 14:37] #713 closed

[2015-08-25 00:25] whatasunnyday opened #715 "Anyone Can Edit Wiki"
I didn't think my wiki contributions would commit to doorkeeper. My apologies.

Here are the changes I made:
https://github.com/doorkeeper-gem/doorkeeper/wiki/API-endpoint-descriptions-and-examples/_compare/86d2621c6fb07a4f7a530827e6d3e06384d0d465...1dd480d359f6521ec950f27353fe4963beaa392b

1.) Can someone okay my contributions?
2.) By default, anyone can edit a github wiki. Not sure if this was i

[2015-08-25 03:28] tute commented on #715
Your contributions are in, thank you! https://github.com/doorkeeper-gem/doorkeeper/wiki/API-endpoint-descriptions-and-examples#failed-response-invalid-username-password-or-code

The configuration was good, there must have been a hiccup somewhere.

[2015-08-25 03:28] #715 closed

[2015-08-25 07:40] rngtng commented on #714
ok thanks. Well in regard of #710 I was looking on other solutions and what I liked with warden is its dependency just on rack and a nice clear interface for different auth strategies.. On the other hand, warden-oauth2 lacks a couple of authorization grants...

[2015-08-25 07:40] #714 closed

[2015-08-26 02:04] jmealo opened #716 ""The redirect uri included is not valid." can be confusing for API consumers"
Kudos on Doorkeeper!

The error message `"The redirect uri included is not valid."` is ambiguous for developers consuming an API.

I realize that this is thrown from a `catch` / `rescue` statement as a last resort, however, it'd be helpful if it said that it failed validation rather than it being invalid.

To me the latter sounds as if the URL was not passed correctly or is in an invalid format (r

[2015-08-27 23:25] flynfish commented on #56
In case someone else comes looking for an answer...

http://stackoverflow.com/questions/10879150/isolated-engine-doorkeeper-use-helper-methods-from-the-main-app

[code]

[2015-08-27 23:33] flynfish commented on #56
I also updated the wiki with [this info] (https://github.com/doorkeeper-gem/doorkeeper/wiki/Customizing-views)

[2015-09-02 08:32] ulitiy opened #717 "Cause of invalid_grant error"
Please help to understand the cause of an error. Maybe the message should be more verbose? Here's my code:
[code]

[code]

[2015-09-02 09:17] ulitiy commented on #717
It was en error in implementation of `resource_owner_from_credentials`, user wasn't assigned.

[2015-09-02 09:17] #717 closed

[2015-09-02 10:06] vishwasIref opened #718 "Single Sign Out in Doorkeeper"
How can i handle single sign out in doorkeeper?
Lets say I have one login server and Two other client . when i logged out from login service , i should be logged out from both of the apps.
Any idea how to handle this?

[2015-09-02 16:51] tute commented on #718
Doorkeeper doesn't do authentication or store any session. Please consider asking this in StackOverflow. Thank you!

[2015-09-02 16:51] #718 closed

[2015-09-03 02:27] tute commented on #716
What exactly is the change that you would like to see?

[2015-09-03 04:00] jmealo commented on #716
**Good:**
"The well-formed redirect URI ($value) included in your request failed custom validation logic."

* The value that I sent was received.
* The value is everything that a URI should be.

**Better:**
"The well-formed redirect URI included in your request failed custom validation logic implemented by the API provider. Please contact the API provider for more information on why validation fai

[2015-09-04 18:38] MathijsK93 opened #720 "Custom response body when unauthorized"
I want to provide an custom response body when the user is unauthorized, like DigitalOcean: https://api.digitalocean.com/v1. Doorkeeper has an example in the wiki at https://github.com/doorkeeper-gem/doorkeeper/wiki/Customizing-the-response-body-when-unauthorized. By using the code from this example:
[code]

It gives me this error:
`wrong number of arguments (1 for 0)`
at line:
`def doorkeeper_una

[2015-09-05 15:44] tute commented on #720
The code was out of date, I updated it: https://github.com/doorkeeper-gem/doorkeeper/wiki/Customizing-the-response-body-when-unauthorized/_compare/2bcdc1248600dc22e0aa6a840ee79f2d99839278...4fff5a88d484af2a56d20afc77fa4544ab61baed

`doorkeeper_unauthorized_render_options` accepts an `error` keyword argument.

Thanks for reporting!

[2015-09-05 15:44] #720 closed

[2015-09-07 13:32] tute commented on #716
I also think better error messages is something we should care about.

I don't see custom logic for URL validation though. All I see is potential for splitting "uri not present" and "uri included is not valid" messages. I would accept a PR with that change, and if there is room for more please let me know.

[2015-09-07 13:33] tute commented on #716
Thank you for your clear explanation.

[2015-09-08 10:02] vishwasIref opened #721 "doorkeeper devise sign_out @resource_owner return false"
Hi ,
       I'm having a doorkeeper application acting as login service,I'm having one other client app using this login service to authenticate users.So when I logout from client app (Not login service) . I send a call to login service with access_token to sign_out resource owner from login service but its not working and sign_out method return false.
Here is my code
```destroy_session``` get cal

[2015-09-09 04:09] tute commented on #721
Probably there is no session? Is `@current_user` defined? After `destroy_session` runs, is a user still authenticated? It `current_user` for devise the same as `User.find(resource_owner_id)`?

[2015-09-09 06:50] vishwasIref commented on #721
Since @current_user is not accessible in controller.Doorkeeper wont be having access to function in application controller as said in documentation.but yes user is logged in and current_user and resource_owner are same as logged in user.I had one more observation when i send a request to this method from my login service using the same access_token this WORKS . it successfully logged out the user

[2015-09-14 06:32] fernandes commented on #651
Making some tests on how to support different owners (I'm using token authentication), I got into something like this (my idea was touch less possible of Doorkeeper):

I created different routes for each scope

[code]

Then created controllers for each route:

[code]

Then on config I set user based on each controller used on request.

[code]

This is far from a good solution (I wonder), I've test

[2015-09-23 12:45] noctivityinc opened #723 "Can't mass-assign protected attributes: scopes on new Rails 3.2 install"
Just installed Doorkeeper and setup.  When I went to create an application received the following error:

    ActiveModel::MassAssignmentSecurity::Error in Doorkeeper::ApplicationsController#create
    Can't mass-assign protected attributes: scopes

and here are the params:

     {"utf8"=>"✓",
     "authenticity_token"=>"[FILTERED]",
     "doorkeeper_application"=>{"name"=>"Building API",
     "re

[2015-09-24 03:54] tute commented on #723
This had been fixed in #704, but I didn't release the fix. I assume you are on v3, if you upgrade to 3.0.1 this should work fine. Thanks for your report!

[2015-09-24 03:54] #723 closed

[2015-09-24 03:56] noctivityinc commented on #723
You are correct.   I spent all day trying to figure this out :)

3.0.1 fixes the problem.  Thank you.

[2015-09-24 14:59] pravi opened #724 "request to follow SemVer/mention it in README"
Do you follow Semantic Versioning http://semver.org? If yes, can this be mentioned in README? If not, can you consider it?

[2015-09-24 15:07] tute commented on #724
I follow it, yes. We can mention it in the README indeed.

On Thu, Sep 24, 2015 at 10:59 AM, Praveen Arimbrathodiyil
<notifications@github.com> wrote:

[2015-09-24 15:09] pravi commented on #724
Thanks @tute

[2015-09-25 23:37] avitus commented on #475
@kennyevil Yes, this change was necessary for me too. Not logging out the user resulted in associating the next token with the previous user and caused no end of mysterious problems.

[2015-09-26 18:58] shicholas opened #725 "Questions re: migration and foreign keys"
I am interested in adding foreign keys to the standard doorkeeper migration.

Looking at the [migration file](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/generators/doorkeeper/templates/migration.rb) generated by Doorkeeper I have a few questions:

If I had a ``User`` table, whose ``username`` and ``password`` attributes correspond to creating an OAuth token, could I replace [this

[2015-09-26 19:40] jimmykarily commented on #661
Guys any progress on this?

[2015-09-26 21:29] tute commented on #725
I think that would be an improvement. Do you want to send a patch?

[2015-09-26 22:18] shicholas commented on #725
sure, I'll send one shortly.

[2015-09-27 00:08] tute commented on #725
Thanks! Closing in favor of PR.

[2015-09-27 00:08] #725 closed

[2015-09-27 14:54] jimmykarily commented on #661
@vovimayhem you probably refer to [this](https://tools.ietf.org/html/rfc6749#section-4.4.3). I don't think the original problem is a missing refresh token though. My problem is that when I request an access token for a client, even if a valid and not expired one exists, a new one is generated and returned. This is not a problem if the client can store the token and reuse it until it expires, but i

[2015-09-28 12:44] #724 closed

[2015-09-28 12:45] tute commented on #680
Closing for now, as this is not an issue in doorkeeper nor is it in our short term roadmap. Thank you for reporting!

[2015-09-28 12:45] #680 closed

[2015-09-28 12:50] tute commented on #721
Is this still an issue for you?

Suggested refactor of your code (rewrote it to understand better what it's doing):

[code]

This is how I'd expect it to function. What is the alternative?

[2015-09-29 17:16] base16soft opened #727 "Doorkeeper NoMethodError in action_dispatch/routing/polymorphic_routes.rb on Rails 4.2"
Hi,
I have found this issue when I try to create/update an oauth application from doorkeeper admin. It only happens in Rails ~> 4.2. When I downgrate to Rails 4.1.4 the action redirect to the right place as it should.

Here is the error dump:

[code]

[2015-10-01 01:00] tute commented on #727
Hi! doorkeeper 1.4 didn't support Rails 4.2. I'm not against releasing 1.5 with Rails 4.2 support, but I won't be able to work on that. Still, upgrading to doorkeeper 2 shouldn't be too hard, you can follow the meaningful changes in https://github.com/doorkeeper-gem/doorkeeper/blob/master/NEWS.md#300-rc2.

Thanks!

[2015-10-01 01:00] #727 closed

[2015-10-01 02:42] base16soft commented on #727
Hi! Thanks for answer!
I was able to workaround this issue and now it is working with Rails 4.2.4. I've just created a custom "Applications" controller and copy the original "create" and "update" methods to it. Worked without change anything from the orignal methods.

I`ll see if I upgrade as soon as I possible.

Thanks again!

[2015-10-01 09:14] jimmykarily commented on #661
I created a [Pull Request](https://github.com/jimmykarily/doorkeeper/pull/1) with what seems to fix the issue, at least on my project. I can change the base branch to the original gem's master if you prefer to keep the conversation on this repo (I just didn't want to create a PR until it's ready).

[2015-10-01 18:50] moskeyombus commented on #465
@tute Is the ability to configure which controller the Doorkeeper base controller inherits from something you would still a feature you would be willing to merge?  I have a use case where this would come in handy, would be happy to open a PR

[2015-10-02 06:57] tute commented on #465
What is your use case, @moskeyombus? Would reopening `Doorkeeper::ApplicationController` work for you?

[2015-10-02 17:37] moskeyombus commented on #465
Basically the application I'm working has a lot of before and after filters in `ApplicationController` that should be utilized by the Doorkeeper controllers.  It's not realistic for me to pull those filters out into helpers (although I realize this is probably best practice).  Ideally, I would be able to configure `Doorkeeper::ApplicationsController` to inherit from my `ApplicationController` inst

[2015-10-02 18:07] tute commented on #465
I am curious about your example: what do those before filters do that need to be run both for user facing, HTML endpoints and for token endpoints?

What I mean by reopening, is adding a `app/controllers/doorkeeper/application_controller.rb` file in your application with following contents:

[code]
This will add behavior at run time to doorkeeper's controller

[2015-10-02 18:15] moskeyombus commented on #465
We have various authentication mechanisms defined in our base `ApplicationController` that we use for both our API endpoints and view-rendering HTML endpoints.  I guess technically the method you suggest would work, although it would force me to add `app/controllers/doorkeeper/application_controller.rb` to my project (We've already worked around the default doorkeeper folder structure), as opposed

[2015-10-02 18:26] tute commented on #465
If there's a use case that can't be served because of how code is laid out now, I will certainly add the option. Before I want to understand your current issue so I can make sure the issue belongs in doorkeeper and not somewhere else.

To me it sounds like giving the user too much control over how doorkeeper works with that option, and they may as well at that level monkey patch how it works as I

[2015-10-02 18:42] moskeyombus commented on #465
At the moment I'm solving it by overriding each doorkeeper controller and copy and pasting the necessary code from our `ApplicationController` and `Api::BaseController` (which inherits from `ApplicationController`) into those overridden controllers.  For our API endpoints, we skip various `before_filters` that we include in the `ApplicationController`.

Ultimately this boils down to a code repetit

[2015-10-02 19:17] moskeyombus commented on #465
Ultimately, to answer your original question, reopening `Doorkeeper::ApplicationController` could help to solve my issue, but providing a config option would help to solve my issue without necessitating explicitly redefining and overriding the existing `Doorkeeper::ApplicationController`.

Seeing as this exact pattern is followed in Devise without issue, I don't see why it would be a problem.

[2015-10-02 20:25] tute commented on #465
This wouldn't work though, Ruby would complain about a superclass mismatch. But without changing the superclass, you'd be able to coalesce the overiden controllers into this single one.

Technically it's true. But it does convey an official message to doorkeeper users. A monkey patch is application specific code, and the expectation is that it might or might not break with gem updates. A configura

[2015-10-02 20:40] moskeyombus commented on #465
Awesome!  Thanks for talking through that with me, I will get a PR out in the next couple days.  Honestly, having `Api::BaseController` inherit from `ApplicationController` then skipping filters isn't ideal, but there are enough shared methods between the 2 to justify both of them inheriting from _something_.  We haven't really experienced any issues with this other than with Doorkeeper.

To be fa

[2015-10-04 16:54] tute commented on #465
I'll review and merge a PR that adds this option. Thanks!

[2015-10-05 00:59] tute commented on #721
ping @vishwasIref!

[2015-10-05 14:15] DCanaan opened #728 "Can't display the authorization token"
Hi everyone,

So I decided to use Doorkeeper gem to secure my api. I follow the documentation as written in the wiki but I've some trouble with the authentification token. After registering my application for testing with the default local Redirect uri
*urn:ietf:wg:oauth:2.0:oob*

I select Authorize.
I presume this should display me the Authorization token, but I'm just being redirected to localho

[2015-10-06 09:01] #728 closed

[2015-10-08 17:35] tommybstitch opened #729 "Error after installation (routes.rb, use_doorkeeper)"
After installing the gem and running `rails generate doorkeeper:install` but now my app raises the following error:

    undefined local variable or method `use_doorkeeper' for #<ActionDispatch::Routing::Mapper:0x007fb3121176d8>

Am I missing something? Did I do something wrong in the install process? Sorry, very inexperienced with doorkeeper (obviously). Thanks!

[2015-10-08 17:49] tute commented on #729
Is `gem "doorkeeper"` listed in your gemfile? Can I look at your code to get more information?

[2015-10-08 18:23] tommybstitch commented on #729
`gem "doorkeeper"` is in my gemfile and I ran `bundle install` and `bundle update`.

There really isn't much code to show you other than my routes file after I ran `rails generate doorkeeper:install`, I haven't done anything else with any of my code.

    AppName::Application.routes.draw do
      root :to => 'home#index'
      use_doorkeeper

[2015-10-08 20:41] tute commented on #729
Can you please post your `Gemfile.lock` contents?

[2015-10-08 21:57] tommybstitch commented on #729
GIT
  remote: git://github.com/jackdempsey/omniauth-reddit.git
  revision: 4e54423f2d8a000e010998b53fa653adb7137baa
  specs:
    omniauth-reddit (0.0.2)
      omniauth-oauth2 (~> 1.1)

GIT
  remote: git://github.com/tommybstitch/omniauth-youtube.git
  revision: e8712468186f9403f4df9b419258ffef3c2dcd2e
  specs:
    omniauth-youtube (0.2.6)
      omniauth (>= 1.1.1)
      omniauth-oauth2 (>= 1.1.1)

[2015-10-08 21:58] tommybstitch commented on #729
GEM
  remote: http://rubygems.org/
  specs:
    CFPropertyList (2.3.2)
    actionmailer (4.1.13)
      actionpack (= 4.1.13)
      actionview (= 4.1.13)
      mail (~> 2.5, >= 2.5.4)
    actionpack (4.1.13)
      actionview (= 4.1.13)
      activesupport (= 4.1.13)
      rack (~> 1.5.2)
      rack-test (~> 0.6.2)
    actionview (4.1.13)
      activesupport (= 4.1.13)
      builder (~> 3.1)
      e

[2015-10-09 12:11] tute commented on #729
I started a Rails app with your version of Rails and of doorkeeper and couldn't see your issue. See https://github.com/tute/doorkeeper-issue-729/commits.

I can't replicate it, will need more information in order to work on it. Until I don't have running code showcasing the error you see, I'll close this issue, as I can't work on it.

See also http://yourbugreportneedsmore.info/.

[2015-10-09 12:11] #729 closed

[2015-10-21 15:34] joshuairl commented on #645
I'm sorry for posting this here but not sure where else to post it...
I'm having a problem that seems to be isolated to ajax requests executed within the context of a cordova app... I send a /oauth/token.json POST grant_type='password' with credentials and it returns an access token properly.

Then I logout, calling a revoke on that same token.

Then I login with different username / password and

[2015-10-25 15:44] jonathansimmons opened #732 "Constantly getting "Invalid Credentials: invalid_grant""
I've been trying to get a basic provider/ client setup running for a couple days now. Yet no matter what I do my client app is getting an `invalid_grant` error.

I've combed through the repo to better understand what would cause and `invalid_grant` error and it seems it should only be fired if the access_grant has been revoked.

When my client application fails due to the `invalid_grant` error dev

[2015-10-26 02:55] jonathansimmons commented on #732
So after vendoring the gem locally and putting adding ruby `puts` entries everywhere to track the sequence of events, it turns out the authorization is failing because of [this rediret_url validation](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/oauth/authorization_code_request.rb#L50)

So I modified the to see exactly what was going on like so:

[code]

So the urls are

[2015-10-26 07:52] bpieck commented on #645
When you are doing the api call for resource_owner_credentials_grant, there is no session involved on doorkeeper side. That would be in the other grants, where you are redirected to doorkeeper app, login, and redirect back. I think the caching of data must happen on that side of the request.

I myself have overwritten Doorkeeper::TokensController create action and added some logs (not password its

[2015-10-26 13:07] jonathansimmons commented on #732
My problem seems similar to this issue in the Omniauth-Facebook repo. https://github.com/mkdynamic/omniauth-facebook/issues/220

It looks as if the strategy in the client-app is what defines the callback url. So maybe there is something wrong with mine?

[code]

Could this issue somehow be a problem with devise?

[2015-10-26 20:06] jonathansimmons commented on #732
So after days of frustration It turns out this was all because of a change in the omniauth-oauth2 repo

[This issue](https://github.com/intridea/omniauth-oauth2/issues/81) reports the problem. The fix is to just roll back to 1.3.1 or override the `callback_url` method in your strategy.

[2015-10-26 20:06] #732 closed

[2015-10-29 01:51] jondavidchristopher opened #735 "Refresh Tokens"
Hi there. I would like to recommend that the documentation gets updated here:

https://github.com/doorkeeper-gem/doorkeeper/wiki/Enable-Refresh-Token-Credentials

to include the fact that you need to update "expires_at" also when doing a token refresh. I also had a strange issue where expires at was stored incorrectly and had to be wrapped in:

Time.at(token.expires_at)

when being saved and would

[2015-10-29 02:18] tute commented on #735
Hi @jondavidchristopher! That is a wiki, please go ahead and perform the edit! Mention me in the message in case you want it reviewed. Do you know exactly how the change would look like? I don't fully understand your issue, so I could not fix it myself.

Thanks!

[2015-10-29 04:16] tute commented on #661
@jimmykarily that looks good to me, feel free to complete the tests and open up a PR here. Thank you!

[2015-10-29 07:43] jimmykarily commented on #661
I will try to get it ready in the next couple of days. I remember having some trouble with the tests. I will ask for help if I get stuck.

[2015-10-30 11:48] himangshubitcanny commented on #473
Thank You

[2015-10-30 16:58] ablancag opened #737 "Possible issue with OmniAuth-OAuth2 generic strategy regarding redirect_url validation"
Hi there.

I was following a tutorial on how to use Doorkeeper in an OAuth2 provider and OmniAuth + OmniAuthOauth2 in a client when I found this issue / incompatibility.

The issue is: OmniAuth-OAuth2, during the callback phase, when requesting the token from the provider running Doorkeeper, retains the query string received in the callback, meaning that the new request to fetch the token includes

[2015-10-30 17:07] ablancag opened #738 "Issue when checking expiration date of grants"
Hi there.

I found this issue when following a tutorial, as mentioned in my other issue.

In file `lib/doorkeeper/models/concerns/expirable.rb`, method `expired?` executes:

[code]

In my dev setup, I had to change the line to:

[code]

so it would correctly validate.

This was preventing me from getting to the URI validation and any other validation happening after this.

This was an issue becaus

[2015-10-31 20:50] tute commented on #330
This will be an application config soon in Rails, so we can observe for that to decide what migration to generate: https://github.com/rails/rails/pull/21762

Thanks for [the tip](https://twitter.com/lleger/status/660523298682343424), @lleger!

[2015-10-31 21:12] lleger commented on #330
Sounds like a good plan to me 👍🏻 I imagine they will be targeting this for a 5.0 release.

[2015-10-31 21:37] tute commented on #330
For people who find this issue, here is a doc to enable it: https://github.com/doorkeeper-gem/doorkeeper/wiki/Using-PostgreSQL-UUIDs-as-primary-keys-with-Doorkeeper

Kudos to @lleger for it.

[2015-11-01 02:39] tute commented on #738
Thanks for your detailed bug report! There is a PR addressing this issue, and I copied there your bug for context: https://github.com/doorkeeper-gem/doorkeeper/pull/730#issuecomment-152788981. Will close this issue in favor of that thread. Thanks again for reporting!

[2015-11-01 02:39] #738 closed

[2015-11-01 03:07] tute commented on #661
Closing in favor of PR: https://github.com/doorkeeper-gem/doorkeeper/pull/736. Thank you all!

[2015-11-01 03:07] #661 closed

[2015-11-01 03:19] #735 closed

[2015-11-01 03:33] tute commented on #639
This issue is fixed as of https://github.com/chriswarren/doorkeeper-jwt (also used as an example in the README: https://github.com/doorkeeper-gem/doorkeeper#custom-access-token-generator).
Thank you!

[2015-11-01 03:33] #639 closed

[2015-11-02 12:19] niiamon opened #739 "Refresh token doesn't work"
For some reason, refresh tokens have stopped working for me. Every request to refresh a token results in a `{"error":"invalid_grant","error_description":"The provided authorization grant is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client."}`.

I think my setup is correct:
- `use_refresh_token` inside my doorkeeper.rb

[2015-11-02 21:42] mindeavor commented on #739
[According to the docs](https://github.com/doorkeeper-gem/doorkeeper/wiki/Enable-Refresh-Token-Credentials#doorkeeper-implementation), doorkeeper expires a refresh token when you use it to get a new access token.

[2015-11-03 04:59] niiamon commented on #739
That makes a lot of sense. But I don't recall using that refresh token to get a new access token. When I try to issue a new access token using that unused refresh token, I always get that response.

[2015-11-05 10:12] d4x337 commented on #739
Refresh Token is not working also here. After requesting it i got a 401. Here is the server log output:

Started POST "/oauth/token" for 127.0.0.1 at 2015-11-05 10:45:22 +0100
Processing by Doorkeeper::TokensController#create as */*
  Parameters: {"grant_type"=>"refresh_token", "client_id"=>"abc38d2ec3362329294f4340a62e19513ab311f9a28d07b2eb9ae796507aa695", "client_secret"=>"[FILTERED]", "refresh_

[2015-11-06 02:09] adstage-david commented on #675
@tute / @mtparet - my company wants this feature enough for me to take a crack at it. Was any progress made here or at least decisions made? Seems we should also treat tokens/refresh_tokens stored in the database similarly (as per #320)? I don't think bcrypt was the recommendation shaking out of the other thread - specifically because bcrypt is designed to be slow to prevent brute-forcing - would

[2015-11-06 04:44] tute commented on #675
:clap:

There was no progress made on this (AFAIK). Any progress is needed and welcomed. In my ideal world, doorkeeper would not store grants or tokens altogether, and implement a solution along the lines of what @ahacking described in https://github.com/doorkeeper-gem/doorkeeper/issues/320#issuecomment-41063566.

Do you think you can work on that approach?

(looping in @diegode)

[2015-11-06 18:48] adstage-david commented on #675
Okay - when we say "not store grants or tokens", we might still store an HMAC of the issued tokens to tie back later revocations, right? I imagine grants could be completely ephemeral - you don't need to be able to revoke them as far as I'm aware, especially since they're short lived (unless I'm missing something about the flows - we only use the "access grant" table to store the codes in the auth

[2015-11-06 23:27] adstage-david commented on #675
One thing my proposal does not address - refresh tokens. To avoid storage of refresh tokens might be a bit more challenging to think about. Taking the JWT approach - they could be separately signed and unstored JWTs, but revoking refresh tokens is more important than access tokens in the presence of both, so we probably need storage. Taking a similar approach to the access tokens themselves, we co

[2015-11-07 21:41] t-anjan commented on #737
I spent a good part of 4 hours debugging this issue just now.

https://github.com/intridea/omniauth-oauth2/pull/70 : The offending PR in omniauth-oauth2 gem.

For now, I just fixed it using the suggestions from all the other broken omniauth provider gems. Example: https://github.com/decioferreira/omniauth-linkedin-oauth2/pull/29

So, in my custom Omniauth strategy file, I just added the following

[2015-11-08 16:42] tute commented on #737
Another workaround seems to be locking that gem version `gem 'omniauth-oauth2', '~> 1.3.1'`.

@sferik do you think doorkeeper behavior needs to be updated to be in line with the part of the spec you quote? I wonder if it's worth the time-consuming debugging sessions that this would put on users' shoulders.

[2015-11-09 11:07] d4x337 commented on #739
Hi guys,
I have solved by adding in the curl request the client_id and secret for a password_grant.
This way the application_id in oauth_token_applications is properly inserted and everything work fine.

[2015-11-09 15:06] ablancag commented on #737
I still have my doubts regarding the quote: what does the standard say about the call to fetch the token? Does it say anything about a query string?

That would be a way of clarifying what to do with this issue.

[2015-11-09 17:38] adstage-david commented on #675
Another sizable downside to the JWT approach is migration. I would propose a two step migration if we went the JWT route (my company has some long-lived token users we're going to need to push to the new token style with minimal disruption):

1. A version that generates JWT tokens, but allows fallback to the stored tokens, allowing natural in-place upgrades as tokens expire
2. A version that drops

[2015-11-09 20:21] jakepaul commented on #675
I’d also like to help out with this if I may :smile:

I like the sound of the ephemeral JWT approach for access grants (authorization codes), and JWT/jti for access and refresh tokens. I think it would be wise to persist the jti for all issued/unexpired tokens (as opposed to just revoked tokens), because being able to list active tokens is needed to allow users to revoke a specific client’s access

[2015-11-09 20:25] adstage-david commented on #675
Maintaining backwards compatibility for us is important because our setup has been a little less than sane - we haven't actually exposed setup for oauth applications to end users, but have created tokens on their behalf, so we'll need to help them get new tokens without breaking anything. I figured there might be others like me that need to work towards a sane approach. :)

I'm still not to the po

[2015-11-09 20:31] adstage-david commented on #675
The way I'm thinking the DB ends up is like this:

https://github.com/adstage/doorkeeper/commit/8b1ab66d4769e2fae28b03806e47eb1ed4ccdb5e

Note that client secrets are treated as separate JWTs in this approach, where the JTI value is the client id and the client secret is the full JWT. This allows for client secret rotation, which I believe might become more important when you can't retrieve the or

[2015-11-09 21:17] jakepaul commented on #675
I’m less certain of the advantage of JWTs for the client secret. Disallowing application owners from retrieving the original secret seems like a significant departure from the current implementation. Would it be enough to encrypt the secret at rest for now? Or would it be sensible to recreate the secret from the jti?

With regard to the latter option, Doorkeeper currently implements AccessToken.fi

[2015-11-09 21:35] adstage-david commented on #675
I'm okay with encrypting the client secret at rest rather than coercing it into a JWT, I was just hoping to kill two birds with one stone here and have a single way to sign and encrypt values.

Not allowing secret retrieval is a bit weird and not necessarily required, as near as I can tell even big players like Facebook and Google still support retrieving the secret later on - so I'm thinking just

[2015-11-09 22:12] adstage-david commented on #675
Also, on the `#find_or_create_for` question - it appears to be desired functionality from https://github.com/doorkeeper-gem/doorkeeper/pull/387, so we'd probably want to keep some form of that feature around? A few approaches there:

1. Generate new JWT with new iat claim and same jti/exp claims. This lets the token returned not have to be an exact match, but still act as a single token for revoca

[2015-11-09 22:33] adstage-david commented on #675
Schema where we keep JWT for grants and access tokensbut separately encrypt client secrets at rest: https://github.com/AdStage/doorkeeper/commit/a36ae6b04 a4ca7bf6a35f1b161613ba3c748e22e

[2015-11-09 23:09] jakepaul commented on #675
I can definitely see the case for not storing grants or tokens at all, but I think there also are legitimate reasons to want to store them. Since that’s what the gem does now, the path of least resistance seems like it would be maintaining it. One potential non-breaking way to introduce that could be as an option or no-op ORM adapter; moving to a format like JWT would either feasible.

Reusing acc

[2015-11-09 23:23] ahacking commented on #675
I would also be careful in the design about separation of token from other related information relied upon in access decisions.

A solid design would ensure all related information at rest that is relied upon is bound cryptographically and authenticated using a MAC derived from a secret known only to the server.

Modifying any of the token data or related meta data at rest should not go undetected

[2015-11-09 23:44] jakepaul commented on #675
Thanks. I think to achieve that and still support reusing access tokens we'll need to store the signature of the JWT instead of JTI, and then verify it when we reissue the access token. Seems doable.

[2015-11-10 00:28] adstage-david commented on #675
@ahacking - that's one of the reasons I like the JWT approach - scopes, expiry, client id can all be encoded and signed in a verifiable way and not even have to be stored in the database if desired. The database storage of that information would be merely informational for showing to end user if we want to show what "apps" have access to their info (+when, and what scope), but the token would be s

[2015-11-10 00:37] adstage-david commented on #675
Note that if payload transparency is not a desirable feature, we could investigate JWE - another point for adapter based approach. One thing with adapter based approach that comes to mind though - I think what you want to store in the db generally going to be pretty closely tied to how you want to generate tokens, might not make sense to have ORM and token validation/generation be two separate ada

[2015-11-10 01:26] ahacking commented on #675
I certainly like the use of JWT as a token format, don't see any reason not to go with that approach given its RFC status.

So the remaining crux is what knoweldge the server needs to maintain to support revocation and listing authorised apps.

The fast past of verifying a token doesn't need the db for anything but revocation checking. Some clever approaches could be used here to avoid dB access s

[2015-11-10 02:11] adstage-david commented on #675
Do we think it's legitimately dangerous to store the token metadata info here unencrypted, or just precautionary? I don't really see a point in encrypting everything wholesale except as a separate requirement where basically any data leaking from the database in plaintext is not good. As long as tokens are unguessable - our worry about this attack vector is lessened significantly (we often use imp

[2015-11-10 03:13] ahacking commented on #675
The meta data doesn't necessarily need to be encrypted and some fields may be carried in columns to support search/query/indexing, eg JTI and expiry etc. but all meta data certainly *should* be MAC'd with the token using the servers secret key to prevent say SQL injection or other backend token injection without knowledge of the servers secret key. Generating the MAC would concatenate or combine t

[2015-11-10 07:41] oney commented on #705
How to customize the failure error message?

[2015-11-10 15:55] avdmatamoros opened #742 "Rails 5 ActionController::RoutingError (uninitialized constant ActionController::RackDelegation)"
I'm trying out rails 5 with doorkeeper and I encountered this issue:

    ActionController::RoutingError (uninitialized constant ActionController::RackDelegation):
    doorkeeper (3.0.1) app/controllers/doorkeeper/application_metal_controller.rb:4:in '<class:ApplicationMetalController>'
    doorkeeper (3.0.1) app/controllers/doorkeeper/application_metal_controller.rb:2:in '<module:Doorkeeper>'

[2015-11-11 19:27] adstage-david commented on #675
Okay, attacking this piecemeal so it's not a gigantic mess to review:

Here's an initial stab at encrypted client secrets in this branch: https://github.com/doorkeeper-gem/doorkeeper/compare/master...AdStage:encrypt-application-secrets

There's a few questions to address here:

1. Is the algorithm choice okay like this? Do we need an IV to encrypt secrets that are essentially random bytes anyway?

[2015-11-12 05:04] tute commented on #742
Thanks! Would be nice to get Travis running tests on Rails master as allowed failure, until we get version 5.

[2015-11-12 10:48] shivil opened #743 "Invalid grant issue with dynamic redirect_uri"
I have a scenario where the redirect_uri is dynamic. So i was always getting the `invalid grant` error message while trying to get access token.

So i patched it like:

[code]
But still the error persists.

[code]
Note that i am getting the `authorization code` without any issue.

Javascript:

[code]

[2015-11-12 17:11] pecha7x opened #744 "PG::UndefinedTable: ERROR: relation "resource_owners" does not exist"
Hello, please help. After run - rake db:migrate I got next error:
Tagans-MacBook-Pro:vagrant tagandev$ RAILS_ENV=development bundle exec rake db:migrate
== 20151112170036 CreateDoorkeeperTables: migrating ===========================
-- create_table(:oauth_applications)
   -> 0.0096s
-- add_index(:oauth_applications, :uid, {:unique=>true})
   -> 0.0018s
-- create_table(:oauth_access_grants)
rake ab

[2015-11-12 17:31] pecha7x commented on #744
hey, I fixed it :)
I add in migration file option foreign_key: false for both tables(oauth_access_grants and oauth_access_tokens) for resource_owner_id and application_id
Don't sure why, but my active_record generated FOREIGN KEY to REFERENCES by default.

[2015-11-12 17:31] #744 closed

[2015-11-13 23:50] adstage-david commented on #675
Phase 2 - get in JWT for access grants - https://github.com/AdStage/doorkeeper/compare/AdStage:encrypt-application-secrets...AdStage:introduce-jwt-tokens

Notes:

1. Do we need to support outstanding grants, or do we invalidate them all after changes deployed?
2. Turns out we still need the AccessGrant table, because we must ensure one-time use property, so we do end up storing something, but all

[2015-11-16 16:20] rjayroach commented on #732
@jonathansimmons Thanks so much for posting your results here! This was driving me nuts for almost an hour..

[2015-11-16 16:33] jonathansimmons commented on #732
@rjayroach :+1:

[2015-11-17 20:29] ezilocchi opened #746 "Response with a custom error"
Hi,

I'm working on a feature where I need to perform some custom logic as part of the user authentication process. As result of this extra logic I might need to stop the process and notify the user a situation (basically that the authentication has failed, but for a custom reason). In order to perform this I need to return an HTTP error and a message that need to be presented to the user.

The ea

[2015-11-18 05:10] tute commented on #746
I'm not against this. I think it's worth it to discuss in a PR, and we might merge either this solution or a better one if we find one.
Thanks!

[2015-11-19 17:12] jiteshshetty opened #748 "doorkeeper_unauthorized_render_options(error: nil) gives a syntax error"
When I am trying to use doorkeeper 3.0.0 + the bundle install works fine, but when I fire the rails server I get a syntax error:

[code]

I don't see this issue with doorkeeper 2.0.0, any help is much appreciated.

Regards,
Jitesh

[2015-11-19 18:47] noctivityinc opened #750 "resource_owner_from_credentials in v3.X doesnt work"
I have the resource owner from credentials block set as follows:

    resource_owner_from_credentials do
      request.params[:account] = {:email => request.params[:username], :password => request.params[:password]}
      request.env["devise.allow_params_authentication"] = true
      account = request.env["warden"].authenticate!(:scope => :account)
      env['warden'].logout
      account
    end

[2015-11-19 18:48] noctivityinc commented on #750
btw, here is my resource_owner_authenticator block

     resource_owner_authenticator do
       current_account || warden.authenticate!(:scope => :account)
     end

[2015-11-20 16:19] ivan-kolmychek commented on #587
@tute thanks for the fix, but I'm back here with the same issue - the 2.1.1 version had scopes passed as an argument, so, the interface is still broken. =)

2.1.1

2.1.3+

[2015-11-22 07:30] yottanami opened #751 "Application resource just for registered users"
How can I limit the application resource ( application scaffold ) for authenticated users?

[2015-11-22 15:11] blackspace opened #752 "There is a problem in the doorkeeper/lib/doorkeeper/oauth/authorization_code_request.rb."
I traced the doorkeeper gem by the  codes:

[code]

This is my logger file:

<pre>
I, [2015-11-22T22:52:20.493163 #23447]  INFO -- : http://gnuhacker.qphelper.com/users/auth/my_user/callback
I, [2015-11-22T22:52:20.493260 #23447]  INFO -- : http://gnuhacker.qphelper.com/users/auth/my_user/callback?code=fd14616ecc01117414cc70c6da644c1cae8cd8655cd826e955ef37076d091ede&state=f512cb3386e7b7ce3e84865bb

[2015-11-22 15:24] tute commented on #751
You can use `resource_owner_authenticator`. See:

* https://github.com/doorkeeper-gem/doorkeeper#authenticating
* https://github.com/doorkeeper-gem/doorkeeper/wiki/Authenticating-using-Clearance-or-DIY

Thanks!

[2015-11-22 15:24] #751 closed

[2015-11-22 18:51] tute commented on #587
Thanks for reporting, @ivan-kolmychek. Do you think adding this to `NEWS` (and removing the arguments from your app) is an ok solution?

[2015-11-22 19:00] tute commented on #748
This should certainly be in the NEWS file, and I didn't add it. Ruby 1.9.3 support has been dropped, as [it reached its end-of-life almost two years ago](https://www.ruby-lang.org/en/news/2014/01/10/ruby-1-9-3-will-end-on-2015/) (and as a result it doesn't receive security patches any longer).

Will add this to the README. Thanks!

[2015-11-22 19:00] #748 closed

[2015-11-22 19:06] tute commented on #746
Thanks! Closing in favor of PR.

[2015-11-22 19:06] #746 closed

[2015-11-22 19:24] tute commented on #752
I have no idea! :)

The issue you describe seems very specific to your applications and their configuration. I suggest that you ask about it in http://stackoverflow.com/questions/tagged/doorkeeper, which will get attention
from more people than in this issue tracker. Also, I recommend you follow the steps outlined in http://yourbugreportneedsmore.info/, so that people can better replicate or under

[2015-11-22 19:24] #752 closed

[2015-11-22 19:26] tute commented on #742
Closing in favor of PR. Thanks!

[2015-11-22 19:26] #742 closed

[2015-11-22 19:48] tute commented on #750
`spec/requests/flows/password_spec.rb` should be covering that. Do you think this is a bug in doorkeeper or something going wrong with the configuration? How can I replicate this? Can you provide a sample app? Thank you!

[2015-11-22 19:49] tute commented on #717
Can you please explain what exactly was wrong? How was it before, and how is it now? Thank you!

[2015-11-22 19:59] ulitiy commented on #717
I used
`User.find_for_database_authentication(email: params[:email])`
instead of
`User.find_for_database_authentication(email: params[:username])`

[2015-11-22 20:02] tute commented on #717
Thanks!

[2015-11-23 01:19] Anoop1989 opened #755 "Application id and resource_owner id not matched while creating a grant or access_token"
Hi,

There is a condition check while revoking a token in tokens_controller as below

`if token && doorkeeper_token.same_credential?(token)`

Why is `doorkeeper_token.same_credential?(token)` not being called while authorizing a grant or creating  a access_token?

Awaiting your concerns.

[2015-11-23 01:50] tute commented on #755
When revoking, you have to verify that you have a valid access token to revoke. You authenticate with a token and a token string to revoke, and doorkeeper verifies they belong to the same user.

When issuing new tokens authorization happens without the need of comparison with another token.

Thanks for your question.

[2015-11-23 02:51] tute commented on #743
Have you done this in `lib/doorkeeper/oauth/authorization_code_request.rb`? If so, I don't know why would it still run validations.

That said, this is an insecure change and thus not an issue in doorkeeper. Closing this issue for now, feel free to continue posting questions here or in StackOverflow. Thanks!

[2015-11-23 02:51] #743 closed

[2015-11-23 02:52] tute commented on #739
Is this a bug in doorkeeper, or do you need help with your configuration or setup? Thanks!

[2015-11-23 02:52] #721 closed

[2015-11-23 02:55] tute commented on #700
Closing this for now, as it's not an issue/feature that belongs in this repo. Again, happy to work with whoever starts the satellite project. Thanks!

[2015-11-23 02:55] #700 closed

[2015-11-23 07:40] Anoop1989 commented on #755
But this creates wrong mapping of resource_owner and application(oauth client) with authorization_grant, if two different client are trying to authorize in the same browser.

This is because the ResourceOwner being set in the dooorkeeper initializer file and resource_owner is set using the session attribute.

[2015-11-23 09:15] d4x337 commented on #739
No I have updated the ticket. If there is a bug it is in the doc, grant for
refresh token needs client id and secret to work, not like in the example.

Have a nice day

Davide

Il lunedì 23 novembre 2015, Tute Costa <notifications@github.com> ha
scritto:

[2015-11-23 11:05] ivan-kolmychek commented on #587
@tute thank you for response to such an old issue. I guess it's ok, especially if noone has reported it yet, which means we're the only one who relied on that, sorry to disturb you.

We'll find the way around that on our own.

[2015-11-27 16:17] fredkelly opened #757 "Scope dialog skipped w/ Devise"
Probably well documented but I'm having difficulty configuring redirect URLs using Rails 4 + devise, this is my config:
[code]

I've got a standard Devise configuration. I'm finding users are redirected without being presented the "permissions dialog". I've tried overriding `after_sign_in_path_for(resource)` but I get some pretty weird behaviours. Is there a standard approach for setting up redire

[2015-12-02 12:25] thornbird commented on #646
@kiomac You raised this because you want to support concurrency of requesting refresh token?
E.g. multiple requests, with one same expired token, sent at the same time.

There will be case that server generated new access token already, but still, some requests are using old token?

Thanks!

[2015-12-03 04:12] niiamon commented on #739
@d4x337 awesome! I'm going to give this a shot. I suppose it's not strange that the `client_id` and `client_secret` are required when you attempt a token refresh.

[2015-12-03 09:47] niiamon commented on #739
@d4x337 could I see a sample URL you used? To confirm on my end.

[2015-12-05 15:54] bsylvain opened #760 "How does doorkeeper communicate redirect URI to Devise?"
In doorkeeper .rb the following config allow users to login before being redirected to the consumer app :

    resource_owner_authenticator do
      current_user || warden.authenticate!(:scope => :user)
    end

I want to have an alternate login screen for users coming from a consumer app, so i created a specific action.
To do so I used the following config :

    current_user || redirect_to(api_l

[2015-12-07 13:58] ved54321 opened #761 "uninitialized constant Grape::API::Helpers"
I have used following gem in my rails 4 application,

[code]

I want to include doorkeeper authentication in my grape api,

following is my code which i did,

[code]

I am getting `uninitialized constant Grape::API::Helpers` error with following log,

[code]

Please help me on this.

[2015-12-07 18:22] tute commented on #761
This is coming from https://github.com/doorkeeper-gem/doorkeeper/pull/567/files#diff-c2eb61b837013715de621d5245b8f366R6. @hobofan could it be because of Grape's version?

[2015-12-07 23:42] hobofan commented on #761
I haven't used the gem in quite some time, but yes, it is very likely due to the grape version.
0.2.6 is 2 year olds now and IIIR the Helpers module was added around version 0.9.0.

[2015-12-08 03:59] tute commented on #761
Thank you! @ved54321, it sounds like you'd need to upgrade Grape. When we find out what version is required, I'd like to get the documentation updated. Please let me know!

[2015-12-08 05:17] ved54321 commented on #761
ye sure @tute .I will try updating grape version and i will let you know .

[2015-12-08 17:22] amedrz commented on #732
Really appreciate you posting your debugging here! @jonathansimmons

[2015-12-11 18:03] matthewsinclair opened #763 "Issue with config for 'default_scopes' and 'optional_scopes' getting put into a nested array"
I've been doing some work with `doorkeeper` and I noticed that the `scope` functionality didn't appear to be working properly.

After some investigation, I noticed that the values for `default_scopes` and `optional_scopes` were being loaded in as `[:public]' and `[[:read_user, :write_user]]` (when using the Grape+Doorkeeper example app.

I tracked this down to the following lines:

https://github.

[2015-12-11 18:32] matthewsinclair commented on #763
As an update, I thought that it might have been something to do with the way that `default_scopes` and `optional_scopes` were being set in `config/doorkeeper.rb`, but sadly, that doesn't appear to be the problem.

Neither:
[code]
nor
[code]
will work for `optional_scopes` without that change above.

[2015-12-15 10:59] lucaspiller commented on #651
This would be something I'd like to see too. In our case some users are authenticated via LDAP and others are authenticated via Devise, but the way they interact with the API is the same.

Another solution would be to change `resource_owner_id` to accept a string, in which case it could use the Global ID functionality in Rails 4.2.

[2015-12-16 19:18] tute commented on #763
`Doorkeeper::OAuth::Scopes.from_array([:a, :b])` is meant to be called with an array. A method with an argument with a splat will convert all its arguments into an array. This means that calling `optional_scopes` with arguments is the way (your second option).

[code]

What problem do you see while using the `optional_scopes :read_user, :write_user` syntax?

[2015-12-16 19:31] matthewsinclair commented on #763
In either case, I'm getting a doubled-up array coming thru. So instead of it coming thru as:
[code]
Its coming thru as:
[code]
And then no scope can be found (because it's inside an array).

[2015-12-16 19:41] matthewsinclair commented on #763
Thanks for getting back to me, by the way. I'm sure I'm doing something dumb here, but the only way I could get scopes to work at all, was with the change in the first post.

[2015-12-16 19:48] tute commented on #763
What version of doorkeeper are you using? How can I replicate your issue?

[2015-12-16 20:06] matthewsinclair commented on #763
I'm currently working off a fork so that I could change the above lines. If I just go back to the current gem, it's 3.0.1. I was working with this project `https://github.com/sethherr/grape-doorkeeper`, which is where I started from. It was that one (fresh out of the box) that wasn't working with scopes until I made that change.

[2015-12-16 20:34] tute commented on #763
Probably this issue belongs in there. @sethherr have you seen this?

[2015-12-16 21:09] matthewsinclair commented on #763
Perhaps. You're right. The `config/initializers/doorkeeper.db` file [here](https://github.com/sethherr/grape-doorkeeper/blob/master/config/initializers/doorkeeper.rb#L1) and [here](https://github.com/sethherr/grape-doorkeeper/blob/master/config/initializers/doorkeeper.rb#L45) is where the issue manifests. As soon as scopes are turned on, they don't work. Without scopes, everything is fine. As I wa

[2015-12-16 21:11] matthewsinclair commented on #763
I've cross posted it in that other repo, [here](https://github.com/sethherr/grape-doorkeeper/issues/4).

[2015-12-16 21:11] sethherr commented on #763
@matthewsinclair - have you pulled the most recent changes from [grape-doorkeeper](https://github.com/sethherr/grape-doorkeeper/issues/3)?

I think that issue was resolved recently in https://github.com/sethherr/grape-doorkeeper/issues/3

[2015-12-16 21:11] matthewsinclair commented on #763
Ok, I'll give that try tomorrow morning. Thanks @sethherr and @tute for the help. Much appreciated.

[2015-12-16 21:12] sethherr commented on #763
thanks for giving me a heads up @tute

[2015-12-16 21:16] sethherr commented on #763
I think this issue can be closed here, it's a specific problem from not using a splat (as you said earlier in this thread). Regardless, I'm pretty sure that it's an issue with grape-doorkeeper and not doorkeeper.

https://github.com/sethherr/grape-doorkeeper/commit/66db12351178da29e04b1c57244e2adb6727485a

[2015-12-17 10:34] matthewsinclair commented on #763
Happy to close here, I will take up in the `doorkeeper-grape` thread, but for the record, reverting to the latest gem of doorkeeper and applying the change to splay the `optional_scopes *OAUTH_SCOPES` line didn't fix the issue with scopes ceasing to work at all. I'll do some investigation and post the results in `doorkeeper-grape`. Thanks for looking into it for me.

[2015-12-17 10:34] #763 closed

[2015-12-17 13:00] pmackay commented on #757
I'm seeing the same problem, interested to know @fredkelly if you've found a solution or anyone else has suggestions?

[2015-12-17 13:47] tute commented on #763
Thank you all!

[2015-12-17 14:08] fredkelly commented on #757
Unfortunately I'm still looking for a good solution!

[2015-12-20 19:41] Charizard commented on #536
:+1: for a rake task.

[2015-12-21 19:11] KevinColemanInc opened #764 "Integrating SAML SSO"
Is there any documentation for creating custom grant types?

Basically, I want to be able to issue oAuth tokens if the client provides valid SAML parameters.  I am following this draft https://tools.ietf.org/html/draft-ietf-oauth-saml2-bearer-03 and it proposes a saml sso grant type.

[2015-12-21 20:00] KevinColemanInc commented on #764
looking at the code it looks like I need to create my own strategy and it figures out what klass to use for a grant type [based on camelized grant_type](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/request.rb#L27).

So if the spec wants the grant type to be: 'http://oauth.net/grant_type/assertion/saml/2.0/bearer' I am thinking this code needs to be changed to something w

[2015-12-22 10:41] Lukkor commented on #732
@jonathansimmons Thanks, really help me! :+1:

[2015-12-23 18:27] tute opened #766 "Add Grape testing in CI"
Right now doorkeeper works well with Grape, but I can't guarantee that, as CI only tests against Rails.
doorkeeper needs integration testing with Grape too, to make sure it continues to work well.

[2015-12-23 18:29] tute commented on #764
Is this aa bug in doorkeeper? Is there anything we can do in the main repository for you to more easily implement the SAML strategy you are after? I suggest you ask in StackOverflow too, as someone there might have done something similar to this and might be able to better help.

[2015-12-23 18:31] tute commented on #761
Thanks! Closing this issue for now, let me know if there is anything else we should fix in doorkeeper.

Related: https://github.com/doorkeeper-gem/doorkeeper/issues/766.

[2015-12-23 18:31] #761 closed

[2015-12-23 18:33] tute commented on #760
It seems very specific to your application rather than with doorkeeper itself. I'd suggest you ask about it in http://stackoverflow.com/questions/tagged/doorkeeper, which will get attention from more people than in this issue tracker. Thank you!

[2015-12-23 18:33] #760 closed

[2015-12-23 18:35] tute commented on #760
Related issue: https://github.com/doorkeeper-gem/doorkeeper/issues/757

[2015-12-23 19:59] tute commented on #750
@noctivityinc, did you workaround this issue? Was it in your app's configuration or in doorkeeper's code? Thank you!

[2015-12-23 20:02] tute commented on #737
This doesn't seem like a bug in doorkeeper, so I'll close this issue. If it is, please let me know and we'll reopen it, and work through it. Thank you!

[2015-12-23 20:02] #737 closed

[2015-12-25 16:18] KevinColemanInc commented on #764
@tute, its not so much a bug in doorkeeper in that, the draft spec wants this string to be the grant type: http://oauth.net/grant_type/assertion/saml/2.0/bearer

But, the way doorkeeper is currently designed, it camelizes and constantizes the grant type into a class name.  This works for grant types like 'password' or 'implicit_grant', but it won't work for a grant type that looks like a URI.

I p

[2015-12-27 01:21] noctivityinc commented on #750
I was able to get around it by changing some of the routes used by my iOS app.  I dont believe it was a doorkeeper issue.  Thanks.

[2015-12-27 01:21] #750 closed

[2015-12-27 22:44] bih opened #768 "Unexpected bug: undefined method `join' for #<ActiveSupport::SafeBuffer..."
We're currently using Doorkeeper in production on Heroku (Configuration is Ruby 2.2.1 with Rails 4.2.1) and via [Airbrake](http://airbrake.io) our Rails application has been throwing the following error: `NoMethodError: undefined method 'join' for #<ActiveSupport::SafeBuffer:0x007fe0471a6268>`.

Looking at the [Rails documentation](http://api.rubyonrails.org/classes/ActiveSupport/SafeBuffer.html),

[2015-12-28 01:26] tute commented on #768
Can you please paste the full stacktrace? Thanks!

[2015-12-29 23:22] theycallmeswift opened #770 "Regenerating secrete tokens"
I want to implement a way for users to regenerate their secret keys if they have been exposed.  Here's some pseudo code of what I'm thinking:

[code]

Are there any issues around doing it this way?  Would there be interest in a pull request that added something like this to doorkeeper?

[2015-12-29 23:32] christopherhein commented on #770
I like the idea would make implementing something like what Github has where you can easily refresh your application very easy.

Only thing I would do differently would be implementing a `.reset_secret` method on the `Doorkeeper::ApplicationMixin` module and then call `.generate` in there and call `.save` to clean up the controller a bit.

I'm not on Doorkeeper core, but I personally like the idea

[2015-12-29 23:43] theycallmeswift commented on #770
+1.  I think that's a much better way to implement it in Doorkeeper core.

[2015-12-29 23:51] theycallmeswift commented on #768
Stack trace available here: https://gist.github.com/theycallmeswift/b9ddca8d1fd8af08c383

[2016-01-02 23:18] ginolon opened #774 "ActiveRecord::RecordInvalid - Validation failed: Application must exist with Rails 5 and EmberSimpleAuth"
I'm using the github gem in Gemfile of Doorkeeper, Rails and Devise.

I'm using Ember Simple Auth to login Using Resource Owner Password Credentials flow. But when I login with correct username (email) and password I have this error:

[code]

**Why I got this?**

Which version I have to use?

Everything is pretty default, i'm not using nothing than standard defaults.

[2016-01-03 12:50] daniyal229 opened #775 "Doorkeeper::OAuth::Helpers::UniqueToken not found"
Error occurs while creating an access token using

`Doorkeeper::AccessToken.create! application_id: application.id, user_id: resource.id`

`Doorkeeper::OAuth::Helpers::UniqueToken` not found

[2016-01-03 13:44] ginolon commented on #774
Anything?

[2016-01-03 23:20] tute commented on #774
It looks like it needs to know what application are you asking a grant for?

This issue seems very specific to your application rather than with doorkeeper itself. I'd suggest you ask about it in http://stackoverflow.com/questions/tagged/doorkeeper, which will get attention from more people than in this issue tracker. Thank you!

[2016-01-03 23:21] tute commented on #775
For what version of doorkeeper? How exactly can I replicate this issue? Please see http://yourbugreportneedsmore.info/.

[2016-01-03 23:25] ginolon commented on #774
No, I thought this. But not. Using the same configuration default Rails and Doorkeeper Devise and Rails 5 (all from github, with devise and doorkeeper also) and version 4 for the second all works ok, with 5 does not.

[2016-01-03 23:27] tute commented on #768
aha, it's coming from https://github.com/doorkeeper-gem/doorkeeper/blob/v2.2.0/app/helpers/doorkeeper/dashboard_helper.rb#L8. Can you please check if upgrading Rails to latest 4.2 fixes the issue?

[2016-01-03 23:34] tute commented on #774
I don't expect grabbing projects from `master` to work well together. If you can trigger this for specific versions, and we can replicate it, it is a bug, and we'll work on it. Thanks!

[2016-01-03 23:35] ginolon commented on #774
Test yourself with just postman and

[code]

Which version I can try with Rails 5.0.0.beta1???

[2016-01-03 23:39] tute commented on #770
Your code looks good.

If it were to make it into doorkeeper, it should probably belong in the admin interface, but then I'd worry that less competent developers would needlessly (or without understading the consequences) regenerate tokens, making their client apps fail.

I think this is simple enough (certainly the simplest of the tasks you have to do once keys have been compromised) to not deser

[2016-01-03 23:39] #770 closed

[2016-01-03 23:41] tute commented on #774
`Rails 5.0.0.beta1` works indeed with master of doorkeeper, as I didn't yet do a prerelease for doorkeeper 4. What version of devise are you using?

Also, where do I get postman from?

[2016-01-03 23:50] ginolon commented on #774
https://www.getpostman.com/

I tried with master of rails, door and devise.

Now i'm trying with rails 5beta, door 3.1.0 and devise master on github...

Devise's latest release is broken with Rails 5.

Now i get this:

[code]

[2016-01-04 00:02] tute commented on #774
Doorkeeper's latest release is broken with Rails 5, you should use master (form that master I will cut a prerelease, hopefully before I leave for vacations).

[2016-01-04 00:17] ginolon commented on #774
Yes, and in fact for this reason I'm using everything on master for write my code. But now doorkeeper break with the error in the first post: "Application must exist".

Can you fix this in master?

What it means "Application must exist"?

[2016-01-04 15:39] theycallmeswift commented on #768
We're already on `4.2.1`.

[2016-01-04 16:15] tute commented on #768
I meant 4.2.5 by "latest 4.2".

[2016-01-05 21:50] quolpr commented on #775
I have the same error and I understand why it is happening.
The stacktraces is so:
[code]
In the documentation you said, that you can rename `resource_owner_id` field to `user_id`, but it will raise error in `access_token_mixin.rb`:
[code]

[2016-01-05 21:52] quolpr commented on #775
The version is 3.1.0

[2016-01-05 21:59] quolpr commented on #775
The solution is to configure foreign key manually:
[code]
And I think that error handling is not so good.

[2016-01-06 09:17] plrthink commented on #732
@jonathansimmons Thanks!

[2016-01-13 11:50] thibaudgg commented on #669
Hey @vovimayhem, what is the status of your PR?
I would like to see Doorkeeper supporting public/confidential client types for the `client_credentials` grant as being able to use public client uid for the `password` one.
I could continue your work and start a new PR if @tute is up for that. :balloon:

[2016-01-13 21:09] frankjwu opened #776 "Filter chain halted when using doorkeeper_authorize!"
Hi!

I've set up a few scopes and passed those along in doorkeeper_authorize!

[code]

On my client app, I can successfully complete the OAuth flow with the correct scopes, but when I make a request to these two endpoints with a header "Authorization: Bearer `authentication_token`", my server always leads to `Filter chain halted as #<Proc:0x007fb822b01198... > rendered or redirected` and returns a

[2016-01-13 23:07] vovimayhem commented on #669
No progress since then. Had to stop working on that as I changed jobs... Somewhere in the middle I had a change of heart and thought that my proposed PR was actually asking to defeat a security feature.

Please, by all means continue from where I left of (or start from scratch if you must) if you are willing to work on that :)

[2016-01-14 15:42] thibaudgg commented on #669
@vovimayhem @tute new PR submitted! https://github.com/doorkeeper-gem/doorkeeper/pull/777

[2016-01-14 22:09] niuage commented on #732
@jonathansimmons thanks a lot :frog:

[2016-01-21 19:13] tute commented on #775
Yep, error message could be better. Thanks for documenting this for people getting this error, and if anyone would like to improve the error message, please go ahead. Thanks!

[2016-01-21 19:13] #775 closed

[2016-01-21 19:23] tute commented on #764
Here is an implementation that addresses this issue: https://github.com/doorkeeper-gem/doorkeeper/pull/733

[2016-01-21 19:24] tute commented on #764
Also related with: https://github.com/doorkeeper-gem/doorkeeper-grants_assertion/issues/9#issuecomment-166970162

[2016-01-25 16:03] ginolon commented on #774
Anything?

[2016-01-25 19:16] tute commented on #774
I will need help to reproduce this behavior. Do you have a failing application in GitHub, or concrete steps I can take to get to that error message?

[2016-01-25 23:44] mcmire commented on #732
Thanks for your notes on this, this was really helpful.

It makes me sad that this still hasn't been fixed in omniauth-oauth2.

[2016-01-26 18:53] ginolon commented on #774
Ok, concrete steps:

Rails 5.0.0.beta1 `rails new bla bla bla...`

In gemfile:
[code]

in **initializers/doorkeeper.rb**:

[code]

I then create a default application for test with name "Test", "urn:ietf:wg:oauth:2.0:oob" and without scopes.

When now I try to receive tokens with Postman (or others client...) I receive this error:

[code]

What to do?

If now I modify this file: https://github.com

[2016-01-26 18:56] ginolon commented on #774
Is this a good explanation?

[2016-01-26 22:35] ashishtajane commented on #774
I am also getting the same error with `rails 5.0.0.beta1.1` and `doorkeeper#master`.
I was not getting this error couple of days back with `rails 4.2.5` and `doorkeeper 3.0.1`

[2016-01-27 11:31] ashishtajane commented on #774
I think I found why this is happening. This issue (rails/rails#18233) and this PR (rails/rails#18937) makes all `belongs_to` relations required by default. Thats why absence of application now raises `Application must exist` validation error. After this change (https://github.com/doorkeeper-gem/doorkeeper/compare/56bfa579484ae9e554028b081227ec8d1b74c21d...ashishtajane:master), I no longer get that

[2016-01-27 14:29] tute commented on #774
That's great, thank you both! @ashishtajane, would you like to send a Pull Request with that change, and context from this issue in the commit message? Thank you!

[2016-01-27 18:41] ashishtajane commented on #774
Done. #780

[2016-01-29 12:46] gupta-ankit commented on #732
Thank you so much. I spent almost two days checking all parts of my doorkeeper provider and client to see what was wrong. Why did all of it suddenly stop working.

 Thank you so much. I reverted the gem version and it all started working again. :)

[2016-01-29 18:05] tute commented on #774
Thank you all! Closing in favor of PR: https://github.com/doorkeeper-gem/doorkeeper/pull/780

[2016-01-29 18:05] #774 closed

[2016-01-29 19:03] mateomurphy opened #781 "Configuring activerecord"
In the README it says:

However this doesn't seem to work, as the models appear to be hardcoded to search using the `resource_owner_id`. If there another configuration step to make this work, or is there an error in the documentation?

[2016-01-30 16:01] inooid opened #782 "`redirect_uri` is required, but is not required for following the client-credentials flow"
I recently tried to implement the doorkeeper gem, but I am trying to follow the client-credentials flow. I want to just register applications without binding them to a specific user and when trying to create a `Doorkeeper::Application`, I ran into a validation error that I cannot create a `Doorkeeper::Application` without providing a `redirect_uri`. While this is normal for [3-legged OAuth](http:/

[2016-02-01 16:14] SirRawlins commented on #775
Hey Gang, I'm getting the same error today using 3.1.0 - can you confirm what the situation is with this? Should I not have modified the migration to change the column names?

[2016-02-03 05:03] maxmeyers commented on #781
In particular, [Doorkeeper::Application.authorized_for](https://github.com/doorkeeper-gem/doorkeeper/blob/4313541e4d806cd8e5cad20d4ca4444171c113d2/lib/doorkeeper/orm/active_record/application.rb#L20) references the `resource_owner_id` column.

[2016-02-03 06:32] patrice commented on #669
If client authentication is removed from the password grant flow, what is the benefit in using OAuth2? I guess you still exchange user credentials for a short-lived access token (and refresh token), but at that point it seems anyone can write an application that talks to your service without having to register their application with your service.

That seems to open a large security hole or am I m

[2016-02-03 07:11] thibaudgg commented on #669
@patrice In our case we need to allow public clients (mobile apps and js web app) to use the `password` grant flow and we still require the `client_id`. As you said, you still need to have the user credentials to get a token, so I think it's secure enough. Somebody could still steal a `client_id` and build its own app to let user access the service, but I don't think that could be considered as a

[2016-02-05 23:38] KevinColemanInc commented on #675
What is the status of this branch?  Is someone actively working on this?

[2016-02-08 20:28] northoutvarun commented on #472
+1 need this feature

[2016-02-09 01:43] amngibson opened #784 "Redirect URL should allow query param"
I was recently working on an Amazon Echo app. There are two problems with doorkeeper and Alexa/Echo.

1) Amazon does not pass redirect_uri in oauth/authorize and doorkeeper requires it. However, I see that is being debated in a different thread. So not creating this issue for that.

I have found a workaround in Amazon for that, but it presented another issue.

2) The redirect URL for Alexa is in t

[2016-02-10 13:10] Nitin-Salunke opened #785 "New access_token is generated even if the old token is valid."
When we authenticate a resource owner from credentials a new token is generated every time.
Instead we can just use the existing valid token until the token is expired.

[2016-02-10 14:07] pbattisson opened #786 "Getting UnknownAttributeError"
I am receiving the following error

`ActiveRecord::UnknownAttributeError (unknown attribute 'consumer' for Doorkeeper::AccessToken.):`

For the following code

[code]

Any idea why I am suddenly getting this error?

[2016-02-10 14:39] #786 closed

[2016-02-10 14:39] pbattisson commented on #786
Seems to be an error in the deployment done elsewhere.

[2016-02-13 23:36] synth commented on #669
IMHO, the OAuth spec missed the boat(Gasp!) by not requiring the client id when retrieving access token in password grant flow.

Enforcing a client id during password grant flow allows both the resource owner and the provider to manage tokens and to know to which application they were issued for.  This in turn actually adds a layer of security. For example, if someone's mobile phone is stolen, the

[2016-02-14 13:49] thibaudgg commented on #669
Our app only support `password` and `client_credentials` grant flows. The `password` flow requires at least the `client_id` and the `client_secret` is only sent by confidential client, therefor I don't think there's any security issues here.

[2016-02-14 18:02] synth commented on #669
Ok, yea if you're using password flow with secret for trusted client, then you should be ok. We are using password flow for our mobile app and thus should not include secret...

[2016-02-15 22:13] adstage-david commented on #675
I have not had a chance to work on it since the holidays - I was hoping to get some feedback from the maintainers on my above branches before continuing much further with an approach that might need to be significantly refactored.

(Maybe bump @tute / others?)

[2016-02-16 20:42] thibaudgg commented on #651
If everyone is interested here the solution we ended up with: https://gist.github.com/thibaudgg/3aa7e3276fbcdd712cbf

[2016-02-16 22:14] ebosantos commented on #742
I'm getting same error

`{
  "status": 404,
  "error": "Not Found",
  "exception": "#<ActionController::RoutingError: uninitialized constant ActionController::RackDelegation>",
  "traces": {
    "Application Trace": [],
    "Framework Trace": [
      {
        "id": 0,
        "trace": "doorkeeper (3.1.0) app/controllers/doorkeeper/application_metal_controller.rb:4:in `<class:ApplicationMetalContr

[2016-02-19 22:40] arcreative commented on #781
Having this issue as well... would be great if the key/column were configurable.

[2016-02-20 18:29] chrismanderson opened #789 "Incorrect information in readme about AR indexes?"
In the readme, the section on [AR](https://github.com/doorkeeper-gem/doorkeeper/blob/master/README.md#active-record) says:

However, in the instructions directly following that, there is only one line that is changed, instead of two. Is there something missing from those instructions, or should it say change `one line` instead of `two lines`?

[2016-02-23 18:47] jcgertig commented on #742
yes im also hitting this issue

[2016-02-23 22:21] todddickerson commented on #660
@bhritchie did you end up just hard coding the redirect_uri or find a way to make it dynamic based on the passed in redirect_uri param?

[2016-02-24 18:56] bhritchie commented on #660
@todddickerson I don't really remember anymore and I no longer have access to that codebase, but I think I just manually changed the redirect_uri in the doorkeeper config for Zapier once it was connected and had provided me a real uri.

[2016-02-24 22:07] todddickerson commented on #660
@bhritchie - Thanks, looks like what we're going to do as well, if it changes we'll just add another oauth app

[2016-02-25 07:33] Showyilu opened #790 "use_refresh_token doesnt work"
I commented out `use_refresh_token` in `config/initializers/doorkeeper.rb`, and expected refresh_token to be generated. But it didn't generate. And I found out the problem might be

[code]

[2016-02-25 15:01] rafaelsales opened #791 "Does not entirely implement RFC6749 section-1.5"
In step **(H)** of [RFC6749 section-1.5](http://tools.ietf.org/html/rfc6749#section-1.5), it mentions that the _The authorization server authenticates the client and validates the refresh token, and if valid, issues a new access token (**and, optionally, a new refresh token**)._

Turns out that Doorkeeper **always** sends a new refresh token and some applications need to reuse the initial **refres

[2016-02-25 16:31] dup2 opened #792 ":token added to filter_parameters breaks logging of the application"
The gem uses

[code]
to prevent pot. sensitive information being logged anywhere.

These parameters are greedy, they will also affect any other parameters in a request containing these words, i.e. with the default configuration the paramter `custom_token` will also get logged as FILTERED which affects our application.

With a quick code check, I found `:access_token` and `:refresh_token` being use

[2016-02-25 19:43] leomayleomay commented on #742
since this has been fixed in the master branch, i am wondering when the next version will be released, since I am using doorkeeper in one of my engines, I can not specify the `git` path to the edge.

[2016-02-26 03:38] tute commented on #742
Just released an RC version:

* https://github.com/doorkeeper-gem/doorkeeper/releases/tag/v4.0.0.rc1
* https://rubygems.org/gems/doorkeeper

Enjoy!

[2016-02-26 03:59] tute commented on #789
It should say "change the line" indeed. Also, `making` should be removed. Thanks for reporting!

[2016-02-26 04:01] tute commented on #781
Indeed this is a bug, thank you! A PR updating documentation, or making it work, will be appreciated and merged! Thanks again for reporting.

[2016-02-26 04:03] tute commented on #675
I am interested in working on this, but don't have the availability. doorkeeper could be more secure, and I look forward to seeing that happening.

[2016-02-26 04:05] leomayleomay commented on #742
@tute thank you :)

[2016-02-26 04:08] tute commented on #784
That is not application/x-www-form-urlencoded.

[2016-02-26 04:11] tute commented on #775
How did you change the column names?

[2016-02-26 04:12] tute commented on #782
If you know what you are doing, you can always seed in a dummy URL, or disable the validation modifying the code (monkey patching). But for being secure by default, I prefer it to be always on, and that behavior not to be configurable.

Thanks for your input!

[2016-02-26 04:12] #782 closed

[2016-03-03 14:52] eebasadre opened #796 "undefined method `build' for Doorkeeper::Request::Assertion:Class"
I'm using the doorkeeper and doorkeeper-gem_assertion for login via fb and google plus but suddenly I got this problem that _undefined method `build' for Doorkeeper::Request::Assertion:Class_. I really don't know where this build method came from, I already checked the doorkeeper and doorkeeper-gem_assertion codebase and yet can't see it. I do some googling before I go here if ever someone already

[2016-03-03 22:50] tute commented on #796
What versions of doorkeeper and doorkeeper-grants_assertion are you using?

Looping in @christopherhein and @NuckChorris in case they've seen this before.

[2016-03-03 22:51] tute commented on #796
From the stacktrace I see: doorkeeper 3.0.1. But I don't see doorkeeper-grants_assertion in the stacktrace. Can you share your Gemfile.lock too, please?

I copy the stacktrace:
[code]

[2016-03-03 23:01] christopherhein commented on #796
Definitely a new one for me, the gem version would show that you're hitting - https://github.com/doorkeeper-gem/doorkeeper/blob/v3.0.1/lib/doorkeeper/server.rb#L14-L17

I'm not familiar with the `.build()` method that was being use in `v3.0.1` it looks like later versions thats been removed - https://github.com/doorkeeper-gem/doorkeeper/blob/v3.1.0/lib/doorkeeper/server.rb#L14-L17 within commit -

[2016-03-03 23:04] tute commented on #796
Thanks, @christopherhein?

@eebasadre can you try v3.1.0 please? Should be a straightforward upgrade.

[2016-03-03 23:04] tute commented on #796
Thanks, @christopherhein!

@eebasadre can you try v3.1.0 please? Should be a straightforward upgrade.

[2016-03-04 01:11] eebasadre commented on #796
sorry late reply, timezone is difference. I did some changes now, the issue was remove but I got another different one. This is quite confusing because I passed the same number of arguments previously and it is working well.

```wrong number of arguments (1 for 3)```
[code]

[2016-03-04 03:15] eebasadre commented on #796
@tute  @christopherhein Guys, this issue is now fixed. My gem version is outdated, I just update it and all works well. Thank you so much.

[2016-03-04 17:39] tute commented on #796
Cool! :)

[2016-03-04 17:39] #796 closed

[2016-03-04 18:54] tute commented on #790
This is surprising. Other installations are making use of refresh tokens just fine. What version of doorkeeper are you using? If not latest, does it work if you upgrade? Thanks!

[2016-03-08 05:00] Showyilu commented on #790
@tute Thanks for the reply. Im currently using doorkeeper-3.1.0. I think it is working fine. It was my mistake to try the implicit grant type.

[2016-03-08 05:00] #790 closed

[2016-03-08 11:47] mspanc commented on #651
I would also like to see that in Doorkeeper.

In our system we have two totally distinct user types, but one pool of access tokens. It would be awesome if we could assign the token to the different user classes.

[2016-03-08 13:52] tute commented on #651
If we can make this change backwards compatible I will consider it.

[2016-03-08 14:00] penso commented on #651
:+1: I'd love to see this change as well.

[2016-03-10 03:03] #789 closed

[2016-03-10 03:04] tute commented on #789
Fixed, thank you!

[2016-03-10 03:40] tute opened #799 "Fix Ruby warnings"
`RUBYOPT=-w rake` runs all tests with ruby warnings enabled, which are printed out in [stderr](https://robots.thoughtbot.com/input-output-redirection-in-the-shell). They are very noisy, as it shows warnings for every dependency in use alongside the tests output, so they are most useful when filtering only the warnings coming from this gem. We do that redirecting tests `stdout` to `/dev/null` (igno

[2016-03-11 11:24] johnnyshields opened #800 "Proposal: move MongoDB support back into main repo"
In Doorkeeper 3.x MongoDB support was moved into `doorkeeper-mongodb` gem. While this is well-intentioned and gives the appearance of "cleanliness", in reality it will cause MongoDB to constantly break since Mongo ORM classes are using mixins from the main repo, and Mongo specs are no longer covered by Travis CI.

As Doorkeeper 4.x dropping lots of legacy support, I think it would be reasonable th

[2016-03-11 12:13] johnnyshields commented on #800
If we do really want separate repos, we should divide the main repo specs into `/unit/` and `/integration/` folders so we can copy only the `/integration/` ones by hand into the `doorkeeper-mongodb` gem everytime the `doorkeeper` gem's version increases, and according bump the `doorkeeper-mongodb` gem version. This is obviously not fun.

[2016-03-11 15:42] tute commented on #800
Hi @johnnyshields. Thanks for your feedback.

I would not accept such a PR. The issue is that I'm the sole doorkeeper maintainer for now, and I don't use those ORMs. I can't thus guarantee that the ORM extensions work properly, wherever we put the code.

`doorkeeper-mongodb` fetches on each test run `doorkeeper` (main) specs, and runs its test suite with the ORM extensino plugged in. See how this

[2016-03-11 15:59] tute opened #801 "Rails 5 warning messages"
Rails 5 specs should run without warnings.

See some related code in: https://github.com/thoughtbot/high_voltage/pull/229/files#diff-3b61ca35a7f47da3a2dbf21b5b9e3dd0R1

[2016-03-11 16:14] johnnyshields commented on #800
I don't think this is a good reason. The specs will guarantee that the Mongoid classes are not broken. I'd be glad to help with Mongoid, but ultimately it should be low effort given A) the strong similarity between Mongoid and ActiveRecord (both use ActiveModel as base) and B) the low frequency of schema DB changes in this relatively mature repo.

I missed the Rakefile on the mongodb gem when I re

[2016-03-11 16:18] johnnyshields commented on #800
Just one more thought here. If Mongoid classes we're 80% unique and 20% shared with the main repo, I'd be in favor of having them in a gem. But as it stands 80%+ of their functionality comes from the mixins living in the main repo, and the split feels very unnatural.

[2016-03-11 17:47] tute commented on #800
On principle I agree on everything you say. But in practice, not using mongo adapters in my projects have led to bugs being released into the official gem releases. Reports would come in from people who wouldn't expect breakages on non-major releases, and I would not have the tools or time to fix it myself.

Also, I don't agree with abstracting out data stores as ActiveRecord proposes. I think dif

[2016-03-11 19:07] rectifyer commented on #784
@amngibson I had this issue too and figured it out. When saving the URL in your OAuth app, just remove the query string part `?vendorId=XXXXXXXXXXX` and only use `https://pitangui.amazon.com/spa/skill/account-linking-status.html` as your redirect_uri.

Looking in the code at https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/oauth/helpers/uri_checker.rb you can see on line 14

[2016-03-19 02:40] PENGZhaoqing commented on #732
Thanks for notes of this, I solved the same problem @jonathansimmons

[2016-03-29 07:41] Tensho opened #810 "Make filter parameters regexp more strict"
Doorkeeper's engine [initializes](https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/engine.rb#L4) `[:client_secret, :code, :token]` filter parameters and they are compiled further to `/client_secret|code|secret|password/` regexp inside ParameterFilter module (`password` is Rails default). That means application specific parameters, like `postcode`, `codebase`, `tokenization`,

[2016-03-29 22:36] nomes commented on #732
Thank you so much for working through this bug here. I got to the omniauth downgrade as a result of it. Thanks.

[2016-04-01 12:19] #810 closed

[2016-04-01 12:19] Tensho commented on #810
Duplicate of https://github.com/doorkeeper-gem/doorkeeper/issues/792.

[2016-04-04 21:37] tute commented on #792
Fixed. Thanks for reporting!

[2016-04-04 21:37] #792 closed

[2016-04-05 15:17] msmukesh5 commented on #748
You could try using some lower versions eg. gem 'doorkeeper', '~> 1.4.1'
works well with ruby 1.9.3

[2016-04-05 21:41] gregwinn opened #812 "Doorkeeper::Application Exists Issue"
Hello,
     I have Doorkeeper working locally but once deployed to production I am getting a strange issue. I am not able to create new applications, please see below:

[code]
The oauth_applications table is 100% empty.

I am running this on the server (locally it works as expected), please let me know if you need any more information.

[2016-04-05 22:18] tute commented on #812
What does app.errors return?

[2016-04-05 23:57] gregwinn commented on #812
[code]

If I do "https://test.com" it works... I am using AWS Elastic Beanstalk, not sure what I am missing on it...

[2016-04-06 00:23] gregwinn commented on #812
I have a solution for NON https uri's. In the doorkeeper.rb config file you have the option to set `force_ssl_in_redirect_uri` to `false`.

[code]

Turns out this is not an issue but by design :)

[2016-04-06 00:23] #812 closed

[2016-04-09 15:40] aiman86 commented on #597
I had a very urgent and similar need to this feature request and built a quick-and-dirty extension: https://github.com/aiman86/doorkeeper_scopes_per_flow

Again - it's not the cleanest approach as it uses monkey patching and decorators to inject default scope and to validate that a flow is allowed to be given requested scopes. However, it should get the job done.

[2016-04-10 07:53] mariogintili opened #814 "Support for mounting it under a namespace?"
Hello peeps,

I'm developing an API, my app has no views. But I still wanted to leverage those from Doorkeeper - like `oauth/applications/new`. However I had mounted it under a namespace, `api`, i.e:

[code]

After than I ran into a first exception, `Uninitialized constant Api::Doorkeeper`. So I went ahead, tried to be clever and added the following to the initializer `doorkeeper.rb`

[code]

Whic

[2016-04-11 22:16] tute commented on #814
I wonder if the undocumented `:scope` routes option would help you on this: https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/rails/routes.rb#L26.

Please let me know if it does, and if so, we'll add documentation. Thanks!

[2016-04-14 15:54] groe opened #815 "Option to NOT revoke refresh tokens?"
I use access and refresh tokens to authenticate mobile apps accessing an API server. The goal is to do the login with username/password once, then only keep access and refresh tokens on the client, which can be reissued again and again. The access tokens expire after a few hours and clients use the refresh token flow to receive a new access token. Most of the time that works perfectly well.

Howev

[2016-04-15 08:25] mariogintili commented on #814
@tute hello, this seems to be working just fine now. Thanks, I will get back if any arises :)

[2016-04-15 08:25] #814 closed

[2016-04-15 21:44] tute commented on #799
Closing in favor of PR. Thanks!

[2016-04-15 21:44] #799 closed

[2016-04-19 02:46] tute commented on #815
You want this PR merged in: https://github.com/doorkeeper-gem/doorkeeper/pull/769. In this scenario, the previous refresh token wouldn't get revoked, until the new one is used once.

[2016-04-19 03:49] tute commented on #815
Closing in favor of PR. Thanks for reporting.

[2016-04-19 03:49] #815 closed

[2016-04-19 03:54] tute commented on #800
Will leave doorkeeper as is for the foreseeable future. Closing this issue for now, happy to continue further discussion.

[2016-04-19 03:54] #800 closed

[2016-04-19 03:56] tute commented on #791
Thanks for your report, @rafaelsales. Would https://github.com/doorkeeper-gem/doorkeeper/pull/769 fix this issue? Thanks!

[2016-04-19 03:58] tute commented on #785
@Nitin-Salunke Is this behavior a bug, or does it go against the spec? Does it need to be changed? Thanks!

[2016-04-19 03:59] tute commented on #784
@amngibson is this still an issue for you? Does anything need to change in doorkeeper? Thanks!

[2016-04-19 04:01] tute commented on #776
@frankjwu is this still an issue for you? Is it a bug in doorkeeper? I suggest you also ask in StackOverflow to get more timely feedback. Thanks!

[2016-04-19 04:02] tute commented on #768
@theycallmeswift is this still an issue for you? Can you post the contents of your `Gemfile.lock`? Have you tried 4.2.5?

[2016-04-19 04:03] #766 closed

[2016-04-19 04:06] tute commented on #757
The issue you describe seems very specific to your applications and their configuration. I suggest that you ask about it in http://stackoverflow.com/questions/tagged/doorkeeper, which will get attention
from more people than in this issue tracker.

For now, I will close this issue, and if you continue having problems and believe it's due to a bug in doorkeeper we will reopen. Thanks!

[2016-04-19 04:06] #757 closed

[2016-04-19 04:14] tute commented on #646
https://github.com/doorkeeper-gem/doorkeeper/pull/769 is related with this. I think there are no further actionable items in this issue, so I'll close it. We can reopen whenever needed. Thanks!

[2016-04-19 04:14] #646 closed

[2016-04-19 04:15] tute commented on #619
@movstox let me know if there's any concrete change that you think we should make in doorkeeper or in an extension library to it. Thanks!

[2016-04-19 04:15] #619 closed

[2016-04-19 04:16] tute commented on #597
@calfzhou what do you think of @aimannajjar's approach?

[2016-04-19 04:18] tute commented on #539
Closing for now, if it's still an issue we'll reopen and address. Thanks for your time discussing this, Kenn.

[2016-04-19 04:18] #539 closed

[2016-04-19 12:05] calfzhou commented on #597
@aimannajjar's extension provides server-side per-flow config, which is just what i need. I think it's enough for most scenarios.

[2016-04-19 14:09] tute commented on #597
I listed related projects in the wiki. Feel free to edit: https://github.com/doorkeeper-gem/doorkeeper/wiki#extension-projects. Thanks!

[2016-04-19 14:09] #597 closed

[2016-04-19 14:29] tute opened #817 "Drop attr_accessible calls from models"
doorkeeper 4 can drop support to attr_accessible, as Rails didn't support it for now two major versions.

[2016-04-19 14:36] #817 closed

[2016-04-19 17:44] theycallmeswift opened #818 "Access current scope from controller?"
We have an application that may require users to fill out different profile information based on the scopes that an application needs.  For example, an application might request a `gender` scope and we would prompt the user to enter it before authorizing if the info wasn't already present.

Is there an easy way to access the current list of request scopes from the controller?  Right now we're look

[2016-04-19 19:53] Nitin-Salunke commented on #785
It is just a suggestion from me.
What is the need of creating a new token when your

[2016-04-19 19:53] #785 closed

[2016-04-19 19:58] tute commented on #785
Thanks for your input. If it becomes problematic for any reason we'll address.

[2016-04-19 22:00] aimannajjar commented on #597
Sounds good, thanks!

[2016-04-20 11:28] edwardbako opened #820 "When creating application without scope it does not prevent access"
I'm using `optional_scopes :admin` in configuration. Then I've created new application. Scope field was left blank.
In one of my controllers I have `before_action -> { doorkeeper_authorize! :admin }`.
When I'm creating client without scope, it works properly. It denies access to resouce.
But I can provide scope 'admin', when creating client. And it works like client have access to scoped admin res

[2016-04-20 16:24] sanchobouillant opened #821 "[v4.0.0.rc2] No route for new_oauth_application_path"
Hello,

I'm not a rails gutu ! :)

I test rails 5 (--api --edge). I wat to use Doorkeeper to handle my oauth server.

When i go to http://localhost:3000/oauth/applications i receive "undefined local variable or method `new_oauth_application_path'"

<img width="873" alt="routes" src="https://cloud.githubusercontent.com/assets/5731199/14682199/c36c3b36-0724-11e6-9f28-5b9afdbb4595.png">

I added in a

[2016-04-20 18:54] tute commented on #821
I would expect that the `--api` mode for Rails interferes with the new HTML endpoint. Does this still happen if in `config/application.rb` you declare `config.api_only = false`?

[2016-04-20 19:10] sanchobouillant commented on #821
It work with api_only = false

[2016-04-20 19:11] tute commented on #821
doorkeeper admin interface is HTML, and needs features absent in Rails API mode.

[2016-04-21 16:39] nbulaj commented on #647
Take a look at the [doorkeeper-sequel](https://github.com/nbulaj/doorkeeper-sequel) extension on which I am currently working. It is not 100% tested yet, but I'm working on it. If someone wants to help - you are welcome.

[2016-04-21 16:41] #821 closed

[2016-04-21 18:23] tute commented on #669
In https://github.com/doorkeeper-gem/doorkeeper/commit/2115a5243b4663090b49c872a1837f6dda6b0b91 I dropped password grant flow from defaults because of it's [inherent security risks](https://tools.ietf.org/html/rfc6819#section-4.4.3). The [relevant initializer section](https://github.com/doorkeeper-gem/doorkeeper/blob/v4.0.0.rc3/lib/generators/doorkeeper/templates/initializer.rb#L80-L96) has a comm

[2016-04-21 18:43] #669 closed

[2016-04-21 20:11] colinramsay opened #822 "Using without an ORM"
I'm looking to use Doorkeeper with SQL Server and tiny_tds, so we're not using an ORM. What's the approach in this situation? Is Doorkeeper dependent on using an ORM?

[2016-04-21 20:22] tute commented on #822
It is now. You'd need to define an ActiveRecord like interface for doorkeeper to work.

[2016-04-21 21:08] colinramsay commented on #822
Is there a spec for that? Is the guidance to just look at the mongodb version?

[2016-04-21 21:14] tute commented on #822
There is no spec of what methods does doorkeeper use yet. It's a subset of http://api.rubyonrails.org/classes/ActiveRecord/Base.html.

[2016-04-22 19:53] tute commented on #822
I'll close this as it's not something to be fixed in the project, but happy to continue further discussion.

[2016-04-22 19:53] #822 closed

[2016-04-26 06:23] mmahalwy commented on #821
@tute any solution or work around for this whe doing api_only = true?

[2016-04-26 13:02] tute commented on #821
You'd need to check what modules need to be included in the Doorkeeper controllers, and include them by hand only on that admin interface. Not sure which those are, I would try to debug that or ask in StackOverflow in case someone there has already done this.

[2016-04-27 19:58] kenn commented on #539
Yeah, understood. I decided to tweak my code so that we can handle it as an exceptional case.

[code]

Doorkeeper is a great gem for what it does - thanks for your time discussing the topic! 👍

[2016-04-28 05:40] saifis opened #824 "Cannot use password grant_type on 4.0.0 RC3 using Rails 5 Beta3"
I followed the instructions to install, added

`Doorkeeper.configuration.token_grant_types << "password"`

to the initializer, and when I try to send a grant_type=password to POST:/oauth/token
I get the

[code]

error, I have done the same thing on an older Rails4 app, which uses Doorkeeper 3.1.0 and it does not happen there.

tested out other types of grant types and they do not get rejected.

Pl

[2016-04-28 13:39] tute commented on #824
The syntax is `grant_flows ARRAY`: https://github.com/doorkeeper-gem/doorkeeper/blob/master/spec/dummy/config/initializers/doorkeeper.rb#L85

[2016-04-28 13:40] tute commented on #824
Could that be the issue?

[2016-04-28 21:04] saifis commented on #824
I've tried setting the array to password only, all of them , with and without the token_grant_types and still get the same error.

[2016-04-28 21:06] tute commented on #824
The issue you describe seems specific to your application and configuration. I suggest that you ask about it in http://stackoverflow.com/questions/tagged/doorkeeper, where you will get attention
from more people than in this issue tracker.

Also, I recommend you follow the steps outlined in http://yourbugreportneedsmore.info/, so that people can better replicate or understand the issue in order to

[2016-04-28 21:10] saifis commented on #824
Thank you for the response, That was what I was afraid, of. I will start a new project and see if there are any changes.

[2016-04-28 21:12] tute commented on #824
Thanks!

[2016-04-29 10:26] saifis commented on #824
Tried this on the new Beta 4 of rails, created a new project, added doorkeeper, and sending grant_type=password gives me the invalid grant_type eroror

[doortest.zip](https://github.com/doorkeeper-gem/doorkeeper/files/242126/doortest.zip)

[2016-04-30 17:42] tute commented on #824
The application you sent in a zip doesn't work because it's using doorkeeper v3.1, which doesn't work with Rails 5. Do you have another branch or app?

[2016-04-30 18:17] Lyonsclay commented on #824
@saifis After updating the Gemfile in your app
 `gem doorkeeper', '~> 4.0.0.rc1'`

 and using this curl request;
`curl -v -H 'Content-Type: application/json' -H 'Accept: application/json' -X POST "http://localhost:3000/oauth/token" -d "{"grant_type": "password", "client_id": "fa927b2631bed16e3766318cc3db4910f003e9c9fc8a57eaaf2e9490a9436615", "client_secret": "b1d402d325ed2fb58ac9342ade12cdf1664716

[2016-04-30 18:33] tute commented on #824
Thank you for triaging this, @Lyonsclay. @saifis can you send reproduction steps?

[2016-05-01 03:44] saifis commented on #824
After more looking, it seems a new rails app would work, I was missing the configuration needed within the initializaer, which confirms your diagnoses about something wrong on my end, sorry for the trouble. I will post what I did wrong when I figure it out..

[2016-05-01 03:44] #824 closed

[2016-05-01 03:47] saifis commented on #824
I missed some of the new comments, sorry for the hassle.

[2016-05-02 11:57] igorrfc commented on #732
Still dont working for me =/
even after the downgrade. Any other solution, folks?

[2016-05-02 12:10] igorrfc opened #827 "Authentication failure! invalid_credentials"
I'm trying to create a rails client authentication for a rails API. But i'm getting an error like the returned on the issue  #732.The solution of this issue dont works for me.

CLIENT LOG:

`Started GET "/" for 127.0.0.1 at 2016-05-02 09:09:01 -0300
  ActiveRecord::SchemaMigration Load (0.1ms)  SELECT "schema_migrations".* FROM "schema_migrations"
Processing by HomeController#index as HTML
  Rende

[2016-05-02 12:55] #827 closed

[2016-05-02 12:56] igorrfc commented on #827
My bad, guys. I was starting two calls for my strategie. Sorry.

[2016-05-06 15:39] jclem commented on #781
I've opened a PR that updates the README, as I also ran into this: https://github.com/doorkeeper-gem/doorkeeper/pull/829

[2016-05-06 16:02] #781 closed

[2016-05-06 16:02] tute commented on #781
Thank you, @jclem!

[2016-05-09 10:08] bsylvain opened #830 "Devise and doorkeeper : how to setup custom login scenario for third party app?"
I have an app using doorkeeper and devise. I use devise both for direct login in the app and to authenticate users from third party app through doorkeeper.

My problem is that i do not know how to have two controllers handling log in and log in error in the app. The best I can do is to redirect doorkeeper login to a view with a devise login form, but if the user does not login correctly he is redi

[2016-05-09 14:51] tute commented on #830
The login page creates a session in your app (whether the user will use whatever it exposes, or doorkeeper endpoints, or others). I'm not sure why would you want different login pages. Can you explain again in more detail the reason? Thanks!

[2016-05-12 08:01] kempchee opened #831 "/users/auth/doorkeeper never hits my before_filter"
When my user isn't authenticated, my frontend redirects to "/api/tax_signatures/users/auth/doorkeeper?foo=bar" which my backend passes through to the authenticator automatically.  I was wondering, is there anyway to "catch" the "/api/tax_signatures/users/auth/doorkeeper?foo=bar" request so as to do something like set a session variable "foo" before the redirect to the authenticator occurs.  I curr

[2016-05-12 13:54] tute commented on #831
Did you add the `before_filter` to the corresponding Doorkeeper controller https://github.com/doorkeeper-gem/doorkeeper/tree/master/app/controllers/doorkeeper?

[2016-05-13 03:36] kallahir opened #832 "Doorkeeper Unauthorised Render Options"
I'm trying to use [this](https://github.com/doorkeeper-gem/doorkeeper/wiki/Customizing-the-response-body-when-unauthorized) to customize the output of my invalid token message, I need to add some additional informations to it, but unfortunately it's not working at all, the json that is being outputted is always the same and doesn't change.

Thanks!

[2016-05-13 14:58] nbulaj opened #833 "Requests flows: authorization_code_spec fails for Sequel ORM"
I'm currently working on Doorkeeper Sequel adapter and found an interesting bug in specs.

Take a look at the next spec: **Requests flows** - **authorization_code_spec.rb** -  **scenario** "_resource owner authorizes using test url_" (source code in master - [spec/requests/flows/authorization_code_spec.rb#L30](https://github.com/doorkeeper-gem/doorkeeper/blob/master/spec/requests/flows/authorizati

[2016-05-13 16:21] tute commented on #832
What version of Rails and doorkeeper are you using? Can you paste your controller code? Thanks!

[2016-05-13 16:25] kallahir commented on #832
Doorkeeper version = 3.1.0
Rails version = 4.1.8

I'm using this Rails version because I'm deploying the application at Amazon and that is the version that they have there.

Best regards.

[2016-05-13 17:36] tute commented on #832
Can you paste your controller code? Thanks!

[2016-05-13 17:41] kallahir commented on #832
[code]

[2016-05-13 17:50] tute commented on #832
Probably the controller that hits Doorkeeper it not inheriting from `ApplicationController`. Can you try opening up the controller that receives that connection, or reopening the `Doorkeeper::ApplicationController` object?

[2016-05-13 17:57] kallahir commented on #832
I didn't found anything like Doorkeeper::ApplicationController in any place of my code, I'm using grape to build a REST api is possible that is something related?

[2016-05-13 18:59] tute commented on #832
It might be the case, Grape is not tested in CI and I don't have Grape projects

It's loaded by doorkeeper. Even thought it's not in your code, you can reopen it anywhere (oh, Ruby!) and do:

[code]

[2016-05-14 19:09] kallahir commented on #832
I've tried many different approaches but I wasn't able to override the controller. =/
Do you have any insights that could help me?

[2016-05-14 23:01] tute commented on #832
Can you share the code for your application?

[2016-05-14 23:03] tute commented on #832
Or, can you paste the complete controller code where you define `before_action :doorkeeper_authorize!`?

[2016-05-15 01:04] kallahir commented on #832
I was able to solve the problem that I was having, I don't know if this is the best way of doing it.
This is code the code that I had:

[code]

I change to this and worked:

[code]

All I had to do was override doorkeeper_render_error_with.

Finally.

[2016-05-15 07:27] kramerc opened #834 "Sprockets::Rails::Helper::AssetNotPrecompiled error with Sprockets 4"
On Rails 5.0.0.rc1 and Sprockets 4.0.0.beta2, I receive the following error when accessing certain Doorkeeper routes such as `/oauth/applications`:
![2016-05-14_23-55-22](https://cloud.githubusercontent.com/assets/114056/15272507/e76c7460-1a2f-11e6-9fbb-c30eded1fedc.png)

I am able to fix this issue by adding the following to `app/assets/config/manifest.js`:
[code]

[2016-05-15 14:46] tute commented on #834
Uhh thank you! This is a bug, would you be willing to send a patch to fix it? Thanks for reporting!

[2016-05-15 14:47] tute commented on #832
I'm glad you could work it out. Thanks for reporting the problem and sharing your solution.

[2016-05-15 14:47] #832 closed

[2016-05-15 14:49] kramerc commented on #834
I tried adding a `manifest.js` in the gem itself but it didn't resolve the problem. I'm not sure of any other way of fixing it with Sprockets 4 other than adding it my application's manifest. I can make a patch that adds these two lines in the application's manifest with the `doorkeeper:install` generator but I'm sure there's a better way.

[2016-05-16 13:29] tute commented on #833
That makes sense, thanks for submitting this. Would you be willing to send
a PR addressing it? Thank you!

[2016-05-16 14:11] nbulaj commented on #833
Yes, I will do it.

Also, I don't even understand the sense of the next part of the code ([support/helpers/model_helper.rb#L17](https://github.com/doorkeeper-gem/doorkeeper/blob/master/spec/support/helpers/model_helper.rb#L17) and [support/helpers/model_helper.rb#L23](https://github.com/doorkeeper-gem/doorkeeper/blob/master/spec/support/helpers/model_helper.rb#L23)):

[code]

It is not an expectat

[2016-05-16 14:39] #833 closed

[2016-05-16 20:17] tute commented on #830
@bsylvain could you move forward with this issue you were having?

[2016-05-17 10:13] kumardev opened #837 "NameError in Doorkeeper::Applications#new"
![error](https://cloud.githubusercontent.com/assets/3244310/15319208/5b735d6a-1c47-11e6-8d63-956a54c3493c.png)
Rails version - 4.1.4
Ruby version - 2.0.0

[code]

Any inputs on this would be very helpful .

[2016-05-17 14:17] tute commented on #801
Thanks @nbulaj! Closing in favor of PR.

[2016-05-17 14:17] #801 closed

[2016-05-17 14:36] tute commented on #837
Do you have defined a root route in your `config/routes.rb` file? For example, `root to: 'home#index'`, or similar.

[2016-05-17 18:21] tute commented on #831
@kempchee did you work out this issue? Do you think there is documentation we can improve? Thanks!

[2016-05-17 18:22] tute commented on #768
Closing due to lack of activity. @theycallmeswift if this is still an issue for you, let me know and we continue triaging this. Thanks!

[2016-05-17 18:22] #768 closed

[2016-05-17 18:23] tute commented on #776
Closing due to lack of activity. @frankjwu, if this is still an issue for you, let me know and we continue triaging this. Thanks!

[2016-05-17 18:23] #776 closed

[2016-05-17 18:24] tute commented on #784
Closing due to lack of activity. @amngibson, if this is still an issue for you, let me know and we continue triaging this. Thanks!

[2016-05-17 18:24] #784 closed

[2016-05-18 09:38] kumardev commented on #837
@tute I defined the route for root and the issue got solved , thanks for pointing out .

[2016-05-18 11:58] tute commented on #837
👍

[2016-05-18 11:58] #837 closed

[2016-05-18 12:19] bsylvain commented on #830
My question was about having two different set of views for authentication. One to allow normal devise user to login in the App, the other was for users authenticating to use a third party application. You can easily create a form for login on another view, but as soon as users mistype, they are redirected to the default login view. I had to overload the devise custom failure class to be able to h

[2016-05-18 18:25] tute commented on #830
"remote login" always ends up being a "local login", as the third party app need to know that you have a valid session in the provider as well. That said, you might still want to show different templates with different copy.

If that's the case, this is more of a devise question, à la https://stackoverflow.com/questions/27546414/devise-2-signup-flows.

You can define two different endpoints, servi

[2016-05-18 18:25] #830 closed

[2016-05-18 20:42] nbulaj commented on #834
For new versions of `Sprockets` we can add a precompile config in Doorkeeper Engine initializer. I can make a PR with fix for that issue.

[2016-05-18 21:33] tute commented on #834
That's great. We'll need a regression (integration) spec as well.

Thank you all!

[2016-05-18 22:48] nbulaj commented on #834
@tute you can check related commit.

What about the specs, I don't know how to test that behavior (with the assets config). Maybe somebody have thoughts on this?

[2016-05-19 09:37] nbulaj commented on #834
@tute if you will try to use a new version of `Sprockets` with specs (update Gemfile with `gem 'sprockets', '4.0.0.beta2'`) and run the tests, then you will see 33 failures like:

My fix makes the tests green. I can add a spec to the `spec/controllers/applications_controller_spec.rb` to test against rendering errors if you think there is a need in this.

[2016-05-19 16:06] tute commented on #834
That would be killer, yes please.

Do you think we need to add the gem upgrade in doorkeeper, or test against both versions, or instead include the fix regardless of sprockets version the user will run will be enough?

[2016-05-20 08:27] nbulaj commented on #834
Current `Rails` 5 version in master branch depends on `sprockets-rails` 3.0.4 which in turn depends on `sprockets` (>= 3.0.0). Precompilation issue is specific to the beta version of `sprockets` 4. I don't think that we need to upgrade the gem version in `doorkeeper` - it depends on what `rails` decide to include and developer needs.

What about test against both versions - it is quite possible, b

[2016-05-20 11:07] nbulaj commented on #834
As I said before, for non-beta release of `sprockets` (in other words for stable 4 version) current `doorkeeper` feature specs will throw an error anyway (with _ActionView::Template::Error_). And we will have to fix the error. Does it make sense to write a separate test to verify whether the view does not return an error?

It would be something like this:

[code]

[2016-05-20 11:27] eebasadre opened #839 "OAuth2::Error: Invalid grant"
I'm building an API using rails 5 api. I already manage to build an api using Ryan Bates tutorial previously.

I'm just confused. I'm always getting this

```OAuth2::Error: invalid_grant: The provided authorization grant is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client.```

I have generated new app id and secret but

[2016-05-20 11:59] nbulaj commented on #839
@eebasadre if you mean that story http://railscasts.com/episodes/353-oauth-with-doorkeeper , then you must read something else (github documentation for example), because it is very old (4 years ago).

Besides, we need more information about your project and it env:
* Doorkeeper gem version
* Doorkeeper config
* Samples of code, that uses doorkeeper for authentication (controllers, etc)

[2016-05-20 12:20] eebasadre commented on #839
Thanks for your reply @nbulaj

I also follow the wiki in doorkeeper. There is no so much difference ( maybe I missed something or what )

I did everything in console, in testing in getting token.

`Doorkeeper::Application.create( name: "test", redirect_uri: "http://localhost:3000/auth/test/callback" )`

then

`client = OAuth2::Client.new( app_id, secret, site: "http://localhost:3000/" )`
`client.a

[2016-05-20 15:08] nbulaj commented on #839
Is you redirect URI matches with callback ? Check it again please

[2016-05-20 16:39] eebasadre commented on #839
@nbulaj Thank you so much for your help. I think you are correct with the redirect uri it didn't match with my callback. I already fixed everything.

[2016-05-20 16:40] #839 closed

[2016-05-23 20:26] nbulaj commented on #834
So what do you think about this, @tute ?

[2016-05-24 15:54] arcreative opened #840 "Changes to project cause custom styles and views to be overridden"
I've customized my doorkeeper views and styles, and when I start my app with `rails s`, everything works perfectly.  If I make a change to any file and reload the page, Doorkeeper's assets and templates take over, and it looks like the standard build again.  Restarting the Rails fixes it, but only until I make another change.  Am I missing something?  Is there some step I need to take to keep Door

[2016-05-24 15:58] arcreative commented on #840
Hmm, looks like I had my layout declarations in the initializer instead of application.rb, works now.

[2016-05-24 15:58] #840 closed

[2016-05-30 14:16] nbulaj commented on #791
@rafaelsales can you answer @tute question please ? Thanks.

[2016-05-31 12:32] jvenezia opened #844 "Allow rendering custom errors"
Hi, I need tu customise the error response with jbuilder. The only way to do that is with `doorkeeper_unauthorized_render_options`:

[code]

I would prefer to render the error my self to be consistant with the rest of my app:

[code]

But doing so legitimately raises an `AbstractController::DoubleRenderError`.

Is there already a way to do that?

An option to raise an `Doorkeeper::Unauthorized` ex

[2016-05-31 16:27] jvenezia commented on #465
Hi, I have a similar usecase here.

It would be nice that `Doorkeeper::ApplicationController` kind of inherit from my own `ApplicationController` since it runs in the same user context for me. I defined various helpers and filters in my `ApplicationController` such as `current_organization`, `set_locale` or error handling and other useful things.

For now I'm just using my own controller instead o

[2016-06-01 15:02] otobrglez commented on #717
I'm now using this. Not that anybody cares. ^^

[code]

[2016-06-01 17:28] LucasCioffi commented on #732
@igorrfc I made a local copy of the Doorkeeper gem, version 3.1.0.  In Doorkeeper::Server I added the second line below to overwrite the redirect_uri.  This made the problem go away because as @jonathansimmons  points out, the redirect_uri sometimes had extra parameters such as

[code]

I ended not doing this in production and rolling back to a previous version of the gem instead, because it's not

[2016-06-02 04:27] pswenson opened #846 "manually calling /oauth/token route from registration"
I'd like to combine registration with login to automatically log a user in after they are registered.

currently we call a registration route and then make the client do a second call to the doorkeeper magic route /oauth/token to login.

Could someone point me in the right direction to whatever code gets called in the /oauth/token rails route  so I can call the code in my registration route and pa

[2016-06-03 09:13] dino115 commented on #844
+1

[2016-06-03 09:44] wRadion commented on #844
:+1:

Especially for the `unauthorized` error you presented; because it is the only one not specified by the OAuth2 specifications, so we might be wanting to handle it ourselves.

[2016-06-05 16:37] tute commented on #834
@nbulaj we don't need the extra spec, I just verified hat you describe: with updated sprockrets this failures happen. Want to send a PR with your fix? Thank you!

[2016-06-05 22:30] nbulaj commented on #834
Done.

[2016-06-05 22:31] #834 closed

[2016-06-06 22:59] Ashkin commented on #536
+1 for a rake task.

Specific use-case: I regularly copy my production database over to staging for testing with real-world data. As my staging database has a limit of 10 million rows I need a way to reduce row count, and the biggest culprit of excess data is Doorkeeper.

If there was an official rake task, I wouldn't need to write my own and hope I didn't overlook something.

As a secondary benef

[2016-06-06 23:34] tute commented on #536
This is a use case that as a library maintainer I wish to discourage. Production credentials should live only in production.

I think you are wise for preferring official code that you don't need to maintain. This task can be solved as a one-liner, and I already wrote it down for everyone who needs it in https://github.com/doorkeeper-gem/doorkeeper/issues/536#issuecomment-67897899.

It sounds like

[2016-06-07 06:03] Ashkin commented on #536
I agree.

The one-liner referenced above only removes revoked access tokens; what about access grants?  and for both of them: what about non-revoked records whose created date + expiry is in the past?  I would like to get a maintainer's input before removing these, but (audit usage aside) it seems none of these records need to be kept.  Deleting these would also reduce my database size by roughly

[2016-06-08 15:21] nbulaj commented on #844
Hi @ jvenezia. Why you need to customize your error response with the jBuilder view ? Why don't just return a hash (JSON) ?

The error occurs because Doorkeeper already called `render` and passed the result of the `doorkeeper_unauthorized_render_options` method (take a look at https://github.com/doorkeeper-gem/doorkeeper/blob/5ea4575863781940fe6996692c6b41f2ad71d90e/lib/doorkeeper/rails/helpers.rb

[2016-06-08 15:26] jvenezia commented on #844
Hi @nbulaj

My point is that I want to handle this my self to be consistant to the rest of my app.

Raising an exception like `Doorkeeper::Unauthorized` will allow me to handle this error the same way that I render my other errors.

[2016-06-08 15:28] nbulaj commented on #844
@jvenezia ok, I understand. Did you try my advise with the render options?

[2016-06-08 15:33] jvenezia commented on #844
Actually It's working with `doorkeeper_unauthorized_render_options` (My first example).

I think your solution will work as well, but I don't want to change my code to fit with doorkeeper.

I am not trying to make this working but I am suggesting a new feature.

[2016-06-09 13:24] tute commented on #844
Does it fully work, or does it raise `AbstractController::DoubleRenderError`? If it works, do you think we can still make improvements in doorkeeper to accommodate better these overrides? Thanks!

[2016-06-09 13:38] nbulaj commented on #844
@tute - it return an Exception because @jvenezia doesn't want to change the implementation of the `render_general_error` method and wants to use it in the Doorkeeper `doorkeeper_unauthorized_render_options` method (as he wrote in the first message):

[code]

And Doorkeeper calls `render` with `doorkeeper_unauthorized_render_options`, that also calls `render` - so it produce the `AbstractController

[2016-06-15 21:36] talski opened #850 "websocket-rails integration"
Hello, I'm using websocket-rails and I'd like to use some sort of token authorisation with, don't know if doorkeeper would be the best choice, but if it can, how could I use doorkeeper_authorize! in my controllers using WebsocketRails::BaseController? There's a way to manually test if a certain token is valid?

[2016-06-19 10:16] Morpheu5 commented on #382
I'm still getting this

    ActiveRecord::StatementInvalid (SQLite3::ConstraintException: NOT NULL constraint failed: oauth_access_tokens.application_id: INSERT INTO "oauth_access_tokens" ("resource_owner_id", "token", "expires_in", "created_at", "scopes") VALUES (?, ?, ?, ?, ?))

on Doorkeeper 4.0.0.rc4. I'm not sure dropping the NOT NULL constraint post-hoc is a viable solution.

[2016-06-19 21:17] cbetta opened #851 "Any way to use client_credentials flow in a controller instead of bearer grant?"
I want to return something over API that does not belong to an authenticated user yet. Currently I first need to use the `client_credentials` grant on `/oauth/token` to get an `access_token` and then call the API. Is it possible to do this in 1 API call?

[2016-06-20 13:49] tute commented on #382
Hi! It makes sense that you drop it afterwards. It was indeed a bug that it existed in this form in previous versinos.

[2016-06-20 19:21] Morpheu5 commented on #382
Hi @tute! Yes, I'm just saying that I'm still running into this bug on a fresh install of 4.0.0.rc4.

[2016-06-20 22:23] tute commented on #382
Indeed, I introduced this bug in: https://github.com/doorkeeper-gem/doorkeeper/pull/767/files. Want to send a PR to remove that FK constraint? Thanks for your report!

[2016-06-21 09:47] Morpheu5 commented on #382
No need for a PR, it was fixed in 6048f2ec0d80da097398b8d90a05aad278a80527 which is the next commit after 4.0.0.rc4, so I guess I'll have to wait for the next release, and remove the constraint manually in the meanwhile :)

[2016-06-21 13:50] tute commented on #382
Thanks!

[2016-06-21 13:50] #382 closed

[2016-06-22 17:03] phinfonet opened #852 "NoMethodError (undefined method `refresh_token_revoked_on_use?' for Doorkeeper::AccessToken:Class)"
Hello!

I'm using dorkeeper with rails 5, using the git repo and get this error when try to authorize with bearer token.
have any specific configuration to use that, or it could be a bug?

Completed 500 Internal Server Error in 39ms

NoMethodError (undefined method `refresh_token_revoked_on_use?' for Doorkeeper::AccessToken:Class):

/home/phinfonet/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/bundler

[2016-06-22 20:33] amngibson commented on #784
@rectifyer solution worked for me. Sorry on delayed response.

[2016-06-23 12:34] Morpheu5 opened #854 "undefined local variable or method `root_path`"
I'm getting the same as #821 when in `api_only` mode, and the following

    #<ActionView::Template::Error: undefined local variable or method `root_path' for #<#<Class:0x007fc9342dd340>:0x007fc9390285f0> Did you mean? font_path>

when I turn `api_only` to false. I generated the app with `--api` so initial conditions may be different from those of the OP in #821.

[2016-06-23 12:41] tute commented on #854
Can you show your routes file, please?

[2016-06-23 12:53] Morpheu5 commented on #854
Sure, sorry.

[code]

[2016-06-23 12:58] tute commented on #854
You need to define a `root` path. See http://guides.rubyonrails.org/routing.html#using-root.

[2016-06-23 12:58] tute commented on #854
That's where the application goes when you visit `/`.

[2016-06-23 13:04] Morpheu5 commented on #854
Ah, yes… I keep tripping over the fact that I'm making an API and Doorkeeper has a web interface. It would be really nice if we could disable it. I'd like to keep my API minimal and develop a front-end to manage it, including managing Doorkeeper.

[2016-06-23 13:04] #854 closed

[2016-06-23 13:09] tute commented on #854
I'm not against this feature. Thanks for reporting!

[2016-06-23 14:25] phinfonet commented on #852
fixed in https://github.com/doorkeeper-gem/doorkeeper-mongodb/pull/15

[2016-06-23 14:25] #852 closed

[2016-06-23 15:31] hamadmj opened #855 "Performance issue with generating new tokens"

[2016-06-23 15:43] #855 closed

[2016-06-27 14:22] warmwind commented on #500
+1. What is the best way to cleanup all the revoked access_tokens? There are too many of them kept in db and not used any longer.